<div class="edit-cv-modal">
    <div class="modal-header">
        <h3 class="text-center">
            Editing {{editCv.partName}}
        </h3>
    </div>
    <div class="modal-body">
        <div class="form-body" data-ng-include="'modules/user/edit-cv-parts/edit-cv.part.' + editCv.partType + '.tpl.html'"></div>
        <div class="text-center">
            <button class="btn btn-danger btn-ok" type="button" data-ng-click="editCv.submitOnePart()" data-translate>Save</button>
            <button class="btn btn-default btn-dismiss" type="button" data-ng-click="editCv.close()" data-translate>Cancel</button>
        </div>
    </div>
</div>
