.edit-cv-modal {

  .modal-header {
    background: #e2f0fb;

    h3 {
      margin: 0;
      font-weight: bold;
      color: #fff;
    }
  }

  .modal-body {
    background: rgb(250, 250, 250);

    .btn-ok {
      background: #e2f0fb;
      color: #ffffff;
      border: none;
    }

    .btn-dismiss {
      background:#f4e0e1;
      color:@recrutoid-red;
    }
  }
}
