floating-button {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;

  .container {
    position: relative;
    &.fade:not(.in-remove-active):not(.in) {
      overflow: hidden;
    }

    .st-icon {
      background: #1d88cf;
      padding-top: 4px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      font-size: 20px;
      color: #fff;
      position: absolute;
      right: 0;
      top: 20px;

      .fa {
        color: #fff;
      }
    }
  }
}