<div class="container text-right fade" ng-class="{'in' : half ? rootScope.halfScrolledDown : rootScope.scrolledDown}">
    <a ng-href="{{!!href ? href:'#'}}" ng-click="ngClick" ng-style="{top:offsetTop}" class="st-icon" du-smooth-scroll><i class="fa" ng-class="icon" ></i></a>
</div>