<div data-ng-include="'modules/common/adminMenu/adminMenu.html'"></div>
<div class="search-cvfiless-as-admin">
    <div class="container-fluid">

        <!-- job seeker search -->
        <div class="row search-form">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-3">
                        <input class="form-control" placeholder="{{'Search_By_Email'|translate}}" data-ng-model="cvCheckUp.filter.email"/>
                    </div>
                </div>
            </div>
            <button class="btn btn-danger" data-ng-click="cvCheckUp.doActionOnSelected('remove')"><i class="fa fa-trash"></i> {{'Delete_Selected' | translate}}</button>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th data-ng-init="cvCheckUp.allSelected = false"><input type="checkbox" data-ng-model="cvCheckUp.allSelected" data-ng-change="cvCheckUp.selectAll()"></th>
                <th>#</th>
                <th data-translate>Email</th>
                <th data-translate>Timestamp</th>
                <th data-translate>File_Name</th>
                <th class="text-right actions" data-translate>Actions</th>
            </tr>
            </thead>
            <tr data-ng-repeat="cvfiles in cvCheckUp.results" data-ng-show="cvCheckUp.results.length !== 0">
                <td class="checkbox-middle"><input type="checkbox" data-ng-model="cvfiles.selected"></td>
                <td>{{cvCheckUp.total - ((cvCheckUp.currentPage-1) * cvCheckUp.filter.size) - $index}}</td>
                <td>{{cvfiles.email}}</td>
                <td>
                    {{cvfiles.createDate | date:'yyyy-MM-dd HH:mm:ss'}}
                </td>
                <td>
                    {{cvfiles.file.name}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-xs btn-success" data-ng-click="cvCheckUp.download(cvfiles.file.url)" data-tooltip="{{'Download' | translate}}" >
                            <i class="fa fa-download"></i>
                        </button>
                        <button type="button" class="btn btn-xs btn-danger" data-ng-click="cvCheckUp.remove(cvfiles)" data-tooltip="{{'Remove'|translate}}" >
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </table>


        <div data-ng-show="cvCheckUp.results.length === 0">
            <h2 class="text-center" data-translate="">No_Matching_Results_Found</h2>
        </div>

        <div class="footer-admin">
            <div class="pull-right">
                <uib-pagination
							ng-change="app.scrollTop()"
							class="pull-right"
							ng-model="cvCheckUp.currentPage"
							total-items="cvCheckUp.resultCount"
                            items-per-page="cvCheckUp.filter.size"
							max-size="5"
							boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
							ng-show="cvCheckUp.isPaginationNeeded()"></uib-pagination>
            </div>
        </div>
    </div>
</div>
