<div class="crop-image-modal">
    <div class="modal-header">
        <div class="pull-left">
            <div class="title">
                <i class="fa fa-camera" aria-hidden="true"></i>
                <span data-translate ng-if="!cropImage.isEmployer">Upload_New_Photo</span>
                <span data-translate ng-if="cropImage.isEmployer">Company_Logo</span>
            </div>
        </div>
        <div class="pull-right">
            <button class="btn btn-light-primary" data-ng-click="cropImage.save(true)" data-translate>Full_Size</button>
            <button class="btn btn-light-primary" data-ng-click="cropImage.save()">Crop</button>
            <button class="btn btn-light-danger" data-ng-click="$dismiss()">Cancel</button>
        </div>
    </div>
    <div class="modal-body">
        <div class="crop-area" data-ng-class="{'disabled': cropImage.saveDefaultImage}">
            <img-crop image="cropImage.image" result-image="cropImage.resultImage"
                      area-type="square"></img-crop>
        </div>
    </div>
</div>
