.modal-content{
  background-clip:none;
}
.crop-image-modal {
  .modal-body{
    background:#97a7b2;
    padding: 30px 35px;
  }
  .crop-area {
    position: relative;
    overflow: hidden;
    width:100%;
    height:340px;

    &.disabled {
      &:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(20, 20, 20, .7);
        z-index: 8;
      }
    }
  }

  .modal-header {
    min-height:100px;
    padding:30px 35px;
    .pull-left{
      .title{
        padding: 0px;
        margin-top: 6px;

        .fa{
          color:#1d88cf;
          font-size:20px;
          margin-right: 8px;
        }
        span{
          font-size:18px;
          color:#25384a;
          font-weight:600;
        }
      }
    }
    .btn-ok {
      background: #e2f0fb;
      color: #ffffff;
      border: none;
    }

    .btn-dismiss {
      background:#f4e0e1;
      color:@recrutoid-red;
    }

    .btn {
      margin-left: 7px;
    }
  }
}

.recrutoid-image-crop-window-mobile {
  .modal-dialog {
    height: 100%;
    margin: 0;

    .modal-content {
      height: 100%;
      background: white;
      border: none;
      border-radius: 0;

      .nav {
        position: absolute;
        z-index: 2;
        width: 100%;
        text-align: center;
        top: 50%;
        margin-top: -200px;

        .btn-light-primary {
          margin-right: 5px;
          background: @recrutoid-blue;
          color: white !important;
        }

        .btn-light-danger {
          background: @recrutoid-red;
          color: white !important;
        }
      }

      .crop-area {
        width: 100%;
        height: 100%;

        .cr-boundary {
          width: 100% !important;
          height: 100% !important;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          position: absolute;
        }
      }
    }
  }
}