<div ng-if="!cropImage.image" ng-include="'modules/common/loader/loader.tpl.html'" class="page-loader"></div>
<div class="nav">
    <button class="btn btn-light-primary" data-ng-click="cropImage.save()"><i class="fa fa-check"></i> {{'Save' | translate}}</button>
    <button class="btn btn-light-danger" data-ng-click="$dismiss()"><i class="fa fa-times"></i> {{'Cancel' | translate}}</button>
</div>
<div class="crop-area" data-ng-class="{'disabled': cropImage.saveDefaultImage}">
    <ng-croppie   src="cropImage.image"
                  ng-model='cropImage.resultImage'>
    </ng-croppie>
</div>