<div class="popover-preview vacancy-popover" stop-propagation>
    <i class="fa fa-thumb-tack icon-pin" aria-hidden="true"></i>
    <div>
        <div class="popover-header">
            <span class="create-date">
                <i class="fa fa-refresh" aria-hidden="true"></i>
                {{ vacancy.createDate | date:'dd/MM/yyyy' }}
            </span>
        </div>
        <div class="popover-inner">
            <div class="popover-content">
                <h4>
                    {{ vacancy.title }}
                </h4>

                <div class="about-company-details-box" data-ng-class="{'hidden': !displayCompanyDetails}">
                    <a class="clickable close-about-company" data-ng-click="displayCompanyDetails = ! displayCompanyDetails" data-translate>Close</a>
                    <p class="about-company-details" ng-bind-html="vacancy.userId.lastName"></p>
                    <p></p>
                </div>

                <div class="details-box" data-ng-class="{'hidden': displayCompanyDetails}">
                    <a class="clickable about-company" data-ng-click="displayCompanyDetails = ! displayCompanyDetails" data-translate>About_Company</a>

                    <span class="element categories clearfix" >
                    <i class="fa fa-bars"></i>
                    <span data-ng-repeat="category in vacancy.categories">
                        {{ category.name | translateDomain }} <span ng-show="!$last">,</span>
                    </span>
                </span>

                    <p class="element description" >
                        <span class="head" data-translate>Vacancy_Description</span>
                        <!-- <span class="details" slimscroll="{height: '50px', alwaysVisible: true}"> -->
                        <span class="details" ng-bind-html="vacancy.details">
                    </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="bottom-actions">
                    <span ng-show="!vacancy.applied" data-ng-click="applyMethod()"
                          class="btn btn-xs btn-apply btn-desktop" stop-propagation>
                        Apply
                    </span>
            <span ng-show="vacancy.applied" class="btn btn-xs btn-applied btn-desktop" stop-propagation>
                        <i class="fa fa-check"></i> Applied
                    </span>

            <a class="clickable btn-view" data-ng-click="redirectMethod()" data-translate>View_Vacancy</a>
        </div>
    </div>
</div>
