<div data-ng-include="'modules/common/userMenu/userMenu.tpl.html'"></div>
<div class="text-center">
    <div class="jumbotron">
        <div class="form-group">
            <h2 class="text-center" data-translate>message_email_activaion</h2>
        </div>
    </div>
</div>
<div data-ng-include="'modules/common/userFooter/footer.tpl.html'"></div>
