<div class="form-group" ng-include="'modules/common/userMenu/userMenu.tpl.html'"></div>
<div class="container">
    <div class="row">
        <div  ng-if="!register.token" class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center" data-translate>Job_Seeker</h4>
                </div>
                <div class="panel-body">
                    <form data-ng-submit="register.registerUser()">
                        <div class="form-group input-group">
                            <label for="register-email-job-seeker" class="input-group-addon"><i class="fa fa-envelope"></i></label>
                            <input  type="email" id="register-email-job-seeker" class="form-control" required
                                   data-ng-model="register.user.email" placeholder="{{'Email'|translate}}">
                        </div>
                        <div class="form-group input-group">
                            <label for="register-password-job-seeker" class="input-group-addon"><i class="fa fa-lock"></i></label>
                            <input  type="password" id="register-password-job-seeker" class="form-control" required
                                   placeholder="{{'Create_Password'|translate}}" data-ng-model="register.user.password" minlength="6">
                        </div>
                        <div class="form-group input-group">
                            <label for="register-password-confirm-job-seeker" class="input-group-addon"><i class="fa fa-refresh"></i></label>
                            <input  type="password" id="register-password-confirm-job-seeker" class="form-control" required
                                   placeholder="{{'Confirm_Password'|translate}}" data-ng-model="register.user.confirmPassword" minlength="6">
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-danger" type="submit" data-translate>Sign_Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div ng-class="{'col-lg-offset-3':register.token}" class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center" data-translate>Employer</h4>
                    <h5 ng-if="register.token" class="text-center text-danger" data-translate>Register_Account_To_Verified_Created_Vacancy</h5>
                </div>
                <div class="panel-body">
                    <form data-ng-submit="register.registerEmployer()">
                        <div ng-if="!register.token" class="form-group input-group">
                            <label for="register-email-employer" class="input-group-addon"><i class="fa fa-envelope"></i></label>
                            <input  type="email" id="register-email-employer" class="form-control" required data-ng-model="register.employer.email"
                                   placeholder="{{'Email'|translate}}">
                        </div>
                        <div class="form-group input-group">
                            <label for="register-password-employer" class="input-group-addon"><i class="fa fa-lock"></i></label>
                            <input type="password" id="register-password-employer" class="form-control" required placeholder="{{'Password'|translate}}"
                                   data-ng-model="register.employer.password" minlength="6">
                        </div>
                        <div class="form-group input-group">
                            <label for="register-password-confirm-employer" class="input-group-addon"><i class="fa fa-refresh"></i></label>
                            <input type="password" id="register-password-confirm-employer" class="form-control" required placeholder="{{'Repeat_Password'|translate}}"
                                   data-ng-model="register.employer.confirmPassword" minlength="6">
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-danger" type="submit" data-translate>Sign_Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
