<div ng-click="open = true" ng-class="{'open':open}" click-outside="open = false"  ui-select-perfect-scrollbar>
    <span class="value"><span class="inner-value">{{ ngModel.length ? selectName +" "+ ngModel.length +'/'+max : placeholder}}</span></span>
	<i class="fa fa-caret2 fa-angle-down" ng-click="open = true"></i>

    <div class="ui-select-choices drop-list" >
        <div class="item active" ng-repeat="item in allItems | filter: {selected: true}" ng-click="toggleItem(item,$event)">
            <span class="fa fa-check pull-right" ng-show="item.selected"></span>
            {{ item.name | translateDomain }}
        </div>

        <div class="item" ng-repeat="item in allItems | filter: {selected: '!true'}" ng-click="toggleItem(item,$event)">
            {{ item.name | translateDomain }}
        </div>
    </div>
</div>