<div ng-include="'modules/common/userMenu/userMenu.tpl.html'"></div>
<div class="container">
    <div class="center-block">
        <div class="panel">
            <form ng-submit="reset.setPassword(password,confirmPassword)">
                <div class="row form-group">
                    <div class="panel-heading">
                        <div class="col-xs-offset-3 col-xs-6 text-center form-group" data-translate>
                            Reset_Password
                        </div>
                    </div>
                    <div class="panel-body form-group">
                        <form>
                            <div class="col-xs-offset-3  col-xs-6 form-group">
                                <input ng-show="reset.token" class="form-control form-group" type="password" placeholder="{{'New_Password'|translate}}" data-ng-model="password" required
                                       minlength="6">
                                <input ng-show="reset.token" class="form-control" type="password" placeholder="{{'Confirm_Password'|translate}}" data-ng-model="confirmPassword" required
                                       minlength="6">
                            </div>
                            <div ng-if="reset.error" class="col-xs-offset-3  col-xs-6 form-group text-center text-danger" data-translate>Passwords_Doesn_Match_Or_Are_To_Short
                            </div>
                        </form>

                    </div>
                    <div class="text-center">
                        <button type="submit" ng-disabled="!password || !confirmPassword" class="btn btn-primary" data-translate>Set_Password
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
