ul.dropdown-menu {
    width: 100%;
    border-radius: 0;
    border: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin-top: -1px;
    margin-left: -1px;
    min-width: 23.4%;
    width: auto;
    padding-top: 0;


    a {
        background-image: none !important;
    }

    li.active {

        a, a.active, a:focus, a:hover {
            background-color: #edf1f2 !important;
            color: #4b98d4;

        }

    }
}

.btn-search-main {
    width: 50px;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0;
    background: #e54a37;
    outline: 0 !important;
    border: none;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    line-height: normal;
    &:hover { 
        background: #ff5856;
    }
}

.typeahead-container {
    input {
        width: 90%;
        &::-ms-clear {
            display: none;
        }
    }
    .clearbtn {
        line-height: 306% !important;
        i {
            font-family: FontAwesome;
            font-size: 13px;
            &:before {
                content: "\f00d";
            }
        }
    }

}
.panel-company-name {
    .company-name-box {

        ul.dropdown-menu {
            min-width: 93%;
            left: 0;
            z-index:99999;
        }
    }
}

.home-typeahead-container {
    position: relative;
    input {
        width: calc(100% - 9px) !important;
    }
    .clearbtn {
        float: right;
    }
}