@import url('../../config');

html,body {
  overflow-x: hidden;
}

body {
  position: relative;
  height: 100%;
  min-height: 100vh;

  &.app-bg {
    background: @background;
  }

  &.menu-active {
    overflow-y: hidden;
  }

  .view {
    padding-bottom: 256px;
    @media (min-width: 768px) {
      padding-bottom: 195px;
    }
  }

  .color-red {
    color: @recrutoid-red;
  }

  .color-green {
    color: @recrutoid-green;
  }
}

a {
  color: @recrutoid-blue;
}

.space {
  &:before {
    content: '';
    display: inline-block;
    height: 1px;
    width: 4px;
  }
}

.clickable {
  cursor: pointer;
}

.btn-main {
  background-color: transparent;
  border: 2px solid #3297dd;
  padding-top: 9px;
  color: #3297dd;
  &:hover, &:focus, &:active {
    color: #3297dd;
  }
  &:focus {
    outline: none;
  }
}

.panel-default {
  .panel-heading {
    &.red {
      color: #FFFFFF;
      font-size: 16px;
      background: @recrutoid-red none;
    }
    &.blue {
      color: #FFFFFF;
      font-size: 16px;
      background: @recrutoid-blue none;
    }
    &.grey {
      color: #FFFFFF;
      font-size: 16px;
      background: @recrutoid-grey none;
    }
    &.white {
      color: @recrutoid-lightblue;
      font-size: 14px;
      background: @recrutoid-white none;
    }
  }
  .panel-body {
  }
}

.modal-dialog {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1034px;
  }
}

@media (min-width: 1200px) {
  .navbar-custom .container {
    width: 1034px;
  }
}

.action-on-select-nav {
  margin: 2px 0;
}

.pagination > li {
  cursor: pointer;
}

.small-email-column {
  max-width: 212px;
  word-wrap: break-word;
}

.admin-table {
  margin-top: 15px;
}

.label-category {
  display: inline-block  !important;
  font-size: 12px !important;
}

.label-category.wrap {
  white-space: normal;
}

.category-column {
  max-width: 260px;
}

.aspect-ratio(@width, @height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (@height / @width) * 100%;
  }
  > .content {
    position: absolute;
    padding:10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.maintain-ratio {
  .aspect-ratio(16, 9);
  width:100%;
}

.modal-backdrop {
  background-color: #0e2338;

  &.in {
    opacity: .8;
  }
}

@media (max-width: 320px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 321px) {
  .visible-mobile {
    display: none !important;
  }
}

.transition(...) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}

.box-shadow(...) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}
.ng-fade.ng-hide {
  opacity: 0;
}

.ng-fade.ng-hide-remove,
.ng-fade.ng-hide-add {
  display: block !important;
}

.ng-fade.ng-hide-remove {
  transition: all linear 200ms;
}

.ng-fade.ng-hide-add {
  transition: all linear 200ms;
}

.fromRight {
  .transition(opacity .2s;);
  animation-name: fromRightOut;
  animation-duration: .2s;
  animation-fill-mode: forwards;

  &.showIn {
    animation-name: fromOutIn;
    animation-duration: .2s;
    animation-fill-mode: forwards;
  }
}

@exitOffset: 15%;

/* Standard syntax */
@keyframes fromRightOut {
  0% {
    right: 0;
    left: 0;
    display: block;
    opacity: 1;
  }
  99%   {
    right: @exitOffset;
    left: -@exitOffset;
    opacity: 0;
  }
  100%   {
    right: -@exitOffset;
    left: @exitOffset;
    opacity: 0;
    display: none;
  }
}

/* Standard syntax */
@keyframes fromOutIn {
  0%   {
    right: -@exitOffset;
    left: @exitOffset;
    opacity: 0;
    display: none;
  }
  1%   {
    display: block;
  }
  100% {
    right: 0;
    left: 0;
    opacity: 1;
  }
}

.fromLeft {
  .transition(right .2s, left .2s, opacity .2s;);
  left: -100%;
  right: 100%;
  opacity: 0;

  &.showIn {
    opacity: 1;
    right: 0;
    left: 0;
  }
}

.badge {
  background: #ebedee;
  border-radius: 4px;
  color: #949ca5;
  font-size: 12px;
  font-weight: 600;

  &.badge-light-blue{
    background: #e1f0fa;
    color: @recrutoid-blue;
  }

  &.badge-green {
    background: #5ec83e;
    color: #fff;
  }
}

.fresh-mark {
  padding: 2px 6px;
  background: #d7eed4;
  color: #43aa27;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.btn {
  outline: none !important;
}

.btn-light-primary,
.btn-light-danger,
.btn-light-default,
.btn-light-success{
  font-weight: 600;
  font-size: 13px;
  height: 40px;

  .transition(background .2s, color .2s;);

}

.btn-light-primary {
  background: #e1f0fa;
  color: @recrutoid-blue !important;

  &:hover {
    background: #1d88cf;
    color: #fff !important;
  }
}

.btn-light-danger {
  background: #f7e3e3;
  color: @recrutoid-red !important;

  &:hover {
    background: #cc4544;
    color: #fff !important;
  }
}

.btn-light-success, .btn-light-success:hover {
  background: #e2f3dd;
  color: @recrutoid-green !important;
}

.btn-light-default, .btn-light-default:hover {
  background: #f2f2f2;
  color: #767e83 !important;
}

.scroller {
  overflow-y: hidden;
  position: relative;
}

.ps-scrollbar-x {
  border-radius: 10px;
  width: 10px;
}
.blue-button-popup{
  background:#e2f0fb !important;
  color:@recrutoid-blue !important;
  border-radius:3px;
  border:none;
  font-weight:700;
  transition:700ms;
}
.red-button-popup{
  background:#f4e0e1;
  color:@recrutoid-red;
  border-radius:3px;
  border:none;
  font-weight:700;
  transition:700ms;
}
.blue-button-popup:hover{
  background:#1d88d0;
  color:#fff;
  transition:700ms;
}
.red-button-popup:hover{
  background:#cc4444;
  color:#fff;
  transition:700ms;
}
.blue-button-popup:disabled{
  background:#f3f8fc;
  color:@recrutoid-blue;
  transition:700ms;
}
.modal-body{
  .btn-dismiss{
    border:none;
  }
}

.recrutoid-select {
  .info {
    font-size: 12px;
    font-weight: normal;
    color: #99a4af;
  }

  .btn-default-focus {
    background: none;
  }

  .recrutoid-ui-select, .ui-select-container  {
    * {
      outline: none !important;
      box-shadow: none !important;
    }

    .ui-select-toggle {
      outline: 0 !important;
      border: none;
      background: none;
      border-bottom: 2px solid #dddce1;
      height: 42px !important;
    }

    .ui-select-placeholder.text-muted {
      color: #999;
    }

    .ui-select-match {
      outline: none !important;
      box-shadow: none !important;
    }

    .ui-select-match-text {
      color: #555;
    }

    .ui-select-match > .fa ,
    .ui-select-toggle > .caret {
      border: none;
      top: auto;
      right: 20px;
      &:before {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f078";
        color: @recrutoid-blue;
      }
    }

    .form-control {
      padding-left: 0;
      background: none !important;
      border: none;
      border-bottom: 2px solid #dbdde0;
      border-radius: 0;
    }

    .ui-select-choices-content {
      border: none;
      margin-top: 2px;

      .ui-select-choices-row {
        a {
          color: @recrutoid-dark;
          padding: 5px 15px;
          .fa {
            color: @recrutoid-blue;
            margin-right: 10px;
          }
        }
        &.active {
          a {
            background: #edf1f2;
            color: @recrutoid-blue;
          }
        }
      }
    }
  }

  &.with-icon {
    position: relative;

    .form-control {
      height: 42px;
      line-height: 40px;
    }

    >.fa {
      position: absolute;
      left: 0;
      top: 8px;
      width: 14px;
      text-align: center;
      color: #a9b4bf;
    }
  }

  &:hover {
    .form-control {
      border-color: #8ec3e7 !important;
    }
  }

  &.error {
    .form-control {
      border-color: #f0c7c7 !important;
    }

    .info {
      color: @recrutoid-red;
    }
  }
}

.pagination {
  border: 1px solid #d4dce1;

  li {
    a {
      color: @recrutoid-blue;
    }

    a, &.active a {
      background: #fff;
      border: none;
      font-size: 12px;
      font-weight: 700;
    }

    &.active a {
      color: @recrutoid-dark;
    }

    &.pagination-prev, &.pagination-first, &.pagination-next, &.pagination-last {
      a {
        font-family: FontAwesome;
        font-size: 11px;
        padding: 8px 15px 6px;
      }
    }

    &:hover {
      a {
        background-color: #f9f9f9;
        color: #0072bc;
      }
    }

  }

  > .disabled >a {
    color: #bfc6cc;
  }

  &.mobile {
    li.pagination-page {
      a {
        color: #9ea6af;
      }
    }
  }
}

.form-row {
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 5px;

  .form-col {
    padding: 5px;

    &.field-required {

      &:after {
        content: '*';
        display: block;
        position: absolute;
        top: 5px;
        right: 12px;
        font-size: 20px;
        color: @recrutoid-red;
      }
    }

    &.push-text-to-input-level {
      padding-top: 16px;
    }

    .form-col {

      &.push-text-to-input-level {
        padding-top: 12px;
      }
    }

    .hide-options {

      input,
      .ui-select-dropdown {
        display: none;
      }
    }

    input,
    select,
    .ui-select-container {

      &.form-control,
      .btn:not(.ui-select-match-item) {
        min-height: 40px;
      }
    }

    .ui-select-container {

      .ui-select-match-item {
        display: inline-block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .btn:not(.ui-select-match-item) {
        padding-right: 12px;
        display: inline-block;
        line-height: 25px;
      }

      // identify input in ui-select responsible for city
      input[tabindex] {
        padding-right: 12px;
      }
    }

    &.with-icon {

      &:before {
        position: absolute;
        top: 19px;
        left: 5px;
        display: block;
        font: normal normal normal 13px/1 FontAwesome;
        color: #c8c8c8;
        width: 16px;
        text-align: center;
        z-index: 1;
      }

      &.icon-resume-title {
        &:before {
          content: '\f0b1';
        }
      }

      &.icon-phone {

        &:before {
          content: '\f095';
        }
      }

      &.icon-email {

        &:before {
          content: '\f003';
        }
      }

      &.icon-email-full {

        &:before {
          content: '\f0e0';
        }
      }

      &.icon-categories {

        &:before {
          content: '\f0c9';
        }
      }

      &.icon-salary-ranges {

        &:before {
          content: '\f012';
        }
      }

      &.icon-city {

        &:before {
          content: '\f041';
        }
      }

      input,
      select {

        &.form-control {
          padding-left: 22px;
        }
      }

      .ui-select-container {

        &.form-control {
          padding-left: 24px;

          > div {
            padding-top: 3px;
            padding-bottom: 3px;

            & > span {
              margin-left: 8px;
              display: inline-block;
              max-width: ~"calc(100% - 22px)";

              & > span {

                &:first-child {

                  > span {
                    display: inline-block;
                  }
                }
              }
            }
          }
        }

        .btn:not(.ui-select-match-item) {
          padding-left: 22px;
          padding-top: 8px;
          min-height: 42px;
        }
      }
    }

    .dark-box {
      padding: 15px 20px;
      background: #f4f5f6;
      border-radius: 4px;
      border: 1px solid #e4e6e8;
      color: #798898;

      h4 {
        font-size: 14px;
        margin-bottom: 10px;
      }

      &.info-box {
        position: relative;
        margin-bottom: 8px;

        .title {
          font-size: 15px;
          font-weight: 600;
          color: @recrutoid-dark;
          margin-bottom: 0;
        }

        .info {
          span {
            color: #a7aeb4;
            margin-right: 10px;
          }
        }

        nav {
          position: absolute;
          right: 15px;
          top: 20px;
          .nav-button{
            width: 30px;
            height: 30px;
            border-radius: 30px;
            text-align: center;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            padding-top: 7px;
            cursor: pointer;
            vertical-align: middle;
            margin-left: 6px;


            &.edit {
              outline: none;
              border: none;
              padding: 0;

              &:before {
                content: "\f040";
              }
              background: #e1f0fa;
              color: #1d88cf;

              &:hover {
                background: #1d88cf;
                color: #fff;
              }

              &:disabled {
                background: #f2f2f2;
                color: #767e83 !important;
                cursor: not-allowed;
                opacity: 0.65;
              }

            }

            &.remove {
              outline: none;
              border: none;
              padding: 0;

              &:before {
                content: "\f014";
              }
              background: #f7e3e3;
              color: #cc4544;

              &:hover {
                background: #cc4544;
                color: #fff;
              }

              &:disabled {
                background: #f2f2f2;
                color: #767e83 !important;
                cursor: not-allowed;
                opacity: 0.65;
              }
            }
          }
        }
      }

      &.edit-box {
        .form-control {
          background: none;
        }

        .ui-select-container {
          .btn:not(.ui-select-match-item) {
            line-height: 32px;
          }
        }

        .ta-root {
          & * {
            outline: none !important;
          }
          .btn-group {
            margin-left: 17px;
          }

          .ta-scroll-window {
            background: white;
            border-radius: 10px;
            border: 1px solid #dfe5e8 !important;
            box-shadow: none;
          }
        }
      }
    }

    .additional-info-box {
      .nav {
        float: right;

        .btn {
          min-width: 70px;
          margin-top: 13px;
          margin-left: 5px;
        }
      }
    }

    .avatar-container {
      padding-right: 0;

      .avatar,
      .avatar-placeholder {
        width: 50px;
        border-radius: 4px;
      }

      .avatar-placeholder {
        height: 50px;
        background: #fff;
        border: 1px solid #e9e9e9;
      }
    }

    .avatar-bar {
      position: relative;
      padding-left: 10px;
      height: 50px;
      background: #fff;
      border-radius: 4px;
      vertical-align: middle;
      font-size: 16px;
      color: #666;

      >span {
        font-size: 13px;
        font-weight: 600;
        color: @recrutoid-blue;


        .fa {
          margin-right: 4px;
        }
      }

      .avatar-choose-button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0 60px;
        background: #dadde0;
        color: #666;
      }

      &:hover {
        span {
          color: #0072bc !important;
        }
      }
    }

    [data-text-angular] {

      .form-control {
        min-height: 180px;

        .ta-bind {
          min-height: 180px;
        }
      }
    }
  }
}

.ui-select-bootstrap {
  .ui-select-choices {
    border-radius: 5px;
    border: none;

    .ui-select-choices-row {
      > a {
        font-size: 14px;
        padding-left: 12px;
      }

      &.active {
        > a {
          color: @recrutoid-blue;
          background: #edf1f2;
        }
      }
    }
  }

  .glyphicon.glyphicon-remove {
    font-family: FontAwesome;
    &:before {
      content: "\f00d";
    }
  }
}

.ui-select-container {
    .glyphicon.glyphicon-remove {
        line-height: 0;
        top: -1px;
    }
}

::-ms-clear { display: none; }
::-ms-reveal {
    display: none;
}

.ui-select-container.with-perfect-scrollbar {
  .ui-select-choices-row {
    margin-right: 15px;
  }
  .ps-scrollbar-y-rail {
    height: 100% !important;
    margin-top: 10px;
    background: none !important;

    .ps-scrollbar-y {
      top: 0px;
    }
  }

  .ui-select-choices {
    overflow: hidden;
  }
}


.ui-select-choices.ui-select-choices-content.ui-select-dropdown.dropdown-menu {
  .ui-select-choices-row {
    > span {
      padding-left: 15px;
      white-space: normal;
    }

/*    &.active {
      >span {
        background: none;
        color: #4b98d4;
      }
    }*/

    &.active, &:hover {
      >span {
        background: #edf1f2;
        color: #4b98d4 !important;
      }
    }
  }
}

.ta-toolbar.btn-toolbar {
  .btn-default {
    background: rgba(254,254,254,1);
    background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(225,225,225,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(225,225,225,1)));
    background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(225,225,225,1) 100%);
    background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(225,225,225,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(225,225,225,1) 100%);
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(225,225,225,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e1e1e1', GradientType=0 );

    &.active {
      background: #e0e0e0;
      border-color: #dbdbdb;
    }
  }
}

.error-settings-page {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background: #256a8c url('/modules/common/error-settings-bg.jpg') no-repeat;
  z-index: -999;
}

.no-padding {
  padding: 0 !important;
}

.back-to-button {
  color: @recrutoid-blue;
  font-size: 14px;
  text-decoration: none !important;
  margin-bottom: 5px;

  .fa {
    margin-right: 2px;
  }
}

.ui-select-choices.ui-select-choices-content.ui-select-dropdown.dropdown-menu .ui-select-choices-row.active > span {
  color: #262626;
}

.ui-select-match-text {
  > span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
