.recrutoid-tinymce {
  min-height: 268px;

  .mce-container {
    background: none;
    border: none;

    &.mce-toolbar {
      text-align: center;
      .mce-container-body.mce-flow-layout {
        display: inline-block;
      }
    }
  }

  .mce-btn {
    border: 1px solid #cccccc;

    background: rgba(254,254,254,1);
    background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(225,225,225,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(225,225,225,1)));
    background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(225,225,225,1) 100%);
    background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(225,225,225,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(225,225,225,1) 100%);
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(225,225,225,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e1e1e1', GradientType=0 );

    &.mce-active{
      background: #e0e0e0;
      border-color: #dbdbdb;

      -webkit-box-shadow: inset 0px 4px 7px 0px rgba(0,0,0,0.15);
      -moz-box-shadow: inset 0px 4px 7px 0px rgba(0,0,0,0.15);
      box-shadow: inset 0px 4px 7px 0px rgba(0,0,0,0.15);
    }

    button {
      padding: 6px 10px;

      .mce-ico {
        text-shadow: 1px 1px #fff;
      }
    }
  }

  .mce-btn-group {
    .mce-btn {
      margin-left: 0;
      border-left: 0;

      &.mce-first {
        border-radius: 4px 0 0 4px;
        border-left: 1px solid #cccccc;
      }

      &.mce-last {
        border-radius: 0 4px 4px 0;
        margin-left: 0;
        border-left: 0;
      }
    }

    &:not(:first-child) {
      border: none;
      padding-left: 3px;
      margin-left: 3px;
    }
  }

  .mce-edit-area {
    border: 1px solid #dbdde0 !important;
    border-radius: 15px;
    overflow: hidden;
    min-height: 202px;

    label {
      top: 20px !important;
      left: 10px !important;
      color: #798898 !important;
      font-family: 'Open Sans', sans-serif !important;
      font-size: 14px !important;
    }
  }

  &.error {
    .mce-edit-area {
      border: 1px solid #f0c7c7 !important;
    }
  }

  .mce-toolbar-grp {
    padding: 0;
  }

  .mce-content-body {
    padding-bottom: 0;
  }

  //custom icons
  .mce-i-bold,
  .mce-i-italic,
  .mce-i-underline,
  .mce-i-strikethrough,
  .mce-i-bullist,
  .mce-i-numlist,
  .mce-i-undo,
  .mce-i-redo,
  .mce-i-alignleft,
  .mce-i-aligncenter,
  .mce-i-alignright,
  .mce-i-indent,
  .mce-i-outdent {
    font-family: FontAwesome, serif;
    font-size: 14px;
    text-align: center;
  }

  .mce-i-bold:before {
    content: "\f032";
  }

  .mce-i-italic:before {
    content: "\f033";
  }

  .mce-i-underline:before {
    content: "\f0cd";
  }

  .mce-i-strikethrough:before {
    content: "\f0cc";
  }
  //titak
  .mce-i-bullist:before {
    content: "\f0ca";
  }

  .mce-i-numlist:before {
    content: "\f0cb";
  }

  .mce-i-undo:before {
    content: "\f0e2";
  }

  .mce-i-redo:before {
    content: "\f01e";
  }

  .mce-i-alignleft:before {
    content: "\f036";
  }

  .mce-i-aligncenter:before {
    content: "\f037";
  }

  .mce-i-alignright:before {
    content: "\f038";
  }

  .mce-i-indent:before {
    content: "\f03c";
  }

  .mce-i-outdent:before {
    content: "\f03b";
  }
}