<nav class="navbar navbar-default" data-ng-controller="NavBarCtrl as NavBarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li data-ng-class="{'active':-1 != app.location.indexOf('/admin/vacancies/waitingForApproval')}">
                    <a href="/admin/vacancies/waitingForApproval/">
                        <i class="fa fa-globe"></i> <span data-translate>Waiting_For_Approval</span>
                    </a>
                </li>
                <li class="dropdown" data-ng-class="{'active':-1 != app.location.indexOf('/admin/vacancies') && app.location.indexOf('/admin/vacancies/waitingForApproval') == -1}">
                    <a class="dropdown-toggle user-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa" data-ng-class="{
                            'fa-envelope': NavBarCtrl.showingType == 'Daily sending mode',
                            'fa-globe': NavBarCtrl.showingType == 'Published and weekly sending mode',
                            'fa-archive': NavBarCtrl.showingType == 'Archived Distributed',
                            'fa-archive': NavBarCtrl.showingType == 'Archived Published',
                            'fa-building':-1 == app.location.indexOf('/admin/vacancies?')
                        }"></i> <span data-translate>Vacancies</span>
                        <span data-ng-if="-1 != app.location.indexOf('/admin/vacancies?')">: {{NavBarCtrl.showingType}} </span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/admin/vacancies?archived=false&publishMode=email" data-ng-click="NavBarCtrl.showingType = 'Daily sending mode'">
                                <i class="fa fa-envelope"></i> <span data-translate>Daily_sending_mode</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/vacancies?archived=false&publishMode=website" data-ng-click="NavBarCtrl.showingType = 'Published and weekly sending mode'">
                                <i class="fa fa-globe"></i> <span data-translate>Published_and_weekly_sending_mode</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/vacancies?archived=true&publishMode=email" data-ng-click="NavBarCtrl.showingType = 'Archived Distributed'">
                                <i class="fa fa-archive"></i> <span data-translate>Archived_Distributed</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/vacancies?archived=true&publishMode=website" data-ng-click="NavBarCtrl.showingType = 'Archived Published'">
                                <i class="fa fa-archive"></i> <span data-translate>Archived_Published</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown"  data-ng-class="{'active':-1 != app.location.indexOf('/admin/users')}">
                    <a class="dropdown-toggle user-dropdown"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa" data-ng-class="{
                            'fa-user-plus': -1 != app.location.indexOf('role=employer'),
                            'fa-user': -1 != app.location.indexOf('/admin/users') && -1 == app.location.indexOf('role'),
                            'fa-star': -1 != app.location.indexOf('role=admin'),
                            'fa-users':-1 == app.location.indexOf('/admin/users')
                        }"></i> <span data-translate>Users</span>
                        <span data-ng-if="-1 != app.location.indexOf('/admin/users')">
                            <span data-ng-if="-1 != app.location.indexOf('role=employer')">: <span data-translate>Employers</span></span>
                            <span data-ng-if="-1 == app.location.indexOf('role')">: <span data-translate>Job_Seekers</span></span>
                            <span data-ng-if="-1 != app.location.indexOf('role=admin')">: <span data-translate>Admins</span></span>
                        </span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/admin/users?role=normal" data-ng-click="NavBarCtrl.role = 'Job seekers'">
                                <i class="fa fa-user"></i> <span data-translate>Job_Seekers</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/users?role=employer" data-ng-click="NavBarCtrl.role = 'Employers'">
                                <i class="fa fa-user-plus"></i> <span data-translate>Employers</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/users?role=admin" data-ng-click="NavBarCtrl.role = 'Admins'">
                                <i class="fa fa-star"></i> <span data-translate>Admins</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li data-ng-class="{'active':-1 != app.location.indexOf('/subscription/list')}">
                    <a href="/subscription/list">
                        <i class="fa fa-envelope"></i> <span data-translate>Subscribers</span>
                    </a>
                </li>
                <li data-ng-class="{'active':-1 != app.location.indexOf('/admin/cvcheckup')}">
                    <a href="/admin/cvcheckup">
                        <i class="fa fa-envelope"></i> <span data-translate>CV_Checkup</span>
                    </a>
                </li>
                <!--<li data-ng-class="{'active':-1 != app.location.indexOf('/admin/cvcheckup')}">-->
                    <!--<a href="/admin/cvcheckup">-->
                        <!--<i class="fa fa-file-pdf-o"></i> <span data-translate>CV Check-up</span>-->
                    <!--</a>-->
                <!--</li>-->

                <li dropdown data-ng-class="{'active':-1 != app.location.indexOf('/admin/cms')}">
                    <a class="dropdown-toggle user-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cogs"></i> <span data-translate>CMS</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/admin/cms/edit-page/payment">
                            <i class="fa fa-usd"></i> <span data-translate>Payment</span></a>
                        </li>
                        <li>
                            <a href="/admin/cms/edit-page/instructions">
                                <span data-translate>Instructions</span></a>
                        </li>
                        <li>
                            <a href="/admin/cms/edit-page/cv-check-up">
                                <span data-translate>CV_Check_Up</span></a>
                        </li>
                        <li>
                            <a href="/admin/cms/edit-page/about-us">
                                <span data-translate>About_Us</span></a>
                        </li>
                        <li>
                            <a href="/admin/cms/pages-list">
                                <i class="fa fa-globe"></i> <span data-translate>Other_Pages</span></a>
                        </li>
                        <li>
                            <a href="/admin/cms/pages-list?news-boxes">
                                <i class="fa fa-newspaper-o"></i> <span data-translate>News_Boxes</span></a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" data-ng-class="{'active':-1 != app.location.indexOf('/settings')}">
                    <a class="dropdown-toggle user-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cogs"></i> <span data-translate>Settings</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li data-ng-class="{'active':-1 != app.location.indexOf('/settings/generals')}">
                            <a href="/settings/generals">
                                <i class="fa fa-cogs"></i> <span data-translate>Generals</span></a>
                        </li>
                        <li data-ng-class="{'active':-1 != app.location.indexOf('/settings/cities')}">
                            <a href="/settings/cities">
                                <i class="fa fa-crosshairs"></i> <span data-translate>Cities</span></a>
                        </li>
                        <li data-ng-class="{'active':-1 != app.location.indexOf('/settings/categories')}">
                            <a href="/settings/categories">
                                <i class="fa fa-folder"></i> <span data-translate>Categories</span></a>
                        </li>
                        <li data-ng-class="{'active':-1 != app.location.indexOf('/settings/salary-ranges')}">
                            <a href="/settings/salary-ranges">
                                <i class="fa fa-money"></i> <span data-translate>Salary_Ranges</span></a>
                        </li>
                        <li data-ng-class="{'active':-1 != app.location.indexOf('/settings/languages')}">
                            <a href="/settings/languages">
                                <i class="fa fa-flag"></i> <span data-translate>Languages</span></a>
                        </li>
                        <li data-ng-class="{'active':-1 != app.location.indexOf('/settings/translations')}">
                            <a href="/settings/translations">
                                <i class="fa fa-flag-o"></i> <span data-translate>Translations</span></a>
                        </li>
                        <li data-ng-class="{'active':-1 != app.location.indexOf('/settings/domains')}">
                            <a href="/settings/domains">
                                <i class="fa fa-ban"></i> <span data-translate>Domains_Blacklist</span></a>
                        </li>
                        <li data-ng-class="{'active':-1 != app.location.indexOf('/settings/banners')}">
                            <a href="/settings/banners">
                                <i class="fa fa-square-o"></i> <span data-translate>Banners</span></a>
                        </li>
                        <li data-ng-class="{'active':-1 != app.location.indexOf('/settings/phrases')}">
                            <a href="/settings/phrases">
                                <i class="fa fa-bullseye"></i> <span data-translate>Phrases</span></a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" data-ng-class="{'active':-1 != app.location.indexOf('/admin/send-email')}">
                    <a class="dropdown-toggle clickable" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-paper-plane"></i> <span data-translate>Email</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/send-email?to=normal" data-translate><span data-translate>All</span> <span data-translate>Job_Seekers</span></a></li>
                        <li><a href="/admin/send-email?to=employer" data-translate><span data-translate>All</span> <span data-translate>Employers</span></a></li>
                        <li><a href="/admin/send-email?to=subscriber" data-translate><span data-translate>All</span> <span data-translate>Subscribers</span></a></li>
                        <li><a href="/admin/send-email?to=admin" data-translate><span data-translate>All</span> <span data-translate>Admins</span></a></li>
                        <li><a href="/admin/send-email" data-translate>All</a></li>
                    </ul>
                </li>

                <li class="dropdown" data-ng-class="{'active':-1 != app.location.indexOf('/admin/bugsreport') || -1 != app.location.indexOf('/admin/email-logs')}">
                    <a class="dropdown-toggle clickable" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-bug"></i>
                        <span ng-if="-1 != app.location.indexOf('/admin/bugsreport')" data-translate>Bugs_Report</span>
                        <span ng-if="-1 != app.location.indexOf('/admin/email-logs')" data-translate>Email logs</span>
                        <span ng-if="-1 == app.location.indexOf('/admin/bugsreport') || -1 == app.location.indexOf('/admin/email-logs')" data-translate>Bugs</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/bugsreport" data-translate>Bugs_Report</a></li>
                        <li><a href="/admin/email-logs" data-translate>Email_Logs</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a ng-if="app.currentUser && app.currentUser.thumbnail" class="dropdown-toggle user-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img role="button" ng-src="{{ app.currentUser.thumbnail }}">
                        <span>{{ app.currentUser.firstName + ' ' + app.currentUser.lastName }}</span> <span class="caret"></span>
                    </a>
                    <a ng-if="app.currentUser && !app.currentUser.thumbnail" class="dropdown-toggle user-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i role="button" class="fa fa-user"> <span>{{ app.currentUser.firstName + ' ' + app.currentUser.lastName }}</span> <span class="caret"></span></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-class="{'active':'/user/settings'===app.location}"><a href="/user/settings/editProfile"><i class="fa fa-cogs"></i> <span data-translate>Profile_Settings</span></a></li>
                        <li><a href="/"><i class="fa fa-home"></i> <span data-translate>Product_Page</span></a></li>
                        <li ng-if="app.currentUser">
                            <a data-ng-click="app.logout()"><i class="fa  fa-sign-out"></i> <span data-translate>Log_Out</span></a>
                        </li>
                    </ul>
                </li>

                <li><a role="button" data-ng-click="NavBarCtrl.dispatchVacancies()"><i class="fa fa-envelope"></i> <span data-translate>Dispatch_Vacancies</span></a></li>
                <li><a href="/" role="button" data-ng-click="app.logout()" data-ng-if="app.logged"><i class="fa fa-sign-out"></i> <span data-translate>Sign_Out</span></a></li>
            </ul>
        </div>
    </div>
</nav>
