<div data-ng-include="'modules/common/adminMenu/adminMenu.html'"></div>
<div class="search-users-as-admin">
    <div class="container-fluid">

        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th data-translate>Log_Name</th>
                <th data-translate>Message</th>
                <th data-translate>Description</th>
                <th data-translate>Code</th>
                <th data-translate>Stack</th>
                <th data-translate>Timestamp</th>
            </tr>
            </thead>
            <tr data-ng-repeat="user in searchUsers.results" data-ng-show="searchUsers.results.length !== 0">
                <td class="checkbox-middle"><input type="checkbox" data-ng-model="user.selected"></td>
                <td>{{searchUsers.total - ((searchUsers.currentPage-1) * searchUsers.filter.size) - $index}}</td>
                <td>{{user.name}}</td>
                <td>{{user.message}}</td>
                <td>{{user.description}}</td>
                <td>{{user.code}}</td>
                <td><code>{{user.stack}}</code></td>
                <td class="text-center">
                        <div>{{user.createDate  | date:'HH:mm:ss'}}</div>
                        <div>{{user.createDate  | date:'yyyy-MM-dd'}}</div>
                    </td>
                <td class="text-right">
                </td>
            </tr>
        </table>
        <div data-ng-show="searchUsers.results.length === 0">
            <h2 class="text-center" data-translate="">No_Matching_Results_Found</h2>
        </div>

        <div class="footer-admin">
            <div class="pull-right">
                <uib-pagination
							ng-change="app.scrollTop()"
							class="pull-right"
							ng-model="searchUsers.currentPage"
							total-items="searchUsers.resultCount"
                            items-per-page="searchUsers.filter.size"
							max-size="5"
							boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
							ng-show="searchUsers.isPaginationNeeded()"></uib-pagination>
            </div>
        </div>
    </div>
</div>
