<div class="vacancy-box" ng-click="clickBox(vacancy)" ng-class="{'seen': vacancy.isNotVisited === false, 'hovered': vacancy.hovered, 'unapproved': vacancy.approved === false}" ng-mouseenter="vacancy.hovered = true" ng-mouseleave="vacancy.hovered = false" >
    <div class="media media-allow-overflow">
        <div data-ng-if="actions.checkbox" class="action-control pseudo-checkbox" data-stop-propagation>
            <input id="published-{{vacancy.id}}" type="checkbox" value="ShowCV" ng-model="vacancy.checked">
            <label for="published-{{vacancy.id}}"></label>
        </div>
        <div class="media-left media-logo-side" ng-show="showLogo && vacancy.userId.thumbnail">
            <div class="logo-container">
                <div class="logo">
                    <img data-ng-src="{{vacancy.userId.thumbnail}}">
                </div>
            </div>
        </div>
        <div class="media-body">
            <div class="body">
                <div class="in-moderation visible-xs" data-ng-show="!vacancy.approved && vacancy.publishViaEmail">
                    <i class="fa fa-file-o"></i>
                    <span>{{'In_Moderation' | translate}}</span>
                </div>
				<div class="media-left">
                    <span data-ng-if="showApplicants" class="badge applicants-number" data-ng-class="{'badge-light-blue': vacancy.applicants.length, 'badge-green': vacancy.newApplicantsCount}"
							data-ng-show="!(vacancy.publishViaEmail && !vacancy.publishOnWebsite)" stop-propagation
							data-ng-click="vacancy.applicants.length ? goApplicantsMethod({vacancyId: vacancy.id}) : null">
							{{ vacancy.applicants.length }}
                    </span>
                    <span class="fresh-mark label-new" data-translate data-ng-show="vacancy.isNew && userSearchVisited === true && !forProfile">New</span>
                    <span class="fresh-mark label-new" data-translate data-ng-show="vacancy.isNew && forProfile">New</span>
                    <span class="label-seen" data-translate data-ng-show="vacancy.isNotVisited == false && isJobSeeker">
                        <i class="fa fa-eye"></i>
                    </span>
                    <a href="/vacancy/{{ vacancy.id }}" target="_blank" data-ng-if="showClickableTitle">
                        <h4 class="title">
                            {{ vacancy.title }}
                            <i class="fa fa-times color-red" data-ng-show="!vacancy.approved && vacancy.publishViaEmail"
                               ></i>
                            <i class="fa fa-archive" data-ng-show="vacancy.archived"></i>
                        </h4>
                    </a>
                    <h4 class="title" data-ng-if="! showClickableTitle">
                        {{ vacancy.title }}
                        <i class="fa fa-circle color-green" data-ng-show="vacancy.approved && vacancy.publishViaEmail"
                           ></i>
                        <i class="fa fa-archive" data-ng-show="vacancy.archived" ></i>
                    </h4>

                    <div class="details show-or-not clearfix" data-ng-include="'vacancy-box-details.tpl.html'"></div>
                </div>
                <span ng-if="showBadge" class="fresh-mark" data-translate data-ng-show="vacancy.isNew">New</span>
            </div>

            <div class="media-right">
                <div data-ng-if="actions" class="actions actions-{{numOfActions}}" >
                    <a ng-click="actions.edit(vacancy.id)" class="btn-circle edit action-control hidden-xs" stop-propagation>
						<i class="fa fa-pencil"></i>
                    </a>
                    <a ng-click="actions.show(vacancy.id)" stop-propagation target="_blank" class="btn-circle edit action-control">
						<i class="fa fa-eye"></i>
                    </a>
                    <div data-ng-if="actions.remove" class="btn-circle action-control remove" data-ng-click="actions.remove(vacancy.id)" stop-propagation>
                        <i class="fa fa-trash-o"></i>
                    </div>
				</div>
			</div>
            <div class="pull-right col-xs-2 delete-at-days hidden-xs" data-ng-if="vacancy.approved && vacancy.publishViaEmail && daysToDeletion">
                <i class="fa fa-calendar-times-o"></i>
                <span>
                    {{'To_be_deleted_in_days' | translate | fmt:{days: daysToDeletion} }}
                </span>
            </div>
            <div class="pull-right col-xs-2 in-moderation hidden-xs" data-ng-show="!vacancy.approved && vacancy.publishViaEmail">
                <i class="fa fa-file-o"></i>
                <span>
                    {{'In_Moderation' | translate}}
                </span>
            </div>
        </div>
    </div>
    <div class="details details-with-padding show-or-not clearfix" data-ng-include="'vacancy-box-details.tpl.html'"></div>
</div>
<script type="text/ng-template" id="vacancy-box-details.tpl.html">
    <span class="element">
        <i class="fa fa-signal"></i> {{ vacancy.salaryRangeId.name | translateDomain }} KZT
    </span>
    <span class="element visible-xs" data-ng-if="vacancy.approved && vacancy.publishViaEmail && daysToDeletion">
        <i class="fa fa-calendar-times-o" ></i> {{'In_days' | translate | fmt:{days: daysToDeletion} }}
    </span>
    <span class="element categories-listing" data-ng-if="showCategoriesListing && isJobSeeker">
        <i class="fa fa-bars"></i>
        <span data-ng-repeat="category in vacancy.categories">
            {{category.name  | translateDomain}}<span ng-show="!$last">,</span>
        </span>
    </span>
    <span class="element" data-ng-if="vacancy.salary.value && !isJobSeeker">
        <i class="fa fa-money"></i> {{vacancy.salary.value | formatSalary}} {{vacancy.salary.currency}}
    </span>
    <span data-ng-if="showCompanyName" class="company-name-element">
        <span class="element">
            <i class="fa fa-building-o"></i> {{vacancy.companyName}}
        </span>
    </span>
    <span class="element">
        <i class="fa fa-map-marker"></i> {{vacancy.cityId.name | translateDomain}}
    </span>
    <span class="element" data-ng-if="myVacancy && vacancy.createDate &&!hideCreationDate">
        <span ng-hide="rawCreationDate"><i class="fa fa-clock-o"></i> {{ vacancy.createDateHumanized }}</span>
        <span ng-show="rawCreationDate"><i class="fa fa-clock-o"></i> {{ vacancy.createDate | date : 'dd.MM.yyyy' }}</span>
    </span>
    <span data-ng-if="showContactInfo">
        <span class="element" data-ng-if="vacancy.email">
            <i class="fa fa-envelope-o"></i> {{vacancy.email}}
        </span>
        <span class="element" data-ng-if="vacancy.userId.phone">
            <i class="fa fa-phone"></i> {{vacancy.userId.phone}}
        </span>
    </span>
    <span class="element categories-listing" data-ng-if="showCategoriesListing && !isJobSeeker">
        <i class="fa fa-bars"></i>
        <span data-ng-repeat="category in vacancy.categories">
            {{category.name  | translateDomain}}<span ng-show="!$last">,</span>
        </span>
    </span>

    <span class="btn btn-xs btn-apply" data-ng-if="showApplyButton && isJobSeeker && !vacancy.applied" data-ng-click="applyMethod(vacancy)" stop-propagation >
        Apply
    </span>
    <span class="btn btn-xs btn-applied" data-ng-if="showApplyButton && isJobSeeker && !!vacancy.applied" >
        <i class="fa fa-check"></i> Applied
    </span>
    <span class="btn btn-light-primary btn-invite" data-ng-if="showInviteButton && !vacancy.invited" data-ng-click="inviteMethod(vacancy.id)" stop-propagation >
        Invite
    </span>
    <span class="btn btn-invited" data-ng-if="showInviteButton && !!vacancy.invited" stop-propagation >
        <i class="fa fa-check"></i> Invited
    </span>
    <br class="hidden-xs"/>
    <span class="element create-date" data-ng-if="showCreateDate">
        <i class="fa fa-refresh" aria-hidden="true"></i> {{ vacancy.createDate | date:'dd/MM/yyyy' }}
    </span>
    <span class="element categories-view" data-ng-if="showCategoriesView">
        <i class="fa fa-bars"></i>
        <span data-ng-repeat="category in vacancy.categories">
            {{category.name  | translateDomain}}<span ng-show="!$last">,</span>
        </span>
    </span>
</script>
