.btn-applied {
  margin-top: 4px;
  padding: 2px 5px;
  font-weight: bold;
  color: #fff;
  background: #ebcdb2;
  border-radius: 4px;
  text-transform: uppercase;
  float: right;
  font-size: 10px;
  line-height: 1;

  &.btn-desktop {
    padding: 6px 14px;
    background: #40965d;
    font-size: 12px;
    line-height: 1.5;
  }

  i {
    font-size: 12px;
  }
}

.btn-apply {
  margin-top: 4px;
  padding: 2px 6px;
  font-weight: bold;
  color: #fff;
  background: #2d89c8;
  border-radius: 4px;
  text-transform: uppercase;
  float: right;

  &:hover {
    background: #007fcf;
    color: #fff;
  }

  &.btn-desktop {
    padding: 6px 14px;
    background: #2d89c8;
    font-size: 12px;
  }
}


.vacancy-box {
  margin-bottom: 10px;
  margin-top:10px;
  border-radius: 4px;
  border: 1px solid #d4dce1;
  /*box-shadow: 0 1px 2px rgba(0,0,0,.05);*/
  background: #fff;
  position: relative;

  &.hovered {
    border-color: #b4bfc6;
  }

  &.seen {
    background-color: #fffae9;
    border-color: #e9d9cd;

    &.hovered {
      border-color: #dbc5ac;
    }
  }

  &.hide-logo {

    .media-logo-side {
      display: none;
    }

    .body {

      .details {
        display: block;
      }
    }

    .details {
      display: none;
    }
  }

  .media {
    display: inline-flex;
    width: 100%;
  }

  .media-body {
    width: 100%;
  }
  
  .media-allow-overflow {
    overflow: visible;

    .media-logo-side {
      padding-right: 0;
    }
  }

  .logo-container {
    display: table;
    width: 106px;
    height: 94px;
    background: #fff;
    border-radius: 4px;

    .logo {
      position: relative;
      display: table-cell;
      box-sizing: border-box;
      padding: 4px;
      vertical-align: middle;
      text-align: center;
      background: #fff;

      img {
        max-width: 100%;
        max-height: 94px;
      }
    }
  }

  .body {
    margin: 12px;

    .title {
      margin: 0 0 4px 0;
      font-size: 14px;
      font-weight: bold;
      color: #3c4b5a;
      line-height: 1.2;

      .fa-circle {
        font-size: 6px;
        vertical-align: middle;
        margin-left: 2px;
      }
    }

    .details.show-or-not {
      display: block;
    }

    .label-new {
        background: #d8efd1;
        border-radius: 4px;
        color: #4bb530;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        position: absolute;
        right: 11px;
        top: 10px;
        padding: 3px 5px;
    }

    .label-seen {
        color: #e3c8ad;
        font-size: 15px;
        position: absolute;
        right: 10px;
        top: 8px;
    }
  }

  .details {

    &.show-or-not {
      display: none;
    }

    &.details-with-padding {
      padding: 10px;
    }

    .element {
      display: inline-block;
      padding-right: 16px;
      font-weight: normal;
      color: #737a80;
      font-size: 13px;
      .fa-bars{
        color: #737a80 !important;
      }
      i {
        color: #df796d;
        padding-right: 5px;
        font-size: 13px;
        color: #999;
      }
      
      .fa {
        color: #df796d;
      }

      &.categories, &.categories .fa {
        color: #b1b8bf;
      }
    }

    .company-name-element {

      .tooltip {
        width: 360px;

        .tooltip-inner {
          max-width: 360px;
        }
      }
    }

    .create-date {
      display: none;
      color: #bfc6cc;
      font-size: 12px;
      margin-top: 2px;

      i.fa {
        color: #bfc6cc;
      }
    }

    .applicants-number {
      cursor: default;


      &.active {
        background-color: #5cb85c;
        cursor: pointer;
      }

      &.hot {
        background-color: @recrutoid-red;
        cursor: pointer;
      }
    }

    .element.categories-view {
      .fa {
        color: #9ea6af;
      }

      span {
        color: #d1d4d9;
      }
    }
  }

  .action-control {
    float: left;
    text-align:center;
    .fa{
      max-width:12px;
    }

    &:not(:last-child) {
      //margin-right: 10px;
    }

    &.edit {
      background: @recrutoid-blue;
    }

    &.remove {
      background: @recrutoid-red;
    }

    &.pseudo-checkbox {
      position: relative;
      width: 38px;
      color: #eaebed;

      &:hover {
        color: #c1c2c4;
      }

      label {
        display: block;
        margin: 0;
        cursor: pointer;
        font-size: 13px;
        position: absolute;
        top: 50%;
        right:5px;
        transform: translateY(-50%);
        &:before {
          position: relative;

          font: normal normal normal 20px/1 FontAwesome;
          content: "\f0c8";
        }
      }

      input[type=checkbox] {
        display: none;

        &:checked + label:before {

          font: normal normal normal 20px/1 FontAwesome;
          content: "\f14a";
          color: #3299db;
        }
      }
    }
  }
  .applicants-number{
    position: absolute;
    right: 10px;
    top: 8px;
  }
  .applicants-number-area{
    .hot{
      background:#63cf3e;
      color:#fff;
    }
    .active{
      background:#deeff9;
      color:#2c84c4;
    }
  }

  .actions {
    box-sizing: content-box;
    padding-top: 12px;
    //padding-right: 20px;

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    &.actions-1 {
      width: calc(~'1 * 48px - 10px');
    }

    &.actions-2 {
      width: calc(~'2 * 48px - 10px');
    }

    &.actions-3 {
      width: calc(~'3 * 50px - 10px');
      margin-top:12px;
    }
  }

  .days-to-deletion {
    padding-top: 22px;
    padding-right: 20px;
    width: 112px;
    text-align: right;
  }

  &.unapproved {
    .media-body .body .media-left {
      opacity: .5;
    }
  }
}

@media (max-width: 410px) {
  .vacancy-box {

    .actions {
      padding-top: 16px;
      width: 38px !important;

      .action-control {
        margin-right: 0;
        margin-bottom: 4px;

        &:last-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: @screen-sm-max) {
  .btn-apply {
    font-weight: normal;
    color: #1473c5;
    background: #e2f0fb;
    border-radius: 4px;
    text-transform: capitalize;
    padding: 0px 13px;
    border:0px none;
    line-height: 30px;
    margin-top: 7px;

    &:hover {
      background: #e2f0fb;
      color: #1473c5;
    }
  }

  .vacancy-box {
    .details {
      .create-date {
        display: inline-block;
      }
    }
  }
}