
<div class="filters-box" >
    <button class="btn btn-block btn-light-yellow btn-clear-filters" data-ng-click="resetFilters()" data-ng-if="hasSelectedFilters()" >
        <i class="fa fa-times pull-right"></i>
        <span data-translate>Clear_filter</span>
    </button>

    <div class="panel panel-default flat">
        <div class="panel-heading white">
            <i class="fa fa-times pull-right remove-filter" data-ng-if="isFilterSelected({filter: 'days'})" data-ng-click="setFilter({filter: 'days'})"></i>
            Filter by
        </div>
        <div class="panel-body filter-box">
            <div class="element">
                <span class="checkbox" data-ng-click="setFilter({filter: 'days'})">
                    <input id="{{ mode }}-all-days" type="radio" name="{{ mode }}days" value="all"  data-ng-checked="!isFilterSelected({filter: 'days'})" >
                    <label for="{{ mode }}-all-days" data-translate>
                        All
                    </label>
                </span>
            </div>
            <div class="element" >
                <span class="checkbox" data-ng-click="setFilter({filter: 'days', value: 'last'})">
                    <input id="{{ mode }}-last-days" type="radio" name="{{ mode }}days" value="last" data-ng-checked="isFilterSet({filter: 'days', value: 'last'})" >
                    <label for="{{ mode }}-last-days" data-translate>
                        Last_Three_Days
                    </label>
                </span>
            </div>
        </div>
    </div>

    

    <div class="panel panel-default flat" >
        <div class="panel-heading white">
            <i class="fa fa-times pull-right remove-filter" data-ng-if="isFilterSelected({filter: 'salaryRange'})" data-ng-click="setFilter({filter: 'salaryRange'})"></i>
            <span data-translate>Salary_Range</span>
        </div>
        <div class="panel-body filter-box">
            <div class="element">
                <span class="radio">
                    <label ng-class="{'checked': !isFilterSelected({filter: 'salaryRange'}) }" ng-click="setFilter({filter: 'salaryRange'})" >
                        <input type="radio" stop-propagation>
                        All
                    </label>
                </span>
            </div>
            <div class="element" data-ng-repeat="salaryRange in salaryRanges" >
                <span class="radio" >
                    <label ng-class="{'checked': isFilterSet({filter: 'salaryRange', value: salaryRange.id})}" ng-click="setFilter({filter: 'salaryRange', value: salaryRange.id})" >
                        <input type="radio" stop-propagation>
                        {{ salaryRange.name | translateDomain }}
                    </label>
                </span>
            </div>
        </div>
    </div>

    <div class="panel panel-default flat" data-ng-if="companyFilterData">
        <div class="panel-heading white">
            <i class="fa fa-times pull-right remove-filter" data-ng-if="isFilterSelected({filter: 'companyName'})" data-ng-click="setFilter({filter: 'companyName'})"></i>
            <span data-translate>Company</span>
        </div>
        <div class="panel-body filter-box">
            <div class="element">
                <span class="checkbox" data-ng-click="setFilter({filter: 'companyName'})">
                    <input id="{{ mode }}-all-companies" type="radio" name="{{ mode }}company" data-ng-checked="!isFilterSelected({filter: 'companyName'})">
                    <label for="{{ mode }}-all-companies">
                        All ({{ companyFilterData.countOfAll }})
                    </label>
                </span>
            </div>
            <div class="element" data-ng-repeat="company in companyFilterData.data" data-id='{{ company.userId }}'>
                <span class="checkbox" data-ng-click="setFilter({filter: 'companyName', value: company.name})" 
                      data-ng-class="{ 'hidden': 4 < $index && !showMoreCompanies && !companyFilterData.showMore}"
                      >
                    <input id="{{ mode }}-company{{ $index }}" type="radio" name="{{ mode }}company" data-ng-checked="isFilterSet({filter: 'companyName', value: company.name})">
                    <label for="{{ mode }}-company{{ $index }}">
                        {{ company.name }} ({{ company.count }})
                    </label>
                </span>
            </div>
            <div class="element">
                <span class="pointer show-more" 
                      data-ng-show="companyFilterData.data.length > 5 && !showMoreCompanies && !companyFilterData.showMore" 
                      data-ng-click="showMoreCompanies = ! showMoreCompanies" >
                    load more
                </span>
            </div>
        </div>
    </div>

    <div class="panel panel-default flat" data-ng-if="locationFilterData">
        <div class="panel-heading white">
            <i class="fa fa-times pull-right remove-filter" 
               data-ng-if="isFilterSelected({filter: 'location'})" 
               data-ng-click="setFilter({filter: 'location'})"></i>
            <span data-translate>Location</span>
        </div>
        <div class="panel-body filter-box">
            <div class="element">
                <span class="checkbox" data-ng-click="setFilter({filter: 'location'})">
                    <input id="{{ mode }}-all-cities" type="radio" name="{{ mode }}city" 
                           data-ng-checked="!isFilterSelected({filter: 'location'})">
                    <label for="{{ mode }}-all-cities">
                        All ({{ locationFilterData.countOfAll }})
                    </label>
                </span>
            </div>
            <div class="element" data-ng-repeat="location in locationFilterData.data">
                <span class="checkbox" 
                      data-ng-click="setFilter({filter: 'location', value: location.cityId})" 
                      data-ng-class="{ 'hidden': 4 < $index && !showMoreCities && !locationFilterData.showMore}">
                    <input id="{{ mode }}-city{{ $index }}" type="radio" name="{{ mode }}city" 
                           data-ng-checked="isFilterSet({filter: 'location', value: location.cityId})">
                    <label for="{{ mode }}-city{{ $index }}">
                        {{location.name | translateDomain}} ({{location.count}})
                    </label>
                </span>
            </div>
            <div class="element">
                <span class="pointer show-more" 
                      data-ng-show="locationFilterData.data.length > 5 && !showMoreCities && !locationFilterData.showMore" 
                      data-ng-click="showMoreCities = ! showMoreCities" 
                      >
                    load more
                </span>
            </div>
        </div>
    </div>
</div>