
.filters-box {
  &.affix {
    position: fixed !important;
    top: 20px !important;
  }

  &.affix-bottom {
    position: absolute !important;
  }

  .btn-clear-filters:hover {
    background-color: @recrutoid-red;
    color: #fff;
    
    .fa {
      color: #fff;
    }
  }

  .panel {
    margin-bottom: 10px;
    border: 1px solid #d4dce1;

    &:hover {
      .panel-heading {
        background: #edf1f2;
      }
    }
  }

  .panel-heading {
    &.white {
      font-weight: bold;
      border-bottom: 0px none;

      i {
        &.remove-filter {
          cursor: pointer;
        }
      }
    }
  }

  .element {
    .show-more {
      color: #3299db;
      display: block;
      font-size: 12px;
      text-align: center;
      text-decoration: underline dotted #3299db;

      &:hover {
        color: @recrutoid-blue-hover;
      }
    }
  }

  .radio,
  .checkbox {
    display: inline;

    label {
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-left: 25px;
      padding-right: 15px;
      font-size: 13px;

      &:hover {
        color: @recrutoid-dark;
      }

      &:before {
        font: normal normal normal 18px/1 FontAwesome;
        margin-right: 10px;
        position: absolute;
        left: 0;
        bottom: 1px;
        color: #ced1d5;
        top: 0px;
      }

      &.checked::before {
        font: normal normal normal 18px/1 FontAwesome;
        color: @recrutoid-lightblue;
      }
      &.checked:hover::before {
        color: @recrutoid-blue-hover;
      }
      &.checked {
        color: @recrutoid-dark;
      }

      input[type=checkbox],
      input[type=radio] {
        display: none;
      }
    }
  }
  .radio {
    label {
      &:before {
        content: "\f10c";
      }

      &.checked::before {
        content: "\f192";
      }
    }
  }
  .checkbox {
    label {
      &:before {
        content: "\f0c8";
      }
      &.checked::before {
        content: "\f14a";
      }
    }
  }
}

.search-vacancies-view {
  .checkbox {
    label {
      &:before {
        content: "\f10c";
      }
    }

    input[type=checkbox],
    input[type=radio] {
      display: none;

      &:checked + label::before {
        font: normal normal normal 18px/1 FontAwesome;
        content: "\f192";
        color: @recrutoid-lightblue;
      }
      &:checked + label:hover::before {
        color: @recrutoid-blue-hover;
      }

      &:checked + label {
        color: @recrutoid-dark;  
      }
    }
  }
}


@media screen and (max-width: @screen-xs-max) {
  .profile-menu {
    margin: 30px 0 0;
  }
}
