<div data-ng-include="'modules/common/adminMenu/adminMenu.html'"></div>
<div class="search-users-as-admin">
    <div class="container-fluid">
        <div class="row search-form">
            <div class="col-lg-2">
                <input class="form-control" placeholder="{{'Search_By_Email'|translate}}" data-ng-model="searchUsers.filter.email"/>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-right">
                <button class="btn btn-danger" data-ng-click="searchUsers.doActionOnSelected('remove')"><span data-translate>Delete_Selected</span> <i class="fa fa-trash"></i></button>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th data-translate>Email</th>
                <th data-translate>Timesamp</th>
                <th class="text-right actions" data-translate>Actions</th>
            </tr>
            </thead>
            <tr data-ng-repeat="user in searchUsers.results" data-ng-show="searchUsers.results.length !== 0">
                <td class="checkbox-middle"><input type="checkbox" data-ng-model="user.selected"></td>
                <td>{{searchUsers.total - ((searchUsers.currentPage-1) * searchUsers.filter.size) - $index}}</td>
                <td>{{user.email}}</td>
                <td>{{Timesamp}}</td>
                <td class="text-right">
                    <div class="btn-group">

                    	<button type="button" class="btn btn-xs" data-ng-click="searchUsers.view(user.message)" data-tooltip="{{'View'|translate}}" ><span data-translate>View</span>
                            <i class="fa fa-eye"></i>
                        </button>
                        <button type="button" class="btn btn-xs btn-danger" data-ng-click="searchUsers.remove(user)" data-tooltip="{{'Remove'|translate}}" >
                            <i class="fa fa-trash"></i>
                        </button>
                        
                    </div>
                </td>
            </tr>
        </table>
        <div data-ng-show="searchUsers.results.length === 0">
            <h2 class="text-center" data-translate="">No_Matching_Results_Found</h2>
        </div>

        <div class="footer-admin">
            <div class="pull-right">
                <uib-pagination
							ng-change="app.scrollTop()"
							class="pull-right"
							ng-model="searchUsers.currentPage"
							total-items="searchUsers.resultCount"
                            items-per-page="searchUsers.filter.size"
							max-size="5"
							boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
							ng-show="searchUsers.isPaginationNeeded()"></uib-pagination>
            </div>
        </div>
    </div>
</div>
