<p id="education" class="part-title"><i class="fa fa-graduation-cap"></i> Education</p>
<div class="row form-row relative">
    <div class="col-sm-12 form-col">
        <div ng-show="!editCv.hideOptions['education']" ng-if="!education.hidden" class="dark-box info-box edu ng-fade" ng-repeat="education in editCv.cv.education">
            <p class="title">{{education.school}}</p>
            <div class="info">
                <span>
                    <i class="fa fa-graduation-cap"></i>
                    {{education.degree}}
                </span>
                <span>
                    <i class="fa fa-calendar"></i>
                    {{education.startDate}}-{{education.endDate}}
                </span>
                <span>
                    <i class="fa fa-map-marker"></i>
                    {{education.city}}
                </span>
            </div>

            <nav>
                <button ng-click="editCv.editItem('education', education)" class="nav-button edit" data-ng-disabled="editCv.infoEdit"></button>
                <button ng-click="editCv.remove('education', $index)" class="nav-button remove" data-ng-disabled="editCv.infoEdit"></button>
            </nav>
        </div>

        <div ng-show="editCv.showEditor['education']" class="dark-box edit-box ng-fade">
            <div class="row form-row">
                <div class="col-sm-12 form-col">
                    <recrutoid-input type="text" placeholder="School" required="true" ng-model="editCv.currentItem['education'].school" max="100" error="editCv.errors.school"></recrutoid-input>
                </div>
                <div class="col-sm-12 form-col">
                    <recrutoid-input type="text" placeholder="Field_Of_Study" required="true" ng-model="editCv.currentItem['education'].fieldOfStudy" max="100" error="editCv.errors.fieldOfStudy"></recrutoid-input>
                </div>
                <div class="col-sm-6 form-col">
                    <recrutoid-input type="text" placeholder="City" required="true" ng-model="editCv.currentItem['education'].city" max="100" error="editCv.errors.city"></recrutoid-input>
                </div>
                <div class="col-sm-6 form-col recrutoid-select" ng-class="{'error' : editCv.errors.degree}">
                    <ui-select data-ng-model="editCv.currentItem['education'].degree" theme="bootstrap" ng-change="editCv.errors.degree = null">
                        <ui-select-match placeholder="{{'Degree'|translate}} *">{{ $select.selected.name | translate }}</ui-select-match>
                        <ui-select-choices repeat="degree in editCv.degrees">
                            {{ degree.name | translate }}
                        </ui-select-choices>
                    </ui-select>
                    <div ng-show="editCv.errors.degree" class="info">{{editCv.errors.degree|translate}}</div>
                </div>
            </div>
            <br>
            <div class="row form-row">
                <div class="col-sm-12 form-col">
                    <h4>Time period</h4>
                    <div class="row form-row">
                        <div class="col-sm-2 col-xs-5 form-col recrutoid-select" ng-class="{'error' : editCv.errors.startDate}">
                            <ui-select data-ng-model="editCv.currentItem['education'].startDate" theme="bootstrap" ng-change="editCv.errors.startDate = null">
                                <ui-select-match placeholder="{{'Year'|translate}} *">{{ $select.selected.name | translate }}</ui-select-match>
                                <ui-select-choices repeat="year in editCv.years">
                                    {{ year.name | translate }}
                                </ui-select-choices>
                            </ui-select>
                            <div ng-show="editCv.errors.startDate" class="info">{{editCv.errors.startDate|translate}}</div>
                        </div>
                        <div class="col-sm-1 col-xs-2 form-col text-center push-text-to-input-level">
                            to
                        </div>
                        <div class="col-sm-2 col-xs-5 form-col recrutoid-select" ng-class="{'error' : editCv.errors.endDate}">
                            <ui-select data-ng-model="editCv.currentItem['education'].endDate" theme="bootstrap" ng-change="editCv.errors.endDate = null">
                                <ui-select-match placeholder="{{'Year'|translate}} *">{{ $select.selected.name | translate }}</ui-select-match>
                                <ui-select-choices repeat="year in editCv.years">
                                    {{ year.name | translate }}
                                </ui-select-choices>
                            </ui-select>
                            <div ng-show="editCv.errors.endDate" class="info">{{editCv.errors.endDate|translate}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-light-primary" ng-click="editCv.hideEditor('education', 'save')"><span ng-if="editCv.addNew['education']" data-translate>Add</span><span ng-if="!editCv.addNew['education']" data-translate>Save</span></button>
                    <button type="button" class="btn btn-light-danger" ng-click="editCv.hideEditor('education', 'cancel')"><span data-translate>Cancel</span></button>
                </div>
            </div>
        </div>
        <button ng-show="!editCv.hideAddButtom['education']" type="button" class="btn btn-light-primary btn-cv ng-fade" ng-disabled="editCv.infoEdit" data-ng-click="editCv.add('education')"><i class="fa fa-plus-circle"></i> <span ng-show="editCv.cv.education.length" data-translate>Add_More_Education</span><span ng-hide="editCv.cv.education.length" data-translate>Add_Education</span></button>
    </div>
</div>
