<p id="main-information" class="part-title"><i class="fa fa-file-text"></i> Main information</p>
<div class="row form-row">
    <div class="col-sm-12 form-col">
        <recrutoid-input icon="fa-briefcase" type="text" placeholder="Resume_title" required="true" ng-model="editCv.cv.title" max="100" error="editCv.errors.title"></recrutoid-input>
    </div>
</div>
<div class="row form-row">
    <div class="col-sm-4 form-col with-icon icon-categories recrutoid-select" ng-class="{'error' : editCv.errors.categories}">
        <ui-select ui-select-perfect-scrollbar  data-ng-model="editCv.cv.userData.categories" theme="bootstrap">
            <ui-select-match placeholder="{{'Categories'|translate}} *">{{ $select.selected[0].name | translateDomain }}</ui-select-match>
            <ui-select-choices repeat="category in editCv.categories | filter:$select.search">
                {{ category[0].name | translateDomain }}
            </ui-select-choices>
        </ui-select>
        <div ng-show="editCv.errors.categories" class="info">{{editCv.errors.categories|translate}}</div>
    </div>
    <div class="col-sm-4 form-col with-icon icon-city recrutoid-select" ng-class="{'error' : editCv.errors.city}">
        <ui-select ui-select-perfect-scrollbar  data-ng-if="editCv.viewReady" data-ng-model="editCv.cv.userData.city" theme="bootstrap">
            <ui-select-match placeholder="{{'City'|translate}} *">{{ $select.selected.name | translateDomain }}</ui-select-match>
            <ui-select-choices repeat="city in editCv.cities | filter:$select.search">
                {{ city.name | translateDomain }}
            </ui-select-choices>
        </ui-select>
        <div ng-show="editCv.errors.city" class="info">{{editCv.errors.city|translate}}</div>
    </div>
    <div class="col-sm-4 form-col with-icon icon-salary-ranges recrutoid-select" ng-class="{'error' : editCv.errors.desiredSalaryRange}">
        <ui-select data-ng-if="editCv.viewReady" data-ng-model="editCv.cv.desiredSalaryRange" ng-change="editCv.errors.desiredSalaryRange = null" theme="bootstrap">
            <ui-select-match placeholder="{{'Salary_Expectations'|translate}} *">{{ $select.selected.name | translateDomain }}</ui-select-match>
            <ui-select-choices repeat="salaryRange in editCv.salary_ranges | filter:$select.search">
                {{ salaryRange.name | translateDomain }}
            </ui-select-choices>
        </ui-select>
        <div ng-show="editCv.errors.desiredSalaryRange" class="info">{{editCv.errors.desiredSalaryRange|translate}}</div>
    </div>
</div>
<br/>
<div class="row form-row">
    <div class="col-xs-12 form-col">
        <div class="media">
            <div class="media-left avatar-container">
                <img class="avatar" data-ng-src="{{editCv.cv.userData.thumbnail}}" data-ng-if="editCv.cv.userData.thumbnail">
                <div class="avatar-placeholder" data-ng-if="!editCv.cv.userData.thumbnail"></div>
            </div>
            <div class="media-body avatar-bar">
                <span class="clickable"><i class="fa fa-cloud-upload"></i>
                    <span data-ngf-select data-ngf-change="editCv.uploadAvatar($files, $event)" data-translate>Upload_New_Photo</span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row form-row">
    <div class="col-sm-4 form-col">
        <recrutoid-input type="text" placeholder="First_Name" required="true" ng-model="editCv.cv.userData.firstName" max="100" error="editCv.errors.firstName"></recrutoid-input>
    </div>
    <div class="col-sm-4 form-col">
        <recrutoid-input type="text" placeholder="Last_Name" required="true" ng-model="editCv.cv.userData.lastName" max="100" error="editCv.errors.lastName"></recrutoid-input>
    </div>
    <div class="col-sm-4 form-col">
        <recrutoid-input ui-mask="+9 (999) 999-99-99" type="text" placeholder="Phone_Number" required="true" ng-model="editCv.cv.userData.phone" error="editCv.errors.phone"></recrutoid-input>
    </div>
</div>
<div class="row form-row">
    <div class="col-md-12 form-col panel-email">
        <user-email ng-if="editCv.cv.userData" profile="editCv.cv.userData"></user-email>
    </div>
</div>
<div class="row form-row">
    <div class="col-sm-6 form-col">
        <div class="dark-box">
            <h4 data-translate>Do_You_Have_A_Foreign_Degree</h4>
            <span class="checkbox">
                <input id="foreignDegreeTrue" type="radio" name="foreignDegree" data-ng-value="true" data-ng-model="editCv.cv.foreignDegree">
                <label for="foreignDegreeTrue" data-translate>
                    Yes
                </label>
            </span>
            <span class="checkbox">
                <input id="foreignDegreeFalse" type="radio" name="foreignDegree" data-ng-value="false" data-ng-model="editCv.cv.foreignDegree">
                <label for="foreignDegreeFalse" data-translate>
                    No
                </label>
            </span>
        </div>
    </div>
    <div class="col-sm-6 form-col">
        <div class="dark-box">
            <h4 data-translate>Are_You_Expat</h4>
            <span class="checkbox">
                <input id="expatTrue" type="radio" name="expat" data-ng-value="true" data-ng-model="editCv.cv.expat">
                <label for="expatTrue" data-translate>
                    Yes
                </label>
            </span>
            <span class="checkbox">
                <input id="expatFalse" type="radio" name="expat" data-ng-value="false" data-ng-model="editCv.cv.expat">
                <label for="expatFalse" data-translate>
                    No
                </label>
            </span>
        </div>
    </div>
</div>
