<p class="part-title">Additional information</p>
<div class="row form-row relative">
    <div class="col-sm-12 form-col">
        <div ng-show="editAdditionalInfoEdit" class="dark-box edit-box additional-info-box ng-fade">
            <div class="row form-row">
                <div class="col-sm-12 form-col">
                    <h4>Additional info</h4>
                    <div data-text-angular data-ta-toolbar="editCv.taOptions" data-ng-model="editCv.cv.additionalInfoTmp"
                         data-ng-paste="editCv.cleanPastedText(editCv.cv, 'additionalInfoTmp')"></div>
                </div>
                <div class="nav">
                    <button type="button" class="btn btn-light-primary" ng-click="editCv.cv.additionalInfo = editCv.cv.additionalInfoTmp; editAdditionalInfoEdit = false; editCv.infoEdit = false;" translate>Add</button>
                    <button type="button" class="btn btn-light-danger" ng-click="editCv.cv.additionalInfoTmp = editCv.cv.additionalInfo; editAdditionalInfoEdit = false; editCv.infoEdit = false;" translate>Cancel</button>

                </div>
            </div>
        </div>
        <div ng-show="!editAdditionalInfoEdit && editCv.cv.additionalInfo" class="dark-box info-box edu ng-fade">
            <div ng-bind-html="editCv.cv.additionalInfo"></div>
            <nav>
                <button ng-click="editAdditionalInfoEdit = true; editCv.infoEdit = true;" class="nav-button edit" ng-disabled="editCv.infoEdit"></button>
                <button ng-click="editCv.cv.additionalInfo = ''; editCv.cv.additionalInfoTmp = '';" class="nav-button remove" ng-disabled="editCv.infoEdit"></button>
            </nav>
        </div>
        <button ng-show="!editAdditionalInfoEdit && !editCv.cv.additionalInfo" type="button" class="btn btn-light-primary btn-cv ng-fade" ng-disabled="editCv.infoEdit" data-ng-click="editAdditionalInfoEdit = true; editCv.infoEdit = true;"><i class="fa fa-plus-circle"></i> <span data-translate>Add_Additional_Info</span></button>
    </div>
</div>
