<p id="work" class="part-title"><i class="fa fa-briefcase"></i> Work experience</p>
<div class="row form-row relative">
    <div class="col-sm-12 form-col">
        <div ng-show="!editCv.hideOptions['workExperience']" ng-if="!workExperience.hidden" class="dark-box info-box edu ng-fade" ng-repeat="workExperience in editCv.cv.workExperience">
            <p class="title">{{workExperience.title}}</p>
            <div class="info">
                <span>
                    <i class="fa fa-briefcase"></i>
                    {{workExperience.company}}
                </span>
                <span>
                    <i class="fa fa-calendar"></i>
                    {{workExperience.start.month + '.' +workExperience.start.year}}-{{!workExperience.currentWork?workExperience.end.month + '.' +workExperience.end.year:'Present' | translate}}
                </span>
                <span>
                    <i class="fa fa-map-marker"></i>
                    {{workExperience.city}}
                </span>
            </div>

            <div class="description" ng-bind-html="workExperience.description"></div>

            <nav>
                <button ng-click="editCv.editItem('workExperience', workExperience)" class="nav-button edit" data-ng-disabled="editCv.infoEdit"></button>
                <button ng-click="editCv.remove('workExperience', $index)" class="nav-button remove" data-ng-disabled="editCv.infoEdit"></button>
            </nav>
        </div>

        <div ng-show="editCv.showEditor['workExperience']" class="dark-box edit-box ng-fade">
            <div class="row form-row">
                <div class="col-sm-12 form-col">
                    <recrutoid-input type="text" placeholder="Job_Title" required="true" ng-model="editCv.currentItem['workExperience'].title" max="100" error="editCv.errors.jobTitle"></recrutoid-input>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-sm-6 form-col">
                    <recrutoid-input type="text" placeholder="Company" required="true" ng-model="editCv.currentItem['workExperience'].company" max="100" error="editCv.errors.jobCompany"></recrutoid-input>
                </div>
                <div class="col-sm-6 form-col">
                    <recrutoid-input type="text" placeholder="City" required="true" ng-model="editCv.currentItem['workExperience'].city" max="100" error="editCv.errors.jobCity"></recrutoid-input>
                </div>
            </div>
            <br />
            <div class="row form-row">
                <div class="col-sm-5 form-col">
                    <h4>Time period</h4>
                </div>
                <div class="col-sm-5 col-sm-offset-2 form-col">
                    <span class="checkbox">
                        <input id="currentWorkTrue" type="checkbox" name="currentWork" data-ng-value="true" data-ng-model="editCv.currentItem['workExperience'].currentWork" ng-change="editCv.errors.workEndYear = null; editCv.errors.workEndMonth = null">
                        <label for="currentWorkTrue">
                            {{'I_currently_work_here' | translate}}
                        </label>
                    </span>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-sm-5 form-col">
                    <div class="row form-row">
                        <div class="col-xs-6 form-col recrutoid-select" ng-class="{'error' : editCv.errors.workStartYear}">
                            <ui-select data-ng-model="editCv.currentItem['workExperience'].start.year" theme="bootstrap" ng-change="editCv.errors.workStartYear = null">
                                <ui-select-match placeholder="{{'Year'|translate}} *">{{ $select.selected.name | translate }}</ui-select-match>
                                <ui-select-choices repeat="year in editCv.years">
                                    {{ year.name | translate }}
                                </ui-select-choices>
                            </ui-select>
                            <div ng-show="editCv.errors.workStartYear" class="info">{{editCv.errors.workStartYear | translate}}</div>
                        </div>
                        <div class="col-xs-6 form-col recrutoid-select" ng-class="{'error' : editCv.errors.workStartMonth}">
                            <ui-select data-ng-model="editCv.currentItem['workExperience'].start.month" theme="bootstrap" ng-change="editCv.errors.workStartMonth = null">
                                <ui-select-match placeholder="{{'Month'|translate}} *">{{ $select.selected.name | translate }}</ui-select-match>
                                <ui-select-choices repeat="month in editCv.months">
                                    {{ month.name | translate }}
                                </ui-select-choices>
                            </ui-select>
                            <div ng-show="editCv.errors.workStartMonth" class="info">{{editCv.errors.workStartMonth | translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 form-col text-center push-text-to-input-level">
                    to
                </div>
                <div class="col-sm-5 form-col">
                    <div class="row form-row" data-ng-if="!editCv.currentItem['workExperience'].currentWork">
                        <div class="col-xs-6 form-col recrutoid-select" ng-class="{'error' : editCv.errors.workEndYear}">
                            <ui-select data-ng-model="editCv.currentItem['workExperience'].end.year" theme="bootstrap" ng-change="editCv.errors.workEndYear = null">
                                <ui-select-match placeholder="{{'Year'|translate}} *">{{ $select.selected.name | translate }}</ui-select-match>
                                <ui-select-choices repeat="year in editCv.years">
                                    {{ year.name | translate }}
                                </ui-select-choices>
                            </ui-select>
                            <div ng-show="editCv.errors.workEndYear" class="info">{{editCv.errors.workEndYear | translate}}</div>
                        </div>
                        <div class="col-xs-6 form-col recrutoid-select" ng-class="{'error' : editCv.errors.workEndMonth}">
                            <ui-select data-ng-model="editCv.currentItem['workExperience'].end.month" theme="bootstrap" ng-change="editCv.errors.workEndMonth = null">
                                <ui-select-match placeholder="{{'Month'|translate}} *">{{ $select.selected.name | translate }}</ui-select-match>
                                <ui-select-choices repeat="month in editCv.months">
                                    {{ month.name | translate }}
                                </ui-select-choices>
                            </ui-select>
                            <div ng-show="editCv.errors.workEndMonth" class="info">{{editCv.errors.workEndMonth | translate}}</div>
                        </div>
                    </div>
                    <div class="row form-row" data-ng-if="editCv.currentItem['workExperience'].currentWork">
                        <div class="col-xs-12 form-col push-text-to-input-level">
                            <strong data-translate>Present</strong>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row form-row">
                <div class="col-sm-12 form-col">
                    <h4>Responsibilities</h4>
                    <div data-text-angular data-ta-toolbar="editCv.taOptions" data-ng-model="editCv.currentItem['workExperience'].description"
                         data-ng-paste="editCv.cleanPastedText(editCv.currentItem['workExperience'], 'description')"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-light-primary" ng-click="editCv.hideEditor('workExperience', 'save')"><span ng-if="editCv.addNew['workExperience']" data-translate>Add</span><span ng-if="!editCv.addNew['workExperience']" data-translate>Save</span></button>
                    <button type="button" class="btn btn-light-danger" ng-click="editCv.hideEditor('workExperience', 'cancel')"><span data-translate>Cancel</span></button>
                </div>
            </div>
        </div>
        <button ng-show="!editCv.hideAddButtom['workExperience']" type="button" class="btn btn-light-primary btn-cv ng-fade" ng-disabled="editCv.infoEdit" data-ng-click="editCv.add('workExperience')"><i class="fa fa-plus-circle"></i> <span ng-show="editCv.cv.workExperience.length" data-translate>Add_More_Experience</span><span ng-hide="editCv.cv.workExperience.length" data-translate>Add_Experience</span></button>
    </div>
</div>