<p class="part-title">Languages</p>
<div class="row form-row relative">
    <div class="col-sm-12 form-col">
        <div ng-show="!editCv.hideOptions['languages']" ng-if="!languages.hidden" class="dark-box info-box edu ng-fade" ng-repeat="languages in editCv.cv.languages">
            <p class="title">{{languages.name}}</p>
            <div class="info">
                <span>
                    {{languages.level == 0 ? 'Basic' : languages.level == 1 ? 'Intermediate' : 'Advanced' | translate}}
                </span>
            </div>

            <nav>
                <button ng-click="editCv.editItem('languages', languages)" class="nav-button edit" data-ng-disabled="editCv.infoEdit"></button>
                <button ng-click="editCv.remove('languages', $index)" class="nav-button remove" data-ng-disabled="editCv.infoEdit"></button>
            </nav>
        </div>

        <div ng-show="editCv.showEditor['languages']" class="dark-box edit-box ng-fade">
            <div class="row form-row">
                <div class="col-xs-6 form-col recrutoid-select" ng-class="{'error' : editCv.errors.langName}">
                    <ui-select data-ng-model="editCv.currentItem['languages'].name" theme="bootstrap" ng-change="editCv.errors.langName = null">
                        <ui-select-match placeholder="{{'Language'|translate}} *">{{ $select.selected.name | translate }}</ui-select-match>
                        <ui-select-choices repeat="lang in editCv.languages">
                            {{ lang.name | translate }}
                        </ui-select-choices>
                    </ui-select>
                    <div ng-show="editCv.errors.langName" class="info">{{editCv.errors.langName | translate}}</div>
                </div>
                <div class="col-xs-6 form-col recrutoid-select" ng-class="{'error' : editCv.errors.langLevel}">
                    <ui-select data-ng-model="editCv.currentItem['languages'].level" theme="bootstrap" ng-change="editCv.errors.langLevel = null">
                        <ui-select-match placeholder="{{'Level'|translate}} *">{{ $select.selected.name | translate }}</ui-select-match>
                        <ui-select-choices repeat="lvl in editCv.languageLevels">
                            {{ lvl.name | translate }}
                        </ui-select-choices>
                    </ui-select>
                    <div ng-show="editCv.errors.langLevel" class="info">{{editCv.errors.langLevel | translate}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-light-primary" ng-click="editCv.hideEditor('languages', 'save')"><span ng-if="editCv.addNew['languages']" data-translate>Add</span><span ng-if="!editCv.addNew['languages']" data-translate>Save</span></button>
                    <button type="button" class="btn btn-light-danger" ng-click="editCv.hideEditor('languages', 'cancel')"><span data-translate>Cancel</span></button>
                </div>
            </div>
        </div>
        <button ng-show="!editCv.hideAddButtom['languages'] && editCv.cv.languages.length < 4" type="button" class="btn btn-light-primary btn-cv ng-fade" ng-disabled="editCv.infoEdit" data-ng-click="editCv.add('languages')"><i class="fa fa-plus-circle"></i> <span ng-show="editCv.cv.languages.length" data-translate>Add_More_Languages</span><span ng-hide="editCv.cv.languages.length" data-translate>Add_Language</span> ({{editCv.cv.languages.length}}/4)</button>
    </div>
</div>
