.editing-cms {
  .btn-main {
    padding-right: 170px;
    padding-left: 170px;
  }
}

.cms-page {
  padding: 30px 0;
  background: @background;
}

.cms-edit-page {
  img {
    max-height: 200px;
    max-width: 200px;
  }
}
