<div ng-include="'modules/common/userMenu/userMenu.tpl.html'"></div>
<div class="cms-page">
    <div class="container" ng-bind-html="cmsCtrl.content | translateDomain"></div>
</div>
<div ng-include="'modules/common/userFooter/footer.tpl.html'"></div>
