<div data-ng-include="'modules/common/adminMenu/adminMenu.html'"></div>
<div class="container cms-edit-page">
    <form data-ng-submit="edit.save()">
        <div class="form-group" data-ng-if="!edit.limited">
            <div class="row">
                <div class="col-md-6">
                    <label for="titleen"><span data-translate>Title</span>[EN]</label>
                    <input data-ng-model="edit.page.title.en" type="text" class="form-control" id="titleen" placeholder="Title in english" required>
                </div>
                <div class="col-md-6">
                    <label for="titleru"><span data-translate>Title</span>[RU]</label>
                    <input data-ng-model="edit.page.title.ru" type="text" class="form-control" id="titleru" placeholder="Title in russian" required>
                </div>
            </div>
        </div>
        <div class="form-group" data-ng-if="!edit.limited && !edit.newsBoxesMode">
            <label for="slug"><span data-translate>Url_Slug</span></label>
            <input data-ng-model="edit.page.slug" type="text" class="form-control" id="slug" placeholder="Url slug" required>
        </div>
        <div class="form-group" data-ng-if="!edit.newsBoxesMode">
            <div class="row">
                <div class="col-md-6">
                    <label for="Keywordsen"><span data-translate>Keywords</span>[EN]</label>
                    <input data-ng-model="edit.page.keywords.en" type="text" class="form-control" id="Keywordsen" placeholder="Keywords in english" required>
                </div>
                <div class="col-md-6">
                    <label for="Keywordsru"><span data-translate>Keywords</span>[RU]</label>
                    <input data-ng-model="edit.page.keywords.ru" type="text" class="form-control" id="Keywordsru" placeholder="Keywords in russian" required>
                </div>
            </div>
        </div>
        <div class="form-group" data-ng-if="!edit.newsBoxesMode">
            <div class="row">
                <div class="col-md-6">
                    <label for="metadescriptionen"><span data-translate>Meta metadescription</span>[EN]</label>
                    <textarea data-ng-model="edit.page.metadescription.en" class="form-control" id="metadescriptionen"
                              placeholder="Meta metadescription in english" required></textarea>
                </div>
                <div class="col-md-6">
                    <label for="metadescriptionru"><span data-translate>Meta metadescription</span>[RU]</label>
                    <textarea data-ng-model="edit.page.metadescription.ru" class="form-control" id="metadescriptionru"
                              placeholder="Meta metadescription in russian" required></textarea>
                </div>
            </div>
        </div>

        <div class="form-group" data-ng-if="!edit.disableContent && !edit.newsBoxesMode">
            <strong><span data-translate>Content</span>:</strong>
            <tabset>
                <tab heading="English" active="tab.active">
                    <div data-ng-model="edit.page.content.en" data-text-angular data-ta-toolbar="edit.taOptions"></div>
                </tab>
                <tab heading="Russian">
                    <div data-ng-model="edit.page.content.ru" data-text-angular data-ta-toolbar="edit.taOptions"></div>
                </tab>
            </tabset>
        </div>

        <div class="form-group" data-ng-if="edit.newsBoxesMode">
            <strong><span data-translate>Content</span>:</strong>
            <tabset>
                <tab heading="English" active="tab.active">
                    <div data-ng-model="edit.page.shortDescription.en" data-text-angular data-ta-toolbar="edit.taOptions"></div>
                </tab>
                <tab heading="Russian">
                    <div data-ng-model="edit.page.shortDescription.ru" data-text-angular data-ta-toolbar="edit.taOptions"></div>
                </tab>
            </tabset>
        </div>

        <div class="form-group" data-ng-if="edit.newsBoxesMode && !edit.newsBoxesMode">
            <div class="row">
                <div class="col-md-6">
                    <label for="short-description-en"><span data-translate>Content</span>[EN]</label>
                    <textarea data-ng-model="edit.page.shortDescription.en" class="form-control" id="short-description-en"
                              placeholder="Content in english" required></textarea>
                </div>
                <div class="col-md-6">
                    <label for="short-description-ru"><span data-translate>Content</span>[RU]</label>
                    <textarea data-ng-model="edit.page.shortDescription.ru" class="form-control" id="short-description-ru"
                              placeholder="Content in russian" required></textarea>
                </div>
            </div>
        </div>

        <div class="form-group" data-ng-if="edit.newsBoxesMode">
            <label data-translate>Image</label>
            <br>
            <img data-ng-if="edit.page.image" data-ng-src="{{edit.page.image}}">
            <br>
            <br>
            <span data-ng-if="edit.image.name">
                <span class="badge">{{edit.image.name}} <i class="fa fa-times" data-ng-click="edit.removeImage()"></i></span>
                <br>
                <br>
            </span>
            <span class="btn btn-default" data-ngf-select data-ngf-change="edit.photo($files)" data-translate>Choose</span>
        </div>

        <div class="form-group text-right">
            <button type="submit" class="btn btn-main" data-translate>Save</button>
        </div>
    </form>
</div>
