<div data-ng-include="'modules/common/adminMenu/adminMenu.html'"></div>
<div class="container">
    <div class="form-group" data-ng-if="!list.newsBoxesMode">
        <input type="text" class="form-control" data-ng-model="list.filter.query" placeholder="{{'Search'|translate}}"
               data-ng-model-options="{debounce: {'default': 1000}" data-ng-change="list.search()">
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="col-xs-1">Num.</th>
            <th data-translate>Page_Name</th>
            <th data-ng-if="!list.newsBoxesMode" data-translate>Url_Slug</th>
            <th data-ng-if="!list.newsBoxesMode" data-translate>Created</th>
            <th class="text-right" data-translate>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="page in list.pages">
            <td>{{ $index + 1}}</td>
            <td>{{ page.title | translateDomain}}</td>
            <td data-ng-if="!list.newsBoxesMode">/{{ page.slug }}</td>
            <td data-ng-if="!list.newsBoxesMode">{{ page.createDate }}</td>
            <td class="text-right">
                <div class="btn-group">
                    <a data-ng-if="!list.newsBoxesMode" href="/page/{{page.slug}}" type="button" class="btn btn-xs btn-info" data-tooltip="View" >
                        <i class="fa fa-eye"></i>
                    </a>
                    <button data-ng-click="list.edit(page.slug)" type="button" class="btn btn-xs btn-warning" data-tooltip="Edit" >
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button data-ng-click="list.remove(page.id)" type="button" class="btn btn-xs btn-danger" data-tooltip="Delete" >
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-6">
            <a ng-hide="list.newsBoxesMode && list.pages.length >=3" class="btn btn-main" href="/admin/cms/edit-page/create{{list.newsBoxesMode ? '?news-boxes' : ''}}" data-translate>Add_New_Page</a>
        </div>

        <div class="col-md-6">
            <uib-pagination class="pull-right"
						ng-model="list.currentPage"
						total-items="list.resultCount"
						items-per-page="list.filter.size"
						max-size="5"
                        boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                        ng-show="list.isPaginationNeeded()"></uib-pagination>
        </div>
    </div>
</div>
