
<div class="box-small clearfix">
    <div class="ui-select-container typeahead-container suitcase">
        <input placeholder="{{'CV_title'|translate}}" 
               class="search-typeahead shortened-field"
               data-ng-model="searchUsers.filter.resumeTitle" 
               data-ng-blur="suggestionsHandler.onBlur($event)"
               data-ng-change="suggestionsHandler.updateShortened()"
               maxlength="60"
               uib-typeahead="suggestion for suggestion in suggestionsHandler.fetchSuggestions($viewValue)"
               theme="bootstrap"
               data-ng-keypress="suggestionsHandler.keyPress($event)"
               typeahead-append-to-body="true"
               typeahead-focus-first="false"
               typeahead-focus-on-select="true"
               typeahead-on-select="suggestionsHandler.updateShortened()"
               ng-show="!suggestionsHandler.shouldShorten()"
               />

        <input placeholder="{{'CV_title'|translate}}"  
               data-ng-focus="suggestionsHandler.onFocus($event)"
               ng-show="suggestionsHandler.shouldShorten()"
               ng-model="searchUsers.shortenedTitle"
               class="shorting-field"
               />

        <a 
            data-ng-show="searchUsers.filter.resumeTitle"
            data-ng-click="suggestionsHandler.clear('resumeTitle'); searchHelper.isInputCleared('resumeTitle')"
            class="btn btn-xs btn-link clearbtn">
            <i class="glyphicon glyphicon-remove" aria-hidden="true">
            </i>
        </a>
    </div>

    <ui-select class="bars" 
               ui-select-perfect-scrollbar
               data-ng-model="searchUsers.select2Models.category" 
               data-ng-change="searchHelper.isSelect2Cleared('category')"
               theme="bootstrap" 
               ng-disabled="searchUsers.filter.companyName"
               ng-class="{disabled: searchUsers.filter.companyName}"
               >
        <ui-select-match placeholder="{{'Category'|translate}}" allow-clear="true">{{ $select.selected.name | translateDomain }}
        </ui-select-match>
        <ui-select-choices
            repeat="category in searchUsers.categories | filter:$select.search">
            {{ category.name | translateDomain }}
        </ui-select-choices>
    </ui-select>
    <ui-select class="marker" 
               ui-select-perfect-scrollbar
               data-ng-model="searchUsers.select2Models.city" 
                data-ng-change="searchHelper.isSelect2Cleared('city')"
               ng-disabled="searchUsers.filter.companyName"
               ng-class="{disabled: searchUsers.filter.companyName}"
               theme="bootstrap" 
               >
        <ui-select-match placeholder="{{'City'|translate}}" allow-clear="true">{{ $select.selected.name | translateDomain }}</ui-select-match>
        <ui-select-choices 
            repeat="city in searchUsers.cities | filter:$select.search">
            {{ city.name | translateDomain }}
        </ui-select-choices>
    </ui-select>

    <button 
        class="btn-search-main"
        data-ng-click="searchUsers.search()"
        >
        <i class="fa fa-search"></i>
    </button>
</div>