
<div class="box-small clearfix">

    <div class="ui-select-container typeahead-container suitcase">

        <input placeholder="{{'Vacancy_Or_Company_Title'|translate}}" 
               class="search-typeahead shortened-field"
               ui-select-perfect-scrollbar
               data-ng-model="searchVacancies.filter.vacancyTitle" maxlength="60"
               data-ng-keypress="suggestionsHandler.keyPress($event)"
               data-ng-blur="suggestionsHandler.onBlur($event)"
               data-ng-change="suggestionsHandler.updateShortened()"
               uib-typeahead="suggestion for suggestion in suggestionsHandler.fetchSuggestions($viewValue)"
               theme="bootstrap"
               typeahead-append-to-body="true"
               typeahead-focus-first="false"
               typeahead-focus-on-select="true"
               typeahead-on-select="suggestionsHandler.updateShortened()"
               ng-show="!suggestionsHandler.shouldShorten()"
               />

        <input placeholder="{{'Vacancy_Or_Company_Title'|translate}}"  
               data-ng-focus="suggestionsHandler.onFocus($event)"
               ng-show="suggestionsHandler.shouldShorten()"
               ng-model="searchVacancies.shortenedTitle"
               class="shorting-field"
               />
        <a 
            data-ng-show="searchVacancies.filter.vacancyTitle"
            data-ng-click="suggestionsHandler.clear('vacancyTitle'); searchHelper.isInputCleared('vacancyTitle')"
            class="btn btn-xs btn-link clearbtn">
            <i class="glyphicon glyphicon-remove" aria-hidden="true">
            </i>
        </a>
        <div class="clearfix"></div>
    </div>


    <ui-select class="bars "
               ui-select-perfect-scrollbar
               data-ng-model="searchVacancies.select2Models.category" 
               theme="bootstrap" 
                data-ng-change="searchHelper.isSelect2Cleared('category')" 
               >
        <ui-select-match placeholder="{{'Category'|translate}}" allow-clear="true">{{ $select.selected.name | translateDomain }}
        </ui-select-match>
        <ui-select-choices repeat="category in searchVacancies.categories | filter:$select.search">
            {{ category.name | translateDomain }}
        </ui-select-choices>
    </ui-select>
    <ui-select class="marker "
               ui-select-perfect-scrollbar
               data-ng-model="searchVacancies.select2Models.city" 
                 data-ng-change="searchHelper.isSelect2Cleared('city')"
               theme="bootstrap" 
               uis-open-close="searchVacancies.onOpenClose(isOpen)">
        <ui-select-match placeholder="{{'City'|translate}}" allow-clear="true">
            {{ $select.selected.name | translateDomain }}</ui-select-match>
        <ui-select-choices repeat="city in searchVacancies.cities | filter:$select.search">
            {{ city.name | translateDomain }}
        </ui-select-choices>
    </ui-select>
    <button 
        class="btn-search-main"
        data-ng-click="searchVacancies.search()"
        >
        <i class="fa fa-search"></i>
    </button>
</div>

