<div data-ng-include="'modules/common/userMenu/userMenu.tpl.html'"></div>
<div class="text-center">
    <div class="jumbotron">
        <div class="form-group">
            <h1>403</h1>

            <h2 data-translate>You_Dont_Have_Access</h2>

            <div class="err-body">
                <a href="/" class="btn btn-raised btn-lg btn-default" data-translate>
                    Go_Back_To_Home_Page
                </a>
            </div>
        </div>
    </div>
</div>
<div data-ng-include="'modules/common/userFooter/footer.tpl.html'"></div>
