<div class="my-cv" data-ng-controller="MyCvController as myCv">
    <div class="alert alert-empty hidden-xs" data-ng-show="settings.isCvEmpty() && !myCv.user.uploadedResume.data">
        {{'For_starting_you_can_create_your_CV' | translate}}
    </div>

    <div class="alert alert-empty" ng-if="!settings.isCvEmpty() && !myCv.user.uploadedResume.data">
        {{'This_is_how_employers_see_your_CV' | translate}}
    </div>

    <div seeker-box="myCv.user" active="myCv.isCvActive()" settings="settings" actions="{manage: media !== 'mobile', view: myCv.showJobSeekerProfile}" ng-if="!settings.isCvEmpty() && !myCv.user.uploadedResume.data && !canceledCvCheckup && myCv.user"></div>
    <div class="user-page moderated-cv" ng-if="myCv.user.uploadedResume.data">
        <div class="hidden-xs" data-ng-include="'cv-cancel-nav.tpl.html'"></div>
        <div class="moderated-table">
            <div class="clock">
                <i class="fa fa-clock-o"></i>
            </div>
            <div class="info">
                <p>{{'CV_Moderated'|translate}}</p>
                <span data-translate>CV_You_will_get_an_email_when_we_post_your_CV_live</span><br/>
                <span data-translate>Usually_within_24_hours</span>
            </div>
        </div>
        <div class="visible-xs" data-ng-include="'cv-cancel-nav.tpl.html'"></div>
    </div>
</div>

<script type="text/ng-template" id="cv-cancel-nav.tpl.html">
    <div ng-hide="myCv.cancelTimeExpired() && !app.isImpersonated()" class="nav">
        <span ng-if="!app.isImpersonated()">You have <strong>5 minutes</strong> to cancel</span>
        <span ng-if="app.isImpersonated() && !myCv.isCvActive()" data-translate>Press_finish_after_creating_users_CV</span>

        <button ng-if="!app.isImpersonated()" class="btn btn-light-danger" ng-click="myCv.cancelCvCheckup(false)">{{'Cancel'|translate}}</button>
        <button ng-if="app.isImpersonated()" class="btn btn-light-danger" ng-class="{'btn-light-success':myCv.isCvActive()}" ng-click="myCv.cancelCvCheckup(true)">{{'Finish'|translate}}</button>
    </div>
</script>
