.my-cv{
  margin-top: 8px;

  .moderated-cv {
    padding: 20px 30px;

    .clock {
      display: table-cell;
      width: 31px;
      vertical-align: middle;

      .fa {
        color: @recrutoid-blue;
        font-size: 36px;
      }
    }

    .info {
      display: table-cell;
      vertical-align: middle;
      padding-left: 15px;

      p {
        font-weight: 600;
        font-size: 15px;
        margin: 0;
      }

      span {
        font-size: 13px;
        color: #9ea6af;
      }
    }
  }

  .nav {
    margin-top: 10px;

    @media screen and (min-width: @screen-sm-min) {
      float: right;
    }

    span {
      color: @recrutoid-red;
      margin-right: 20px;
    }
  }

  .seeker-box {

    .user-actions {
      display: none;
    }

    &:hover{
      border-color: #b4bfc6;

      .user-actions {
        display: block;
      }
    }

    .media-right.actions-wrapper.show-or-not {
      display: none;
    }

    .details.details-with-padding {
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-bottom: -5px !important;
    }

  }

  @media screen and (max-width: @screen-xs-max){
    .moderated-cv {
      .nav {
        display: block;
        text-align: center;
        margin-top: 20px;

        button {
          display: block;
          margin: auto;
          margin-top: 10px;
        }
      }
    }
  }
}
