<div class="myOffers-container" data-ng-controller="OfferListCtrl as offerlist">
    <div ng-show="settings.user.newOffers > 0" class="sub-nav ng-fade">
        <button ng-click="offerlist.markAllAsSeen()" class="btn btn-light-primary">{{'Mark_all_as_seen' | translate}} ({{settings.user.newOffers}})</button>
    </div>

    <div class="offers-list">

        <div class="alert alert-empty" data-ng-show="0 >= offerlist.offers.length">
            Your interviews list is empty
        </div>

        <div data-scroll-to="myOffersList">
            <div class="pointer" data-ng-repeat="offer in offerlist.offers" data-ng-click="offerlist.showVacancyDetails(offer)"
                 vacancy-box="offer" data-show-logo="false" data-show-badge="true" data-for-profile="true" data-show-company-name="true" data-show-contact-info="true"
                 data-show-actions-side="true" show-categories-view="true"></div>
        </div>

        <div class="pagination-container">
            <uib-pagination ng-class="{'hidden': media == 'mobile'}"
                            ng-model="offerlist.currentPage"
                            ng-change="offerlist.allowScroll = true"
                            ng-show="offerlist.isPaginationNeeded()"
                            total-items="offerlist.resultCount"
                            items-per-page="offerlist.filter.size"
                            max-size="5"
                            boundary-links="true"
                            previous-text="&#xf053;" next-text="&#xf054;" first-text="&#xf053;&#xf053;" last-text="&#xf054;&#xf054;"
            ></uib-pagination>

            <uib-pagination ng-class="{'hidden': media != 'mobile'}"
                            ng-model="offerlist.currentPage"
                            ng-change="offerlist.allowScroll = true"
                            ng-show="offerlist.isPaginationNeeded()"
                            total-items="offerlist.resultCount"
                            items-per-page="offerlist.filter.size"
                            max-size="1"
                            template-url="mobile.html"
                            previous-text="&#xf053;" next-text="&#xf054;" first-text="&#xf053;&#xf053;" last-text="&#xf054;&#xf054;"
            ></uib-pagination>
        </div>
    </div>
</div>
