.user-settings .offers-list {
  margin-top: 8px;
  .img-outside-box {
    display: none;
    background-color: #fafafa;

    img {
      height: 75px;
      margin-bottom: 10px;
    }
  }

  .panel.panel-default {
    background-color: #fafafa;

    .offer-box {
      margin: 0;
      padding: 0;
      border-radius: 3px;
      box-shadow: 3px;

      img {
        height: 75px;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
      }

      .informations {
        padding-top: 5px;
        .no-padding-sides {
          padding-left: 0;
          padding-right: 0;
        }
        .info {
          color: #989898;
          .element {
            padding-right: 15px;
          }
        }

        .new-one {
          font-size: 16px;
          padding: 3px 5px;
          border-radius: 5px;
          color: #FFFFFF;
          font-weight: bold;
          background-color: #6ee96d;
          margin-left: 10px;
        }
      }

      .actions {
        padding-top: 18px;
        padding-right: 8px;

        .action-control {
          width: 36px;
        }
        .show-checkbox {
          display: inline-block;
          margin: 12px 10px 18px 0;
          &:hover {
            color: #c1c2c4;
          }
          color: #eaebed;
          label {
            display: inline-block;
            cursor: pointer;
            position: relative;
            padding-left: 25px;
            padding-right: 15px;
            font-size: 13px;

            &:before {
              font: normal normal normal 46px/1 FontAwesome;
              content: "\f096";
              margin-right: 10px;
              position: absolute;
              left: 0;
              bottom: -22px;
            }
          }

          input[type=checkbox] {
            display: none;

            &:checked + label:before {
              font: normal normal normal 40px/1 FontAwesome;
              content: "\f046";
              color: #3299db;
            }
          }
        }

        button {
          background-color: #e04936;
          color: #FFFFFF;
          margin-right: 10px;
          &.blue {
            background-color: @recrutoid-blue;
          }
        }
      }

      &:hover {
        background-color: #FFFFFF;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .user-settings .offers-list {
    .heading {
      padding-top: 30px;
    }
  }
}

@media screen and (max-width: 495px) {
  .user-settings .offers-list {
    .heading {
      padding-bottom: 80px;
    }
  }
}

@media (min-width: 440px) {
  .user-settings .offers-list {
    .actions {
      width: 110px;
      .show-checkbox label {
        position: relative;
        top: 4px;
      }
    }
  }
}

@media (max-width: 600px) {
  .user-settings .offers-list {
    .informations {
      padding-left: 10px;
    }
    .img-inside-box {
      display: none;
    }

    .company-name {
      display: none;
    }

    .salary {
      display: none;
    }
  }
}

@media screen and (max-width: @screen-xs-max) {
  .myOffers-container {
    .sub-nav {
      display: none;
    }
  }
}

@media screen and (min-width: @screen-sm-min) {
  .myOffers-container {
    min-height: 408px;

    .pagination-container {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}

@media screen and (min-width: @screen-md-min) {
  .myOffers-container {
    min-height: 509px;
  }
}