.resume-views{
  margin-top: 8px;
  h3{
    margin-top: 0;
    font-size: 24px;
    color: #283b49;
    font-weight: bold;
  }

  .user-page {
    overflow: hidden;

    table {
      font-size: 14px;
      margin-bottom: 0;

      tr{

        &:nth-child(odd) {
          td {
            background: #f4f5f6;
          }

        }

        &.fresh {
          font-weight: 600;
        }
      }

      td {
        border-top: none !important;

        .fa {
          color: #df796d;
          padding: 0 5px;
        }
      }

      .date {
        color: #999;
        font-weight: normal;
      }
    }
  }
}

@media screen and (max-width: @screen-xs-max) {
  .resume-container {
    .sub-nav {
      display: none;
    }
  }

  .resume-views {
    .user-page {
      table {
        td:last-child {
          width: 12px;
          vertical-align: middle;
        }
        .date {
          color: #858688;
          font-weight: 400;
          font-size: 13px;
        }
        .circle {
          background-color: #5bc33c;
          border-radius: 12px;
          display: block;
          height: 12px;
          margin-left: 0px;
          vertical-align: middle;
          width: 12px;
        }
      }
    }
  }
}

@media screen and (min-width: @screen-sm-min) {
  .resume-views {
    min-height: 250px;

    .pagination-container {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}

@media screen and (min-width: @screen-md-min) {
  .resume-views {
    min-height: 450px;
  }
}





