<div class="resume-container" data-ng-controller="ResumeViewsController as resumeViews">
    <div ng-show="settings.newResumeViews > 0" class="sub-nav ng-fade">
        <button ng-click="resumeViews.markAllAsSeen()" class="btn btn-light-primary">{{'Mark_all_as_seen' | translate}} ({{settings.newResumeViews}})</button>
    </div>

    <div class="resume-views">
        <div class="alert alert-empty" data-ng-if="0 === settings.user.resumeViews.length">
            Your CV views list is empty
        </div>

        <div class="user-page" data-scroll-to="myOffersList" data-ng-if="resumeViews.views.length">
            <table class="table" >
                <tr data-ng-repeat="view in resumeViews.views | orderBy:'-date'" data-ng-class="{'fresh': !view.seen}">
                    <td>
                        <i class="fa fa-building-o"></i>
                        {{view.user.firstName || '- NO NAME -' | translate}}
                    </td>
                    <td class="text-right date">{{view.date | date : 'MM/dd/yyyy'}}</td>
                    <td class="text-right">
						<span ng-if="media != 'mobile'" ng-show="!view.seen" class="fresh-mark ng-scope">
							<span class="ng-scope">New</span>
						</span>
                        <div ng-if="media == 'mobile'" class="circle"></div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="pagination-container">
            <uib-pagination ng-class="{'hidden': media == 'mobile'}"
                            ng-model="resumeViews.currentPage"
                            ng-change="resumeViews.allowScroll = true"
                            ng-show="resumeViews.isPaginationNeeded()"
                            total-items="resumeViews.resultCount"
                            items-per-page="resumeViews.filter.size"
                            max-size="5"
                            boundary-links="true"
                            previous-text="&#xf053;" next-text="&#xf054;" first-text="&#xf053;&#xf053;" last-text="&#xf054;&#xf054;"
            ></uib-pagination>

            <uib-pagination ng-class="{'hidden': media != 'mobile'}"
                            ng-model="resumeViews.currentPage"
                            ng-change="resumeViews.allowScroll = true"
                            ng-show="resumeViews.isPaginationNeeded()"
                            total-items="resumeViews.resultCount"
                            items-per-page="resumeViews.filter.size"
                            max-size="1"
                            template-url="mobile.html"
                            previous-text="&#xf053;" next-text="&#xf054;" first-text="&#xf053;&#xf053;" last-text="&#xf054;&#xf054;"
            ></uib-pagination>
        </div>
    </div>

</div>