<div class="container job-seeker-carousel" data-ng-if="homeCarousel.carouselData.length && carouselInit" ng-class="{'for-company': app.isEmployer()}">
    <div class="row fade" ng-class="{'in' : carouselLoaded}">
        <slick ng-show="media != 'mobile'" settings="slickConfig" class="slide" ng-if="homeCarousel.carouselData.length">
            <div  class="seeker clickable" ng-repeat="slide in homeCarousel.carouselData">
                <div ng-show="homeCarousel.shouldDisplayOnDesktop($index) || homeCarousel.shouldDisplayOnTablet($index)" ng-click="app.isEmployer() ? homeCarousel.goToCVSearch() : homeCarousel.goToVacancySearch()" ng-mouseenter="btnHover = true" ng-mouseleave="btnHover = false" >
                    <div class="image search">
                        <img src="modules/home/100x100.png">
                        <div ng-class="app.isEmployer() ? 'image-blue':'image-red'">
                            <span ng-show="!btnHover" href="" > +{{number_slides}} </span>
                            <i ng-show="btnHover" class="fa fa-search"></i>
                        </div>
                    </div>
                    <div>
                        <p class="text-center margined">
							{{ app.isEmployer() ? 'CV' : 'Companies' | translate}}
                        </p>
                    </div>
                </div>
                <div ng-show="!homeCarousel.shouldDisplayOnDesktop($index) && !homeCarousel.shouldDisplayOnTablet($index)" ng-click="app.isEmployer() ? homeCarousel.showResume(slide.id) : homeCarousel.goToVacancySearch(slide.firstName)">
                    <div class="image" style="background-image: url({{slide.thumbnail}});"></div>
                    <div class="caption" ng-if="app.isEmployer()">
                        <p class="text-center margined">
                            <strong>{{slide.firstName}} {{slide.lastName}}</strong>
                        </p>
						<p class="text-center seeker-resume-title" data-ellipsis>
                            {{slide.resume.title}}
                        </p>
                        <!--<p class="text-center seeker-resume-title" data-ng-bind="slide.resume.title" data-ellipsis></p>-->
                    </div>
                    <div class="caption" ng-if="!app.isEmployer()">
                        <p class="text-center margined">
                            {{slide.firstName}}
                        </p>
                    </div>
                </div>
            </div>
        </slick>

        <slick ng-show="media == 'mobile'" settings="slickConfig" class="slide mobile" ng-if="homeCarousel.carouselData.length">
            <div ng-repeat="array in homeCarousel.carouselDataMobile" class="mobile-item">
                <div ng-click="app.isEmployer() ? homeCarousel.showResume(slide.id) : homeCarousel.goToVacancySearch(slide.firstName)" class="seeker clickable" ng-repeat="slide in array">
                    <div class="image" style="background-image: url({{slide.thumbnail}});"></div>
                    <div class="caption" ng-if="app.isEmployer()">
                        <p class="text-center margined">
                            <strong>{{slide.firstName}} {{slide.lastName}}</strong>
                        </p>
						<p class="text-center seeker-resume-title" data-ng-bind="slide.resume.title" data-ellipsis></p>
                    </div>
                    <div class="caption" ng-if="!app.isEmployer()">
                        <p class="text-center margined">
                            {{slide.firstName}}
                        </p>
                    </div>
                </div>
                <div ng-show="homeCarousel.shouldDisplayOnMobile($index)" ng-click="app.isEmployer() ? homeCarousel.goToCVSearch() : homeCarousel.goToVacancySearch()" class="seeker clickable">
                    <div class="image">
                        <img src="modules/home/100x100.png">
                        <div ng-class="app.isEmployer() ? 'image-blue':'image-red'">
                            <span href="" > +{{number_slides}} </span>
                        </div>
                    </div>
                    <div>
                        <p class="text-center margined">
                            {{ app.isEmployer() ? 'CV' : 'Companies' | translate}}
                        </p>
                    </div>
                </div>
            </div>
        </slick>
    </div>
</div>
<!--<div class="loader" ng-show="!carouselLoaded">-->
    <!--<h1>Loading</h1>-->
<!--</div>-->
<div ng-include="'modules/common/loader/loader.tpl.html'" class="carouselLoader" ng-show="!carouselLoaded"></div>
