.carousel{
    background: #fff;
    padding: 40px 0 50px 0;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #666;
    min-height: 338px;

    slick {
      display: block;
      margin-top: 40px;
      margin-bottom: 45px;
    }

    .carouselLoader {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -22.5px;
      margin-top: -22.5px;

      .loader-container {
        position: relative;
      }
    }

    .slick-prev,
    .slick-next {
      color: #b9bec7 !important;
      font-size: 30px;
      height: auto;
      z-index: 99;

      &:hover {
        color: #000;
      }

      &:before {
        display: none;
      }
    }
    .slick-prev {
      left: -10px;
      transition:600ms;
    }

    .slick-next {
      right: -10px;
      transition:600ms;
    }

    .slide {
      display: block;
      text-align: center;

      .seeker {
        display: inline-block;
        padding: 0 20px;
        outline: none !important;
        vertical-align: top;

        .caption {
          margin-left: -10px;
          margin-right: -10px;

          p:first-child {
            margin-bottom: 3px;
            strong {
              font-weight: 400;
            }
          }
          .seeker-resume-title {
            max-height: 40px;
            font-weight: 300;
          }
        }

        h4 {
          margin: 0;
          color: @recrutoid-blue;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        p {
          margin: 0;
          color: #666;
          overflow: hidden;
          text-overflow: ellipsis;

          &.margined {
            margin-top: 10px;
          }
        }

        .image-blue, .image-red{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 35%;
          overflow: hidden;
          span, .fa {
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-size: 20px;
            font-weight: bold;
            height: 28px;
            position: absolute;
            width: 100%;
            top: 50%;
            margin-top: -14px;
            color: #fff;
          }

          .fa {
            font-size: 35px;
            font-weight: normal;
          }
        }

        .image-blue {
          background: #369de0; /* Old browsers */
          background: -moz-linear-gradient(top,  #369de0 0%, #59bdfb 99%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  #369de0 0%, #59bdfb 99%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  #369de0 0%, #59bdfb 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#369de0', endColorstr='#59bdfb',GradientType=0 ); /* IE6-9 */
        }

        .image-red {
          background: #369de0; /* Old browsers */
          background: -moz-linear-gradient(top,  #e54a37 0%, #ff6b59 99%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  #e54a37 0%, #ff6b59 99%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  #e54a37 0%, #ff6b59 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#369de0', endColorstr='#ff6b59',GradientType=0 ); /* IE6-9 */
        }

        .image {
          position: relative;
          margin: 0 auto;
          margin-bottom: 15px;
          max-width: 120px;
          border-radius: 35%;
          overflow: hidden;

          background-position: center center;
          background-size: 100%;
          background-repeat: no-repeat;
          background-color: #e4e9ea;

          &:after {
            content: '';
            display: block;
            padding-top: 100%;
          }

          img {
            position: absolute;
            width: 100%;
            left: 0;
          }
        }

        &:hover {
          .image:not(.search) {
            opacity: 0.7;
          }
        }
      }
    }

    .slick-dots {
      bottom: -65px;

      button::before {
        font-size: 5px;
      }

      >li {
        margin: 0;
      }
    }

    .mobile {
      .seeker {
        width: 45%;
        height: 210px;
        padding: 30px;

        .caption {
          margin-left: -20px;
          margin-right: -20px;
        }
      }

      .slick-arrow {
        display: none !important;
      }

      .mobile-item {
        outline: none !important;
      }
    }

    @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
      .job-seeker-carousel {
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    @media (max-width: @screen-sm-max) {
      .slide {
        .seeker {
          p {
            font-size: 13px;
          }
        }
      }
    }

    @media (max-width: @screen-xs-max) {
      padding-bottom: 0px;
      padding-top: 10px;

      .slide {
        .seeker {
          p {
            font-size: 12px;
          }
        }
      }

      .slick-dots {
        bottom: -10px;
      }
    }

  @media (max-width: 370px) {

    .slide {
      .seeker {
        height: 50%;
        padding: 10%;
      }
    }
  }
}