body {
  font-family: 'Open Sans', sans-serif;
}

.modal-large .modal-dialog {
  max-width: 750px;
  width: auto;

  .modal-content {
    .modal-body {
      border-radius: 6px;
    }
  }
}

.logo {
  width: 122px;
}

.pointer {
  cursor: pointer;
}

.vacancy-modal {
  .checkbox-website-info {
    color: red;
  }
}

.modal-open .modal {
  overflow-y: scroll;
}

.jobseekers-carousel{
  padding:50px 0px;
}

.ui-select-bootstrap > .ui-select-match .btn {
    text-align: left !important;
}

.table-responsive > .table {
  tbody > tr > td {
    > span span.label.label-primary {
      font-size: 14px;
      font-weight: normal;
    }
    font-size: 16px;
    vertical-align: middle;
  }

  thead > tr > th.responsiveActions {
    min-width: 155px;
  }
}

.view-home {
  .slick-next, .slick-prev {
    top: 45%;
  }
  .job-seeker-carousel.for-company {
    .slick-next, .slick-prev {
      top: 40%;
    }
  }

  .ps-container > .ps-scrollbar-y-rail {
    opacity: 0.9;
  }

  .ui-select-container {
    .ui-select-toggle {
      .btn-link {
        height: auto;
        padding: 0;
        position: absolute;
        right: 33px;
        top: 16px;
      }
    }
  }

  .top-homepage-model {
    font-size: 16px;
    margin: 40px 0px 0px 0px;
    font-weight: 500;
    a {
      color: #abddfe;
      text-decoration: underline;
    }

    @media (max-width: @screen-sm-max) {
      font-size: 15px;
    }

  }
  .form-group {
    margin-bottom: 0px;
  }
  .first-home-select {
    .ui-select-container {
      border-top-left-radius: 10px !important;
      border-top-right-radius: 10px !important;
    }
  }
  .third-home-select {
    margin-bottom: 20px !important;
    .ui-select-container {
      border-bottom: 2px solid #3c7495 !important;
      border-bottom-left-radius: 10px !important;
      border-bottom-right-radius: 10px !important;
    }
  }

  .vacancies-list {
    padding: 0 80px;
    margin-top: 25px;

    .col-sm-6 {
      padding: 5px;
    }
    .vacancies-list-container {
      border: 1px solid #d1d7db;
      border-radius: 4px;
      padding: 15px;
      .vacancies-list-item {
        margin-bottom: 6px;
        @media screen and (max-width: @screen-sm-max) {
          text-align: center;
          overflow:hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        a {
          @media screen and (min-width: @screen-md-min) {
            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */
            display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
          }

          .vacancyTitle{
            color: #4c5359;

            @media screen and (min-width: @screen-md-min) {
              white-space:nowrap;
              overflow:hidden;
              text-overflow: ellipsis;
              display: inline-block;
            }
          }
          .cityName{
            color: #b6bbbf;
            padding-left: 8px;
            white-space: nowrap;

            @media screen and (max-width: @screen-sm-max) {
              display: none;
            }
          }
        }

        .vacancyTitle:hover {
          color: @recrutoid-blue;
        }
      }
    }

    .view-all-vacnancies-area {
      float: left;
      width: 100%;
      text-align: center;
      padding: 10px 0px;
      padding-bottom: 70px;
      box-shadow: 0px -50px 34px 0px #e4e9ea;
      background: #e4e9ea;
      position: relative;
      .view-all-vacnancies {
        color: @recrutoid-blue;
        font-size: 24px;
        cursor: pointer;

        &:hover {
          color: #0072bc;
        }

        .fa {
          font-weight: bold;
          margin-left: 10px;
        }
      }
    }
  }

  .workplace {
    padding-bottom: 100px;
    color: #fff;
    position: relative;
    box-shadow: inset 0 60px 50px -20px rgba(0,0,0,0.3);

    @media (max-width: @screen-xs-max) {
      padding-bottom: 0;
      .workplace-container {
        background: #285c7b;
        box-shadow: inset 0 60px 50px -20px rgba(0,0,0,0.3);
        .col-sm-6 {
          padding-top: 30px;
          padding-bottom: 30px;
          h2 {
            margin-top: 0 !important;
          }
          &.blue {
            background: #285c7b;
          }

          &.red {
            padding-top: 50px;
            padding-bottom: 50px;
            background: #8e372d;
          }
        }
      }
    }

    .form-group {
      @error-color: #f58073;

      .email {
        .fa {
          display: block;
          position: absolute;
          top: 30%;
          right: 38px;
        }
        .fa-check-circle {
          color: #5ec83e;
        }
        .fa-remove {
          color: @error-color;
        }
      }

      &.error {
        .value, .ui-select-placeholder {
          color: @error-color !important;
        }

        .ui-select-container {
          *::-webkit-input-placeholder {
            color: @error-color;
          }
          *:-moz-placeholder {
            /* FF 4-18 */
            color: @error-color;
          }
          *::-moz-placeholder {
            /* FF 19+ */
            color: @error-color;
          }
          *:-ms-input-placeholder {
            /* IE 10+ */
            color: @error-color;
          }

          input {
            color: @error-color;
          }
        }
      }
    }

    .generalFields h2 {
      margin-top: 50px;
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 10px;
      line-height: 35px;

      @media (max-width: @screen-sm-max) {
        font-size: 22px;
      }

      @media (max-width: @screen-xs-max) {
        font-size: 20px;
      }
    }

    .generalFields {
      .ui-select-container.email {
        border-width: 2px !important;
        input {
          padding-right: 45px;
        }
      }
    }

    .hide-options {
      .ui-select-dropdown, input {
        display: none;
      }

      .ui-select-match {
        padding-bottom: 17px;
      }
    }

    .isValue .ui-select-container {
      padding-left: 45px;

      .ui-select-match {
        display: inline-block;
        padding-top: 16px;
        padding-right: 20px;
        position: relative;
        z-index: 100;
      }

      input {
        padding-left: 0;
        padding-bottom: 17px;
        height: 100%;
      }
    }

    .ui-select-container {
      background-color: transparent;
      color: #fff;
      border-radius: 0px;
      border-top: 2px solid;
      border-left: 2px solid;
      border-right: 2px solid;
      border-bottom: 0px solid;
      padding: 0;
      height: 52px;

      &.red {
        border-color: #a54c41 !important;

        ::-webkit-input-placeholder {
          color: #ebe1e0;
        }

        :-moz-placeholder {
          /* Firefox 18- */
          color: #ebe1e0;
          opacity: 1;
        }

        ::-moz-placeholder {
          /* Firefox 19+ */
          color: #ebe1e0;
          opacity: 1;
        }

        :-ms-input-placeholder {
          color: #ebe1e0;
        }

        .ui-select-toggle {
          .ui-select-placeholder {
            color: #ebe1e0;
          }
        }
      }

      &.blue {
        border-color: #3c7495 !important;

        ::-webkit-input-placeholder {
          color: #e0e5e9;
        }

        :-moz-placeholder {
          /* Firefox 18- */
          color: #e0e5e9;
          opacity: 1;
        }

        ::-moz-placeholder {
          /* Firefox 19+ */
          color: #e0e5e9;
          opacity: 1;
        }

        :-ms-input-placeholder {
          color: #e0e5e9;
        }

        .ui-select-toggle {
          .ui-select-placeholder {
            color: #e0e5e9;
          }
        }
      }

      &:focus, &:hover {
        outline: none;
        box-shadow: none;
      }


      input {
        width: 100% !important;
        height: 50px;
        background-color: transparent;
        font-weight: 600;
        border-style: none;
        position: relative;
        z-index: 100;
        padding-left: 45px;
        color: #fff;
        border-bottom: none;
        max-width: 100%;
        border-bottom: 1px solid transparent !important;

        &:focus, &:active {
          border: none;
          outline: none;
          box-shadow: none;
        }
      }

      input:-webkit-autofill,
      select:-webkit-autofill {
        background-color: transparent;
      }

      .ui-select-toggle {
        background: transparent none;
        color: #fff;
        outline: none;
        border: none;
        box-shadow: none;
        font-weight: 600;
        text-shadow: none;
        padding: 0 0 0 45px;
        cursor: text;
        height: 50px;
        transition: border .01s;

        .ui-select-placeholder, .ui-select-match-text {
          position: absolute;
          top: 30%;
        }
        .ui-select-match-text {
          color: #fff;
        }
      }

      .ui-select-match-item {
        background: transparent none;
        border: none;
        box-shadow: none;
        font-size: 14px;
        text-shadow: none;
        text-align: left;
        white-space: normal;
        color: #fff;
        cursor: default;
        font-weight: bold;

        &:focus, &:active {
          outline: none;
        }

        .close {
          font-size: 1.2em;
          text-shadow: none;
          color: #fff;

          &:focus, &:hover {
            color: #fff;
            opacity: 1;
          }
        }
      }

      .ui-select-match .btn-default-focus ,
      .ui-select-match.btn-default-focus {
        background-color: transparent;
        border-color: transparent;
        outline: none;
        box-shadow: none;
      }

      .caret {
        display: block;
        border: 0px;
        height: auto;
        width: auto;
        position: absolute;
        top: auto;
        right: auto;
      }
      .caret:before {
        content: '\f107';
        font: normal normal normal 25px/1 FontAwesome;
        /*top: 13px;
        right: 18px;*/
        cursor: pointer;
      }

      &.bars {
        &:before {
          font: normal normal normal 16px/1 FontAwesome;
          content: '\f0c9';
          position: absolute;
          top: 34%;
          left: 19px;
        }
      }

      &.marker {
        &:before {
          font: normal normal normal 16px/1 FontAwesome;
          content: '\f041';
          position: absolute;
          top: 34%;
          left: 21px;
        }
      }

      &.email {
        &:before {
          font: normal normal normal 16px/1 FontAwesome;
          content: '\f0e0';
          position: absolute;
          top: 19px;
          left: 35px;
        }
      }

      /*&.bars, &.marker {
        &:after {
          font: normal normal normal 25px/1 FontAwesome;
          content: '\f107';
          position: absolute;
          top: 13px;
          right: 18px;
        }
      }

      &.marker-salary {
        &:after {
          font: normal normal normal 25px/1 FontAwesome;
          content: '\f107';
          position: absolute;
          top: 13px;
          right: 18px;
        }
      }*/
      &.marker-salary {
        &:before {
          font: normal normal normal 16px/1 FontAwesome;
          content: '\f012';
          position: absolute;
          top: 34%;
          left: 18px;
        }
      }
      &.bars, &.marker, &.marker-salary {
        i.fa-caret2 {
          font: normal normal normal 25px/1 FontAwesome;
          position: absolute;
          top: 14px;
          right: 18px;
          cursor: pointer;
          z-index: 2;
        }
      }
    }

    &:after {
      content: "";
      background: url("/modules/home/home.jpg") no-repeat #2c6684;
      background-position: center;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
    }

    div.styled,
    div.styled2 {
      color: #fff;
      border: 2px solid #fff;
      font-size: 18px;
    }

    .radioInterval {
      padding-top: 18px;

      label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 23px;
        margin-right: 15px;
        font-size: 14px;
        font-weight: normal;
        color: #abb9c4;

        &:before {
          font: normal normal normal 18px/1 FontAwesome;
          content: "\f10c";
          margin-right: 10px;
          position: absolute;
          left: 0;
          bottom: 1px;
          color: #3b8bbd;
        }
      }

      input[type=radio] {
        display: none;
        &:checked + label {
          color: #fff;
          &:before {
            font: normal normal normal 18px/1 FontAwesome;
            content: "\f192";
            color: #4ebaff;
          }
        }
      }
    }

    .dropdown-checkbox {
      border-radius: 0px;
      width: 100%;
      position: relative;
      padding-left: 45px;

      .value {
        overflow: hidden;
        height: 50px;
        line-height: 50px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
      }

      .drop-list {
        position: absolute;
        height: 200px;
        overflow: hidden;
        visibility: hidden;
        background-color: #fff;
        color: @recrutoid-dark;
        z-index: 999;
        font-size: 14px;
        padding: 6px 0;

        border-radius: 5px;
        left: 0;
        width: 100%;

        .item {
          padding: .5ex 1em;
          margin-right: 15px;
          cursor: pointer;

          &.active {
            color: @recrutoid-blue;
          }

          &:hover {
            background-color: #edf1f2;
            color: @recrutoid-blue;
          }

          + .item {
            border-top: none;
          }
        }
      }

      > div {
        &.open {
          .drop-list {
            visibility: visible;
          }
        }
      }

    }
  }

  .strips {
    padding-bottom: 40px;

    div {
      width: 49%;
      height: 4px;
    }
  }

  .strips div:first-child {
    float: left;
    background: @recrutoid-blue;
  }

  .strips div:last-child {
    float: right;
    background: @recrutoid-red;
  }

  .btn-vacancy, .btn-distribute {
    background: #e54a37 none repeat scroll 0 0;

    &.btnDisabled {
      background: #ae3e30;
      color: #bb8781;
    }
  }

  .btn-cv, .button-recrudoid.btn-subscribe {
    background: #339bdd none repeat scroll 0 0;
    margin-top: 0;

    &.btnDisabled {
      background: #2c75a2;
      color: #7e9db0;
    }
  }

  .btn-vacancy, .btn-cv {
    border: medium none;
    border-radius: 3px;
    color: #fff;
    padding: 9px 20px;
    text-align: center;
    margin-top: 30px;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    line-height: 14px;
    font-stretch: normal;
    font-variant: normal;
  }

  .button-recrudoid {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    text-align: center;
    padding: 14px 20px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    /*margin-top: 20px;*/
    display: inline-block;
    text-decoration: none;
    line-height: 23px;
  }

  button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    text-align: center;
    padding: 14px 20px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    line-height: normal;
  }

  .job-search-vac {

    &.for-company {
      background-color: #fff;
    }

    h2 {
      font-weight: bold;
      font-size: 40px;
      font-family: 'Open Sans', Arial, sans-serif;
    }

    div.styled2 {
      width: 40.5%;
      border-right: none;
    }

    h3 span.mainPageNumber {
      font-weight: bold;
      color: #ff4545;
      margin-top: 40px;
    }

    h3.mainSiteSubTitle {
      color: #98a0ab;
      margin-bottom: 30px;
      font-size: 20px;

      @media (max-width: @screen-xs-max) {
        font-size: 17px;
      }
    }
    .categories-padding-else {
      padding-top: 30px;
      padding-bottom: 8px;
    }
    .categories-padding {
      padding-top: 30px;
      padding-bottom: 50px;

      hr {
        margin: 6px 0;
      }
    }

    .mainSiteTitle {
      margin-top: 70px;
      margin-bottom: 0;
      color: @recrutoid-dark;

      @media (max-width: @screen-xs-max) {
        font-size: 26px;
      }
    }

    .categoriesRows {
      -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */
      column-count: 3;
      -webkit-column-width: 150px;
      -moz-column-width: 150px;
      column-width: 150px;
      -moz-column-fill: auto;
      column-fill: auto;
    }

    a:hover, a:visited:hover, a:active:hover {
      text-decoration: none;
      /*border-bottom: 1px dotted #0d699c;*/
    }
    .jobsearch-area {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d1e2ea+0,e5e9ec+56,e5e9ec+100 */
      background: #d1e2ea; /* Old browsers */
      background: -moz-linear-gradient(top, #d2e1e8 0%, #e4e9ea 20%, #e4e9ea 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #d2e1e8 0%, #e4e9ea 20%, #e4e9ea 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #d2e1e8 0%, #e4e9ea 20%, #e4e9ea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1e2ea', endColorstr='#e5e9ec', GradientType=0); /* IE6-9 */

    }

    .box-small {
      vertical-align: baseline;
      width: 100%;
      margin: 10px auto;
      border: 1px solid #83b7d9;
      border-radius: 5px;
      background-color: #fff;
      padding: 2px 50px 2px 0px;
      position: relative;
      height: 45px;

      .ui-select-container {
        position: relative;
        margin-bottom: 0px;
        background-color: #fff;
        color: @recrutoid-lightgrey;
        padding: 0;
        height: 100%;

        &:first-of-type {
          border-radius: 4px 0 0 4px;
          border-right: 2px solid #dadde0;
        }

        &:last-of-type {
          border-radius: 0 4px 4px 0;
          border-left: 2px solid #dadde0;
        }

        &:focus, &:hover {
          outline: none;
          box-shadow: none;
        }

        ::-webkit-input-placeholder {
          color: #aaa;
          font-weight: normal;
        }

        :-moz-placeholder {
          /* Firefox 18- */
          color: #aaa;
          font-weight: normal;
          opacity: 1;
        }

        ::-moz-placeholder {
          /* Firefox 19+ */
          color: #aaa;
          font-weight: normal;
          opacity: 1;
        }

        :-ms-input-placeholder {
          color: #aaa;
          font-weight: normal;
        }

        input {
          width: 100%; // !important;
          height: 40px;
          background-color: transparent;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          border: 0px none;
          position: relative;
          z-index: 9;
          padding-left: 46px;
          color: #000;

          &:focus, &:active {
            border: none;
            outline: none;
            box-shadow: none;
          }
        }

        .ui-select-toggle {
          background: transparent none;
          color: #000;
          outline: none;
          border: 0px none;
          box-shadow: none;
          font-weight: normal;
          text-shadow: none;
          height: 40px;
          padding: 0 0 0 46px;
          cursor: text;
          transition: border .01s;

          .ui-select-placeholder {
            color: #aaa;
            line-height: 18px;
            position: absolute;
            top: 30%;
          }

          .ui-select-match-text {
            color: #000;
            position: absolute;
            top: 30%;
            display: inline-block;
            max-width: calc(~'100% - 90px');
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .btn-link {
            position: absolute;
            top: 12px !important;
            right: 33px;
            height: auto;
            padding: 0px;

            .glyphicon-remove {
              font-size: 13px;
            }
          }
        }

        .ui-select-match.btn-default-focus {
          background-color: transparent;
          border-color: transparent;
          outline: none;
          box-shadow: none;
        }

        .caret {
          border: 0px;

          display: inline-block;
          line-height: 1;
          font: normal normal normal 14px/1 FontAwesome;
          color: @recrutoid-blue;
          height: auto;
          width: auto;
          margin-top: 0px;
          top: 33%;
          right: 20px;
          cursor: pointer;

          &.up {
            content: "\f077";
          }
          &:before {
            content: "\f078";
          }
        }

        &.suitcase {
          &:before {
            font: normal normal normal 16px/1 FontAwesome;
            content: '\f0b1';
            position: absolute;
            top: 13px;
            left: 20px;
            color: #c3c7c9;
          }
        }

        &.bars {
          &:before {
            font: normal normal normal 16px/1 FontAwesome;
            content: '\f0c9';
            position: absolute;
            top: 13px;
            left: 20px;
            color: #c3c7c9;
          }
        }

        &.marker {
          &:before {
            font: normal normal normal 16px/1 FontAwesome;
            content: '\f041';
            position: absolute;
            top: 13px;
            left: 20px;
            color: #c3c7c9;
          }
        }
      }

      .btn-search {
        width: 50px;
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        border-radius: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 0;
        background: #e54a37;
        outline: 0 !important;

        &:hover {
          background: #ff5856;
        }
      }

      .ui-select-choices {
        top: auto !important;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
        border: 1px solid #d4dce1;
        border-radius: 4px;
      }
    }
  }

  @media (max-width: @screen-sm-max) {
    .job-search-vac {
      .box-small {
        .ui-select-container {
          margin-bottom: 0px;
        }
      }
    }
  }

  @media (min-width: @screen-sm) {
    .job-seeker-carousel.for-company {
      padding-bottom: 22px;
    }

    .job-search-vac {
      &.for-company {
        padding-bottom: 40px;
      }

      .box-small {
        .ui-select-container {
          float: left;
          width: 33.33333%;
        }
      }
    }
  }

  @media (max-width: @screen-xs-max) {
    .slick-list {
      padding-bottom: 20px;
    }

    .job-seeker-carousel {
      max-width: 500px;
    }

    .btn-distribute {
      margin: 0 auto;
      display: block;
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
    }
    .btn-distribute,
    .btn-subscribe {
      font-size: 18px;
    }

    .distributeButton > div {
      padding-left: 25px;
      padding-right: 25px;
    }

    .workplace {
      .workplace-container {
        .row-actions > div {
          padding-top: 0px;
          padding-bottom: 0px;

          &.radioInterval{
            padding-top: 15px;
            padding-right: 5px;
          }
        }
      }
    }

    .job-search-vac {
      .box-small {
        border-radius: 5px;
        border: 1px solid #83b7d9;
        padding: 0px 5px;
        background-color: #fff;
        height: 180px;

        .ui-select-container {
          margin-bottom: 0px;
          border-width: 0px 0px 2px 0px;
          border-color: #dadde0;
          border-style: solid;
          height: 45px;

          &:first-of-type {
            border-radius: 0px;
            border-right: 0px none;
          }

          &:last-of-type {
            border-radius: 0px;
            border: 0px none;
          }

          &.suitcase,
          &.bars {
            &:before {
              left: 10px;
            }
          }
          &.marker {
            &:before {
              left: 12px;
            }
          }

          input,
          .ui-select-toggle {
            padding-left: 40px;
          }
        }

        .btn-search {
          width: 100%;
          position: absolute;
          height: 45px;
          bottom: 0;
          top: auto;
          border-radius: 0 0 4px 4px;
        }
      }
    }

    .vacancies-list {
      padding: 0;
    }

    .news-boxes {
      padding-top: 25px;
      padding-bottom: 40px;

      .newsBox {
        padding-bottom: 10px;
      }
    }
  }

  @media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .vacancies-list {
      .col-sm-9 {
        position: relative;
        left: 20px;
      }
    }
  }

}


