<div data-ng-include="'modules/common/userMenu/userMenu.tpl.html'"></div>
<div class="view-home" ng-hide="app.navMenuActive">
    <div class="workplace">
        <span data-ng-if="!AddVacancyCtrl.showEmail">
            <style>
                .third-select-modal .ui-select-container{
                    border-bottom:2px solid #fff !important;
                    border-bottom-left-radius: 10px !important;
                    border-bottom-right-radius: 10px !important;
                }
                .third-select-modal{
                    margin-bottom: 20px !important;
                }

            </style>
        </span>
        <div class="container workplace-container">
            <div>
                <div class="row top-homepage-model">
                    <div class="col-xs-12 text-center" ng-if="!app.isEmployer()">
                        <a href="#" ng-click="home.onCreateCVClick()" data-translate>Create</a> <span data-translate>a_CV_in_two_clicks_on_our_website!</span>
                    </div>
                    <div class="col-xs-12 text-center" ng-if="!app.isJobSeeker()">
                        <a href="#" ng-click="home.onPublishClick()" data-translate>Publish</a> <span data-translate>your_offers_on_our_website_and_get_access_to</span> <a href="#" ng-click="home.onCVDatabaseClick()" data-translate>CV_database!</a>
                    </div>
                </div>
            </div>
            <div class="row generalFields">
                <div class="col-sm-6 col-md-5 blue" data-ng-controller="AddSubscriptionCtrl as subCtrl">
                    <form data-ng-submit="subCtrl.addSubscriber()">
                        <!--<a class="btn-cv" data-ng-click="home.createCV()" data-translate>Create_CV_And_Let_Employers_See_You</a>-->

                        <h2 data-translate>Subscribe_And_Receive_Vacancies_To_Email</h2>

                        <div class="row form-group first-home-select" ng-class="{'error':subCtrl.errors.category}">
                            <div class="col-xs-12"
                                 data-ng-class="{'hide-options': 2 < subCtrl.selectedCategories.length, 'isValue': 0 < subCtrl.selectedCategories.length}">
                                <div ui-select-perfect-scrollbar class="bars blue ui-select-container  ui-select-multiple ui-select-bootstrap dropdown form-control"
                                     data-placeholder="{{'Select_Up_To_Three_Categories'|translate}}" data-dropdown-checkbox data-all-items="home.categoriesForSubscription"
                                     data-max="3" data-select-name="Category" data-ng-model="subCtrl.selectedCategories"></div>
                            </div>
                        </div>

                        <div class="row form-group" ng-class="{'error':subCtrl.errors.city}">
                            <div class="col-xs-12">
                                <ui-select ui-select-perfect-scrollbar class="marker blue  " data-ng-model="subCtrl.selectedCity" ng-change="subCtrl.errors = {}" theme="bootstrap" required>
                                    <ui-select-match placeholder="{{'Select_City'|translate}}">{{ $select.selected.name | translateDomain }}</ui-select-match>
                                    <ui-select-choices repeat="city in home.citiesForSubscription | filter:$select.search">
                                        {{ city.name | translateDomain }}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="row form-group third-select-modal" ng-class="{'error':subCtrl.errors.salaryRange}">
                            <div class="col-xs-12">
                                <ui-select class="marker-salary blue" data-ng-model="subCtrl.selectedSalaryRange" ng-change="subCtrl.errors = {}" theme="bootstrap" required>
                                    <ui-select-match placeholder="{{'Salary_Expectations'|translate}}">{{ $select.selected.name | translateDomain }}</ui-select-match>
                                    <ui-select-choices repeat="salaryRange in home.salaryRangesForSubscription | filter:$select.search">
                                        {{ salaryRange.name | translateDomain }}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="row form-group fourth-select-modal" ng-if="!app.isLoggedIn()" ng-class="{'error':subCtrl.errors.email}">
                            <style>
                                .fourth-select-modal .ui-select-container{
                                    border-bottom:1px solid #fff !important;
                                    border-bottom-left-radius: 10px !important;
                                    border-bottom-right-radius: 10px !important;
                                    margin-bottom: 20px;
                                }
                                .third-select-modal{
                                    margin-bottom: 0px !important;
                                }
                                .third-select-modal .ui-select-container{
                                    margin-bottom: 0px !important;
                                    border-bottom: 0px !important;
                                    border-bottom-left-radius: 0 !important;
                                    border-bottom-right-radius: 0 !important;
                                }
                            </style>
                            <div class="col-xs-12">
                                <div class="ui-select-container email blue">
                                    <i class="fa fa-remove" ng-if="subCtrl.errors.email" ></i>
                                    <i class="fa fa-check-circle" ng-if="subCtrl.isEmailValid()"></i>
                                    <input type="email" data-ng-model='subCtrl.subscription.email' ng-change="subCtrl.errors = {}" ng-model-options="{debounce: 500}"  placeholder="{{'Email'|translate}}">
                                </div>
                            </div>
                        </div>

                        <div class="row row-actions missing-padding">
                            <div class="col-xs-4 col-sm-6 col-md-5">
                                <button type="submit" id="submit" class="button-recrudoid btn-subscribe" ng-class="{'btnDisabled':!subCtrl.isFormValid()}" data-translate>
                                    Subscribe
                                </button>
                            </div>
                            <div class="col-xs-8 col-sm-6 col-md-7 radioInterval">
                                <input id="interval-weekly" type="radio" data-ng-model="subCtrl.subscription.interval" value="weekly">
                                <label class="pull-right" for="interval-weekly" data-translate>Weekly</label>
                                <input id="interval-daily" type="radio" data-ng-model="subCtrl.subscription.interval" value="daily">
                                <label class="pull-right" for="interval-daily" data-translate>Daily</label>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-sm-6 col-md-5 col-md-offset-2 red" data-ng-controller="AddVacancyCtrl as AddVacancyCtrl">
                    <!--<a class="btn-vacancy pull-right hidden-xs clickable" data-ng-click="home.postVacancy()" data-translate>
                        Post_Vacancy_And_Access_Our_CV_Database
                    </a>

                    <a class="btn-vacancy hidden-lg hidden-md hidden-sm clickable" data-ng-click="home.postVacancy()" data-translate>
                        Post_Vacancy_And_Access_Our_CV_Database
                    </a>-->

                    <h2 class="pull-right text-right hidden-xs" data-translate>Distribute_Your_Vacancy_To_All_Subscribers</h2>
                    <h2 class="hidden-lg hidden-md hidden-sm" data-translate>Distribute_Your_Vacancy_To_All_Subscribers</h2>

                    <form data-ng-submit="AddVacancyCtrl.addVacancy()">
                        <div class="row form-group first-home-select" ng-class="{'error':AddVacancyCtrl.errors.category}">
                            <div class="col-xs-12"
                                 data-ng-class="{'hide-options': 1 < AddVacancyCtrl.selectedCategories.length, 'isValue': 0 < AddVacancyCtrl.selectedCategories.length}">
                                <div ui-select-perfect-scrollbar class="bars red ui-select-container  ui-select-multiple ui-select-bootstrap dropdown form-control"
                                     data-placeholder="{{'Select_Category'|translate}}" data-dropdown-checkbox data-all-items="home.categories" data-max="1"
                                     data-select-name="Category" data-ng-model="AddVacancyCtrl.selectedCategories"></div>
                            </div>
                        </div>

                        <div class="row form-group" ng-class="{'error':AddVacancyCtrl.errors.city}">
                            <div class="col-xs-12">
                                <ui-select ui-select-perfect-scrollbar class="marker  red" ng-change="AddVacancyCtrl.errors = {}" data-ng-model="AddVacancyCtrl.selectedCity" theme="bootstrap">
                                    <ui-select-match placeholder="{{'Select_City'|translate}}">{{ $select.selected.name | translateDomain}}</ui-select-match>
                                    <ui-select-choices repeat="city in home.cities | filter:$select.search">
                                        {{ city.name | translateDomain}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="row form-group third-select-modal" ng-class="{'error':AddVacancyCtrl.errors.salaryRange}">
                            <div class="col-xs-12">
                                <ui-select ng-change="AddVacancyCtrl.errors = {}" class="marker-salary red" data-ng-model="AddVacancyCtrl.selectedSalaryRange" theme="bootstrap" required>
                                    <ui-select-match placeholder="{{'Salary_Range'|translate}}">{{ $select.selected.name | translateDomain }}</ui-select-match>
                                    <ui-select-choices repeat="salaryRange in home.salaryRanges | filter:$select.search">
                                        {{ salaryRange.name | translateDomain }}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="row form-group fourth-select-modal" ng-if="!app.isLoggedIn()" ng-class="{'error':AddVacancyCtrl.errors.email}">
                            <div class="col-xs-12">
                                <div class="ui-select-container email red">
                                    <i class="fa fa-remove" ng-if="AddVacancyCtrl.errors.email" ></i>
                                    <i class="fa fa-check-circle" ng-if="AddVacancyCtrl.isEmailValid()"></i>
                                    <input type="email" data-ng-model="AddVacancyCtrl.package.vacancy.email" ng-change="AddVacancyCtrl.errors = {}" ng-model-options="{debounce: 500}"  placeholder="{{'Email'|translate}}">
                                </div>
                            </div>
                        </div>

                        <div class="row distributeButton pull-right missing-padding hidden-xs">
                            <div class="col-xs-12">
                                <button class="button-recrudoid btn-distribute" ng-class="{'btnDisabled':!AddVacancyCtrl.isFormValid()}" data-translate>
                                    Add_Vacancy_And_Distribute
                                </button>
                            </div>
                        </div>

                        <div class="row distributeButton missing-padding hidden-lg hidden-md hidden-sm">
                            <div class="col-xs-12">
                                <button class="button-recrudoid btn-distribute" ng-class="{'btnDisabled':!AddVacancyCtrl.isFormValid()}" data-translate>
                                    Add_Vacancy_And_Distribute
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="job-search-vac for-company" ng-if="app.isEmployer()">
        <div class="container" >
            <form class="row" data-ng-submit="home.doSearch(app.isEmployer())">
                <div class="col-xs-12">
                    <h2 class="text-center mainSiteTitle" data-translate>Job_Search_And_Hiring_In_Kazakhstan</h2>
                </div>
                <div class="col-xs-12">
                    <h3 class="text-center mainSiteSubTitle">
                        <span class="mainPageNumber">{{ home.vacanciesCount}}</span> <span data-translate>Vacancies_And</span>
                        <span class="mainPageNumber">{{ home.usersCount }}</span> <span data-translate>Job_Seekers_Are_Waiting_For_You</span>
                    </h3>
                </div>
                <div class="col-xs-12">
                    <div class="box-small">
                        <div class="ui-select-container typeahead-container home-typeahead-container suitcase">
                            <input placeholder="{{'CV_title'|translate}}" 
                                   class="shortened-field"
                                   data-ng-model="home.search.title"
                                   data-ng-blur="suggestionsHandler.onBlur($event)"
                                   ng-show="!suggestionsHandler.shouldShorten()"
                                   uib-typeahead="suggestion for suggestion in 
                                   suggestionsHandler.fetchCVSuggestions($viewValue)"
                                   typeahead-append-to-body="true"
                                   typeahead-focus-first="false"
                                   typeahead-focus-on-select="true"
                                   typeahead-on-select="suggestionsHandler.updateShortened()"
                                   />
                            <input placeholder="{{'CV_title'|translate}}"  
                                   data-ng-focus="suggestionsHandler.onFocus($event)"
                                   ng-show="suggestionsHandler.shouldShorten()"
                                   ng-model="home.shortenedTitle"
                                   class="shorting-field"
                                   />      

                            <a 
                                data-ng-show="home.search.title"
                                data-ng-click="suggestionsHandler.clear('title', 'search');"
                                class="btn btn-xs btn-link clearbtn">
                                <i class="glyphicon glyphicon-remove" aria-hidden="true">
                                </i>
                            </a>
                        </div>
                        <ui-select ui-select-perfect-scrollbar class="bars " data-ng-model="home.selectedCategory" theme="bootstrap">
                            <ui-select-match placeholder="{{'Category'|translate}}" allow-clear="true">{{ $select.selected.name | translateDomain }}
                            </ui-select-match>
                            <ui-select-choices repeat="category in home.categories | filter:$select.search">
                                {{ category.name | translateDomain }}
                            </ui-select-choices>
                        </ui-select>
                        <ui-select ui-select-perfect-scrollbar class="marker " data-ng-model="home.selectedCity" theme="bootstrap">
                            <ui-select-match placeholder="{{'City'|translate}}" allow-clear="true">{{ $select.selected.name | translateDomain }}</ui-select-match>
                            <ui-select-choices repeat="city in home.cities | filter:$select.search">
                                {{ city.name | translateDomain }}
                            </ui-select-choices>
                        </ui-select>
                        <button class="btn-search"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="carousel" home-carousel></div>



    <div class="job-search-vac" ng-if="!app.isEmployer()">
        <div class="jobsearch-area">
            <div class="container">
                <form class="row" data-ng-submit="home.doSearch()">
                    <div class="col-xs-12">
                        <h2 class="text-center mainSiteTitle" data-translate>Job_Search_And_Hiring_In_Kazakhstan</h2>
                    </div>
                    <div class="col-xs-12">
                        <h3 class="text-center mainSiteSubTitle">
                            <span class="mainPageNumber">{{ home.vacanciesCount}}</span> <span data-translate>Vacancies_And</span>
                            <span class="mainPageNumber">{{ home.usersCount }}</span> <span data-translate>Job_Seekers_Are_Waiting_For_You</span>
                        </h3>
                    </div>
                    <div class="col-xs-12">
                        <div class="box-small clearfix">
                            <div class="ui-select-container typeahead-container home-typeahead-container suitcase">
                                <input placeholder="{{'Vacancy_Or_Company_Title'|translate}}" 
                                       class="shortened-field"
                                       data-ng-model="home.search.title" 
                                       data-ng-blur="suggestionsHandler.onBlur($event)"
                                       ng-show="!suggestionsHandler.shouldShorten()"
                                       maxlength="60"
                                       uib-typeahead="suggestion for suggestion in 
                                       suggestionsHandler.fetchVacancySuggestions($viewValue)"
                                       typeahead-append-to-body="true"
                                       typeahead-focus-first="false"
                                       typeahead-focus-on-select="true"
                                       typeahead-on-select="suggestionsHandler.updateShortened()"
                                       />

                                <input placeholder="{{'Vacancy_Or_Company_Title'|translate}}"  
                                       data-ng-focus="suggestionsHandler.onFocus($event)"
                                       ng-show="suggestionsHandler.shouldShorten()"
                                       ng-model="home.shortenedTitle"
                                       class="shorting-field"
                                       />    

                                <a 
                                    data-ng-show="home.search.title"
                                    data-ng-click="suggestionsHandler.clear('title', 'search');"
                                    class="btn btn-xs btn-link clearbtn">
                                    <i class="glyphicon glyphicon-remove" aria-hidden="true">
                                    </i>
                                </a>
                            </div>
                            <ui-select ui-select-perfect-scrollbar class="bars " data-ng-model="home.selectedCategory" theme="bootstrap">
                                <ui-select-match placeholder="{{'Category'|translate}}" allow-clear="true">{{ $select.selected.name | translateDomain }}
                                </ui-select-match>
                                <ui-select-choices repeat="category in home.categories | filter:$select.search">
                                    {{ category.name | translateDomain }}
                                </ui-select-choices>
                            </ui-select>
                            <ui-select ui-select-perfect-scrollbar class="marker " data-ng-model="home.selectedCity" theme="bootstrap">
                                <ui-select-match placeholder="{{'City'|translate}}" allow-clear="true">{{ $select.selected.name | translateDomain }}</ui-select-match>
                                <ui-select-choices repeat="city in home.cities | filter:$select.search">
                                    {{ city.name | translateDomain }}
                                </ui-select-choices>
                            </ui-select>
                            <button class="btn-search"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <div class="row vacancies-list">
                    <div ng-class="media == 'desktop' ? 'col-sm-6' : 'col-sm-10 col-sm-offset-1'">
                        <div class="vacancies-list-container">
                            <div class="vacancies-list-item" data-ng-repeat="elem in home.resultData[0]">
                                <a href="{{elem.link}}">
                                    <span class="vacancyTitle">
                                        {{ elem.displayingTitle }}
                                    </span>
                                    <span class="cityName">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> {{elem.cityId.name | translateDomain}}
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 hidden-sm hidden-xs">
                        <div class="vacancies-list-container">
                            <div class="vacancies-list-item" data-ng-repeat="elem in home.resultData[1]">
                                <a href="{{elem.link}}">
                                    <span class="vacancyTitle">
                                        {{ elem.displayingTitle }}
                                    </span>
                                    <span class="cityName">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> {{elem.cityId.name | translateDomain}}
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="view-all-vacnancies-area">
                        <a href="/vacancies" class="text-center view-all-vacnancies">
                            <span data-translate>View_all_vacancies</span>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div news-boxes="home.news"></div>

</div>
<div data-ng-include="'modules/common/userFooter/footer.tpl.html'"></div>