.recrutoid-newsbox-window {
  .modal-dialog {
    max-width: 748px;

    .modal-content {
      margin: 10px;
    }

    .modal-header {
      padding: 0;
      position: relative;

      .news-box-image {
        background-size: cover;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      h2.title-header {
        display: none;
        position: absolute;
        bottom: 30px;
        left: 40px;
        color: #fff;
        font-size: 38px;
        font-family: 'Roboto Slab', serif;
        margin-right: 40px;
      }
    }

    .modal-body {
      padding: 30px;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      color: #25384a;

      h2.title-body {
        font-size: 22px;
        font-family: 'Roboto Slab', serif;
        margin-top: 0;
        font-weight: 600;
        margin-bottom: 37px;
      }

      & * {
        color: inherit !important;
      }
    }

    @media (min-width: 789px) {
      h2.title-body {
        display: none;
      }
      h2.title-header {
        display: block !important;
      }
    }

    .newsbox-close {
      width: 40px;
      height: 40px;
      background: #2d88c1;
      border-radius: 20px;
      color: #fff;
      padding: 9px;
      text-align: center;
      cursor: pointer;

      position: absolute;
      right: -8px;
      bottom: -20px;
      z-index: 2;

      &:hover {
        background: #046bb6;
      }
    }

    @media (min-width: 789px) {
      .newsbox-close {
        right: -20px;
      }
    }

    .modal-content {
      border: none !important;
      border-radius: 5px;

    }
  }
}

@media(max-width: 360px) {
  .recrutoid-newsbox-window {
    .modal-dialog {
      max-width: calc(~'100vw - 20px');
    }
  }
}

@media (min-width: 768px) {
  .recrutoid-newsbox-window {
    .modal-dialog {
      width: 748px;
    }
  }
}
