<div class="news-boxes">
    <div class="container">
        <div class="row">
            <div data-ng-repeat="box in newsBoxes" ng-mouseenter="box.hover = true" ng-mouseleave="box.hover = false" ng-click="openModal(box)" class="newsBox"
                 data-ng-class="{'col-sm-3': 3 !== newsBoxes.length, 'col-sm-4': 3 === newsBoxes.length,
                 'col-sm-offset-3': 0 === $index && 2 === newsBoxes.length,
                 'col-sm-offset-4': 0 === $index && 1 === newsBoxes.length,
                 'more': box.hover}">
                <div class="maintain-ratio">
                    <div class="content news-box-image" style="background-image: url({{box.image}})"></div>
                    <div class="content hover"><span>MORE</span></div>
                </div>
                <h4>{{box.title | translateDomain}}</h4>
            </div>

            <!--<div class="box">-->
                <!--<img data-ng-if="box.image" data-ng-src="{{box.image}}">-->
                <!--<h4>{{box.title | translateDomain}}</h4>-->
            <!--</div>-->
        </div>
    </div>
</div>


