.news-boxes {
  padding: 60px 0;
  background: #fff;

  .newsBox {
    padding: 20px;
    cursor: pointer;

    .news-box-image {
      background-size: cover;
    }

    .hover {
      background: rgba(40, 120, 170, 0.7);
      text-align: center;
      display: none;



      span {
        color: #fff;
        font-size: 16px;
        position: absolute;
        top: 50%;
        margin-top: -11px;
        margin-left: -23px;
        font-weight: bold;
      }
    }

    h4 {
      font-family: 'Roboto Slab', serif;
      font-size: 18px;
      color: @recrutoid-dark;
    }

    &.more{
      h4 {
        color: @recrutoid-blue;
      }

      .hover {
        display: block;
      }
    }
  }
}