<div class="recrutoid-newsbox-window">
    <div class="modal-header">
        <div class="maintain-ratio">
            <div class="content news-box-image" style="background-image: url({{newsBox.data.image}})"></div>
        </div>
        <h2 class="title-header">{{newsBox.data.title | translateDomain}}</h2>
        <a class="newsbox-close" ng-click="newsBox.closeModal()">
            <li class="fa fa-close"></li>
        </a>
    </div>
    <div class="modal-body">
        <h2 class="title-body">{{newsBox.data.title | translateDomain}}</h2>
        <div data-ng-bind-html="newsBox.data.shortDescription | translateDomain"></div>
    </div>
</div>