<div class="modal-header">
    <h3 class="modal-title">
        {{vacancyCtrl.vacancy.companyName}}
        <button type="button" class="btn btn-xs btn-warning pull-right" data-ng-click="vacancyCtrl.edit()">
            <i class="fa fa-edit"></i> <span data-translate>Edit_This_Vacancy</span>
        </button>
    </h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <h4>
                {{vacancyCtrl.vacancy.title}}
                <span class="pull-right"><span data-translate>Salary:</span> {{vacancyCtrl.vacancy.salary.value | formatSalary}} {{vacancyCtrl.vacancy.salary.currency}}</span>
            </h4>

            <div class="col-xs-12">
                <div class="pull-left">
                    <h3 data-translate>Vacancy_Description:</h3>

                    <div data-ng-bind-html="vacancyCtrl.vacancy.details"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="pull-left">
        <div><span data-translate>Created:</span> {{ vacancyCtrl.vacancy.createDateHumanized }}</div>
        <div><span data-translate>Approved:</span> {{ vacancyCtrl.vacancy.approveDateHumanized }}</div>
    </div>

    <button class="btn btn-primary" type="button" data-ng-click="vacancyCtrl.close()" data-translate>Close</button>
</div>
