<div class="modal-header">
    <h1>Choose {{reassign.type}} to change for {{reassign.toRemove.name|translateDomain}}</h1>
</div>
<div class="modal-body crop-image-modal">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="col-md-4" data-translate>English_Name</th>
            <th class="col-md-4" data-translate>Russian_Name</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="item in reassign.data" data-ng-click="$close(item.id)" data-ng-if="item.id !== reassign.toRemove.id">
            <td>{{item.name.en}}</td>
            <td>{{item.name.ru}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer text-center">
    <button class="btn btn-danger" data-ng-click="$dismiss()">Cancel</button>
</div>
