<div class="modal-header">
    <h3 class="modal-title">Banner Preview</h3>
</div>
<div class="modal-body text-center banner-preview">
    <a class="btn btn-primary" data-ngf-select data-ngf-change="modal.upload($files)" data-translate>Change_Banner_Image</a>
    <hr>
    <img class="banner-image" data-ng-src="{{modal.banner.url}}">
</div>
