<div data-ng-include="'modules/common/adminMenu/adminMenu.html'"></div>
<div class="container banners-list">
    <div class="col-md-10 col-md-offset-1">
        <div class="table-responsive" data-scroll-to="bannersList">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Num</th>
                        <th data-translate>Days</th>
                        <th data-translate>Type</th>
                        <th class="text-right" data-translate>Actions</th>
                    </tr>
                </thead>
                <tr data-ng-repeat="banner in bannersCtrl.banners" data-ng-class="{'success': banner.active && banner.location, 'info': banner.active && !banner.location}">
                    <td>{{$index + 1}}</td>
                    <td>
                        <form data-editable-form data-onaftersave="bannersCtrl.updateDescription(banner)" name="descriptionForm"
                              class="form-buttons form-inline">
                            <span editable-text="banner.description" e-name="name" e-form="rowform" e-required>
                                {{ banner.description || 'empty' }}
                            </span>
                            <button type="button" class="btn btn-xs btn-default" ng-click="descriptionForm.$show()" ng-show="!descriptionForm.$visible"
                                    data-translate>
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                            <div class="btn-group btn-group-md" data-ng-show="descriptionForm.$visible">
                                <button type="submit" data-ng-disabled="descriptionForm.$waiting" class="btn btn-primary" data-translate>
                                    Save
                                </button>
                                <button type="button" data-ng-disabled="descriptionForm.$waiting" data-ng-click="descriptionForm.$cancel()" class="btn btn-default">
                                    <i class="fa fa-ban"></i>
                                </button>
                            </div>
                        </form>
                    </td>
                    <td>
                        {{banner.location ? 'Vertical' : 'Horizontal' | translate}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button class="btn btn-xs btn-success" data-ng-if="!banner.active" data-ng-click="bannersCtrl.activateBanner(banner)"><i class="fa fa-check-square-o"></i></button>
                            <button class="btn btn-xs btn-warning" data-ng-if="banner.active" data-ng-click="bannersCtrl.deactivateBanner(banner.id)"><i class="fa fa-times"></i></button>
                            <button class="btn btn-xs btn-info" data-ng-click="bannersCtrl.bannerPreview(banner)"><i class="fa fa-eye"></i></button>
                            <button class="btn btn-xs btn-danger" data-ng-click="bannersCtrl.remove(banner)"><i class="fa fa-trash-o"></i></button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <uib-pagination class="pull-right"
					ng-model="bannersCtrl.currentPage"
					total-items="bannersCtrl.resultCount"
					items-per-page="bannersCtrl.filter.size"
                    max-size="5"
					boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                    ng-show="bannersCtrl.isPaginationNeeded()"></uib-pagination>

        <div class="form-group"></div>
        <hr>

        <h2><span data-translate>Add_Banner</span>:</h2>

        <form class="form-horizontal" data-ng-submit="bannersCtrl.addBanner()">
            <div class="form-group">
                <div class="col-sm-8">
                    <input type="text" class="form-control" data-ng-model="bannersCtrl.newBanner.description" placeholder="{{'Description'|translate}}" required>
                </div>
                <div class="col-sm-2">
                    <span class="hide-checkbox">
                        <input id="first-type" type="radio" name="location" data-ng-model="bannersCtrl.newBanner.location" data-ng-value="0">
                        <label for="first-type" data-translate>Horizontal</label>
                    </span>
                    <span class="hide-checkbox">
                        <input id="second-type" type="radio" name="location" data-ng-model="bannersCtrl.newBanner.location" data-ng-value="1">
                        <label for="second-type" data-translate>Vertical</label>
                    </span>
                </div>
                <div class="col-sm-2 text-right">
                    <a class="pointer" data-ng-class="{'btn btn-default btn-xs': !bannersCtrl.newBannerFile}" data-ngf-select
                       data-ngf-change="bannersCtrl.setBannerImage($files, $event)" data-translate>{{bannersCtrl.newBannerFile.name || 'Select_Image' | translate }}</a>
                </div>
            </div>
            <div class="text-right">
                <button class="btn btn-default" type="submit" data-translate>Add_Banner</button>
            </div>
        </form>
    </div>
</div>
