.banners-list {

  .hide-checkbox {
    color: #999999;
    label {
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-left: 25px;
      padding-right: 15px;
      font-size: 13px;

      &:before {
        font: normal normal normal 20px/1 FontAwesome;
        content: "\f10c";
        margin-right: 10px;
        position: absolute;
        left: 0;
        bottom: 1px;
      }
    }

    input[type=checkbox],
    input[type=radio] {
      display: none;

      &:checked + label:before {
        font: normal normal normal 20px/1 FontAwesome;
        content: "\f192";
        color: #3299db;
      }
    }
  }
}

.banner-preview {
  .banner-image {
    box-shadow: 0 0 15px #888;
  }
}
