<div data-ng-include="'modules/common/adminMenu/adminMenu.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-xs-6">
                    <h4 data-translate>Payment_Mode_Enabled</h4>
                </div>
                <div class="col-xs-6 text-right">
                    <input type="checkbox" data-ng-model="generals.settings.paymentModeEnabled">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <h4 data-translate>Profile_Expiration_Time</h4>
                </div>
                <div class="col-xs-6">
                    <div class="input-group">
                        <input type="number" class="form-control" data-ng-model="generals.settings.userExpirationTime" aria-describedby="basic-addon1">
                        <span class="input-group-addon" id="basic-addon1" data-translate>Days</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <h4 data-translate>Application_Backend_URI</h4>
                </div>
                <div class="col-xs-6">
                    <input type="text" class="form-control" data-ng-model="generals.settings.backendUri">
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-right">
            <span class="btn btn-default" data-ng-click="generals.save()" data-translate>Save_Settings</span>
        </div>
    </div>
</div>
