<div data-ng-include="'modules/common/adminMenu/adminMenu.html'"></div>
<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-1">ID</th>
                    <th class="col-md-4" data-translate>Language</th>
                    <th class="col-md-4" data-translate>Code</th>
                    <th class="col-md-3 text-right" data-translate>Actions</th>
                </tr>
                </thead>
                <tr data-ng-repeat='language in manageLang.languages.list'>
                    <td>{{$index + 1}}</td>
                    <td>
                    <span editable-text="language.language" e-name="language" e-form="rowform" e-required>
                        {{ language.language || 'empty' }}
                    </span>
                    </td>
                    <td>
                    <span editable-text="language.code" e-name="code" e-form="rowform" e-required>
                        {{ language.code || 'empty' }}
                    </span>
                    </td>
                    <td class="text-right">
                        <form editable-form name="rowform" data-ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == language">
                            <div class="btn-group btn-group-md">
                                <button type="submit" data-ng-click="manageLang.edit(language.id, rowform.$data.language, rowform.$data.code)" data-ng-disabled="rowform.$waiting"
                                        class="btn btn-primary" data-translate>
                                    Save
                                </button>
                                <button type="button" data-ng-disabled="rowform.$waiting" data-ng-click="rowform.$cancel()" class="btn btn-default">
                                    <i class="fa fa-ban"></i>
                                </button>
                            </div>
                        </form>
                        <div class="btn-group" data-ng-show="!rowform.$visible">
                            <button class="btn btn-primary" data-ng-click="rowform.$show()"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-danger" data-ng-click="manageLang.remove(language.id)"><i class="fa fa-trash-o"></i></button>
                        </div>
                    </td>
                </tr>
            </table>
            <br/>

        </div>
        <div class="row form-group">
            <form class="form-horizontal" data-ng-submit="manageLang.addLanguage()">
                <div class="form-group">
                    <div class="col-sm-5">
                        <input type="text" class="form-control" data-ng-model="manageLang.newLang.language" placeholder="{{ 'New_Language_Name'|translate}}" required>
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" data-ng-model="manageLang.newLang.code" placeholder="{{ 'New_Language_Name' | translate}}" required>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default" type="submit" data-translate>Add_Language</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
