<div data-ng-include="'modules/common/adminMenu/adminMenu.html'"></div>
<div class="manage-translations">
    <div class="container-fluid">
        <div class="row">
            <div class="actions-content" data-ng-class="!!manageTrans.currentTranslation?'col-lg-6':'col-md-6 col-md-offset-3'">
                <input class="form-control" placeholder="{{'Search by action name'|translate}}" data-ng-model="manageTrans.filter.action"/>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr data-ng-repeat="translation in manageTrans.results" data-ng-show="manageTrans.results.length !== 0">
                            <td data-ng-class="{'selected': translation.selected}" data-ng-click="manageTrans.edit(translation)">{{ translation.translation | translateDomain}}</td>
                        </tr>
                    </table>
                </div>
                <div data--ng-show="manageTrans.results.length === 0">
                    <h2 class="text-center" data-translate>No_Matching_Results_Found</h2>
                </div>
                <div class="footer-admin">
                    <div class="pull-left move-to-middle">
                        <span data-ng-if="manageTrans.showTotal" class="total-vacancies"><sapn data-translate>Found_Translations</sapn> {{ manageTrans.total}} </span>
                    </div>
                    <div class="pull-right">
                        <uib-pagination
									ng-change="app.scrollTop()"
									ng-model="manageTrans.currentPage"
									total-items="manageTrans.resultCount"
                                    items-per-page="manageTrans.filter.size"
									max-size="5"
									boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
									ng-show="manageTrans.isPaginationNeeded()"></uib-pagination>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 fade" data-ng-class="{'in': manageTrans.showEditor}">
                <h3>{{manageTrans.currentTranslation.action}}</h3>
                <br/>
                <form data-ng-submit="manageTrans.save()">
                    <div class="form-group">
                        <strong>Content:</strong>
                        <tabset>
                            <tab data-ng-repeat="language in manageTrans.languages" heading="{{language.language}}" active="tab.active">
                                <textarea data-ng-model="manageTrans.currentTranslation.translation[language.code]" class="form-control" rows="10" id="content"></textarea>
                            </tab>
                        </tabset>
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-main">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
