<div data-ng-include="'modules/common/adminMenu/adminMenu.html'"></div>
<div class="container">
    <div class="col-md-10 col-md-offset-1" data-scroll-to="blacklistedDomainsList">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-1">ID</th>
                    <th class="col-md-4" data-translate>Domain_Name</th>
                    <th class="col-md-3 text-right" data-translate>Actions</th>
                </tr>
                </thead>
                <tr data-ng-repeat='domain in DomainsCtrl.domainsList'>
                    <td>{{$index + 1}}</td>
                    <td>
                        <span editable-text="domain.name" e-name="name" e-form="rowform" e-required>
                            {{ domain.name || 'empty' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <form editable-form name="rowform" data-ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == domain">
                            <div class="btn-group btn-group-md">
                                <button type="submit" data-ng-click="DomainsCtrl.editDomain(domain.id, rowform.$data.name)"
                                        data-ng-disabled="rowform.$waiting" class="btn btn-primary" data-translate>
                                    Save
                                </button>
                                <button type="button" data-ng-disabled="rowform.$waiting" data-ng-click="rowform.$cancel()" class="btn btn-default">
                                    <i class="fa fa-ban"></i>
                                </button>
                            </div>
                        </form>
                        <div class="btn-group" data-ng-show="!rowform.$visible">
                            <button class="btn btn-primary" data-ng-click="rowform.$show()"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-danger" data-ng-click="DomainsCtrl.delete(domain.id)"><i class="fa fa-trash-o"></i></button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <uib-pagination class="pull-right"
					ng-model="DomainsCtrl.currentPage"
					total-items="DomainsCtrl.resultCount"
					items-per-page="DomainsCtrl.filter.size"
                    max-size="5"
					boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                    ng-show="DomainsCtrl.isPaginationNeeded()"></uib-pagination>
		
        <div class="row form-group">
            <form class="form-horizontal" data-ng-submit="DomainsCtrl.addDomain()">
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" data-ng-model="DomainsCtrl.newName" placeholder="{{'New_Domain'|translate}}" required>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default" type="submit" data-translate>Add_Domain</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
