<div data-ng-include="'modules/common/adminMenu/adminMenu.html'"></div>
<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-1">ID</th>
                    <th class="col-md-4" data-translate>English_Name</th>
                    <th class="col-md-4" data-translate>Russian_Name</th>
                    <th class="col-md-1" data-translate>Oil_Gas_Camp</th>
                    <th class="col-md-2 text-right" data-translate>Actions</th>
                </tr>
                </thead>
                <tr data-ng-repeat='city in CitiesCtrl.cities'>
                    <td>{{$index + 1}}</td>
                    <td>
                        <span editable-text="city.name.en" e-name="nameEn" e-form="rowform" e-required>
                            {{ city.name.en || 'empty' }}
                        </span>
                    </td>
                    <td>
                        <span editable-text="city.name.ru" e-name="nameRu" e-form="rowform" e-required>
                            {{ city.name.ru || 'empty' }}
                        </span>
                    </td>
                    <td>
                        <span editable-checkbox="city.oilGasCamp" e-name="gasCamp" e-form="rowform" e-required>
                            <i class="fa" ng-class="city.oilGasCamp ? 'fa-check' : 'fa-times'"
                        </span>
                    </td>
                    <td class="text-right">
                        <form editable-form name="rowform" data-ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == city">
                            <div class="btn-group btn-group-md">
                                <button type="submit" data-ng-click="CitiesCtrl.editCity(city.id, rowform.$data.nameEn, rowform.$data.nameRu, rowform.$data.gasCamp)"
                                        data-ng-disabled="rowform.$waiting" class="btn btn-primary" data-translate>
                                    Save
                                </button>
                                <button type="button" data-ng-disabled="rowform.$waiting" data-ng-click="rowform.$cancel()" class="btn btn-default">
                                    <i class="fa fa-ban"></i>
                                </button>
                            </div>
                        </form>
                        <div class="btn-group" data-ng-show="!rowform.$visible">
                            <button class="btn btn-primary" data-ng-click="rowform.$show()"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-danger" data-ng-click="CitiesCtrl.delete(city)"><i class="fa fa-trash-o"></i></button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="row form-group">
            <form class="form-horizontal" data-ng-submit="CitiesCtrl.addCity()">
                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" data-ng-model="CitiesCtrl.newName.en" placeholder="{{'New city english name'|translate}}" required>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" data-ng-model="CitiesCtrl.newName.ru" placeholder="{{'New city russian name'|translate}}" required>
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label><input type="checkbox" data-ng-model="CitiesCtrl.oilGasCamp" value="">{{'Oil_Gas_Camp'|translate}}</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default" type="submit" data-translate>Add_City</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
