<div data-ng-include="'modules/common/adminMenu/adminMenu.html'"></div>
<div class="manage-translations">
    <div class="container-fluid">
        <div class="row">
            <div class="actions-content" data-ng-class="!!managePhrases.currentPhrase?'col-lg-6':'col-md-6 col-md-offset-3'">
                <input class="form-control" placeholder="{{'Search_by_phrase'|translate}}" data-ng-model="managePhrases.filter.action"/>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr data-ng-repeat="phrase in managePhrases.results" data-ng-show="managePhrases.results.length !== 0">
                            <td data-ng-class="{'selected': phrase.selected}" data-ng-click="managePhrases.edit(phrase)">{{ phrase.phrase | translateDomain}}</td>
                            <td>
                                <button type="button" class="btn btn-xs btn-danger" data-ng-click="managePhrases.remove(phrase.id)" data-tooltip="{{'Remove'|translate}}">
									<i class="fa fa-trash"></i>
								</button>
                            </td>
                        </tr>
                    </table>
                    
                    
                </div>
                <div data--ng-show="managePhrases.results.length === 0">
                    <h2 class="text-center" data-translate>No_Matching_Results_Found</h2>
                </div>
                <div class="footer-admin">
                    <div class="pull-left move-to-middle">
                        <span data-ng-if="managePhrases.showTotal" class="total-vacancies"><sapn data-translate>Found_Phrases</sapn> {{ managePhrases.total}} </span>
                    </div>
                    <div class="pull-right">
                        <uib-pagination
									ng-change="app.scrollTop()"
									ng-model="managePhrases.currentPage"
									total-items="managePhrases.resultCount"
                                    items-per-page="managePhrases.filter.size"
									max-size="5"
									boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
									ng-show="managePhrases.isPaginationNeeded()"></uib-pagination>
                    </div>
                </div>
                <div class="col-lg-12" data-ng-class="{'in': managePhrases.addNew}">
                    <br/><br/>
                    <strong>Or create New</strong>
                    <br/><br/>
                    <form data-ng-submit="managePhrases.addNew()">
                        <div class="form-group">
                            <strong>Content:</strong>
                            <tabset>
                                <tab data-ng-repeat="language in managePhrases.languages" heading="{{language.language}}" active="tab.active">
                                    <textarea data-ng-model="managePhrases.newPhrase.phrase[language.code]" class="form-control" rows="10" id="content"></textarea>
                                </tab>
                            </tabset>
                        </div>
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-main">Create</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 fade" data-ng-class="{'in': managePhrases.showEditor}">
                <h3>{{ phrase.phrase | translateDomain}}</h3>
                <br/>
                <form data-ng-submit="managePhrases.save()">
                    <div class="form-group">
                        <strong>Content:</strong>
                        <tabset>
                            <tab data-ng-repeat="language in managePhrases.languages" heading="{{language.language}}" active="tab.active">
                                <textarea data-ng-model="managePhrases.currentPhrase.phrase[language.code]" class="form-control" rows="10" id="content"></textarea>
                            </tab>
                        </tabset>
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-main">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
