.manage-translations {
  td {
    cursor: pointer;
  }

  td.selected {
    background: #2e6da4;
    color: #fff;
  }

  .nav.nav-tabs {
    li {
      cursor: pointer;
    }
  }

  h3 {
    margin-top: 5px;
  }

  .total-vacancies {
    font-size: 16px;
    color: #337ab7;
  }

  .actions-content {
    -webkit-transition: margin-left 0.3s ease-in-out;
    -moz-transition: margin-left 0.3s ease-in-out;
    -o-transition: margin-left 0.3s ease-in-out;
    transition: margin-left 0.3s ease-in-out;
  }
}