<div data-ng-include="'modules/common/adminMenu/adminMenu.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <form data-ng-submit="sendEmail.send()">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="emailAddressees">Send to:</label>
                            <ui-select data-ng-model="sendEmail.selectedAddresses" required>
                                <ui-select-match placeholder="{{'Select_Category'|translate}}" >All {{$select.selected.name}} ({{$select.selected.count}})</ui-select-match>
                                <ui-select-choices repeat="category in sendEmail.addresseesEnum | filter:$select.search">
                                    All {{category.name}} ({{category.count}})
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-4 text-right">
                        <button type="submit" class="btn btn-info">Send</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="emailTitle">Title</label>
                    <input id="emailTitle" class="form-control" type="text" data-ng-model="sendEmail.emailBody.title" required>
                </div>
                <div class="form-group">
                    <label for="emailBody">Content</label>
                     <div id="emailBody" data-ng-model="sendEmail.emailBody.content" data-text-angular data-ta-toolbar="sendEmail.emailBodyhtml"></div>
                </div>
            </form>
        </div>
    </div>
</div>
