<div class="subscription-details-modal recrutoid-login-window">
    <div class="modal-header">
        <h3 class="text-center">
            <i class="fa fa-exclamation-circle"></i> <span data-translate>Congratulations</span>!
        </h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <p class="text-center">{{ ctrl.message | translate }}</p>
            <div class="info">
                <p><span data-translate>Notifications</span>: <strong>{{ ctrl.subscription.interval | translate }}</strong></p>
                <p><span data-translate>Category</span>: <strong>{{ ctrl.subscription.categories | translateDomain:'name' | coma:'name' }}</strong></p>
                <p><span data-translate>City</span>: <strong>{{ ctrl.subscription.city.name || ctrl.allCity.name | translateDomain }}</strong></p>
                <p><span data-translate>Salary_Expectations</span>: <strong>{{ ctrl.subscription.desiredSalaryRange.name || ctrl.allSalaryRanges.name | translateDomain }}<span ng-if="ctrl.subscription.desiredSalaryRange.name"> KTZ</span></strong></p>
            </div>

        </div>
        <div class="text-center">
            <button class="btn btn-light-primary btn-ok" data-ng-click="ctrl.edit()" data-translate>Change</button>
            <button class="btn btn-light-danger btn-ok" data-ng-click="$close()" data-translate>Close</button>
        </div>
    </div>
</div>