.subscription-details-window {
   .modal-dialog {
     width: 300px;
   }

  .modal-header {
    padding: 35px 0;

    h3 {
      font-size: 16px;
      font-weight: 600;
      color: @recrutoid-dark;
      margin: 0;

      .fa {
        color: @recrutoid-green;
        font-size: 20px;
        position: relative;
        top: 1px;
        margin-right: 3px;
      }
    }
  }

  .modal-body {
    background: #f4f5f6;
    border-radius: 4px;
    padding: 25px;

    .info {
      margin-top: 20px;
      p {
        margin: 0 0 5px;
        strong {
          text-transform: capitalize;
        }
      }
    }
  }

  .btn {
    min-width: 70px;
    margin-left: 6px;
  }


 }

