.recrutoid-field {
  min-height: 51px;

  .info {
    font-size: 12px;
    font-weight: normal;
    color: #99a4af;
    display: none;

    &.show {
      display: block;
    }
  }

  .max {
    font-size: 11px;
    color: #a2abb4;
    font-weight: normal;
    display: none;

    &.show {
      display: block;
    }
  }

  input.form-control {
    padding: 20px 0;
    &:hover, &:focus {
      border-color: #8ec3e7 !important;
    }

    &:focus {
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: transparent;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: transparent;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: transparent;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: transparent;
      }
    }
  }

  input.form-control:focus::-webkit-input-placeholder { color:transparent; }
  input.form-control:focus:-moz-placeholder { color:transparent; }

  &.with-icon {
    position: relative;

    .fa {
      position: absolute;
      left: 0;
      top: 10px;
      font-size: 13px;
      color: #a9b4bf;
    }

    input.form-control {
      padding-left: 20px;
    }
  }

  &.error {
    input.form-control {
      border-color: #f0c7c7 !important;
    }

    .info {
      color: @recrutoid-red;
    }

    .max {
      color: @recrutoid-red;
      font-weight: bold;
    }
  }

  .form-control {
    color: @recrutoid-dark;
    box-shadow: none;
    border: none !important;
    border-radius: 0;
    border-bottom: 2px solid #dbdde0 !important;
    background: none;
  }

  &>p {
    margin: 0;
  }
}

.recrutoid-select-settings {
  height: 51px;

  * {
    border: none;
    box-shadow: none;
    outline: none !important;
    border-radius: 0;
    background: none;
  }

  .input-info {
    font-size: 12px;
    font-weight: normal;
    color: #99a4af;

    &.error {
      display: none;
      color: #cc4544;
    }
  }

  .text-muted {
    color: #a2a2a2;
    text-shadow: none;
  }

  .ui-select-container {
    border-bottom: 2px solid #dbdde0;
    max-height: 34px;
    .transition(border-color .2s);

    &:hover {
      border-color: #8ec3e7;
    }

    .ui-select-match-text {
      text-shadow: none;
      color: #25384a;
    }

    .ui-select-toggle {
      background: none !important;
      box-shadow: none !important;
      padding-left: 0;
    }

    .ui-select-search {
      box-shadow: none !important;
      border-bottom: 3px solid transparent;
      padding-left: 0;
    }

    .ui-select-choices {
      background: #fff;
      -webkit-box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.15);
      margin-top: 3px;
    }

    .fa-angle-down {
      top: 25%;
      right: 20px;

      &:before {
        content: "\f078";
        font-size: 13px;
        color: @recrutoid-blue;
      }
    }

    &.open {
      .fa-angle-down:before {
        content: "\f077";
      }
    }
  }

  &.error {
    .ui-select-container {
      border-color: #f0c7c7;
    }

    .input-info {
      &.error {
        display: block;
      }
      &.info {
        display: none;
      }
    }
  }

  &.with-icon {
    position: relative;

    .ui-select-toggle, .ui-select-search {
      padding-left: 20px;
    }


    >.fa {
      position: absolute;
      left: 15px;
      top: 10px;
      font-size: 13px;
      width: 14px;
      text-align: center;
      color: #a9b4bf;
    }
  }
}

.recrutoid-input-row {
  padding: 0 10px;

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2,
  .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4,
  .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6,
  .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
  .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9,
  .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11,
  .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .recrutoid-select-settings.with-icon {
    >.fa {
      left: 5px;
    }
  }
}