<div class="recrutoid-field" ng-class="{'with-icon' : icon, 'error':error || checkIfMax()}">
    <div ng-show="uiMask"><input  type="{{type}}" class="form-control" ng-focus="focus = true" data-ui-mask="{{uiMask}}" ng-blur="focus = false" placeholder="{{placeholder | translate}} {{required?'*':''}}" data-ng-model="ngModel" ng-change="error = null" data-ui-mask-placeholder></div>
    <div ng-show="!uiMask"><input type="{{type}}" class="form-control" ng-focus="focus = true" ng-blur="focus = false" placeholder="{{placeholder | translate}} {{required?'*':''}}" data-ng-model="ngModel" ng-change="error = null" ng-attr-maxlength="{{ max ? max : 1000 }}" ></div>

    <i ng-if="icon" class="fa" ng-class="icon"></i>
    <p ng-hide="!max" ng-class="{'show' : ngModel.length || focus}" class="max pull-right">{{max - ngModel.length}}</p>

    <p ng-hide="error || checkIfMax()" ng-class="{'show' : ngModel.length || focus}" class="info">{{placeholder | translate}} {{required?'*':''}}</p>
    <p ng-class="{'show' : checkIfMax()}" class="info">{{placeholder | translate}} {{required?'*':''}} {{'must_have_at_most_1' | translate}} {{max}} {{'must_have_at_most_2' | translate}}</p>
    <p ng-hide="checkIfMax()" ng-class="{'show' : error}" class="info">{{error | translate}}</p>
</div>