.recrutoid-feedback-window {
  .feedback-modal {
    .modal-header {
      background: #fff none repeat scroll 0 0;
      padding: 40px 30px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      h3 {
        margin: 0;
        font-weight: 600;
        color: @recrutoid-dark;
        font-size:16px;

        span {
          vertical-align: middle;
        }
        .fa {
          vertical-align: middle;
          margin-right: 3px;
          font-size: 20px;
          color: @recrutoid-blue;
        }
      }
    }

    .btn-light-primary {
      padding-left: 18px;
      padding-right: 18px;
    }

    .modal-body {
      background: #f5f5f7;
      border-bottom: 1px solid #e5e5e5;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      textarea {
        display: block;
        padding: 25px 15px;
        border-radius: 10px;
        border: 1px solid #dfe5e8;
        min-height: 200px;
        font-size: 13px;
        resize: vertical;
        box-shadow: none;
        margin-top: 20px;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      #email {
        border: none;
        background: none;
        box-shadow: none;
        border-bottom: 2px solid #dddce1;
        border-radius: 0px;
        padding-left: 25px;
        color: #25384a;
      }

      .input-group {
        position: relative;
        width: 100%;
      }

      .input-group-addon{
        width: 28px;
        text-align: center;
        position: absolute;
        z-index: 3;
        top: 0;
        height: 100%;

        padding-left: 0;
        border:none;
        background:none;
        border-radius:0px;

        i {
          padding-top: 3px;
          color:#9fa8b7;
        }
      }

      .login-input-info{
        margin-top: -12px;
        float: left;
        width: 100%;
        font-size: 12px;
        color: #a1abb4;
      }


      .btn-ok {
        background: #e2f0fb;
        color: #ffffff;
        border: none;
      }

      .btn-dismiss {
        background:#f4e0e1;
        color:@recrutoid-red;
      }
      .modal-input{
        border:none;
        border-bottom:1px solid #e6e6e6;
        margin-bottom:42px;
        box-shadow:none;
        padding-left:30px;
      }



      .buttons-modal{
        margin-top:30px;
      }

    }

    .no-bottom-margin {
      margin-bottom: 0px;
    }

    .form-group {
      @error-color: #f58073;

      &.form-email {
        > .fa {
          display: block;
          position: absolute;
          top: 30%;
          right: 2px;
        }
        > .fa-check-circle {
          color: #5ec83e;
        }
        > .fa-remove {
          color: @error-color;
        }
      }

      &.error {

        *::-webkit-input-placeholder {
          color: @error-color;
        }
        *:-moz-placeholder {
          /* FF 4-18 */
          color: @error-color;
        }
        *::-moz-placeholder {
          /* FF 19+ */
          color: @error-color;
        }
        *:-ms-input-placeholder {
          /* IE 10+ */
          color: @error-color;
        }

        input {
          color: @error-color !important;
        }

      }
    }
  }

  @media (min-width: @screen-sm) {
    .buttons-modal {
      margin-right: 16px;
    }
    .modal-body {
      padding-left: 30px;
      padding-right: 30px;
    }
    .modal-header {
      h3 {
        text-align: left;
      }
    }
  }
  @media (max-width: @screen-xs-max) {
    .modal-dialog {
      margin: 10px;
    }
    .buttons-modal {
      text-align: center;
    }
    .modal-header {
      h3 {
        text-align: center;
      }
    }
  }
}

