<div class="feedback-modal">
	<div class="modal-header">
        <h3>
            <i class="fa fa-comment"></i> <span data-translate>Give_feedback</span>
        </h3>
    </div>
    <div class="modal-body">
        <form data-ng-submit="ctrl.send()" >

			<div class="form-group form-email input-group" ng-class="{'error': ctrl.errors.email}">
                <label class="input-group-addon" for="email"><i class="fa fa-envelope"></i></label>

				<i class="fa fa-remove" ng-if="ctrl.errors.email" ></i>
				<i class="fa fa-check-circle" ng-if="ctrl.isEmailValid()"></i>
                <input type="email" id="email" class="form-control" ng-model="ctrl.feedback.email"
                       placeholder="{{'Email'|translate}} *" ng-change="ctrl.errors = {}" required>
            </div>
			<span class="login-input-info animate-show" ng-show="ctrl.feedback.email.length" >{{'Email'|translate}}</span>
            
            <div class="form-group"></div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group no-bottom-margin">
                        <textarea class="form-control" ng-model="ctrl.feedback.message" required
								  placeholder="{{ 'Please_leave_your_comment_We_would_like_to_hear_about_your_experiences_with_our_system_as_well_as_your_suggestions_for_improving_Recrutoid' | translate}}"></textarea>
                    </div>
                </div>
              
                <div class="col-sm-12 text-right buttons-modal">
                    <button class="btn btn-light-primary" type="submit" data-translate>Send</button>
                    <button class="btn btn-light-danger" type="button"  data-ng-click="ctrl.close()" data-translate>Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
