<div class="popover-preview seeker-popover" stop-propagation bs-affix data-offset-top="175" data-offset-bottom="250" >
    <i class="fa fa-thumb-tack icon-pin" aria-hidden="true"></i>
    <div>
        <div class="popover-header">
            <span class="create-date">
                <i class="fa fa-refresh" aria-hidden="true"></i>
                {{ seekerData.resume.updateDate | date:'dd/MM/yyyy' }}
            </span>
        </div>
        <div class="popover-inner">
            <div class="popover-content">
                <h4>
                    {{ seekerData.resume.title }}
                </h4>

                <div class="header">
                    <span class="name">{{ seekerData.firstName }} {{ seekerData.lastName }}</span>
                    <span class="space"></span>
                    <span class="desired-salary" data-ng-if="seekerData.resume.desiredSalaryRange.name">
                    {{ seekerData.resume.desiredSalaryRange.name | translateDomain }}
                </span>
                </div>

                <div class="about-seeker">
                <span class="element  " >
                    <i class="fa fa-phone"></i>
                    {{ seekerData.phone|phone_number }}
                </span>
                    <span class="element " >
                    <i class="fa fa-map-marker"></i>
                    {{ seekerData.city.name | translateDomain }}
                </span>
                    <span class="element email" >
                    <i class="fa fa-envelope"></i>
                    {{ seekerData.email }}
                </span>
                    <span class="element " ng-if="seekerData.resume.expat" >
                    <i class="fa fa-plane"></i>
                    Expat
                </span>
                    <span class="element " ng-if="seekerData.resume.foreignDegree" >
                    <i class="fa fa-institution"></i>
                    Foreign degree
                </span>

                </div>

                <div class="details-box">
                    <div class="element description">
                        <div class="details" ng-if="seekerData.resume.workExperience.length" ng-repeat="elem in seekerData.resume.workExperience">
                            <p ng-show="elem.title" class="sub-title">{{elem.title}}</p>
                            <p class="position">{{elem.company}}</p>
                            <p>{{elem.city}}</p>
                            <p>{{elem.description}}</p>
                        </div>
                        <div class="details" ng-if="!seekerData.resume.workExperience.length">
                            <br/>
                            <p>{{'User_Has_No_Work_Experience' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-actions">
            <a class="clickable btn-view" data-ng-click="redirectMethod()" data-translate>View_Cv</a>
        </div>
    </div>
</div>

