
.search-results {
  position: relative;

  .job-seeker-box {
    margin-right: 0px;
  }

}

.seeker-popover {
  @pad: 280px;

  display: block;
  margin-right: 0;
  max-width: 100%;
  position: absolute;
  left: 0;
  top:0;
  bottom:0;
  right:0;
  background-color: #fff;
  width: @pad;
  border-radius: 4px;
  box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.1);

  .icon-pin {
    color: #2d96d0;
    display: block;
    font-size: 18px;
    margin-left: 15px;
    margin-top: -5px;
  }

  > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 5px 15px 15px 15px;
    border-radius: 4px;

    .popover-header {
      padding: 0px;
      font-size: 13px;
      color: #999;

      .create-date {
        float: right;
        font-size: 12px;
        color: #c1c6ca;
        margin-top: 3px;

        .fa {
          margin-right: 3px;
        }
      }
    }

    .popover-inner {
      position: relative;
      font-size: 13px;

      .about-seeker {
        color: #737a80;

        .element {
          display: inline-block;
          margin-right: 15px;

          &.email {
            word-break: normal;
          }
          i {
            color: #d64a49;
          }
        }
      }

      .categories {
        margin-top: 4px;
        display: block;
        color: #9fa7af;

        i {
          float: left;
          margin-right: 3px;
          margin-top: 2px;
        }
      }

      .btn-view {
        display: block;
        margin-top: 6px;
        text-decoration: underline dotted;
      }

      .btn-apply {
        float: none;
      }

      .btn-applied {
        float: none;
      }

      .popover-content {
        height: 520px; /*68vh;*/
        overflow-y: hidden;
        padding: 8px 0px 0px 0px;
        background-color: #fff;
        font-size: 13px;
        border: 0px none;
        width: 100%;
        position: relative;

        .description {
          display: block;

          p {
            margin: 0 0 5px 0;
          }

          .head {
            font-weight: bold;
            font-size: 13px;
            display: block;
            margin-bottom: 5px;
          }

          .details {
            font-size: 13px;
            color: #616c77;
          }

          .sub-title {
            font-weight: bold;
            color: #3c4b5a;
            margin: 20px 0 0 0;
          }

          .position {
            color: #9ea6af;
            margin: 0px;
          }

          .noexperience {
            margin: 30px 0 0 0;
          }
        }

        h4 {
          margin-top: 0;
          font-size: 15px;
          font-weight: bold;
          overflow: visible;
          text-overflow: clip;
          white-space: normal;
          margin-bottom: 2px;
          color: #3c4b5a;

          .small {
            color: #999;
            font-size: 18px;
          }

          .btn-apply {
            padding: 3px 4px;
            margin-left: 10px;
          }
        }

        .header {
          margin: 0px 0px 3px 0px;

          .name {
            font-size: 14px;
            font-weight: normal;
            color: #3c4b5a;
          }
          .desired-salary {
            color: #737a80;
          }
        }

      }
    }

    .bottom-actions {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      padding-bottom: 15px;
      background: #fff;
      box-shadow: 0px 10px 49px 38px #fff;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.preview-box {
  .preview {
    display: none;
    position: relative;
  }

  &.active {
    .preview {
      display: block;
    }
  }
}

.seeker-preview-column {
    padding: 0px;
}


@media (max-width: @screen-md) {
  .search-results {
    .seeker-popover {
      display: none;
    }
  }
}

@media (min-width: @screen-sm) {
  .search-results {
    padding-left: 0;
  }
}

@media (min-width: @screen-md) {
  .search-results {
    padding-right: 0;
  }
}
