<div class="call-for-interview-modal">
    <div class="modal-header">
		<button class="btn btn-light-danger pull-right hidden-xs" data-ng-click="$dismiss()" type="button" data-translate>Cancel</button>
        <h3 class="modal-title">
			<i class="fa fa-paper-plane"></i> <span data-translate>Interview_invite</span>
		</h3>
    </div>
    <div class="modal-body my-vacancies">
        <div class="form-group" ng-show="callForInterview.vacancies.length">
            <div class="" data-ng-repeat="vacancy in callForInterview.vacancies" vacancy-box="vacancy"
                 data-show-create-date="true" data-show-categories-view="true"
                 data-show-invite-button="true" data-user-offers="callForInterview.userOffersIds"
                 data-invite-method="callForInterview.call(vacancy.id)"></div>
        </div>
        <div ng-hide="callForInterview.vacancies.length" ng-include="'modules/common/loader/loader.tpl.html'" class="vacancies-loader"></div>
        <div class="text-right">
            <button class="btn btn-light-danger" data-ng-click="$dismiss()" type="button" data-translate>Cancel</button>
        </div>
    </div>
</div>
