.call-for-interview-window {
  .modal-dialog {
    padding: 0 10px;

    .modal-content {
      border: none;

      -webkit-box-shadow: 0px 25px 46px 0px rgba(0,0,0,0.65);
      -moz-box-shadow: 0px 25px 46px 0px rgba(0,0,0,0.65);
      box-shadow: 0px 25px 46px 0px rgba(0,0,0,0.65);

      .vacancies-loader {
        .loader-container {
          position: relative;
          margin-top: 50px;
          margin-bottom: 50px;
        }
      }

      .call-for-interview-modal {
        margin-top: 200px;

        .my-vacancies {
          .vacancy-box {
            .media-left {
              width: 100%;
              padding-right: 0px;
            }
          }
        }

        .btn-invited {
          margin-top: 4px;
          padding: 2px 5px;
          font-weight: bold;
          color: #fff;
          background: #ebcdb2;
          border-radius: 4px;
          text-transform: uppercase;
          float: right;
          font-size: 10px;
          line-height: 1;
          height: auto;

          i {
            font-size: 12px;
          }
        }

        .modal-header {
          padding: 30px 15px;
          
          h3 {
            margin: 0;
            font-size: 18px;
            font-weight: 600;
            color: #25384a;
            margin-left: 5px;
            margin-top: 10px;
            .fa {
              color: #1d88cf;
              margin-right: 3px;
            }
          }
        }

        .modal-body {
          padding: 15px 12px;
          background: rgb(250, 250, 250);
          border-radius: 4px;

          .vacancy-box {
            margin-top: 0;
          }
        }

        .btn-invite {
          height: auto;
          float: right;
        }
        .btn-light-danger {
          margin-right: 12px;
        }
      }
    }
  }

  @media screen and (max-width: @screen-xs-max) {
    .modal-dialog {
      .call-for-interview-modal {
        .modal-header {
          .modal-title {
            text-align: center;
          }
        }
        .text-right {
          text-align: center;
        }
      }
    }
  }
}
