<div class="profile-menu" ng-class="{'profile-employer': app.isEmployer(), 'profile-seeker': app.isJobSeeker()}">
    <div class="profile-box hidden-sm">
        <div class="top">
            <div class="img-wrapper hidden-xs">
                <div class="logo-container" data-ngf-select data-ngf-change="settings.uploadAvatar($files, $event, app.isJobSeeker())">
					<i class="fa fa-camera"></i>
                    <div class="logo">
                        <img data-ng-src="{{settings.user.thumbnail}}">
                    </div>
                </div>
            </div>

            <div class="img-wrapper visible-xs">
                <div class="logo-container" data-ngf-select data-ngf-change="settings.uploadAvatar($files, $event, app.isJobSeeker())">
                    <i class="fa fa-camera"></i>
                    <div class="logo">
                        <img data-ng-src="{{settings.user.thumbnail}}">
                    </div>
                </div>
            </div>

            <div class="name">
                <div data-ng-if="settings.user.firstName">{{ settings.user.firstName }}</div>
                <div data-ng-if="settings.user.lastName && 'employer' !== settings.user.role">{{ settings.user.lastName}}</div>
            </div>
        </div>
        <div class="content">
            <div class="text clearfix" data-ng-if="settings.user.phone">
                <div class="icon"><i class="fa fa-phone"></i></div>
                <div class="value" >{{ settings.user.phone | mask: '+9 (999) 999-99-99' }}</div>
            </div>
            <div class="text clearfix">
                <div class="icon"><i class="fa fa-envelope"></i></div>
                <div class="value" data-ng-if="settings.user.email">{{settings.user.email}}</div>
            </div>
            <div class="text clearfix" data-ng-if="settings.user.city">
                <div class="icon"><i class="fa fa-map-marker"></i></div>
                <div class="value">{{ settings.user.city.name | translateDomain}}</div>
            </div>
        </div>
    </div>

    <hr class="hidden-sm"/>

    <div class="menu-box main-menu">
        <div ng-if="app.isJobSeeker()" data-ng-click="settings.setActiveSite('cv-page')" class="item pointer" data-ng-class="{'active-menu-item': 'cv-page' === settings.menuSite}">
            <i class="fa fa-briefcase"></i> <span data-translate>CV</span>
            <span class="badge ng-binding badge-green pull-right" data-ng-if="settings.user.newOffers || settings.newResumeViews">{{settings.user.newOffers + settings.newResumeViews}}</span>
        </div>
        <div ng-if="app.isEmployer()" data-ng-click="settings.setActiveSite('myVacancies')" class="item pointer" data-ng-class="{'active-menu-item': -1 < settings.menuSite.indexOf('Vacancies') || -1 < settings.menuSite.indexOf('addNewVacancy') }">
            <i class="fa fa-briefcase"></i> <span data-translate>Vacancies</span>
            <span class="pull-right">
                <span data-ng-if="settings.user.applicationsCount">
                    <span class="badge badge-green">{{settings.user.applicationsCount}}</span>
                </span>
            </span>
        </div>
        <div ng-if="app.isJobSeeker()" data-ng-click="settings.setActiveSite('subscriptions')" class="item pointer" data-ng-class="{'active-menu-item': 'subscriptions' === settings.menuSite}">
            <i class="fa fa-inbox"></i> <span data-translate>Subscriptions</span>
            <div class="pull-right subscription-circle" ng-class="{'active-menu-item':settings.profile.subscription}"></div>
        </div>
        <div data-ng-click="settings.setActiveSite('editProfile')" class="item pointer" data-ng-class="{'active-menu-item': 'editProfile' === settings.menuSite}">
            <i class="fa fa-user"></i> <span data-translate>Profile</span>
        </div>
        <div class="item pointer" data-ng-click="app.logout()">
            <i class="fa fa-sign-out"></i> <span data-translate>Log_Out</span>
        </div>
    </div>

    <div class="profile-box hidden-md hidden-lg hidden-xs">
        <div class="top">
			<div class="img-wrapper" data-ng-controller="EditUserProfile as editProfile">
                <div class="logo-container" data-ngf-select data-ngf-change="editProfile.uploadAvatar($files, $event)">
					<i class="fa fa-camera"></i>
                    <div class="logo">
                        <img data-ng-src="{{settings.user.thumbnail}}">
                    </div>
                </div>
            </div>
        </div>

        <div class="name">
            <div data-ng-if="settings.user.firstName">{{ settings.user.firstName }}</div>
            <div data-ng-if="settings.user.lastName && 'employer' !== settings.user.role">{{ settings.user.lastName}}</div>
        </div>

        <div class="text text-phone clearfix" data-ng-if="settings.user.phone">
            <div class="icon"><i class="fa fa-phone"></i></div>
            <div class="value">{{ settings.user.phone | mask: '+9 (999) 999-99-99' }}</div>
        </div>
        <div class="text text-email clearfix">
            <div class="icon"><i class="fa fa-envelope"></i></div>
            <div class="value" data-ng-if="settings.user.email" data-crop-email="settings.user.email"></div>
        </div>
        <div class="text clearfix" data-ng-if="settings.user.city">
            <div class="icon"><i class="fa fa-map-marker"></i></div>
            <div class="value">{{ settings.user.city.name | translateDomain}}</div>
        </div>
    </div>

    <hr ng-hide="app.isJobSeeker()"/>

    <div class="menu-box notifications-box" data-ng-if="app.isEmployer()">
        <h4>{{ 'New_applications_notifications' | translate  }}</h4>

        <div class="notifications-interval">
            <div class="hide-cv-checkbox">
                <input id="daily" type="radio" data-ng-model="settings.user.applicationsNotificationsInterval" value="daily"
                       data-ng-change="settings.notificationsIntervalChanged()">
                <label for="daily" data-translate>Daily</label>
            </div>
            <div class="hide-cv-checkbox">
                <input id="weekly" type="radio" data-ng-model="settings.user.applicationsNotificationsInterval" value="weekly"
                       data-ng-change="settings.notificationsIntervalChanged()">
                <label for="weekly" data-translate>Weekly</label>
            </div>
            <div class="hide-cv-checkbox">
                <input id="never" type="radio" data-ng-model="settings.user.applicationsNotificationsInterval" value="never"
                       data-ng-change="settings.notificationsIntervalChanged()">
                <label for="never" data-translate>Do_Not_Notify</label>
            </div>
        </div>
        <h3><i class="fa fa-search"></i> <a href="/users"><span data-translate>Find_Resumes</span></a> </h3>
    </div>
    <hr ng-if="!settings.isCvEmpty()"/>
    <div class="menu-box cv-download" data-ng-if="app.isJobSeeker() && !settings.isCvEmpty()">
        <div ng-if="!settings.isCvEmpty()" data-ng-click="settings.setActiveSite('forwardCv')" class="item pointer" data-ng-class="{'active-forward': 'forwardCv' === settings.menuSite}" >
            <i class="fa fa-paper-plane"></i> <span data-translate>Forward_CV</span>
        </div>
        <a ng-click="settings.getCvPdf(app.siteSettings.backendUri)" class="item pointer" >
            <i class="fa fa-print"></i> <span data-translate>Download_CV</span>
        </a>
        <h3><i class="fa fa-search"></i> <a href="/vacancies"><span data-translate>Find_Jobs</span></a> </h3>
    </div>
</div>
