.profile-menu {
  margin-bottom: 20px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #d4dce1;

  .profile-box {
    border-radius: 4px;

    .top {
      position: relative;
      background: #fff;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      //height: 125px;

      .img-wrapper {
        position: absolute;
        width: 88px;
        height: 88px;
        border-radius: 4px;
        background-color: #FFFFFF;
        //left: calc(110.5px - 50px);
        top: -25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        overflow: hidden;

        -webkit-box-shadow: 0px 3px 15px 5px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 3px 15px 5px rgba(0,0,0,0.1);
        box-shadow: 0px 3px 12px 4px rgba(0,0,0,0.1);

        .logo-container {
          display: table;
          width: 100%;
          height: 100%;

          &:hover {
            cursor: pointer;
            
           .fa {
              display: block;
              position: absolute;
              left: 5px;
              top: 7px;
              color: #fff;
              z-index: 99;
              font-size: 18px;
           }
          }
          &:hover::after {
            content: "";
            background: rgba(110, 170, 210, 0.6) none repeat scroll 0 0;
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
            right: 0px;
            bottom: 0px;
            z-index: 98;
          }
          .fa {
            display: none;
          }
          .logo {
            display: table-cell;
            box-sizing: border-box;
            vertical-align: middle;
            text-align: center;
            background: #fff;

            img {
              max-width: 100%;
              max-height: 100px;
            }
          }
        }
      }
    }

    .name {
      color: #333333;
      font-weight: bold;
      letter-spacing: 0.5px;
      font-size: 15px;
      padding: 82px 13px 0;

      > div{
        display: inline;
      }
    }

    .content {
      color: #959595;
      background-color: #ffffff;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      padding: 2px 13px 13px;
    }

    .text {
      font-size: 13px;
      .icon {
        margin-right: 7px;
        width: 15px;
        float: left;
        color: @recrutoid-red;
        .fa {
          text-align: center;
          width: 15px;
        }
      }
      .value {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .email-first-part {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .email-last-part {
          float: right;
        }
      }
    }
  }

  .menu-box {
    background-color: #ffffff;
    color: #959595;
    border-radius: 4px;
    h3 {
      font-size: 14px;
      font-weight: 600;
      color: @recrutoid-blue;
      text-align: center;
      border-top: 1px solid #dfe1e3;
      padding: 22px 0 15px;
      margin-top: 11px;

      &:hover {
        color: #0072bc;
      }
    }
    a {
      color: inherit;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
    .item {
      padding: 10px 13px 10px 11px;
      border-left: 2px solid transparent;
      .transition(background .3s, border .3s, linear;);

      .fa {
        margin-right: 7px;
      }

      .red-circle {
        background-color: red;
        border-radius: 10px;
        padding-left: 5px;
        padding-right: 5px;
        color: #FFFFFF;
      }
      &.active-menu-item {
        background: #eaf5fc;
        color: #1d88cf;
        border-left: 2px solid #1d88cf;
        font-weight: 600;
      }

      &:hover {
        color: #1d88cf;
      }
    }

    .active-forward {
      color:#333333;
      font-weight: 600;
      i{
        color: #1d88cf;
      }
    }

    .subscription-circle {
      width: 5px;
      height: 5px;
      border-radius: 5px;
      margin-top: 7px;
      margin-right: 7px;
      background: #d66a69;

      &.active {
        background: #5ec83e;
      }
    }
  }

  .btn-download-cv {
    background: #33dda3;
    border-color: #33dda3;
    color: #fff;
  }

  .notifications-box {
    margin-top: 10px;

    h4 {
      font-size: 13px;
      color: #9ca4ac;
      font-weight: normal;
      margin: 20px 15px 15px;
    }

    .notifications-interval {
      margin: 15px;

      .hide-cv-checkbox {
        label {
          display: inline-block;
          cursor: pointer;
          position: relative;
          padding-left: 20px;
          padding-right: 15px;
          font-size: 13px;
          font-weight: normal;
          color: #949ca5;

          &::before {
            font: normal normal normal 16px/1 FontAwesome;
            color: #dcdee1;
            content: "\f10c";
            margin-right: 10px;
            position: absolute;
            left: 0;
            bottom: 1px;
          }
        }

        input[type=checkbox],
        input[type=radio] {
          display: none;

          &:checked + label {
            color: @recrutoid-dark;

            &::before {
              font: normal normal normal 16px/1 FontAwesome;
              color: @recrutoid-blue;
              content: "\f192";
            }
          }
        }

        &:hover {
          label {
            color: @recrutoid-dark;
          }
        }
      }
    }
  }

  a.item {
    display: block;
    background: none;
  }

  hr {
    border-color: #dfe1e3;
    margin: 10px 0;
  }
}

// tablet
@media screen and (min-width: @screen-sm) and (max-width: @screen-sm-max) {
  .profile-menu {
    background: none;
    text-align: center;
    border: none;

    &.profile-employer {
      margin-left: -10px;
      margin-right: -10px;

      .menu-box.main-menu {
        padding-top: 30px;
      }
      .notifications-box {
        h3 {
          padding-top: 20px;
          padding-bottom: 10px;
        }
        .notifications-interval {
          margin-top: 0px;
        }
        h4 {
          margin-bottom: 10px;
        }
      }
      .profile-box {
        .text-phone,
        .text-email {
          color: #959595;
        }

        .crop-email-directive {
          .email-first-part ,
          .email-last-part {
            display: inline-block;
            float: none;
          }
        }

        .text-phone,
        .text-email {
          color: #959595;
          padding: 0px 20px;
          width: 100%;
          text-align: center;
        }

        .text {
          .icon {
            margin-right: 3px;
            width: 15px;
            float: none;
            display: inline-block;
            vertical-align: top;
          }
          .value {
            display: inline-block;
          }
        }
      }
    }

    .menu-box, .profile-box {
      vertical-align: top;
      display: inline-block;
      width: 33%;
      text-align: left;
      height: 182px;
      border-radius: 4px;
      border: 1px solid #d4dce1;
      position: relative;
      color: #959595;

      h3 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    .main-menu {
      padding-top: 10px;
    }

    .cv-download {
      padding-top: 16px;
    }


    .profile-box {
      text-align: center;
      background: #fff;

      .text {
        display: block;
        text-align: center;
        
        & > div {
          display: inline-block;
          
          &.icon {
            float: none;
            vertical-align: top;
            margin-right: 3px;
          }
        }
      }
    }

    hr {
      display: none;
    }
  }
}

// mobile
@media screen and (max-width: @screen-xs-max) {
  .profile-menu {
    margin: 30px 0 0;

    .profile-box {
      .name {
        text-align: center;
      }

      .text {
        padding: 0px 10px;
        width: 100%;
        text-align: center;

        .icon {
          margin-right: 4px;
          width: 15px;
          float: none;
          display: inline-block;
          vertical-align: top;
        }
        .value {
          display: inline-block;
        }
      }
    }
  }
}