<div class="modal-body">
    <form data-ng-submit="addAdmin.addAdmin()">
        <input type="email" placeholder="email" class="form-control" data-ng-model="addAdmin.newAdminEmail" required>
        <br>
        <input type="text" placeholder="temporary password" class="form-control" data-ng-model="addAdmin.newAdminPassword" required>
        <br>
        <div class="text-right">
            <button class="btn btn-primary" type="submit">Add</button>
            <span class="btn btn-warning" data-ng-click="$dismiss()">Cancel</span>
        </div>
    </form>
</div>
