<div class="crop-email-directive" data-tooltip="{{tooltipContent}}" >
    <div class="email-first-part">
        <span class="email-first-part-content">{{emailParts[0]}}</span>
    </div>
    <div class="email-last-part">{{emailParts[1]}}</div>
</div>
