.crop-email-directive {
  max-width: 100%;
  float: left;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .email-first-part {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 16px;
    float: left;
    text-align: right;
  }

  .email-last-part {
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(~"100% - 16px");
  }
}
