<div class="addNewVacancy" data-ng-controller="addNewVacancyCtrl as ctrl">
	<form data-ng-submit="ctrl.add()">
		<div class="heading clearfix">
			<div class="col-xs-12 ">
				<div class="pull-left title">
					<i class="fa fa-briefcase"></i>
					<span data-translate ng-if="ctrl.editing">Editing_vacancy</span>
					<span data-translate ng-if="!ctrl.editing">New_vacancy</span>
				</div>
				<div class="pull-right form-inline">
					<button class="btn btn-add btn-light-primary" type="submit">{{ ctrl.editing ? 'Save' : 'Add'}}</button>
					<button class="btn btn-light-danger" data-ng-click="settings.setActiveSite('myVacancies')" type="button">Cancel</button>
				</div>
			</div>
		</div>


		<div class="modal-body publish-new-vacancy-modal">
			<div class="box-small">
				<div class="form-group">
					<div class="row">
						<div class="col-xs-12">
							<recrutoid-input type="text" placeholder="Vacancy_Title" required="true" ng-model="ctrl.newVacancy.title" max="100" error="ctrl.errors.title"></recrutoid-input>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row recrutoid-input-row">
						<div class="col-xs-4 recrutoid-select-settings with-icon" ng-class="{'error': ctrl.errors.categories}">
							<i class="fa fa-bars"></i>
							<ui-select ui-select-perfect-scrollbar  theme="bootstrap" data-ng-model="ctrl.newVacancy.categories"
									   ng-change="ctrl.errors.categories = null" >
								<ui-select-match placeholder="{{'Category'|translate}} *" >{{ $select.selected.name | translateDomain }}
								</ui-select-match>
								<ui-select-choices repeat="category in ctrl.categories | filter:$select.search">
									{{ category.name | translateDomain }}
								</ui-select-choices>
							</ui-select>

							<span class="input-info info" ng-show="ctrl.newVacancy.categories">{{'Category'|translate}} *</span>
							<span class="input-info error">{{ ctrl.errors.categories | translate}}</span>
						</div>
						<div class="col-xs-4 recrutoid-select-settings with-icon" ng-class="{'error': ctrl.errors.cityId}">
							<i class="fa fa-map-marker"></i>
							<ui-select ui-select-perfect-scrollbar  theme="bootstrap" data-ng-model="ctrl.newVacancy.cityId"
									   ng-change="ctrl.errors.cityId = null" >
								<ui-select-match placeholder="{{'City'|translate}} *" >{{ $select.selected.name | translateDomain }}
								</ui-select-match>
								<ui-select-choices repeat="city in ctrl.cities | filter:$select.search">
									{{ city.name | translateDomain }}
								</ui-select-choices>
							</ui-select>

							<span class="input-info info" ng-show="ctrl.newVacancy.cityId">{{'City'|translate}} *</span>
							<span class="input-info error">{{ ctrl.errors.cityId | translate}}</span>
						</div>
						<div class="col-xs-4 recrutoid-select-settings with-icon" ng-class="{'error': ctrl.errors.salaryRangeId}">
							<i class="fa fa-signal"></i>
							<ui-select theme="bootstrap" data-ng-model="ctrl.newVacancy.salaryRangeId"
									   ng-change="ctrl.errors.salaryRangeId = null" >
								<ui-select-match placeholder="{{'Salary_Range'|translate}} *" >{{ $select.selected.name | translateDomain }}
								</ui-select-match>
								<ui-select-choices repeat="salaryRange in ctrl.salaryRanges | filter:$select.search">
									{{ salaryRange.name | translateDomain }}
								</ui-select-choices>
							</ui-select>

							<span class="input-info info" ng-show="ctrl.newVacancy.salaryRangeId">{{'Salary_Range'|translate}} *</span>
							<span class="input-info error">{{ ctrl.errors.salaryRangeId | translate}}</span>
						</div>
					</div>
				</div>
				<div class="form-group-textarea" ng-class="{'error': ctrl.errors.details}">
					<div class="recrutoid-tinymce" ng-class="{'error' : ctrl.errors.details}">
                        <textarea data-ng-model="ctrl.newVacancy.details" ui-tinymce="tinymceFull"  ng-change="ctrl.errors.details = null"
								  placeholder="{{'Vacancy_description_please_do_not_forget_to_enter_requirements_responsibilities_and_conditions'|translate}} *"></textarea>
					</div>
				</div>

				<div class="form-group">

					<div data-ng-if="!ctrl.editing" class="col-xs-9 text-bottom-form-add-vacancies">
						<h4 data-translate>Distribute_This_Vacancy_Via_Emails</h4>

						<div class="form-group">
							<div>
								<input id="checkbox_website" type="checkbox" data-ng-model="ctrl.newVacancy.publishViaEmail">
								<label class="checkbox_website" for="checkbox_website" >
									<span data-translate>Yes_I_Want_That</span>
								</label>
							</div>
						</div>
					</div>
					<div class="bottom-actions">
						<button class="btn btn-add btn-light-primary" type="submit">{{ ctrl.editing ? 'Save' : 'Add'}}</button>
						<button class="btn btn-light-danger" data-ng-click="settings.setActiveSite('myVacancies')" type="button">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>