.addNewVacancy{
  .ta-editor:focus {
    border-color: transparent;
    box-shadow: none;
    outline: 0 none;
  }
  .placeholder-text::before {
    color: #798898;
    font-size: 13px;
  }

  .form-group {
    margin-bottom: 0;
  }

  .ta-scroll-window {
    box-shadow: none !important;
    outline: none !important;
  }

  .heading {
    padding: 0;
    background: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #d4dce1;
    padding: 30px 15px;
    .title {
      font-size: 20px;
      color: #283b49;
      font-weight: bold;
      margin-top:7px;
      span {
        padding-left:4px;
      }
      .fa {
        color:#1d88cf;
        font-size: 21px;
      }
    }
    .pill-nav{
      margin-left:15px;
    }
    .add-new-vacancy{
      background: #eaf5fc;
      font-weight: 600;
      color: #1d88cf;
      border-color: #eaf5fc;
      border-radius-left-bottom: 4px;
      border-radius-right-bottom: 4px;
    }
    .btn-add {
      padding-left: 18px;
      padding-right: 18px;
      margin-right: 5px;
    }
  }
  .publish-new-vacancy-modal {
    input.form-control {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  .form-group {
    *::-webkit-input-placeholder { color: #798898; }
    *:-moz-placeholder { color: #798898; }
    *::-moz-placeholder { color: #798898; }
    *:-ms-input-placeholder { color: #798898; }
  }

  .text-bottom-form-add-vacancies {
    padding-left: 0px;
    padding-right: 0px;
  }

  .publish-new-vacancy-modal {
    background: #f5f5f7;
    padding: 15px 30px 30px 30px;
    border: 1px solid #d4dce1;
    border-top: none;
    border-radius: 4px;

    .bottom-actions {
      text-align: right;
      padding-top: 10px;
    }
    .btn-add {
      margin-right: 5px;
      padding-left: 18px;
      padding-right: 18px;
    }
    .ta-text {
      border:none !important;
      background:none !important;
    }
    .ta-bind:focus {
      outline: 0px solid transparent;
      box-shadow:none;
    }
    .ta-bind {
      background: #fff;
      border-radius: 10px;
      border: 1px solid #dfe5e8;
      padding: 25px 15px;
    }
    .form-group-textarea{
      margin-bottom:15px;
      margin-top:30px;

      &.error {
        .ta-bind {
          border-color: #f0c7c7;
        }
      }
    }
    .text-bottom-form-add-vacancies{
      h4{
        font-size:13px;
        color:#798898;
      }
      label{
        font-size:13px;
        color:#25384a;
        font-weight: normal;
      }
      #checkbox_website{
        display:none;
      }
      #checkbox_website:checked + label:before {
        font: normal normal normal 16px/1 FontAwesome;
        content: "\f192";
        color: #3299db;
      }
      .checkbox_website:before{
        position: relative;
        margin-right: 5px;
        font: normal normal normal 16px/1 FontAwesome;
        content: "\f10c";
        color: #dcdee1;
      }
    }
    .btn-toolbar {
      margin-left: 10%;
    }
  }
}


@media (max-width: 1024px) {
  .table-margin{
    margin-top:15px;
  }
  .profile-menu .notifications-box {
    margin-top: 0px;
  }
}
@media (max-width: 767px) {
  .my-vacancies{
    .heading{
      .pill-nav{
        float:left;
        width:100%;
        a {
          margin: 22px 4% 0px 4%;
        }
      }
      .title{
        float:left;
        width:100%;
        text-align:center;
      }
    }
  }
}