<div class="cv-page" data-ng-controller="CvPageController as CVPage">
    <div class="container-fluid">
        <div class="row user-page title-bar" ng-class="{'show-sub-nav' : 'interviews' == CVPage.activeTab && settings.user.newOffers > 0 || 'cv_views' == CVPage.activeTab && settings.newResumeViews > 0}">
            <i class="fa fa-briefcase"></i>
            <div class="pill-nav">
                <a data-ng-click="CVPage.setActiveTab('my_cv')" data-ng-class="{'active': 'my_cv' === CVPage.activeTab}">
                    {{'My_CV' | translate}}
                </a>
                <a data-ng-click="CVPage.setActiveTab('interviews', settings.isCvEmpty())" data-ng-class="{'active': 'interviews' === CVPage.activeTab, 'inactive': settings.isCvEmpty()}">
                    {{'Interviews' | translate}}
                    <span class="badge ng-binding badge-green" data-ng-if="settings.user.newOffers">{{settings.user.newOffers}}</span>
                </a>
                <a data-ng-click="CVPage.setActiveTab('cv_views', settings.isCvEmpty())" data-ng-class="{'active': 'cv_views' === CVPage.activeTab, 'inactive': settings.isCvEmpty()}">
                    {{'CV_Views' | translate}}
                    <span class="badge ng-binding badge-green" data-ng-if="settings.newResumeViews">{{settings.newResumeViews}}</span>
                </a>
            </div>
            <div ng-if="settings.isCvEmpty() && !settings.user.uploadedResume.data  || app.isImpersonated()" class="cv-nav">
                <div class="nav">
                    <button ng-hide="media === 'mobile'" ng-click="settings.setActiveSite('edit-cv')" type="submit" class="btn btn-light-primary">
                        <span data-translate="">Create CV</span>
                    </button>
                    <span ng-hide="media === 'mobile'"> or </span>
                    <p ng-show="media === 'mobile'" class="mobile-upload-cv-info">{{'For_starting_you_can_create_your_CV_mobile' | translate}}</p>
                    <button type="submit" class="btn btn-light-primary">
                        <span data-ng-click="CVPage.openUploadCvModal()" data-translate>Quickly_Upload_CV</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row tabs fromRight" ng-class="{'showIn':CVPage.activeTab === CVPage.changedTab}">
            <div ng-show="'my_cv' === CVPage.changedTab" ng-include="'modules/user/cv-page/my-cv.tpl.html'"></div>

            <div ng-show="'interviews' === CVPage.changedTab" ng-include="'modules/user/cv-page/myOffers.tpl.html'"></div>

            <div ng-show="'cv_views' === CVPage.changedTab"  ng-include="'modules/user/cv-page/resume-views.tpl.html'"></div>
        </div>
    </div>
</div>
