.cv-page {
  .tabs {
    position: relative;
  }

  .title-bar {
    padding: 30px;

    &.show-sub-nav {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      margin-bottom: 0;
    }

    .fa {
      font-size: 20px;
      color: @recrutoid-blue;
      vertical-align: middle;
      margin-right: 13px;
    }

    //Mobile version
    @media screen and (max-width: 767px) {
      text-align: center;
      .fa {
        display: none;
      }
    }

    .cv-nav {
      @media screen and (min-width: @screen-sm-min) {
        float: right !important;
      }


      .nav {
        > span {
          color: #9ca4ac;
          font-size: 12px;
          font-weight: 600;
          margin: 0 10px;
        }
      }
    }

    .fa {
      vertical-align: middle;
    }

  }



  .sub-nav {
    background: #f4f5f6;
    border: 1px solid #d4dce1;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 10px;
  }

  .mobile-upload-cv-info {
    font-size: 14px;
    color: #999999;
    margin-top: 25px;
    margin-bottom: 20px;
  }
}
