.user-settings .edit-profile {

  &.profile-employer {
    .heading {
      border-bottom:none !important;
      .pull-left {
        .title {
          margin-bottom: 30px;
        }
      }
      .pull-right {
        .title {
          margin-bottom: 30px;
          margin-top: 30px;
        }
      }
    }

    .panel-settings {
      .panels-content {
        padding-top: 0px;

        input.form-control ,
        textarea.form-control {
          font-size: 13px;
        }
      }

      .min-height {
        min-height: 52px;
      }

      &.panel-email {
        margin-top: 0px;
        overflow: visible;

        .panels-content {
          padding-top: 0px;

          .email-form {
            margin-top: 0px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      &.panel-phone {
        margin-top: 34px;
      }
      &.panel-company {
        .reduce-bottom {
          margin-bottom: 5px;
        }
      }
    }
    .bottom-section {
      .delete-pernamently-area {
        padding-left: 0px;
        margin-top: 15px;
        margin-bottom: 30px;
      }
      .btn-light-danger {
        margin-right: 10px;
      }
    }
  }

  .email-form {
    margin-top: 10px;
  }
  .heading{
    
  }
  .checkbox {
    display: block;
    color: #949ca5;
    margin: 0 0 25px;

    label {
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-right: 15px;
      font-size: 13px;

      span {
        vertical-align: middle;
      }

      &:before {
        vertical-align: middle;
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f10c";
        margin-right: 5px;
        position: absolute;
        left: 0;
        bottom: 1px;
      }
    }

    input[type=checkbox],
    input[type=radio] {
      display: none;

      &:checked + label:before {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f192";
        color: #3299db;
      }
    }
  }

  .panel {
    &:not(.subscription-panel) {
      overflow: hidden;
    }
  }

  .subscription-panel {
    .ui-select-match-item {
      display: inline-block;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .panels-content {
    padding-bottom: 15px;
    background: #fafafa;

    .missing-margin {
      margin-bottom: 15px;
      .description-bot-input{
        color:#99a4af;
        font-size:11px;
        
      }
      input:focus{
        border-color:#8cc4e7 !important;
      }
    }

    .ui-select-toggle {
      padding-top: 13px;
      height: 44px;
    }

    .adding-avatar {
      margin: 0 13px;

      .avatar-container {
        padding-right: 15px;
        .upload-new-logo{
          color:@recrutoid-blue;
          float: left;
          margin-left: 15px;
          margin-top: 10px;
          font-weight:600;
          font-size:13px;

          @media screen and (max-width: 480px) {
            margin-top: 2px;
          }
        }
        .avatar,
        .avatar-placeholder {
          width: 40px;
          height: 40px;
          background: #fff;
          border-radius: 4px;
          border: 1px solid #d4dce1;
          float:left;

          .logo-container {
            display: table;
            width: 100%;
            height: 100%;

            .logo {
              display: table-cell;
              box-sizing: border-box;
              vertical-align: middle;
              text-align: center;
              background: #fff;

              img {
                max-width: 100%;
                max-height: 40px;
              }
            }
          }
        }
      }

      .avatar-bar {
        position: relative;
        padding-left: 20px;
        height: 50px;
        background: #fff;
        border-radius: 4px;
        vertical-align: middle;
        font-size: 16px;
        color: #666;

        .fa {
          font-size: 14px;
          color: #c8c8c8;
        }

        .avatar-choose-button {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          padding: 0 60px;
          background: #dadde0;
          color: #666;
        }
      }
    }

    textarea {
      border: solid 2px #dddddd;
      padding: 0px;
      resize: none;
    }

    input {
      border: solid 2px #dddddd;
      padding-top: 0px;
      padding-bottom: 0px;

      &.mail {
        padding-left: 30px;
      }

      &.phone-shorter {
        width: 80px;
      }
    }

    .phone {
      &:before {
        font: normal normal normal 18px/1 FontAwesome;
        content: '\f095';
        position: absolute;
        top: 13px;
        left: 30px;
        color: #dddddd;
        font-size: 16px;
      }
    }

    .mail {
      &:before {
        font: normal normal normal 18px/1 FontAwesome;
        content: '\f003';
        position: absolute;
        top: 13px;
        left: 28px;
        color: #dddddd;
        font-size: 16px;
      }
    }

    .city {
      background-color: transparent;
      border: solid 2px #dddddd;
      border-radius: 5px;
      &:before {
        font: normal normal normal 18px/1 FontAwesome;
        content: '\f041';
        position: absolute;
        top: 13px;
        left: 28px;
        color: #dddddd;
        font-size: 16px;
      }
      &:after {
        font: normal normal normal 18px/1 FontAwesome;
        content: '\f078';
        position: absolute;
        top: 13px;
        right: 28px;
        font-size: 16px;
        color: #3299db;
      }
    }

    select {
      height: 40px;
      margin-left: 15px;
      border: none;
      box-shadow: none;
      background: transparent none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }

  .bottom-section {
    min-height: 60px;

    .delete-account-button {
      color: #788797;
      border-bottom: 1px solid #788797;
      cursor: pointer;
      margin-top: 10px;
      font-size: 13px;
      text-align: left;

      &:hover {
        color: @recrutoid-blue;
        border-color: @recrutoid-blue;
      }

      &.no-border {
        border: none;
        cursor: default;
      }
    }

    .cancel-deletion {
      position: relative;
      text-align: left;
      padding-left: 80px;

      .btn-light-danger {
        background: @recrutoid-red;
        color: #fff !important;
        position: absolute;
        left: 0;
        top: 0;
      }

      .delete-account-button {
        display: inline-block;

        @media screen and (max-width: 533px) {
          margin: 0;
        }
      }
    }


    .delete-pernamently-area{
      margin:20px 0px;
      color: @recrutoid-red;
      span{
        margin-top: 10px;
        margin-left: 10px;
        span{
          margin-left:10px;
          span{
            margin-left:0px;
          }
        }
      }
    }
  }

  .missing-padding-top {
    padding-top: 10px;
  }

  .missing-padding-bottom {
    padding-bottom: 10px;
  }

  .hide-options {
    .ui-select-dropdown, input {
      display: none;
    }

    .ui-select-match {
      padding-bottom: 17px;
    }
  }

  .password-change {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 10px;
    bottom: 10px;
    border: 1px solid #e4e6e8;
    border-radius: 4px;
    background: #f4f5f6;
    cursor: pointer;

    line-height: 44px;
    padding: 0 20px;

    color: @recrutoid-dark;

    .fa {
      float: right;
      width: 30px;
      height: 30px;
      background: #e1f0fa;
      border-radius: 30px;
      color: @recrutoid-blue;
      line-height: 30px;
      text-align: center;
      margin-top: 8px;
      margin-right: -10px;
    }
  }

  .edit-password-panel {
    min-height: 68px;
    position: relative;

    .row {
      background: #f4f5f6;
      padding: 20px 15px;
      border: 1px solid #badff7;
      border-radius: 4px;
      margin: 0;

      .col-xs-4 {
        padding: 0 5px;
      }

      .form-control {
        background: none;
      }

      .nav {
        text-align: right;
        padding-right: 5px;

        .btn {
          margin-top: 10px;
          margin-left: 5px;
        }
        .btn-light-primary {
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }
  }

  .email-validation {
    padding-right: 120px;
    > div {
      position: absolute;
      right: 0;
      top: 0;

      .right-text {
        position: initial;
        margin-right: 20px;
      }
    }
  }
  .profile-employer-first-row{
    margin-top:0px !important;
    .panel-heading{
      padding:0px 30px 10px 30px !important;
    }
  }
  .panel-settings.profile-employer {
    margin-top: 21px;
    
    .panel-body {
      padding: 0 15px;
    }
  }



  @media screen and (max-width: @screen-xs-max) {
    &.profile-employer {
      .heading {
        .pull-right {
          .title {
            display: none;
          }
        }
      }
      
      .panel-settings {
        .avatar-container {
          padding-right: 0px;
        }

        .panels-content {
          div.form-control {
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 3px;
            border: 0px none !important;
            height: auto;
            .box-shadow(none);
          }
        }
      }

      .panel-email {
        .email-unconfirmed {
          .right-text-danger {
            display: block;
            position: static;
            right: auto;
            top: auto;
            line-height: 1;
          }
        }
        .input-right-text {
          .right-text-success {
            display: block;
            position: static;
            right: auto;
            top: auto;
            line-height: 1;
          }
        }
        .email-unconfirmed-right {
          display: none;
        }
      }

      .adding-avatar {
        .avatar-container {
          .upload-new-logo {
            float: none;
            margin-left: 55px;
            color: #333;
          }
        }
      }

      .delete-pernamently-area {
        padding: 0px;
        
        span.pull-left {
          width: calc(~'100% - 90px');
          text-align: left;
          margin-top: 0px;
          font-size: 13px;

          > .fa {
            margin-right: 10px;
          }
          > span {
            margin: 0px;
          }
        }
      }

      .panel-password {
        display: none;
      }

      .panel-settings {
        .panel-heading{
          padding-left: 20px;
          padding-right: 20px;
        }
        .panel-body{
          padding: 0 5px;
        }

        &.panel-email {
          .panel-body {
            padding-left: 20px;
            padding-right: 20px;
          }
        }

      }

      .profile-employer-first-row{
        .panel-heading{
          padding:0px 20px 10px 20px !important;
        }
      }

      .bottom-section {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    &.profile-seeker {
      .panel-email {
        margin-top: 15px;
      }
      .bottom-section {
        padding: 10px 15px;
      }
      .panel-settings {
        .avatar-container {
          padding-right: 0px;
        }
        .panel-heading {
          padding: 10px 15px;
        }
        .settings-col {
          padding-left: 0px;
          padding-right: 0px;
        }
        .panels-content {
          padding: 10px 15px;

          div.form-control {
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 3px;
            border: 0px none !important;
            height: auto;
            .box-shadow(none);
          }
        }
      }
      .password-change {
        left: 15px;
        right: 15px;
      }
      .panel-email {
        .email-unconfirmed {
          .right-text-danger {
            display: block;
            position: static;
            right: auto;
            top: auto;
            line-height: 1;
          }
        }
        .input-right-text {
          .right-text-success {
            display: block;
            position: static;
            right: auto;
            top: auto;
            line-height: 1;
          }
        }
        .email-unconfirmed-right {
          display: none;
        }
        .panels-content {
          div.form-control {
            border-bottom: 2px solid #dddddd !important;
            padding-bottom: 8px;
            font-size: 13px;
          }
          .form-control-info {
            color: #99a4af;
            font-size: 12px;
            font-weight: normal;
          }
          .right-text-success {
            text-align: center;
            padding-top: 15px;
          }
        }
        .checkbox {
          display: inline-block;
          margin: 0px 0px 5px 0px;

          label {
            &:before {
              bottom: 2px;
            }
            span {
              color: #333;
              font-size: 14px;
            }
          }
        }
      }

    }
  }

  @media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    &.profile-employer {
      .bottom-section {
        .btn-light-primary {
          margin-top: 80px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
