<div class="edit-cv" data-ng-controller="EditCvController as editCv">
    <form name="cv-form" data-ng-submit="editCv.changeStep() ? app.scrollTop : null">
        <div class="user-page fromRight" ng-class="{'showIn' : editCv.viewReady}">
            <div class="heading clearfix">
                <div class="row clearfix">
                    <div class="col-xs-12">
                        <div class="pull-left">
                            <div class="title">
                                <i class="fa fa-pencil-square"></i> <span data-translate>CV</span>
                            </div>
                            <div class="pill-nav">
                                <a href="#main-information" du-smooth-scroll class="active">
                                    Main information
                                </a>
                                <a href="#education" du-smooth-scroll>
                                    Education
                                </a>
                                <a href="#work" du-smooth-scroll>
                                    Work experience
                                </a>
                            </div>
                        </div>

                        <div class="nav pull-right">
                            <button class="btn btn-light-primary" type="submit" data-ng-disabled="editCv.savingData || editCv.infoEdit">
                                <span>Save</span>
                            </button>
                            <button class="btn btn-light-danger" type="button" ng-click="settings.setActiveSite('cv-page')" data-ng-disabled="editCv.savingData || editCv.infoEdit">
                                <span>Cancel</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-body">
                <div class="cv-edit-part" data-ng-include="'modules/user/edit-cv-parts/edit-cv.part.main.tpl.html'"></div>
                <div class="cv-edit-part" data-ng-include="'modules/user/edit-cv-parts/edit-cv.part.education.tpl.html'"></div>
                <div>
                    <div class="cv-edit-part" data-ng-include="'modules/user/edit-cv-parts/edit-cv.part.workExperience.tpl.html'"></div>
                    <div class="cv-edit-part" data-ng-include="'modules/user/edit-cv-parts/edit-cv.part.languages.tpl.html'"></div>
                    <div class="cv-edit-part no-margin-bottom" data-ng-include="'modules/user/edit-cv-parts/edit-cv.part.additionalInfo.tpl.html'"></div>
                </div>
            </div>

            <div class="row nav">
                <div class="col-xs-12">

                <span class="pull-right">
                    <button class="btn btn-light-primary" type="submit" data-ng-disabled="editCv.savingData || editCv.infoEdit">
                        <span>Save & finish</span>
                    </button>
                    <button class="btn btn-light-danger" ng-click="settings.setActiveSite('cv-page')" type="button" data-ng-disabled="editCv.savingData || editCv.infoEdit">
                        <span>Cancel</span>
                    </button>
                </span>
                </div>
            </div>
        </div>
    </form>
</div>
