<div class="edit-profile user-page " ng-class="{'profile-employer': app.isEmployer(), 'profile-seeker': app.isJobSeeker()}"  data-ng-controller="EditUserProfile as editProfile">
        <div class="heading clearfix">
            <div class="row clearfix">
                <div class="col-xs-12">
                    <div class="pull-left">
                        <div class="title">
                            <i class="fa" ng-class="{'fa-building-o' : editProfile.isEmployer, 'fa-user' : app.isJobSeeker()}"></i> <span data-translate>Profile</span>
                        </div>
                    </div>
                    <div data-ng-if="!app.isJobSeeker()" class="pull-right hidden-xs">
                        <div class="title">
                            <button type="submit" class="btn btn-light-primary" ng-click="editProfile.save()"><span data-translate>Save_Changes</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form data-ng-submit="editProfile.save()">
            <div class="panel panel-settings profile-employer profile-employer-first-row panel-company" data-ng-if="!app.isJobSeeker()">

                <div class="panel-heading">
                    <i class="fa fa-file-text"></i> <span data-translate>Company_Description</span>
                </div>
                <div class="panel-body panels-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div data-ng-if="!editProfile.isEmployer && editProfile.loaded">
                                <div class="col-md-6 missing-margin">
                                    <input type="text" class="form-control" data-ng-model="editProfile.profile.firstName" placeholder="{{'First_Name'|translate}}">
                                </div>
                                <div class="col-md-6 missing-margin">
                                    <input type="text" class="form-control" data-ng-model="editProfile.profile.lastName" placeholder="{{'Last_Name'|translate}}">
                                </div>
                            </div>
                            <div data-ng-if="editProfile.isEmployer">
                                <div class="col-sm-12 form-col missing-margin">
                                    <recrutoid-input type="text" class="hidden-xs" placeholder="Company_Name" required="true" ng-model="editProfile.profile.firstName" max="100" error="editProfile.errors.firstName"></recrutoid-input>
                                    <div class="form-control visible-xs">{{ editProfile.profile.firstName }}</div>
                                    <div class="description-bot-input visible-xs">
                                        <span data-translate ng-show="editProfile.profile.firstName.length">
                                            {{'Company_Name'|translate}} *
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div data-ng-if="editProfile.isEmployer">
                                <div class="col-sm-12 form-col missing-margin">
                                    <recrutoid-textarea class="hidden-xs" placeholder="Description" required="true" ng-model="editProfile.profile.lastName" max="1000" error="editProfile.errors.lastName"></recrutoid-textarea>
                                    <!--<recrutoid-input type="text" class="hidden-xs" placeholder="Description" required="true" ng-model="editProfile.profile.lastName" max="1000" error="editProfile.errors.lastName"></recrutoid-input>-->
                                    <div class="form-control visible-xs">{{ editProfile.profile.lastName }}</div>
                                    <div class="description-bot-input visible-xs">
                                        <span data-translate ng-show="editProfile.profile.lastName.length">
                                            {{'Description'|translate}} *
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-settings profile-employer" data-ng-if="!app.isJobSeeker()">
                <div class="panel-heading">
                    <i class="fa fa-camera"></i> <span data-translate>Company_Logo</span>
                </div>
                <div class="panel-body panels-content">
                    <div class="media adding-avatar">
                        <div class="media">
                            <div class="media-left avatar-container">
                                <div class="avatar" data-ng-if="editProfile.profile.thumbnail">
                                    <div class="logo-container">
                                        <div class="logo">
                                            <img data-ng-src="{{editProfile.profile.thumbnail}}">
                                        </div>
                                    </div>
                                </div>

                                <div class="avatar-placeholder" data-ng-if="!editProfile.profile.thumbnail"></div>

                                    <!--<span>
                                        <i class="fa fa-camera"></i>
                                        <span data-ng-if="!editProfile.isEmployer" data-translate>Profile_Picture</span>
                                        <span data-ng-if="editProfile.isEmployer" data-translate>Company_Logo</span>
                                    </span>-->

                                    <span data-ng-if="!editProfile.uploading" class="clickable upload-new-logo hidden-xs" data-ngf-select
                                          data-ngf-change="editProfile.uploadAvatar($files, $event)" >
                                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                        <span data-translate>Upload_New_Logo</span>
                                    </span>
                                    <span data-ng-if="!editProfile.uploading" class="clickable upload-new-logo visible-xs" >
                                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                        <span data-translate>You_can_upload_photo_from_tablet_notebook_or_pc</span>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-settings profile-employer panel-phone" data-ng-if="!app.isJobSeeker()">
                <div class="panel-heading">
                    <i class="fa fa-commenting"></i> <span data-translate>Contact_Information</span>
                </div>
                <div class="panel-body panels-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-sm-12 form-col missing-margin">
                                <recrutoid-input ui-mask="+9 (999) 999-99-99" type="text" class="hidden-xs" placeholder="Phone_Number" required="true" ng-model="editProfile.profile.phone" error="editProfile.errors.phone"></recrutoid-input>
                                <div class="form-control visible-xs">{{ editProfile.profile.phone | mask: '+9 (999) 999-99-99'}}</div>
                                <div class="description-bot-input visible-xs">
                                        <span data-translate ng-show="editProfile.profile.phone.length">
                                            {{'Phone_Number'|translate}} *
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-settings panel-email" >
                <div class="panel-body panels-content min-height">
                    <span class="checkbox" data-ng-if="app.isJobSeeker()">
                        <input id="showOnHome" type="checkbox" data-ng-value="true" data-ng-model="editProfile.profile.hiddenOnSearch">
                        <label for="showOnHome" data-translate>
                            <span>{{'Hide_CV_From_Search' | translate}}</span>
                        </label>
                    </span>
                    <user-email ng-if="editProfile.profile" profile="editProfile.profile" errors="editProfile.errors"></user-email>
				</div>
			</div>
        </form>

        <div ng-if="!editProfile.profile.socialOnly" class="panel panel-settings panel-password">
            <div class="panel-heading blue">
                <i class="fa fa-lock"></i> <span data-translate>Password_Change</span>
            </div>
            <div class="panel-body panels-content edit-password-panel">
                <div ng-hide="editPassword" class="password-change ng-fade" ng-click="editPassword = true">
                    &#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;
                    <i class="fa fa-pencil"></i>
                </div>
                <div ng-show="editPassword" class="row ng-fade">
                    <div class="col-sm-4 settings-col">
                        <recrutoid-input type="password" placeholder="Current_Password" required="true" ng-model="editProfile.password.current" error="editProfile.errors.currentPassword"></recrutoid-input>
                    </div>
                    <div class="col-sm-4 settings-col">
                        <recrutoid-input type="password" placeholder="New_Password" required="true" ng-model="editProfile.password.new" error="editProfile.errors.newPassword"></recrutoid-input>
                    </div>
                    <div class="col-sm-4 settings-col">
                        <recrutoid-input type="password" placeholder="Confirm_New_Password" required="true" ng-model="editProfile.password.newConfirm" error="editProfile.errors.newPasswordConfirm"></recrutoid-input>
                    </div>
                    <div class="nav">
                        <button type="submit" ng-click="editProfile.savePassword()" class="btn btn-light-primary">{{'Save' | translate}}</button>
                        <button type="button" class="btn btn-light-danger" ng-click="editPassword = false; editProfile.password = {}">{{'Cancel' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-section text-right">
            <span ng-if="!daysLeftToDeletion" class="delete-account-button pull-left" data-ng-click="editProfile.delete()">
                <i class="fa fa-trash-o"></i> <span data-translate>Delete_Account_Completely</span>
            </span>
            <div ng-if="daysLeftToDeletion" class="cancel-deletion">
                <button type="button" ng-click="editProfile.revertDeletion()" class="btn btn-light-danger pull-left"><span data-translate>Cancel</span></button>
                <span class="delete-account-button no-border" data-ng-click="editProfile.delete()">
                    <i class="fa fa-trash-o text-danger"></i> <span class="text-danger">{{'Delete_Account_Completely' | translate}} - {{'Account_will_be_deleted_in_days_d' | translate | fmt:{days: daysLeftToDeletion} }}</span>
                </span>
            </div>
            <button type="submit" class="btn btn-light-primary hidden-xs" ng-click="editProfile.save()"><span data-translate>Save_Changes</span></button>
        </div>
</div>
