.edit-cv,
.edit-cv-modal {
  color: @recrutoid-dark;

  .heading {
    .nav {
      margin-right: 30px;
      margin-top: 30px;
    }
  }
  .cv-edit-part {
    margin-bottom: 80px;

    &.no-margin-bottom {
      margin-bottom: 0;
    }

    .recrutoid-field {
      input.form-control {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }

    .recrutoid-select {
      .recrutoid-ui-select ,
      .ui-select-container {
        .ui-select-match > .caret {
          top: 30%;
        }
      }
    }
  }

  .part-title {
    font-size: 18px;
    font-weight: 600;

    .fa {
      color: @recrutoid-blue;
      margin-right: 5px;
    }
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h4 {
    margin: 0 0 20px 0;
    font-weight: normal;
    font-size: 16px;
  }

  .space {
    &:before {
      content: '';
      display: inline-block;
      height: 1px;
      width: 4px;
    }
  }

  .btn-ok {
    background: #e2f0fb;
    color: #ffffff;
    border: none;
  }

  .btn-dismiss {
    background:#f4e0e1;
    color:@recrutoid-red;
  }

  .page-title {
    font-size: 20px;
    font-weight: bold;
  }

  .cv-preview {
    white-space: nowrap;
  }

  .cv-status {
    padding-top: 6px;
    font-weight: bold;

    &.active {

      .circle {
        color: green;
      }
    }

    .circle {
      color: @recrutoid-red;
    }
  }

  .cv-views-btn {
    padding-top: 6px;
    padding-left: 20px;
    display: none;
  }

  .form-header {
    margin-top: 12px;
    padding: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: @recrutoid-red;

    .step {
      display: inline-block;
      padding: 3px 0;
      width: 154px;
      text-align: center;
      background-color: rgba(255, 255, 255, .2);
      color: #fff;
      border-radius: 4px;
      font-weight: bold;

      &.active {
        background-color: #fff;
        color: #000;
      }
    }

    .arrow-between {
      color: rgba(255, 255, 255, .2);
      font-size: 20px;
      position: relative;
      top: 3px;
    }

    .cv-views-btn {
      display: inline;
      padding-top: 2px;
      padding-left: 0;
      color: #fff;
    }
  }

  .social-mail {
    margin: 20px 0;
  }

  .form-body {
    padding-bottom: 0;
  }

  .row.nav {
    padding: 20px 30px 30px;
    .btn {
      margin-left: 10px;
    }
  }

  .btn-light-primary {
    &.btn-cv {
      &[disabled] {
        background: #f2f2f2;
        color: #767e83 !important;
      }
    }
  }
}

@media (max-width: 660px) {
  .edit-cv {

    .cv-views-btn {
      display: inline;
    }

    .form-header {
      text-align: center;

      .cv-views-btn {
        display: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .edit-cv {

    .form-header {
      text-align: center;

      .step {
        display: none;

        &.active {
          display: inline-block;
        }
      }

      .arrow-between {
        display: none
      }
    }
  }
}
