<div data-ng-controller="ForwardCv as forwardCv" class="forward-cv user-page" ng-class="{'empty': !userSub.profile.subscription, 'mobile' : media == 'mobile'}">
    <form data-ng-submit="forwardCv.send()" class="form-body">
        <div class="heading clearfix">
            <div class="row clearfix">
                <div class="col-xs-12">
                    <div class="pull-left">
                        <div class="title">
                            <i class="fa fa-paper-plane"></i> <span data-translate>Forward_CV</span>
                        </div>
                    </div>
                    <div class="pull-right hidden-xs">
                        <div class="nav">
                            <button type="submit" class="btn btn-light-primary">
                                <span data-translate>Forward</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="row form-row">
                <recrutoid-input icon="fa-envelope" type="email" placeholder="E-mail" required="true" ng-model="forwardCv.email" error="forwardCv.errors.email"></recrutoid-input>
            </div>
        </div>
    </form>
</div>