.forward-cv {

  .form-body {
    background: none;
    padding: 0;

    .form-control {
      background: none;
    }
  }

  .heading {
    .nav {
      padding: 30px;
    }
  }

  .content {
    background: #f4f5f6;
    padding: 30px;
  }

  .recrutoid-field.with-icon {
    input.form-control {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}