@import "../common/common";

.my-vacancies-details {
  .missing-margin-bottom {
    margin-bottom: 20px;
  }
  .heading {
    .title {
      font-size: 24px;
      color: #283b49;
      font-weight: bold;
    }
    margin-bottom: 10px;
  }

  .actions {
    padding-top: 18px;
    padding-right: 8px;

    .action-control {
      width: 36px;
    }

    button {
      background-color: #e04936;
      color: #FFFFFF;
      margin-right: 10px;
      &.blue {
        background-color: @recrutoid-blue;
      }
    }
  }

  .offer-box {
    &.media, .media-body {
      overflow: visible;
    }
    padding: 0;
    margin-left: 0;
    background-color: #fafafa;
    border-radius: 3px;
    box-shadow: 3px;

    img {
      height: 75px;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
    }

    .informations {
      padding-top: 5px;
      .no-padding-sides {
        padding-left: 0;
        padding-right: 0;
      }
      .title {
        font-size: 20px;
        color: #000000;
        .salary {
          padding-left: 30px;
          padding-top: 4px;
          font-size: 14px;
          color: #989898;
        }
        .statuses {
          font-size: 16px;
        }
      }
      .info {
        color: #989898;
        .element {
          padding-right: 40px;
        }
      }
    }
  }

  .panel-default.red {
    border: none;
    margin-bottom: 30px;
    > .panel-heading {
      color: #FFFFFF;
      border-image: none;
      &.red {
        background: #d54b48 none;
        border: none;
      }
    }
  }
}

@media (min-width: 440px) {
  .my-vacancies-details {
    .actions {
      width: 154px;
    }
  }
}

@media (max-width: 600px) {
  .my-vacancies-details {
    .offer-box {
      .img-inside-box {
        display: none;
      }
      .informations {
        padding-left: 10px;
      }
    }
  }
}
