@import "../common/common";

.my-vacancies {
  .btn-main{padding-top:6px; border-width:1px;}

  .vacancy-box {

    .media {
      padding-bottom: 10px;
    }
    .body {
      margin-top: 10px;
      margin-bottom: 6px;

      .title {
        color: @recrutoid-dark;
      }
    }
    .details {
      .element {
        &.categories-listing {
          color: #b1b8bf;

          .fa {
            color: #9ea6af;
          }
        }
      }
      br.hidden-xs {
        display: none !important;
      }

      .categories-listing {
        display: block;
      }
    }

    .action-control.pseudo-checkbox {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      color: #eaebed;

      label {
        right: auto;
        left: 50%;
        margin-left: -6px;
        &:before {
          font-size: 16px;
        }
      }
      input[type="checkbox"]:checked + label::before {
        font-size: 16px;
      }
    }
  }

  .heading {
    background: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #d4dce1;
    padding: 30px 15px;

    .title {
      font-size: 20px;
      color: #283b49;
      font-weight: bold;
      span{
        padding-left:4px;
      }
      .fa{
        color:#1d88cf;
        font-size:22px;
      }
    }
    .pill-nav{
      margin-left:25px;
      font-size:13px;

      .badge-green {
        position: relative;
        top: -1px;
      }
    }
    .add-new-vacancy{
      background: #eaf5fc;
      font-weight: 600;
      color: #1d88cf;
      border-color: #eaf5fc;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: -5px;
    }
  }
  .heading-bottom{
    background:#f5f5f7;
    padding: 15px;
    border: 1px solid #d4dce1;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top:none;

    .select-all,
    .delete {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .select-all{
      border:1px solid #e1e2e4;
      color:#b2b7be;
      background:#fff;
      margin-right: 8px;

      .fa-square {
        color: #d8dbde;
      }

      .fa-check-square{
        color:#1e89d7;
      }
      > span {
        margin-left: 7px;
      }

      &:hover {
        border-color: #b4bfc6;
        color: @recrutoid-dark;

        .fa-square {
          color: #c1c5cb;
        }

        .fa-check-square{
          color:#0072bc;
        }
      }

      &.checked {
        color: @recrutoid-dark;
      }
    }
    .delete{
      background:#f9e3e5;
      border-color:#f9e3e5;
      color:#c84249;
      border-width:1px;
    }
  }

  .img-outside-box {
    display: none;
    background-color: #fafafa;

    img {
      height: 75px;
      margin-bottom: 10px;
    }
  }



  .vacancy-box{
    &.hovered {
      .media-right {
        display: table-cell;
      }
    }

    .media-left{
      float: left;
      width: 70%;
    }
    .actions.actions-3 {
      position: absolute;
      bottom: 10px;
      right: 0;
      width: calc(3 * 45px - 10px);
    }

    .details {
      .create-date {
        display: none !important;
      }
    }

    .media-right {
      float:right;
      display: none;
      .btn-circle{
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background: #fff;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 5px 9px;
        font-size: 14px;
        line-height: 20px;
        border-radius: 50%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .btn-circle.remove{
        background: #f7e9e9;
        color:@recrutoid-red;

        &:hover{
          background: @recrutoid-red;
          color: #fff;
        }
        @media screen and (max-width: @screen-sm-max){
          border-color: #eddcdc;
        }
      }
      .btn-circle.edit{
        background: #e1f0fa;
        float:left;
        margin-right:10px;
        color:#1588d8;

        &:hover{
          background: #1588d8;
          color: #fff;
        }
        @media screen and (max-width: @screen-sm-max){
          border-color: #d0e0eb;
        }
      }
    }

  }

  .vacancy-items-list {
    position: relative;
  }

  &.distributed {
    .heading {
      border-radius: 4px;
    }
  }

  &.published {
    .vacancy-box {
      .media {
        .media-body {
          padding-left: 30px;
        }
      }
    }
  }
}

@media (min-width: 440px) {
  .my-vacancies .offer-box {
    .actions {
      width: 154px;
      .show-checkbox label {
        position: relative;
        top: 4px;
      }
    }
  }
}

@media (max-width: 600px) {
  .my-vacancies {
    .panel.panel-offer-box {
      .offer-box {
        .img-inside-box {
          display: none;
        }
        .informations {
          padding-left: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: @screen-xs-max) {
  .my-vacancies {
    .vacancy-box {
      > .details.show-or-not {
        display: none;
      }

      .details {
        .element:first-child {
          display: block;
        }
      }

      .applicants-number {
        left: 10px;
        top: 11px;
        right: auto;
      }
      .media-body {
        display: table;
        .body {
          display: table-cell;
          padding-top: 10px;
          padding-left: 10px;
          .details.show-or-not {
            display: block;
          }
        }
        .media-right {
          display: table-cell;
          float: none;
          .actions.actions-3 {
            width: 40px;
            margin: 0;
            padding: 0;
            top: 2px;
            right: 0;
            .btn-circle {
              margin-top: 5px;
            }
          }
        }
        .media-left {
          float: none;
          width: 100%;
        }
      }
      .action-control.pseudo-checkbox {
        label ,
        input {
          display: none;
        }
      }
    }
    .heading {
      .pill-nav {
        margin-left: 0px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: @screen-sm-max) {
  .my-vacancies {
    .vacancy-box {
      .media-right {
        display: table-cell;

        .btn-circle {
          &.edit {
            border-color: #e1effa;
            background-color: transparent;
          }
          &.remove {
            border-color: #f6ecea;
            background-color: transparent;
          }
        }
      }
    }

    &.published {
      .vacancy-box .media .media-body {
        padding-left: 40px;
        padding-right: 50px;
      }
    }
  }
}
