@import "../common/common";

.my-vacancies-applications {
  .heading {
    padding: 0;
    background: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #d4dce1;
    padding: 30px 15px;
    .title {
      font-size: 20px;
      color: #283b49;
      font-weight: bold;
      span{
        padding-left:4px;

        &.vacancy-title {
          font-size: 12px;
          color: #9ea6af;
          font-weight: normal;
        }
      }
      .fa{
        color:#1d88cf;
        font-size:22px;
      }
    }
    .pill-nav{
      margin-left:15px;
      font-size:13px;
    }
  }
  .heading-bottom{
    background:#f5f5f7;
    padding: 15px;
    border: 1px solid #d4dce1;
    border-top:none;
    .select-all{
      padding-top: 10px;
      padding-bottom: 10px;
      border:1px solid #e1e2e4;
      color:#b2b7be;
      background:#fff;
      margin-right: 8px;

      .fa-square {
        color: #d8dbde;
      }

      .fa-check-square{
        color:#1e89d7;
      }
      > span {
        margin-left: 7px;
      }

      &:hover {
        border-color: #b4bfc6;
        color: @recrutoid-dark;

        .fa-square {
          color: #c1c5cb;
        }

        .fa-check-square{
          color:#0072bc;
        }
      }

      &.checked {
        color: @recrutoid-dark;
      }
    }
    .delete{
      font-size:13px !important;
      background:#f9e3e5;
      border-color:#f9e3e5;
      color:#c84249;
      border-width:1px;
    }
    .seen{
      font-size:13px !important;
      background:#e1f0fa;
      border-color:#e1f0fa;
      color:#1d88cf;
      border-width:1px;
      margin-right: 8px;
    }
  }

  .offer-box {
    &.media, .media-body{
      overflow: visible;
    }
    padding: 0;
    margin-left: 0;
    background-color: #fafafa;
    border-radius: 3px;
    box-shadow: 3px;

    img {
      width: 75px;
      height: 75px;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
    }

    .informations {
      padding-top: 5px;
      .no-padding-sides {
        padding-left: 0;
        padding-right: 0;
      }
      .title {
        font-size: 20px;
        color: #000000;
        .categories {
          font-size: 14px;
          color: #989898;
          padding-left: 10px;
        }
      }
      .info {
        color: #989898;
        .element {
          padding-right: 40px;
        }
      }
    }

    .actions {
      padding-top: 15px;
      .show-checkbox {
        display: inline-block;
        margin: 12px 10px 18px 0;
        &:hover {
          color: #c1c2c4;
        }
        color: #eaebed;
        label {
          display: inline-block;
          cursor: pointer;
          position: relative;
          padding-left: 25px;
          padding-right: 15px;
          font-size: 13px;

          &:before {
            font: normal normal normal 46px/1 FontAwesome;
            content: "\f096";
            margin-right: 10px;
            position: absolute;
            left: 0;
            bottom: -22px;
          }
        }

        input[type=checkbox] {
          display: none;

          &:checked + label:before {
            font: normal normal normal 40px/1 FontAwesome;
            content: "\f046";
            color: #3299db;
          }
        }
      }

      button {
        background-color: #e04936;
        color: #FFFFFF;
        margin-right: 10px;
        &.blue {
          background-color: @recrutoid-blue;
        }
      }
    }

    &:hover {
      background-color: #FFFFFF;
    }
  }

  .seeker-box {
    &.hovered {
      .media-right {
        float:right;

        &.actions-wrapper.show-or-not {
          display: table-cell;
        }
      }
    }
    .action-control.pseudo-checkbox {
      width: 38px;
      float: left;
      text-align: center;
    }
    .details.details-with-padding {
      padding-bottom: 0px;
      padding-left: 30px;
    }
    .media-right {
      float:right;

      &.actions-wrapper.show-or-not {
        display: none;
      }

      .btn-circle{
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 5px 9px;
        font-size: 14px;
        line-height: 20px;
        border-radius: 50%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .btn-circle.remove{
        background:#f6ecea;
        color:@recrutoid-red;

        &:hover{
          background: @recrutoid-red;
          color: #fff;
        }
      }
      .btn-circle.edit{
        background:#e1effa;
        color:#1588d8;
        float:left;
        margin-right:10px;

        &:hover{
          background: #1588d8;
          color: #fff;
        }
      }

      .actions {
        bottom: 10px;
        position: absolute;
        right: 10px;
        padding: 0px;
        width: auto;
      }
    }
    .media-logo-side {
      padding-left: 30px;
    }
    .action-control.pseudo-checkbox input[type="checkbox"] {
      display: none;
    }
  }

  .action-control.pseudo-checkbox {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    color: #eaebed;
    width: 38px;

    &:hover {
      color: #c1c2c4;
    }

    label {
      display: block;
      margin: 0;
      cursor: pointer;
      font-size: 13px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%);
      margin-left: -6px;

      &:before {
        position: relative;
        font: normal normal normal 16px/1 FontAwesome;
        content: "\f0c8";
      }
    }

    input[type=checkbox] {
      display: none;

      &:checked + label:before {

        font: normal normal normal 16px/1 FontAwesome;
        content: "\f14a";
        color: #3299db;
      }
    }
  }

}

@media (min-width: 440px) {
  .my-vacancies-applications .offer-box {
    .actions {
      width: 154px;
      .show-checkbox label {
        position: relative;
        top: 4px;
      }
    }
  }
}

@media screen and (max-width: @screen-xs-max) {
  .my-vacancies-applications {
    .heading {
      .title {
        width: 100%;

        .vacancy-title {
          display: block !important;
          padding: 0px;
          text-align: center;
        }
      }
    }
    .heading-bottom {
      display: none;
    }

    .action-control.pseudo-checkbox {
      display: none;
    }
    .seeker-box {
      .details.details-with-padding ,
      .media-logo-side {
        padding-left: 0px;
      }
      .media-right.actions-wrapper.show-or-not {
        float: none;

        .actions {
          margin-left: auto;
          margin-top: 0;
          padding-top: 2px;
          right: 0;
          text-align: right;
          width: 36px;
          position: static;

          .btn-circle {
            margin-top: 5px;
            margin-right: 0px;
            &:first-child {
              margin-top: 0px;
            }

            .fa {
              width: 14px;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: @screen-sm-max) {
  .my-vacancies-applications {
    .seeker-box {
      &.visited {
        &:hover {
          background: #fffae9;
        }
      }

      .media-right {
        &.actions-wrapper.show-or-not {
          display: table-cell;
        }

        .btn-circle {
          &.edit {
            border-color: #e1effa;
            background-color: transparent;
          }
          &.remove {
            border-color: #f6ecea;
            background-color: transparent;
          }
        }
      }

      &.visited {
        .visited-icon {
          display: none;
        }

        .media-right {
          .btn-circle.edit {
            color: #dca57b;
            border-color: #ede1d4;

          }
          .btn-circle.remove {
            border-color: #fae8e8;
          }
        }
      }
    }
  }
}

@media screen and (max-width: @screen-xs-max) {
  .my-vacancies-applications {
    .heading {
      border-radius: 4px;
      margin-top: 10px;
      .fa {
        vertical-align: middle;
      }
      .title {
        text-align: center;
        padding-left: 0;
        font-size: 16px;
        vertical-align: middle;
      }
    }

  }
}
