<div class="my-vacancies-details">
    <div class="heading clearfix">
        <div class="pull-left title">
            <i class="fa fa-briefcase"></i> <span data-translate>My_Vacancy_Details</span>
        </div>
        <div class="pull-right form-inline">
            <button type="submit" class="btn btn-main" data-ng-click="settings.setActiveSite('myVacanciesApplications', settings.vacancyDetails.id, true)"><i
                    class="fa fa-check"></i> <span data-translate>{{ settings.vacancyDetails.applicants.length }} Application</span></button>
        </div>
    </div>

    <div data-ng-if="settings.vacancyDetails" vacancy-box="settings.vacancyDetails" 
         data-show-logo="true" data-show-company-name="true" data-show-create-date="true" 
         data-show-new="true" data-show-categories-view="true"
         data-actions="{edit: settings.edit, remove: settings.removeVacancy}"></div>
    
    <div class="panel panel-default red">
        <div class="panel-heading red">
            <i class="fa fa-bars"></i> Vacancy description
        </div>
        <div class="panel-body" data-ng-bind-html="settings.vacancyDetails.details"></div>
    </div>

    <button class="btn btn-main missing-margin-bottom" data-ng-click="settings.setActiveSite('myVacancies')"><i class="fa fa-backward"></i> Back to my vacancies
    </button>
</div>
