<div class="my-vacancies-applications" data-ng-controller="MyVacanciesApplicationsCtrl as myApplications">
    <a type="button" data-ng-click="settings.setActiveSite('myVacancies')" class="back-to-button visible-xs">
        <i class="fa fa-chevron-circle-left"></i>
        <span data-translate>Return_To_The_List</span>
    </a>
    <div class="heading clearfix">
        <div class="col-xs-12 ">
            <div class="pull-left title">
                <i class="fa fa-briefcase"></i>
				<span data-translate>Job_Seekers_Applications</span>
				<span class="vacancy-title">{{ settings.vacancyDetails.title }}</span>
            </div>
            <div class="pull-right form-inline hidden-xs">
                <button class="btn btn-light-primary add-new-vacancy" data-ng-click="settings.setActiveSite('myVacancies')">
					<span data-translate>Close</span>
                </button>
            </div>
        </div>
    </div>
	<div class="heading-bottom">
        <button class="btn btn-main select-all" ng-class="{'checked':vacanciesList.selectValue}" data-ng-disabled="0 >= myApplications.vacancies.length" data-ng-click="myApplications.selectAll()">
			<i class="fa fa-check-square" aria-hidden="true" ng-show="myApplications.selectValue"></i>
			<i class="fa fa-square" aria-hidden="true" ng-show="!myApplications.selectValue"></i>
			<span data-translate>Select_All</span>
		</button>
        <button class="btn btn-light-primary" data-ng-disabled="0 >= myApplications.jobSeekers.length" data-ng-click="myApplications.markAsSeenSelected()">
			<span data-translate>Mark_As_Seen</span> <span data-ng-if="selectedItems > 0">({{selectedItems}})</span>
		</button>
        <button class="btn btn-light-danger" data-ng-disabled="0 >= myApplications.jobSeekers.length" data-ng-click="myApplications.removeSelected()">
			<i class="fa fa-trash"></i>
			<span data-translate>Delete</span> <span data-ng-if="selectedItems > 0">({{selectedItems}})</span>
		</button>
    </div>

    <div class="alert alert-info" data-ng-show="0 === myApplications.jobSeekers.length">
        {{'No_candidates_replied_to_this_offer_yet' | translate}}
    </div>

    <div data-scroll-to="myOffersList">
        <div class="clickable" seeker-box="jobSeeker" data-ng-repeat="jobSeeker in myApplications.jobSeekers"
             data-actions="{remove: myApplications.remove, view: myApplications.showJobSeekerProfile,
             checkbox: true, details: myApplications.showJobSeekerProfile}"
             style="margin-top: 10px;"></div>

        <div class="pagination-container">
            <uib-pagination ng-class="{'hidden': media == 'mobile'}"
                            ng-model="myApplications.currentPage"
                            ng-change="myApplications.allowScroll = true"
                            ng-show="myApplications.isPaginationNeeded()"
                            total-items="myApplications.resultCount"
                            items-per-page="myApplications.filter.size"
                            max-size="5"
                            boundary-links="true"
                            previous-text="&#xf053;" next-text="&#xf054;" first-text="&#xf053;&#xf053;" last-text="&#xf054;&#xf054;"
            ></uib-pagination>

            <uib-pagination ng-class="{'hidden': media != 'mobile'}"
                            ng-model="myApplications.currentPage"
                            ng-change="myApplications.allowScroll = true"
                            ng-show="myApplications.isPaginationNeeded()"
                            total-items="myApplications.resultCount"
                            items-per-page="myApplications.filter.size"
                            max-size="1"
                            template-url="mobile.html"
                            previous-text="&#xf053;" next-text="&#xf054;" first-text="&#xf053;&#xf053;" last-text="&#xf054;&#xf054;"
            ></uib-pagination>
        </div>
    </div>
</div>
