<div class="my-vacancies" ng-class="showme" data-ng-controller="MyVacanciesCtrl as vacanciesList">
    <div class="heading clearfix">
        <div class="col-xs-12 ">
            <div class="pull-left title">
                <i class="fa fa-briefcase"></i> <span data-translate>Vacancies</span>
            </div>
            <div class="pill-nav">
                <a ng-click="vacanciesList.changeTab('published')" data-ng-disabled="2 >= vacanciesList.vacancies.website.length" ng-class="{active: selectedTab=='published'}">
                    {{'Published' | translate}}
                    <span class="badge ng-binding badge-green" data-ng-if="settings.user.applicationsCount && media == 'tablet'">{{settings.user.applicationsCount}}</span>
                </a>
                <a ng-click="vacanciesList.changeTab('distributed')"  ng-class="{active: selectedTab=='distributed'}">
                    {{'Distributed' | translate}}
                    <span class="badge ng-binding badge-green" data-ng-if="settings.newResumeViews">{{settings.newResumeViews}}</span>
                </a>
            </div>
            <div class="pull-right form-inline hidden-xs" ng-hide="showme=='distributed' || switchingTab">
                <button class="btn btn-main add-new-vacancy" data-ng-click="settings.setActiveSite('addNewVacancy')"><i class="fa fa-plus-circle"></i> <span data-translate>Add_New_vacancy</span>
                </button>
            </div>
        </div>
    </div>

    <div class="heading-bottom hidden-xs" ng-hide="showme=='distributed' || switchingTab">
        <button class="btn btn-main select-all" ng-class="{'checked':vacanciesList.selectValue}" data-ng-disabled="0 >= vacanciesList.vacancies.length" data-ng-click="vacanciesList.selectAll()">
			<i class="fa fa-check-square" aria-hidden="true" ng-show="vacanciesList.selectValue"></i>
			<i class="fa fa-square" aria-hidden="true" ng-show="!vacanciesList.selectValue"></i>
			<span data-translate>Select_All</span>
		</button>
        <button class="btn btn-light-danger" data-ng-disabled="0 >= vacanciesList.vacancies.length" data-ng-click="vacanciesList.removeSelected()">
			<i class="fa fa-trash-o"></i> <span data-translate>Delete <span data-ng-if="selectedItems > 0">({{selectedItems}})</span></span>
		</button>
    </div>



    <div class="alert alert-info" data-ng-if="!vacanciesList.vacancies.length && !switchingTab" data-translate>You_have_no_vacancies</div>
    <div ng-include="'modules/common/loader/loader.tpl.html'" class="subPageLoader" ng-show="switchingTab"></div>

    <div data-scroll-to="myVacanciesList" class="vacancy-items-list fromRight" ng-class="{'showIn' : !switchingTab}">
        <div ng-if="showme=='published'">
            <div class="pointer" data-ng-repeat="vacancy in vacanciesList.vacancies" vacancy-box="vacancy"
                 data-show-applicants="true" data-show-create-date="true" data-show-categories-listing="true"
                 data-go-applicants-method="settings.setActiveSite('myVacanciesApplications', vacancyId, true)"
                 data-actions="{edit: vacanciesList.edit, show: vacanciesList.showVacancy, remove: vacanciesList.remove, checkbox: true}" data-ng-click="settings.setActiveSite('myVacanciesApplications', vacancy.id, true)"></div>
        </div>
        <div ng-if="showme=='distributed'">
            <div data-ng-repeat="vacancy in vacanciesList.vacancies" vacancy-box="vacancy" data-show-categories-listing="true"
                 data-raw-creation-date="true" data-days-to-deletion="{{vacanciesList.getDaysToDeletion(vacancy.extendDate)}}"></div>
        </div>
    </div>

</div>
