<div ng-include="'modules/common/userMenu/userMenu.tpl.html'" ng-class="{'navbar-mobile-settings': showMobileFilters && media == 'mobile' && !app.navMenuActive}"></div>
<div class="search-users-view" ng-class="media" ng-hide="app.navMenuActive">
    <floating-button icon="fa-sliders" ng-click="showMobileFilters = true" ng-class="{'hidden': media != 'mobile'}" ></floating-button>

    <a ng-click="showMobileFilters = false" class="back-button fromLeft visible-xs" ng-class="{'showIn': showMobileFilters && !app.navMenuActive}"><i class="fa fa-chevron-left"></i> Filters</a>
    <a ng-click="searchUsers.applyMobileFilters()" class="apply-button fromLeft visible-xs clickable" ng-class="{'showIn': showMobileFilters && !app.navMenuActive}"><i class="fa fa-check"></i> Apply</a>

    <div ng-show="showMobileFilters" class="container mobile-profile-menu visible-xs">
        <div class="row">
            <div class="col-xs-12 fromRight" ng-class="{'showIn': showMobileFilters}" >
                <div class="profile-menu">
                    <div class="row search-form">
                        <div class="col-xs-12" ng-cloak ng-include="'modules/common/mainFilters/mainCvFilters.tpl.html'">
                        </div>
                    </div>

                    <sub-cv-filters mode="desktop"
                                    has-selected-filters="searchUsers.hasSelectedFilters()"
                                    is-filter-selected="searchUsers.isFilterSelected(filter)"
                                    is-filter-set="searchUsers.isFilterSet(filter, value)"
                                    reset-filters="searchUsers.resetFilters()"
                                    set-filter="searchUsers.setFilter(filter, value)"
                                    set-multiple-filter="searchUsers.setMultipleFilter(filter, value)"
                                    is-work-experience-filter-set="searchUsers.isWorkExperienceFilterSet(filter)"
                                    set-work-experience-filter="searchUsers.setWorkExperienceFilter(filter)"
                                    education-options="searchUsers.educationOptions"
                                    languages-options="searchUsers.languages"
                                    job-titles-data="searchUsers.jobTitlesFilterData"
                                    toggle-language="searchUsers.toggleLanguage(filter)"
                                    selected-languages="searchUsers.selectedLanguages"
                                    lang-proficiency-changed="searchUsers.langProficiencyChanged(filter)"
                                    language-proficiencies="searchUsers.languageProficiencies"
                                    filter-data="searchUsers.filter"
                                    company-name="searchUsers.companyName"
                                    ></sub-cv-filters>

                </div>
            </div>
        </div>
    </div>

    <div class="container" ng-class="{'hidden': showMobileFilters}">
        <div class="row search-form">
            <div class="col-xs-12" ng-cloak ng-include="'modules/common/mainFilters/mainCvFilters.tpl.html'">
            </div>
        </div>

        <div class="row column-buttons visible-md visible-lg">
            <div class="col-xs-12">
                <a class="column-button three-columns" ng-class="{'active': !twoColumnsMode}" ng-click="searchUsers.toggleTwoColumns(false)"></a>
                <a class="column-button two-columns" ng-class="{'active': twoColumnsMode}" ng-click="searchUsers.toggleTwoColumns(true)"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 visible-xs sidebar mobile">
                <button class="btn btn-block btn-light-blue" ng-click="showMobileFilters = true" >
                    <i class="fa fa-sliders"></i>
                    <span data-translate>Filters</span>
                </button>
            </div>

            <div class="col-sm-3 hidden-xs mising-padding sidebar">

                <div id="desktop-filters">
                    <sub-cv-filters mode="desktop"
                                    has-selected-filters="searchUsers.hasSelectedFilters()"
                                    is-filter-selected="searchUsers.isFilterSelected(filter)"
                                    is-filter-set="searchUsers.isFilterSet(filter, value)"
                                    reset-filters="searchUsers.resetFilters()"
                                    set-filter="searchUsers.setFilter(filter, value)"
                                    set-multiple-filter="searchUsers.setMultipleFilter(filter, value)"
                                    is-work-experience-filter-set="searchUsers.isWorkExperienceFilterSet(filter)"
                                    set-work-experience-filter="searchUsers.setWorkExperienceFilter(filter)"
                                    education-options="searchUsers.educationOptions"
                                    languages-options="searchUsers.languages"
                                    job-titles-data="searchUsers.jobTitlesFilterData"
                                    toggle-language="searchUsers.toggleLanguage(filter)"
                                    selected-languages="searchUsers.selectedLanguages"
                                    lang-proficiency-changed="searchUsers.langProficiencyChanged(filter)"
                                    language-proficiencies="searchUsers.languageProficiencies"
                                    filter-data="searchUsers.filter"
                    ></sub-cv-filters>
                </div>

            </div>


            <div class="col-sm-9 col-md-6 search-results" ng-class="{'two-columns':wideSearchResults}" data-scroll-to="searchUsers">
                <div id="search-items-container">
                    <div class="alert alert-info" data-ng-show="0 >= searchUsers.results.length" data-translate>Nothing_Found</div>

                    <div class="pointer job-seeker-box" data-ng-repeat="seeker in searchUsers.results"
                         data-ng-class="{'active': $index === searchUsers.activeRow}"
                         data-ng-mouseenter="searchUsers.setActiveRow($index, seeker)" >

                        <div class="vertical-bar" data-ng-class="{'hidden': $index !== searchUsers.activeRow, 'seen': !!seeker.applicationVisited}" ></div>
                        <div class="seeker-record" 
                             seeker-box="seeker" 
                             actions="true" 
                             for-listing="true"
                             >
                                 
                        </div>
                    </div>
                </div>

                <div class="pagination-container">
                    <uib-pagination ng-class="{'hidden': media == 'mobile'}"
                                    ng-model="searchUsers.currentPage"
                                    ng-change="searchUsers.allowScroll = true"
                                    ng-show="searchUsers.isPaginationNeeded()"
                                    total-items="searchUsers.resultCount"
                                    items-per-page="searchUsers.filter.size"
                                    max-size="5"
                                    boundary-links="true"
                                    previous-text="&#xf053;" next-text="&#xf054;" first-text="&#xf053;&#xf053;" last-text="&#xf054;&#xf054;"
                    ></uib-pagination>

                    <uib-pagination ng-class="{'hidden': media != 'mobile'}"
                                    ng-model="searchUsers.currentPage"
                                    ng-change="searchUsers.allowScroll = true"
                                    ng-show="searchUsers.isPaginationNeeded()"
                                    total-items="searchUsers.resultCount"
                                    items-per-page="searchUsers.filter.size"
                                    max-size="1"
                                    template-url="mobile.html"
                                    previous-text="&#xf053;" next-text="&#xf054;" first-text="&#xf053;&#xf053;" last-text="&#xf054;&#xf054;"
                    ></uib-pagination>
                </div>

                <script type="text/ng-template" id="mobile.html">
                    <ul class="pagination mobile">
                        <li ng-if="::directionLinks" ng-class="{disabled: noPrevious()||ngDisabled}" class="pagination-prev"><a href ng-click="selectPage(page - 1, $event)">{{::getText('previous')}}</a></li>
                        <li ng-repeat="page in pages track by $index" ng-class="{disabled: ngDisabled&&!page.active}" class="pagination-page"><a href ng-click="selectPage(page.number, $event)">{{ page.text + ' / ' + totalPages}}</a></li>
                        <li ng-if="::directionLinks" ng-class="{disabled: noNext()||ngDisabled}" class="pagination-next"><a href ng-click="selectPage(page + 1, $event)">{{::getText('next')}}</a></li>
                    </ul>
                </script>
                
            </div>

            <div class="col-sm-3 seeker-preview-column fade" ng-class="{'in' : !hideVacancyPreview, 'out': hideVacancyPreview}">

                <div ng-if="!!searchUsers.activeUser" ng-show="true" id="vacancy-preview-box" >
                    <!--<div class="pointer preview-box" data-ng-repeat="vacancy in searchVacancies.results"-->
                    <!--data-ng-class="{'active': $index === searchVacancies.activeRow}"-->
                    <!--data-ng-mouseenter="searchVacancies.setActiveRow($index)" >-->

                    <cv-preview class="preview"
                                redirect-method="searchUsers.details(searchUsers.activeUser)"
                                seeker-data="searchUsers.activeUser"
                    ></cv-preview>
                </div>

            </div>
        </div>

    </div>
</div>
<div ng-include="'modules/common/userFooter/footer.tpl.html'"></div>
