.search-users-as-admin {

  .checkbox-middle {
    vertical-align: middle;
  }

  .long-company-name-fixer {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  th.actions {
    min-width: 140px;
  }

  .search-form {
    margin-bottom: 1em;
    div {
      &:first-child {
        margin-bottom: 5px;
      }
      .btn-group {
        min-width: 95px;
      }
      span {
        &.found-vacancies {
          padding-left: 10px;
          font-size: 20px;
          color: #337ab7;
        }
      }
    }
    .ui-select-container {

      .ui-select-match-text {
        width: ~"calc(100% - 34px)";
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .table-responsive {
    font-size: 14px;
    > .table tbody > tr > td {
      font-size: 14px;
      > span span.label.label-primary {
        font-size: 12px;
      }
    }
  }

  .footer-admin {
    margin: 20px 0;
    .move-to-middle {
      margin-top: 10px;
    }
    .total-vacancies {
      font-size: 16px;
      color: #337ab7;
    }
    .pagination {
      margin: 0 0 10px;
    }
  }

  .fa-circle.danger {
    color: #c3312d;
  }

  .fa-circle.success {
    color: #4ea74e;
  }

  .admin-hash {
    width: 29px;
  }

  .admin-check {
    width: 48px;
  }

  .cv-uploaded {
    cursor: pointer;
    color: @recrutoid-blue;

    &.pdf {
      color: @recrutoid-red;
    }

    .fa {
      vertical-align: middle;
      margin-left: 5px;
      font-size: 20px;
    }
  }

  .cv-message-send {
    display: inline-block;
    vertical-align: middle;
    background: @recrutoid-lightblue;
    color: #fff;
    font-size: 16px;
    padding: 4px 6px;
    border-radius: 6px;
    cursor: pointer;
  }
}
