<div data-ng-include="'modules/common/adminMenu/adminMenu.html'"></div>
<div class="search-users-as-admin">
    <div class="container-fluid">

        <!-- job seeker search -->
        <div class="row search-form" ng-if="searchUsers.filter.role == 'normal'">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-3">
                        <input class="form-control" placeholder="{{'Search_By_Name_Or_CV_Title'|translate}}" data-ng-model="searchUsers.filter.nameOrCvTitle"/>
                    </div>
                    <div class="col-lg-3">
                        <input class="form-control" placeholder="{{'Search_By_Email'|translate}}" data-ng-model="searchUsers.filter.email"/>
                    </div>
                    <div class="col-lg-1">
                        <button type="button" class="btn btn-default" data-ng-click="searchUsers.clearPresets()" data-translate>Clear_All_Filters</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <ui-select class="bars" data-ng-model="searchUsers.selectedCategory" theme="bootstrap" required>
                            <ui-select-match placeholder="{{'Select_Category'|translate}}" allow-clear="true">{{ $select.selected.name | translateDomain }}</ui-select-match>
                            <ui-select-choices repeat="category in searchUsers.categories | filter:$select.search">
                                {{ category.name | translateDomain }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-lg-3">
                        <ui-select class="bars" data-ng-model="searchUsers.selectedCity" theme="bootstrap" required>
                            <ui-select-match placeholder="{{'Select_City'|translate}}" allow-clear="true">{{ $select.selected.name | translateDomain }}</ui-select-match>
                            <ui-select-choices repeat="city in searchUsers.cities | filter:$select.search">
                                {{ city.name | translateDomain }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-lg-3">
                        <ui-select class="bars" data-ng-model="searchUsers.selectedSalaryRange" theme="bootstrap" required>
                            <ui-select-match placeholder="{{'Select_Salary_Range'|translate}}" allow-clear="true">{{ $select.selected.name | translateDomain }}</ui-select-match>
                            <ui-select-choices repeat="salaryRange in searchUsers.salaryRanges | filter:$select.search">
                                {{ salaryRange.name | translateDomain }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <div class="btn-group" role="group" aria-label="Large button group">
                    <button class="btn btn-success" data-ng-click="searchUsers.downloadAsXLS()"><i class="fa fa-download"></i> {{ 'Export_Excel' | translate  }}</button>
                    <button class="btn btn-danger" data-ng-click="searchUsers.downloadAsPDF()" ><i class="fa fa-download"></i> {{ 'Export_PDF' | translate  }}</button>
                </div>
            </div>
        </div>

        <!-- admin search -->
        <div class="row search-form" ng-if="searchUsers.filter.role == 'admin'">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-3">
                        <input class="form-control" placeholder="{{'Search_By_Name'|translate}}" data-ng-model="searchUsers.filter.title"/>
                    </div>
                    <div class="col-lg-3">
                        <input class="form-control" placeholder="{{'Search_By_Email'|translate}}" data-ng-model="searchUsers.filter.email"/>
                    </div>
                    <div class="col-lg-1">
                        <button type="button" class="btn btn-default" data-ng-click="searchUsers.clearPresets()" data-translate>Clear_All_Filters</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <button class="btn btn-default" data-ng-click="searchUsers.newAdmin()"><i class="fa fa-user-plus"></i> New admin</button>
                <div class="btn-group" role="group" aria-label="Large button group">
                    <button class="btn btn-success" data-ng-click="searchUsers.downloadAsXLS()"><i class="fa fa-download"></i> {{ 'Export_Excel' | translate  }}</button>
                    <button class="btn btn-danger" data-ng-click="searchUsers.downloadAsPDF()" ><i class="fa fa-download"></i> {{ 'Export_PDF' | translate  }}</button>
                </div>
            </div>
        </div>

        <!-- employer search -->
        <div class="row search-form" ng-if="searchUsers.filter.role == 'employer'">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-3">
                        <input class="form-control" placeholder="{{'SearchByCompany'|translate}}" data-ng-model="searchUsers.filter.title"/>
                    </div>
                    <div class="col-lg-3">
                        <input class="form-control" placeholder="{{'Search_By_Email'|translate}}" data-ng-model="searchUsers.filter.email"/>
                    </div>
                    <div class="col-lg-1">
                        <button type="button" class="btn btn-default" data-ng-click="searchUsers.clearPresets()" data-translate>Clear_All_Filters</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <div class="btn-group" role="group" aria-label="Large button group">
                    <button class="btn btn-success"  data-ng-click="searchUsers.downloadAsXLS()"><i class="fa fa-download"></i> {{ 'Export_Excel' | translate  }}</button>
                    <button class="btn btn-danger"  data-ng-click="searchUsers.downloadAsPDF()"><i class="fa fa-download"></i> {{ 'Export_PDF' | translate  }}</button>
                </div>
            </div>
        </div>

        <div class="text-right pull-right">
            <button class="btn btn-danger" data-ng-click="searchUsers.doActionOnSelected('remove')"><i class="fa fa-trash"></i> {{'Delete_Selected' | translate}}</button>
            <button ng-if="searchUsers.filter.role != 'admin'" class="btn btn-warning" data-ng-click="searchUsers.doActionOnSelected('ban')"><i class="fa fa-ban"></i> {{'Ban_Selected' | translate}}</button>
            <button ng-if="searchUsers.filter.role != 'admin'" class="btn btn-primary" data-ng-click="searchUsers.doActionOnSelected('unban')"><i class="fa fa-leanpub"></i> {{'Unban_Selected' | translate}}</button>
        </div>
        <div ng-show="searchUsers.filter.role != 'admin' && searchUsers.filter.role != 'employer' " class="text-left">
            <button class="btn btn-default" data-ng-click="showTimestamp = !showTimestamp"><i class="fa" data-ng-class="showTimestamp?'fa-calendar':'fa-calendar-o'"></i> <span data-translate>Show_Timestamp</span></button>
        </div>
        <div class="clearfix"></div>


		<div class="table-responsive">
			<table class="table admin-table table-hover" ng-if="searchUsers.filter.role == 'admin'">
				<thead>
				<tr>
					<th class="admin-check" data-ng-init="searchUsers.allSelected = false"><input type="checkbox" data-ng-model="searchUsers.allSelected" data-ng-change="searchUsers.selectAll()"></th>
					<th class="admin-hash">#</th>
					<th data-translate>Name</th>
					<th data-translate>Email</th>
					<th class="text-right actions" data-translate>Actions</th>
				</tr>
				</thead>
				<tr data-ng-repeat="user in searchUsers.results" data-ng-class="{'danger':!user.verified}" data-ng-show="searchUsers.results.length !== 0">
					<td class="checkbox-middle"><input type="checkbox" data-ng-model="user.selected"></td>
					<td><span data-tooltip-placement="right" data-tooltip="#{{user.id | stringRange: 14 : 10}}" >{{searchUsers.total - ((searchUsers.currentPage-1) * searchUsers.filter.size) - $index}}</span></td>
					<td>{{user.firstName}} {{user.lastName}}</td>
					<td>{{user.email}}</td>
					<td class="text-right">
						<div class="btn-group">
							<button type="button" class="btn btn-xs btn-info" data-ng-click="searchUsers.impersonate(user.id)" data-tooltip="{{'Impersonate' | translate}}" >
								<i class="fa fa-user"></i>
							</button>
							<button type="button" class="btn btn-xs btn-danger" data-ng-click="searchUsers.remove(user)" data-tooltip="{{'Remove'|translate}}" >
								<i class="fa fa-trash"></i>
							</button>
						</div>
					</td>
				</tr>
			</table>


			<table class="table admin-table table-hover" ng-if="searchUsers.filter.role == 'employer'">
				<thead>
				<tr>
					<th data-ng-init="searchUsers.allSelected = false"><input type="checkbox" data-ng-model="searchUsers.allSelected" data-ng-change="searchUsers.selectAll()"></th>
					<th>#</th>
					<th data-translate  class="text-center">Email</th>
					<th data-translate  class="text-center">Company</th>
					<th data-translate class="text-center">
						{{ 'Show_logo_on_HP' | translate }}
						<select class="form-control" data-ng-model="searchUsers.filter.showOnHomePage"
								data-ng-options="value as key | translate for (key, value) in {'Yes':'true', 'No':'false'}">
							<option value="" data-translate>All</option>
						</select>
					</th>
					<th data-translate class="text-center">
						{{ 'Adding_Vacancies' | translate }}
						<select class="form-control" data-ng-model="searchUsers.filter.addVacancies"
								data-ng-options="value as key | translate for (key, value) in {'Yes':'true', 'No':'false'}">
							<option value="" data-translate>All</option>
						</select>
					</th>
					<th data-translate class="text-center">
						{{ 'CV_database_access' | translate }}
						<select class="form-control" data-ng-model="searchUsers.filter.dbAccess"
								data-ng-options="value as key | translate for (key, value) in {'Yes':'true', 'No':'false'}">
							<option value="" data-translate>All</option>
						</select>
					</th>
					<th data-translate class="text-center">
						{{ 'Daily_or_Weekly_applicants_notifications' | translate }}
						<select class="form-control" data-ng-model="searchUsers.filter.appNotifications"
								data-ng-options="value as key | translate for (key, value) in {'Weekly':'weekly', 'Daily':'daily'}">
							<option value="" data-translate>All</option>
						</select>
					</th>
					<th data-translate class="text-center">
						{{ 'Active_or_deleted' | translate }}
						<select class="form-control" data-ng-model="searchUsers.filter.hidden"
								data-ng-options="value as key | translate for (key, value) in {'Active':'false', 'Deleted':'true'}">
							<option value="" data-translate>All</option>
						</select>
					</th>
					<th data-translate class="text-center">
						{{ 'Verified_or_not_verified' | translate }}
						<select class="form-control" data-ng-model="searchUsers.filter.verified"
								data-ng-options="value as key | translate for (key, value) in {'Verified':'true', 'Not_Verified':'false'}">
							<option value="" data-translate>All</option>
						</select>
					</th>
					<th data-translate class="text-center">
						{{ 'Banned_or_not_banned' | translate }}
						<select class="form-control" data-ng-model="searchUsers.filter.banned"
								data-ng-options="value as key | translate for (key, value) in {'Banned':'true', 'Not_Banned':'false'}">
							<option value="" data-translate>All</option>
						</select>
					</th>
					<th class="text-right actions" data-translate>Actions</th>
				</tr>
				</thead>
				<tr data-ng-repeat="user in searchUsers.results" data-ng-class="{'danger':!user.verified}" data-ng-show="searchUsers.results.length !== 0">
					<td class="checkbox-middle"><input type="checkbox" data-ng-model="user.selected"></td>
					<td class="text-center"><span data-tooltip-placement="right" data-tooltip="#{{user.id | stringRange: 14 : 10}}" >{{searchUsers.total - ((searchUsers.currentPage-1) * searchUsers.filter.size) - $index}}</span></td>
					<td class="text-center">{{user.email}}</td>
					<td class="text-center">{{user.firstName}}</td>
					<td class="text-center">
						<input type="checkbox" data-ng-checked="user.showOnHomePage"
							   data-ng-click="$event.preventDefault(); searchUsers.changeShowOnHomePage(user)" />
					</td>
					<td class="text-center">
						<div data-ng-if="'employer' === user.role">
							<input type="checkbox" data-ng-model="user.permissions.vacancyAdding"
								   data-ng-click="$event.preventDefault(); searchUsers.changePermission(user, 'vacancyAdding')">
						</div>
					</td>
					<td class="text-center">
						<div data-ng-if="'employer' === user.role">
							<input type="checkbox" data-ng-model="user.permissions.cvSearching"
								   data-ng-click="$event.preventDefault(); searchUsers.changePermission(user, 'cvSearching')">
						</div>
					</td>
					<td class="text-center">
						<span ng-if="user.applicationsNotificationsInterval == 'weekly' || user.applicationsNotificationsInterval == 'daily'">
							{{user.applicationsNotificationsInterval[0] | uppercase}}
						</span>
						<span ng-if="user.applicationsNotificationsInterval != 'weekly' && user.applicationsNotificationsInterval != 'daily'">
							None
						</span>
					</td>
					<td class="text-center">
						<i class="fa" data-ng-class="{'fa-times-circle':user.hidden}" data-tooltip="Deleted" ></i>
					</td>
					<td class="text-center">
						<i class="fa" data-ng-class="{'fa-check':user.verified}" data-tooltip="{{'Verified'|translate}}" ></i>
						<i class="fa" data-ng-class="{'fa-question':!user.verified}" data-tooltip="{{'Not verified'|translate}}" ></i>
					</td>
					<td class="text-center">
						<i class="fa" data-ng-class="{'fa-ban':user.banned}" data-tooltip="{{'Banned'|translate}}" ></i>
					</td>
					<td class="text-right">
						<div class="btn-group">
							<button type="button" class="btn btn-xs btn-danger" data-ng-click="searchUsers.remove(user)" data-tooltip="{{'Remove'|translate}}"
									>
								<i class="fa fa-trash"></i>
							</button>
							<button type="button" class="btn btn-xs btn-warning" data-ng-click="searchUsers.ban(user)" data-tooltip="{{'Ban'|translate}}"
									data-ng-if="!user.banned" >
								<i class="fa fa-ban"></i>
							</button>
							<button type="button" class="btn btn-xs btn-primary" data-ng-click="searchUsers.unban(user)" data-tooltip="{{'Unban'|translate}}"
									data-ng-if="user.banned" >
								<i class="fa fa-leanpub"></i>
							</button>
							<button type="button" class="btn btn-xs btn-default" data-ng-click="searchUsers.resendRegistrationEmail(user.id)"
									data-tooltip="{{'Resend registration email'|translate}}" data-ng-if="!user.verified" >
								<i class="fa fa-envelope-o"></i>
							</button>
							<button type="button" class="btn btn-xs btn-success" data-ng-click="searchUsers.verify(user)" data-tooltip="{{'Verify'|translate}}"
									data-ng-if="!user.verified" >
								<i class="fa fa-check"></i>
							</button>
							<button type="button" class="btn btn-xs btn-info" data-ng-click="searchUsers.impersonate(user.id)" data-tooltip="Impersonate"
									>
								<i class="fa fa-user"></i>
							</button>
						</div>
					</td>
				</tr>
			</table>


			<table class="table admin-table table-hover" ng-if="searchUsers.filter.role != 'admin' && searchUsers.filter.role != 'employer' ">
				<thead>
				<tr>
					<th data-ng-init="searchUsers.allSelected = false"><input type="checkbox" data-ng-model="searchUsers.allSelected" data-ng-change="searchUsers.selectAll()"></th>
					<th>#</th>
					<th data-translate>{{'Email' | translate}}</th>
					<th data-translate>{{'Name_or_CV_title' | translate}}</th>
					<th data-translate>{{'City' | translate}}</th>
					<th data-translate>{{'Categories' | translate}}</th>
					<th data-translate>{{'Salary_Range' | translate}}</th>
					<th data-ng-show="showTimestamp" data-translate>{{'Timestamp' | translate}}</th>
					<th data-translate class="text-center">
						{{ 'Show_photo_on_HP' | translate }}
						<select class="form-control" data-ng-model="searchUsers.filter.showOnHomePage"
								data-ng-options="value as key | translate for (key, value) in {'Yes':'true', 'No':'false'}">
							<option value="" data-translate>All</option>
						</select>
					</th>
					<th data-translate class="text-center">
						{{'CV_active_or_not_active' | translate}}
						<select class="form-control" data-ng-model="searchUsers.filter.cvActive"
								data-ng-options="value as key | translate for (key, value) in {'Yes':'true', 'No':'false'}">
							<option value="" data-translate>All</option>
						</select>
					</th>
					<th>

					</th>
					<th data-translate class="text-center">
						{{'Cv_Uploaded_Or_Created' | translate}}
						<select class="form-control" data-ng-model="searchUsers.filter.cvUploaded"
								data-ng-options="value as key | translate for (key, value) in {'Uploaded':'true', 'Created':'false'}">
							<option value="" data-translate>All</option>
						</select>
					</th>
					<th data-translate class="text-center">
						{{'Subscription' | translate}}
						<select class="form-control" data-ng-model="searchUsers.filter.isSubscriber"
								data-ng-options="value as key | translate for (key, value) in {'Yes':'true', 'No':'false'}">
							<option value="" data-translate>All</option>
						</select>
					</th>
					<th data-translate class="text-center">
						{{'Active_or_deleted' | translate}}
						<select class="form-control" data-ng-model="searchUsers.filter.hidden"
								data-ng-options="value as key | translate for (key, value) in {'Active':'false', 'Deleted':'true'}">
							<option value="" data-translate>All</option>
						</select>
					</th>
					<th data-translate class="text-center">
						{{'Verified_or_not_verified' | translate}}
						<select class="form-control" data-ng-model="searchUsers.filter.verified"
								data-ng-options="value as key | translate for (key, value) in {'Verified':'true', 'Not_Verified':'false'}">
							<option value="" data-translate>All</option>
						</select>
					</th>
					<th data-translate class="text-center">
						{{'Banned_or_not_banned' | translate}}
						<select class="form-control" data-ng-model="searchUsers.filter.banned"
								data-ng-options="value as key | translate for (key, value) in {'Banned':'true', 'Not_Banned':'false'}">
							<option value="" data-translate>All</option>
						</select>
					</th>
					<th class="text-right actions" data-translate>Actions</th>
				</tr>
				</thead>
				<tr data-ng-repeat="user in searchUsers.results" data-ng-class="{'danger':!user.verified}" data-ng-class="{'danger':!user.verified}" data-ng-show="searchUsers.results.length !== 0">
					<td class="checkbox-middle"><input type="checkbox" data-ng-model="user.selected"></td>
					<td><span data-tooltip-placement="right" data-tooltip="#{{user.id | stringRange: 14 : 10}}" >{{searchUsers.total - ((searchUsers.currentPage-1) * searchUsers.filter.size) - $index}}</span></td>
					<td>{{user.email}}</td>
					<td>{{user.firstName}} {{user.lastName}} / {{user.resume.title}}</td>
					<td>{{ user.city.name | translateDomain }}</td>
					<td class="category-column">
						 <span data-ng-repeat='category in user.categories'>
								<span class="label label-primary label-category" data-ng-class="{'wrap': (category.name | translateDomain).length > 30}">{{category.name | translateDomain}}</span>&nbsp;
							</span>
					</td>
					<td>
						{{user.resume.desiredSalaryRange.name | translateDomain}}
					</td>
					<td data-ng-show="showTimestamp">
						{{user.createDate | date:'yyyy-MM-dd'}}
					</td>
					<td class="text-center">
						<input type="checkbox" data-ng-checked="user.showOnHomePage"
							   data-ng-click="$event.preventDefault(); searchUsers.changeShowOnHomePage(user)" />
					</td>
					<td class="text-center">
						<div ng-if="user.uploadedResume.data" ng-click="searchUsers.downloadCv(user.uploadedResume.data.file.url)" class="cv-uploaded" ng-class="{'pdf':user.uploadedResume.data.file.extension === 'pdf'}">
							{{user.uploadedResume.data.file.extension}} <i class="fa fa-download"></i>
						</div>
						<i ng-if="!user.uploadedResume.data" class="fa" data-ng-class="{'fa-circle success':user.resume.active}" data-tooltip="CV active" ></i>
						<i ng-if="!user.uploadedResume.data" class="fa" data-ng-class="{'fa-circle danger':!user.resume.active}" data-tooltip="CV not active" ></i>
					</td>
					<td class="text-center">
						<i ng-if="user.uploadedResume && user.uploadedResume.messageSent === false" ng-click="searchUsers.cvActiveNotify(user)" class="fa fa-envelope-o cv-message-send"></i>
						<p ng-if="user.uploadedResume.messageSent === true" data-translate>Message_Sent</p>
					</td>
					<td class="text-center">
						<i ng-show="(!!user.uploadedResume.data || !!user.uploadedResume.messageSent)" class="fa fa-paperclip"></i>
						<i ng-hide="(!!user.uploadedResume.data || !!user.uploadedResume.messageSent) || !user.resume.active" class="fa fa-bold fa-plus-circle"></i>
					</td>
					<td class="text-center">
						<i class="fa" data-ng-class="{'fa-plus':user.isSubscriber}" data-tooltip="Subscription" ></i>
					</td>
					<td class="text-center">
						<i class="fa" data-ng-class="{'fa-times-circle':user.hidden}" data-tooltip="Deleted" ></i>
					</td>
					<td class="text-center">
						<i class="fa" data-ng-class="{'fa-check':user.verified}" data-tooltip="{{'Verified'|translate}}" ></i>
						<i class="fa" data-ng-class="{'fa-question':!user.verified}" data-tooltip="{{'Not verified'|translate}}" ></i>
					</td>
					<td class="text-center">
						<i class="fa" data-ng-class="{'fa-ban':user.banned}" data-tooltip="{{'Banned'|translate}}" ></i>
					</td>
					<td class="text-right">
						<div class="btn-group">
							<button type="button" class="btn btn-xs btn-danger" data-ng-click="searchUsers.remove(user)" data-tooltip="{{'Remove'|translate}}"
									>
								<i class="fa fa-trash"></i>
							</button>
							<button type="button" class="btn btn-xs btn-warning" data-ng-click="searchUsers.ban(user)" data-tooltip="{{'Ban'|translate}}"
									data-ng-if="!user.banned" >
								<i class="fa fa-ban"></i>
							</button>
							<button type="button" class="btn btn-xs btn-primary" data-ng-click="searchUsers.unban(user)" data-tooltip="{{'Unban'|translate}}"
									data-ng-if="user.banned" >
								<i class="fa fa-leanpub"></i>
							</button>
							<button type="button" class="btn btn-xs btn-default" data-ng-click="searchUsers.resendRegistrationEmail(user.id)"
									data-tooltip="{{'Resend registration email'|translate}}" data-ng-if="!user.verified" >
								<i class="fa fa-envelope-o"></i>
							</button>
							<button type="button" class="btn btn-xs btn-success" data-ng-click="searchUsers.verify(user)" data-tooltip="{{'Verify'|translate}}"
									data-ng-if="!user.verified" >
								<i class="fa fa-check"></i>
							</button>
							<button type="button" class="btn btn-xs btn-info" data-ng-click="searchUsers.impersonate(user.id)" data-tooltip="Impersonate"
									>
								<i class="fa fa-user"></i>
							</button>
						</div>
					</td>
				</tr>
			</table>
		</div>

		<div data-ng-show="searchUsers.results.length === 0">
			<h2 class="text-center" data-translate="">No matching results found</h2>
		</div>

		<div class="footer-admin">
			<div class="pull-left move-to-middle">
				<span data-ng-if="searchUsers.showTotal" class="total-vacancies"><span data-translate>Found_Users</span> {{ searchUsers.total}} </span>
			</div>
			<div class="pull-right">
				<uib-pagination
							ng-change="app.scrollTop()"
							class="pull-right"
							ng-model="searchUsers.currentPage"
							total-items="searchUsers.resultCount"
							items-per-page="searchUsers.filter.size"
							max-size="25"
							boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
							ng-show="searchUsers.isPaginationNeeded()"></uib-pagination>
			</div>
		</div>
    </div>
</div>
