<div ng-include="'modules/common/userMenu/userMenu.tpl.html'" ng-class="{'navbar-mobile-settings': showDashboard && media == 'mobile' && !app.navMenuActive}"></div>

<div class="user-settings" ng-class="media" ng-hide="app.navMenuActive">
    <floating-button class="hidden-xs" href="#top" icon="fa-chevron-up"></floating-button>
    <floating-button class="visible-xs" ng-hide="showDashboard" ng-click="showDashboard = true" half="true" icon="fa-sliders"></floating-button>
    <div ng-hide="showDashboard" class="container">
        <div class="row visible-xs">
            <div class="col-xs-12">
                <a class="dashboard-button" ng-click="showDashboard = true" ng-show="!hideDashboardButton"><i class="fa fa-sliders" aria-hidden="true"></i> Dashboard</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 menu hidden-xs" style="z-index: 2;" ng-cloak ng-include="'modules/common/profileMenu/profileMenu.tpl.html'"></div>
            <div ng-if="!siteLoaded && settings.showLoader" class="col-md-9">
                <div ng-include="'modules/common/loader/loader.tpl.html'" class="page-loader"></div>
            </div>
            <div class="col-md-9 site pages-col fromRight visible" ng-class="{'showIn': siteLoaded}" >
                <div ng-cloak ng-include="'modules/user/' + settings.site + '.tpl.html'"></div>
            </div>
        </div>
    </div>

    <a ng-click="showDashboard = false" class="back-button fromLeft visible-xs" ng-class="{'showIn': showDashboard && !app.navMenuActive}"><i class="fa fa-chevron-left"></i> Dashboard</a>
    <div ng-show="showDashboard" class="container mobile-profile-menu visible-xs">
        <div class="row">
            <div class="col-xs-12 fromRight" ng-class="{'showIn': showDashboard}" ng-cloak ng-include="'modules/common/profileMenu/profileMenu.tpl.html'"></div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="mobile.html">
    <ul class="pagination mobile">
        <li ng-if="::directionLinks" ng-class="{disabled: noPrevious()||ngDisabled}" class="pagination-prev"><a href ng-click="selectPage(page - 1, $event)">{{::getText('previous')}}</a></li>
        <li ng-repeat="page in pages track by $index" ng-class="{disabled: ngDisabled&&!page.active}" class="pagination-page"><a href ng-click="selectPage(page.number, $event)">{{ page.text + ' / ' + totalPages}}</a></li>
        <li ng-if="::directionLinks" ng-class="{disabled: noNext()||ngDisabled}" class="pagination-next"><a href ng-click="selectPage(page + 1, $event)">{{::getText('next')}}</a></li>
    </ul>
</script>

<div ng-include="'modules/common/userFooter/footer.tpl.html'"></div>
