<div data-ng-controller="UserSubscriptions as userSub">
    <div class="subscriptions user-page" ng-class="{'empty': !userSub.profile.subscription, 'mobile' : media == 'mobile'}">
        <form data-ng-submit="userSub.save()">
            <div class="heading clearfix">
                <div class="row clearfix">
                    <div class="col-xs-12">
                        <div class="pull-left">
                            <div class="title">
                                <i class="fa fa-inbox"></i> <span data-translate>My_Subscriptions</span>
                            </div>
                        </div>
                        <div class="pull-right hidden-xs">
                            <div class="nav">
                                <button data-ng-if="!userSub.isEmployer && userSub.profile.subscription" type="submit" ng-disabled="userSub.saved" class="btn btn-light-primary" ng-class="{'btn-light-success':userSub.saved}">
                                    <i ng-show="userSub.saved" class="fa fa-check"></i>
                                    <span ng-hide="userSub.saved" data-translate>Save</span>
                                    <span ng-show="userSub.saved" data-translate>Saved</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default subscription-panel" data-ng-show="!userSub.isEmployer && userSub.profile.subscription">
                <div class="panel-body">
                    <div class="form-body">
                        <div class="row form-row">
                            <div class="col-md-12 form-col with-icon icon-categories categories-select recrutoid-select">
                                <div data-ng-class="{'hide-options': 2 < userSub.profile.subscription.categories.length}" class="recrutoid-ui-select">
                                    <ui-select ui-select-perfect-scrollbar class="ui-select-toggle " multiple data-ng-model="userSub.profile.subscription.categories" theme="bootstrap">
                                        <ui-select-match></ui-select-match>
                                        <ui-select-choices repeat="category in userSub.categories | filter:$select.search">
                                            {{ category.name | translateDomain }}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <span ng-show="userSub.profile.subscription.categories.length">Category <span>{{userSub.profile.subscription.categories.length}}/3</span></span>
                                <span class="all-ranges" ng-hide="userSub.profile.subscription.categories.length">{{'All_Categories' | translate}}</span>
                            </div>
                            <div class="col-md-12 form-col">
                                <div ng-repeat="category in userSub.profile.subscription.categories" class="category-wrapper">
                                    <div class="category-bar">{{category.name | translateDomain}} <i ng-click="userSub.deleteCategory($index)" class="fa fa-times"></i></div>
                                </div>
                            </div>
                            <div class="col-md-12 form-col with-icon icon-city recrutoid-select">
                                <ui-select ui-select-perfect-scrollbar  data-ng-model="userSub.profile.subscription.city" theme="bootstrap">
                                    <ui-select-match placeholder="{{'City'|translate}} *">{{ userSub.profile.subscription.city.name | translateDomain }}</ui-select-match>
                                    <ui-select-choices repeat="city in userSub.citiesSubscription | filter:$select.search">
                                        {{ city.name | translateDomain }}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-md-12 form-col with-icon icon-salary-ranges recrutoid-select">
                                <ui-select data-ng-model="userSub.profile.subscription.desiredSalaryRange" theme="bootstrap">
                                    <ui-select-match placeholder="{{'Salary expectations'|translate}} *">{{ userSub.profile.subscription.desiredSalaryRange.name | translateDomain }}</ui-select-match>
                                    <ui-select-choices repeat="salaryRange in userSub.salaryRanges | filter:$select.search">
                                        {{ salaryRange.name | translateDomain }}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <p class="info hidden-xs">{{'Message_User_Subscriptions_Rules_1' | translate}} </br> {{'Message_User_Subscriptions_Rules_2' | translate}}</p>
                </div>
            </div>

            <div data-ng-if="!userSub.isEmployer && userSub.profile.subscription" class="col-md-offset-6 col-md-6 checkboxes text-right">
            <span class="checkbox">
                <input id="daily-sub" type="radio" name="subscription_interval" data-ng-value="'daily'" data-ng-model="userSub.profile.subscription.interval">
                <label for="daily-sub" data-translate>Daily</label>
            </span>
                <span class="checkbox">
                <input id="weekly-sub" type="radio" name="subscription_interval" data-ng-value="'weekly'" data-ng-model="userSub.profile.subscription.interval">
                <label for="weekly-sub" data-translate>Weekly</label>
            </span>
                <span class="checkbox">
                <input id="none-sub" type="radio" name="subscription_interval" data-ng-value="null" data-ng-model="userSub.profile.subscription.interval">
                <label for="none-sub" data-translate>Do_not_notify</label>
            </span>
            </div>
            <p class="info visible-xs">{{'Message_User_Subscriptions_Rules_1' | translate}} </br> {{'Message_User_Subscriptions_Rules_2' | translate}}</p>

            <div data-ng-if="!userSub.isEmployer && userSub.profile.subscription" class="bottom-section text-right">
                <button type="submit" ng-disabled="userSub.saved" class="btn btn-light-primary" ng-class="{'btn-light-success':userSub.saved}">
                    <i ng-show="userSub.saved" class="fa fa-check"></i>
                    <span ng-hide="userSub.saved" data-translate>Save</span>
                    <span ng-show="userSub.saved" data-translate>Saved</span>
                </button>
            </div>
        </form>
    </div>

    <div class="alert alert-empty" data-ng-show="!userSub.profile.subscription">
        You have no subscriptions
    </div>
</div>
