.user-settings .subscriptions {
  &.user-page {
    background: #f4f5f6;
  }

  .heading {
    background: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    .nav {
      margin: 30px;
    }
  }

  &.empty {
    background: none;

    .heading {
      border-radius: 4px;
    }
  }

  .subscription-panel {
    margin: 30px 30px 15px;
    border-radius: 10px;
    .box-shadow(none;);
    border: 1px solid #dfe1e3;

    .form-body {
      padding: 5px;
    }


  }

  .info {
    color: #a7aeb4;
    font-size: 13px;
    margin-bottom: 0;
  }

  .category-wrapper {
    &:last-child {
      margin-bottom: 20px;
    }
  }

  .category-bar {
    display: inline-block;
    background: #1d88cf;
    color: white;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;

    .fa {
      margin-left: 5px;
      cursor: pointer;
    }

    &:hover {
     background: #0072bc;
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }
  
  .recrutoid-select {
    .recrutoid-ui-select ,
    .ui-select-container {
      .ui-select-match > .caret {
        top: 30%;
      }
    }
  }

  .categories-select {
    .ui-select-match-item {
      display: none !important;
    }

    .ui-select-search {
      cursor: pointer;
      opacity: 0;
    }

    &>span {
      position: absolute;
      top: 15px;
      left: 28px;
      pointer-events: none;
      color: #798898;

      &>span {
        font-weight: bold;
      }

      &.all-ranges {
        color: #555;
      }
    }
  }

  .btn.disabled, .btn[disabled], fieldset[disabled] {
    cursor: auto;
    opacity: 1;
  }

  .checkboxes {
    margin-bottom: 23px;

    .checkbox:last-child label {
      padding-right: 0;
    }
  }

}

.user-settings .subscriptions.mobile {
  background: #fff;
  .subscription-panel {
    border: none;
    margin: 0;
  }

  .bottom-section {
    text-align: center;
  }

  .info {
    margin: 0 20px;
    margin-bottom: 15px;
  }

  .checkboxes {
    text-align: left;
    padding-left: 20px;
  }
}
