.showing-user-cv.user-cv-pdf {
  color: #272b2d;

  .header-resume {
    background: #fff;
  }

  .logo {
    margin-bottom: 15px;
  }

  .panel.panel-default {
    border: none;
    color: #272b2d;
    .fa {
      color: #8d8e8f !important;
    }

    .element {
      color: #8d8e8f !important;
    }

    .panel-heading {
      padding: 0;

      .fa {
        display: none;
      }

      .cv-update-date .fa {
        display: inline-block;
      }
    }

    .panel-body {
      padding: 15px 0;
    }
  }
}
