.showing-user-cv {
  padding-bottom: 30px;

  .back-to-list {
    color: #258fc9;
    font-size: 13px;
    padding-left: 100px;
    cursor: pointer;
    margin: 0px;
  }

  .media {
    margin-top: 6px;
  }

  .btn-download-cv {
    color: #aab1bb;
  }

  .btn-invite {
    color: #1f8ad2;
  }
  
  .container {
    max-width: 866px;
  }

  .color-red {
    color: @recrutoid-red;
  }

  //.last-company,
  .working-experience {
    font-size: 15px;
    .color-grey {
      color: #a7aeb4;
      margin-left: 8px;
    }
  }

  .long-grey-line {
    border-bottom: solid 2px #e3dfde;
    margin-top: 10px;
    border-image: none;
    margin-bottom: 0;
  }

  .header-resume {
    padding-top: 25px;
    background: #e5e9ec; /* Old browsers */
    background: -moz-linear-gradient(top, #d1dee6 0%, #e5e9ec 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d1dee6 0%, #e5e9ec 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d1dee6 0%, #e5e9ec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    margin-bottom: 20px;

    img.avatar {
      height: 80px;
      width: 80px;
      background-color: #ffffff;
      border-radius: 3px;
      margin-top: 8px;
    }

    img.avatar-on-small {
      display: none;
    }

    img.logo {
      width: 100px;
    }

    .media-thumbnail-side {
      padding-right: 20px;
    }

    .informations {
      color: @recrutoid-dark;
      .title {
        font-weight: 600;
        padding-bottom: 0;

        p {
          margin: 0;
          font-size: 20px;
        }
        .resume-title {
          margin-right: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 300px;
        }
        .user-name {
          font-size: 16px;

          .salary-range {
            font-size: 14px;
            margin-left: 15px;
          }
        }
      }

      .information-contact {
        color: #5f6970;
        font-size: 13px;
        padding-top: 0;
        margin: 6px 0;

        .element {
          float: left;
          padding-right: 20px;

          .fa {
            color: @recrutoid-red;
            margin-right: 2px;
          }
        }
      }

      .categories {
        color: #a7aeb9;
        font-size: 12px;
      }

      .actions-small {
        padding-top: 10px;
        button {
          margin-right: 10px;
        }
      }
    }

    .actions {
      color: #000011;
      .btn-main {
        width: 150px;
        border-bottom: solid 2px #3297DD;
      }
      .additional-padding {
        padding-bottom: 10px;
      }
    }

    .panel-default {
      border: none;
      margin-bottom: 0;
      padding-top: 30px;
      background-color: transparent;
      color: @recrutoid-dark;
    }
  }

  .panel-default {
    margin-bottom: 8px;

    .description {
      color: #393939;
      font-weight: 300;
      word-break: break-word;

      ul {
        margin-bottom: 5px;
        list-style-type: none;
        padding-left: 20px;

        li {
          &:before {
            content: '\2022';
            font-size: 15px;
            margin-right: 8px;
          }
        }
      }
    }

    .panel-heading {
      background: #fff;
      border-bottom: none;
      padding: 25px 30px 0;
      .cv-update-date {
        font-size: 12px;
        color: #bfc6cc;
        position: relative;
        top: -5px;
      }

      > span {
        font-size: 20px;
        font-weight: 600;
        vertical-align: middle;
      }

      > .fa {
        color: @recrutoid-blue;
        font-size: 22px;
        margin-right: 10px;
        vertical-align: middle;
      }

      p {
        .fa {
          color: @recrutoid-blue;
        }
      }
    }

    &.flat {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: none;
    }

    > .panel-body {
      padding: 15px 30px;
      &.no-padding-bottom {
        padding-bottom: 0;
      }
      &.no-padding-top {
        padding-top: 10px;
      }
      .element {
        float: left;
        &:not(:last-child) {
          padding-right: 15px;
        }
      }

      .info {
        color: #bbc1c5;
        font-size: 13px;
        font-weight: normal;

        .fa {
          color: #a7aeb4;
          margin-right: 5px;
        }
      }

      .work {
        margin-top: 10px;
        padding-bottom: 10px;

        .editable-input {
          margin-bottom: 10px;
        }
        .title {
          font-size: 15px;
          font-weight: 600;
          .editing {
            color: #000000;
          }
        }

        &:last-child {
          border-bottom: none;
        }

        &:first-child {
          margin-top: 0;
        }
      }

      .education {
        margin-bottom: 15px;

        .title {
          font-size: 15px;
          font-weight: 600;
        }

      }

      .languages {
        font-weight: 600;
        font-size: 16px;

        .title {
          span {
            float: none;
            font-size: 13px;
            color: #a7aeb4;
            font-weight: normal;
            margin-left: 3px;
          }
        }

      }

      .additional-info {
        margin-bottom: 15px;
      }
    }
  }

  @media screen and (max-width: @screen-xs-max) {
    .back-to-list {
      padding-left: 0px;
    }
    .header-resume {
      margin-bottom: 14px;

      .media-thumbnail-side {
        padding-right: 0px;
      }
      .actions {
        margin-top: 10px;
        display: table;
        width: 100%;
        text-align: center;
        
        button, a {
          margin: 0px auto;
        }
        button {
          display: block;
        }
      }
    }
  }
}

//Mobile view

.showing-user-cv.mobile {
  padding-bottom: 10px;
  .header-resume {
    padding-top: 15px;

    .media {
      .media-left {
        display: block;
        text-align: center;
        margin-bottom: 15px;
      }
    }

    .user-name {
      .salary-range {
        font-size: 14px;
        margin: 0 !important;
        display: block;
      }
    }
  }

  .panel-default {
    .panel-heading {
      padding: 25px 20px 0;
      .cv-update-date {
        &.pull-right {
          float: none !important;
          margin-bottom: 4px;
        }
      }

    }

    .panel-body {
      padding: 15px 20px;

      .languages:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}
