.user-settings {
  padding-top: 35px;
  padding-bottom: 35px;
  overflow-x: hidden;
  min-width: 100%;

  background: #e5e9ec; /* Old browsers */
  background: -moz-linear-gradient(top, #d1dee6 0%, #e5e9ec 60%, #e5e9ec 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d1dee6 0%, #e5e9ec 60%, #e5e9ec 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d1dee6 0%, #e5e9ec 60%, #e5e9ec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  .menu, .site {
    padding-left: 5px;
    padding-right: 5px;
  }

  .site {
    .alert.alert-info {
      background: none;
      border: none;
      box-shadow: none;
      text-align: center;
      font-size: 14px;
      text-shadow: none;
      color: #a7aeb4;
    }
  }

  .alert.alert-empty {
    background: none;
    border: none;
    box-shadow: none;
    text-align: center;
    color: #a7aeb4;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 10px;
  }

  .social-mail {
    margin-top: 25px;
    .fa {
      color: #c1c5cb;
      font-size: 16px;
      margin-left: 5px;
      position: relative;
      top: 1px;
    }

    .form-control-info {
      color: #bfc6cc;
      font-size: 11px;
    }
  }

  .pill-nav {
    display: inline-block;
    vertical-align: middle;
    a{
      color: #a9b0b7;
      padding: 5px 11px;
      border-radius: 20px;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;

      &:hover {
        color: #4aa0d9;
      }

      &.active {
        background: #eaf5fc;
        font-weight: 600;
        color: @recrutoid-blue;
      }

      &.inactive {
        cursor: default;
        color: #cbd0d4;
      }

      .badge-green {
        margin-left: 3px;
      }
    }
  }

  .pages-col {
    position: relative;
  }

  .user-page {
    padding: 0;

    background: #fff;
    border-radius: 4px;
    border: 1px solid #d4dce1;

    .heading {
      border-bottom: 1px solid #dfe1e3;

      .title {
        font-size: 20px;
        font-weight: 600;
        margin: 36px 30px;
        display: inline-block;
        vertical-align: middle;

        .fa {
          color: @recrutoid-blue;
          margin-right: 5px;
        }

        @media screen and (max-width: @screen-xs-max) {
          span {
            font-size: 16px;
            vertical-align: middle;
            position: relative;
            bottom: 2px;
          }
        }
      }
    }
  }

  .panel.panel-settings {
    border-radius: 0;
    border: none;
    margin: 25px 0 0;

    .box-shadow(none;);

    .panel-heading {
      background: none;
      font-size: 18px;
      font-weight: 600;
      padding: 10px 30px;

      .fa {
        color: @recrutoid-blue;
        margin-right: 4px;
      }

      @media screen and (max-width: @screen-xs-max) {
        font-size: 14px;
      }
    }

    .panel-body {
      padding: 10px 30px;
      background: none;
    }

  }

  .input-right-text {
    position: relative;

    .right-text {
      position: absolute;
      right: 0;
      height: 100%;
      top: 0;
      line-height: 32px;
      font-size: 13px;
      font-weight: 600;
    }

    .right-text-success {
      color: @recrutoid-green;
    }

    .right-text-danger {
      color: @recrutoid-red;
    }
  }

  .bottom-section {
    padding: 10px 30px;
    margin-bottom: 10px;
  }

  .loaderTransparentStyle {
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -34px;
    margin-left: -34px;
  }

  .loaderRoundedStyle {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -34px;
    margin-left: -34px;

    margin-bottom: 10px;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.07);
  }

  .page-loader {
    position: absolute;
    left: 50%;
    top: 250px;
    height: 65px;
    width: 65px;
    margin-top: -24px;
    margin-left: -24px;
    &>div{
      .loaderTransparentStyle;
      .loader-container {
        position: relative;
      }
    }
  }

  .form-body {
    padding: 30px 25px;

    .add-more-button {
      color: @recrutoid-blue;
    }

    .remove-current-button {
      color: @recrutoid-red;
    }


  }

  .checkbox {
    display: inline;
    color: #798898;

    label {
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-right: 15px;
      font-size: 13px;

      &:before {
        font: normal normal normal 14px/1 FontAwesome;
        color: #c5c8ce;
        content: "\f10c";
        margin-right: 5px;
        position: absolute;
        left: 0;
        bottom: 4px;
      }
    }

    input[type=checkbox],
    input[type=radio] {
      display: none;

      &:checked + label:before {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f192";
        color: @recrutoid-blue;
      }

      &:checked + label {
        color: @recrutoid-dark;
      }

    }
  }

  select.form-control.grey {
    color: #9e9e9e;
  }

  .subPageLoader {
    text-align: center;
    padding-top: 20px;

    >div {
      .loaderTransparentStyle;
      display: inline-block;
      position: static;
      margin: 20px 0 0;

      .loader-container {
        position: relative;
      }
    }
  }

  .pagination-container {
    text-align: center;
  }


}

.user-settings.mobile {
  padding-top: 15px;

  .menu, .site {
    padding-left: 15px;
    padding-right: 15px;
  }

  .site:not(.showIn) {
    min-height: 500px;
  }


  .mobile-profile-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #d5e3ee;
    height: 100%;
    padding-top: 48px;
    z-index: 2;

    .fa {
      font-size: 18px;
      vertical-align: middle;
      margin-right: 3px;
    }
  }

  .back-button {
    position: fixed;
    top: 0;
    z-index: 10;
    height: 48px;
    line-height: 48px;
    text-decoration: none;
    font-weight: 600;
    padding-left: 15px;
    color: @recrutoid-blue;
    width: 200px;
  }

  .dashboard-button {
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    color: @recrutoid-blue;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 0 15px;
    border-radius: 4px;
    background: #f2fefe;
    margin-bottom: 10px;
    .box-shadow(0px 3px 7px 0px rgba(0,0,0,0.07););

    .fa {
      font-size: 17px;
      margin-right: 3px;
    }
  }

  .user-page {
    .heading {
      border-bottom: 1px solid #dfe1e3;
      text-align: center;
      border-bottom: none;

      .title {
        margin-bottom: 0;
      }

      .pull-left {
        float: none !important;
      }
    }
  }


}

.user-settings.tablet {
  .site:not(.showIn) {
    min-height: 500px;
  }
}

.navbar-mobile-settings {
  .navbar.navbar-custom.recrutoid {
    background: #d5e3ee;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 5px #d5e3ee;

    .navbar-brand {
      opacity: 0;
    }
  }
}

.email-unconfirmed{
  width:80%;
  float:left;
}
.email-unconfirmed-right {
  padding: 0px 0px 0px 8px;
  position: relative;
  float: left;
  line-height: 32px;
  width: 20%;
  .fa{
    color:#1d88cf;
    font-size:14px;
    padding:0px 7px;
  }
  .btn {
    position: absolute;
    top: -5px;
    right: 0px;
  }
}