<div data-ng-if="!cv.forPDF" ng-include="'modules/common/userMenu/userMenu.tpl.html'"></div>
<div class="showing-user-cv" data-ng-class="{'user-cv-pdf': cv.forPDF, 'mobile': media == 'mobile'}" ng-hide="app.navMenuActive">
    <div class="header-resume">
        <floating-button ng-hide="cv.forPDF" href="#top" icon="fa-chevron-up"></floating-button>
        <div class="container">
            <div class="clearfix">
                <a 
                   data-ng-if="!cv.forPDF && !app.isJobSeeker()" 
                   type="button" ng-click="cv.returnToTheListByEmployer()" 
                   class="back-to-button back-to-list hidden-lg hidden-md"
                   >
                    <i class="fa fa-chevron-circle-left"></i>
                    <span data-translate>Return_To_The_List</span>
                </a>
                <a data-ng-if="!cv.forPDF && app.isJobSeeker()" type="button" href="/user/settings/cv-page?tab=my_cv" class="back-to-button">
                    <i class="fa fa-chevron-circle-left"></i>
                    <span data-translate>Return_To_The_Dashboard</span>
                </a>
                <img class="logo pull-left" src="modules/home/logo-4x.png" data-ng-if="cv.forPDF">
            </div>
            <div data-ng-if="cv.profile.thumbnail">
                <img class="avatar-on-small" data-ng-src="{{cv.profile.thumbnail}}">
            </div>
            <div class="media">
                <div class="media-left media-thumbnail-side" data-ng-if="cv.profile.thumbnail">
                    <img class="avatar" data-ng-src="{{cv.profile.thumbnail}}">
                </div>
                <div class="media-body informations clearfix">
                    <div class="title">
                        <div class="user-name">
                            <p class="hidden-xs">{{ cv.resume.title }}</p>
                            <span>{{ cv.profile.firstName }} {{ cv.profile.lastName}}</span>
                            <span class="salary-range">{{ cv.resume.desiredSalaryRange.name | translateDomain }}</span>
                            <p class="visible-xs">{{ cv.resume.title }}</p>
                        </div>
                    </div>

                    <div class="information-contact clearfix">
                        <div class="element" data-ng-if="cv.profile.phone"><i class="fa fa-phone"></i> {{ cv.profile.phone|phone_number}}</div>
                        <div class="element" data-ng-if="cv.profile.email"><i class="fa fa-envelope"></i> {{ cv.profile.email}}</div>
                        <div class="element" data-ng-if="cv.profile.city.name"><i class="fa fa-map-marker item"></i> {{ cv.profile.city.name | translateDomain}}</div>
                        <div class="element" data-ng-if="cv.resume.expat"><i class="fa fa-plane"></i> {{'Expat' | translate}}</div>
                        <div class="element" data-ng-if="cv.resume.foreignDegree"><i class="fa fa-graduation-cap"></i> {{'Foreign_degree' | translate}}</div>
                    </div>

                    <div class="clearfix">
                        <div class="categories pull-left" data-ng-if="0 < cv.profile.categories.length">
                            {{ cv.profile.categories | translateDomain:'name' | coma:'name'}}
                        </div>
                    </div>
                </div>
                <div class="media-right actions" data-ng-if="!cv.forPDF">
                    <button data-ng-if="app.isEmployer()" class="btn btn-link btn-invite" data-ng-click="cv.callForInterview()" >
						<i class="fa fa-paper-plane" aria-hidden="true"></i>
						<span data-translate>Interview_invite</span>
					</button>
					<a ng-click="cv.getPdf(app.siteSettings.backendUri)" class="btn btn-link btn-download-cv pointer" >
						<i class="fa fa-print"></i> <span data-translate>Download_CV</span>
					</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-right cv-update-date" data-ng-if="cv.resume.updateDate">
                    <i class="fa fa-refresh"></i> <span class="hidden-xs" data-translate>CV_Last_Updated</span> {{ cv.resume.updateDate | date: 'dd/MM/yyyy' }}
                </div>
                <i class="fa fa-briefcase"></i> <span data-translate>Work_Experience</span>
                <p data-ng-if="cv.resume.workExperience" class="working-experience">
                    <i class="fa fa-star"></i>
                    <span data-translate>Total_Work_Experience</span>:
                    <span class="color-grey">{{cv.totalWorkExperience}}</span>
                </p>
            </div>

            <h4 class="text-center" data-ng-if="0 >= cv.resume.workExperience.length" data-translate>User_Has_No_Work_Experience</h4>

            <div class="panel-body" data-ng-if="0 < cv.resume.workExperience.length">
                <div ng-repeat="work in cv.resume.workExperience" class="work">
                    <div class="title clearfix">
                        {{ work.title}}

                        <div class="info">
                            <span class="element" data-ng-if="work.company"><i class="fa fa-briefcase"></i> {{ work.company}}</span>
                            <span class="element" data-ng-if="work.startDate && work.endDate"><i class="fa fa-calendar"></i> {{ work.startDate | date:'MM.yyyy'}} - {{ work.endDate | date:'MM.yyyy'}}</span>
                            <span class="element" data-ng-if="work.startDate && !work.endDate"><i class="fa fa-calendar"></i> {{ work.startDate | date:'MM.yyyy'}} - Present</span>
                            <span class="element" data-ng-if="work.city"><i class="fa fa-map-marker item"></i> {{ work.city}}</span>
                        </div>
                    </div>
                    <div class="description" data-ng-if="work.description" data-ng-bind-html="work.description"></div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" data-ng-if="0 < cv.resume.education.length">
            <div class="panel-heading">
                <i class="fa fa-graduation-cap"></i> <span data-translate>Education</span>
            </div>
            <div class="panel-body">
                <div ng-repeat="education in cv.resume.education" class="education">
                    <div class="title clearfix">
                        {{ education.school}}
                        <div class="info">
                                <span class="element" data-ng-if="education.fieldOfStudy || education.degree"><i class="fa fa-graduation-cap"></i>
                                    {{ education.degree}}
                                    <span data-ng-if="education.fieldOfStudy && education.degree">- </span>
                                    {{ education.fieldOfStudy}}
                                </span>
                            <span class="element" data-ng-if="education.startDate && education.endDate"><i class="fa fa-calendar"></i> {{ education.startDate | date:'yyyy'}} - {{ education.endDate | date:'yyyy'}}</span>
                            <span class="element" data-ng-if="education.startDate && !education.endDate"><i class="fa fa-calendar"></i> {{ education.startDate | date:'yyyy'}}</span>
                            <span class="element" data-ng-if="education.city"><i class="fa fa-map-marker item"></i> {{ education.city}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" data-ng-if="0 < cv.resume.languages.length">
            <div class="panel-heading">
                <i class="fa fa-language"></i> <span data-translate>Languages</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div ng-repeat="language in cv.resume.languages" class="languages col-sm-4 form-group">
                        <div class="title">
                            {{ language.name || 'empty' }}
                            <span class="element">{{cv.languageLevels[language.level]}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" data-ng-if="cv.resume.additionalInfo && 0 < cv.resume.additionalInfo.length">
            <div class="panel-heading">
                <i class="fa fa-list-ul"></i> <span data-translate>Skills_exams_and_additional_info</span>
            </div>
            <div class="panel-body">
                <div class="additional-info description" data-ng-bind-html="cv.resume.additionalInfo"></div>
            </div>
        </div>
    </div>
</div>
<div data-ng-if="!cv.forPDF" ng-include="'modules/common/userFooter/footer.tpl.html'"></div>
