.edit-vacancy-view {

  .hide-options {
    .ui-select-dropdown, input {
      display: none;
    }

    .ui-select-match {
      padding-bottom: 17px;
    }
  }

  .missing-margin {
    padding-top: 10px;
  }
}
