<div data-ng-if="app.isAdmin()" data-ng-include="'modules/common/adminMenu/adminMenu.html'"></div>
<div data-ng-if="!app.isAdmin()" data-ng-include="'modules/common/userMenu/userMenu.tpl.html'"></div>
<div class="container form-group edit-vacancy-view" ng-hide="app.navMenuActive">
    <form name="subscription" data-ng-submit="EditVacancyCtrl.saveVacancy()">
        <h3 data-translate>Category:</h3>

        <div class="row">
            <div class="col-lg-6" data-ng-class="{'hide-options': EditVacancyCtrl.vacancy.categories.length>0}">
                <ui-select multiple data-ng-model="EditVacancyCtrl.vacancy.categories" theme="bootstrap">
                    <ui-select-match placeholder="{{'Select_Category'|translate}}">{{ $item.name | translateDomain }}</ui-select-match>
                    <ui-select-choices repeat="category in EditVacancyCtrl.categories | filter:$select.search">
                        {{ category.name | translateDomain }}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <h3 data-translate>City :</h3>

        <div class="row">
            <div class="col-lg-6">
                <ui-select ng-model="EditVacancyCtrl.vacancy.cityId" theme="bootstrap">
                    <ui-select-match placeholder="{{'Select_City'|translate}}">{{ EditVacancyCtrl.vacancy.cityId.name | translateDomain }}</ui-select-match>
                    <ui-select-choices repeat="city in EditVacancyCtrl.cities | filter:$select.search">
                        {{ city.name | translateDomain }}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <h3 data-translate>Title :</h3>

        <div class="row">
            <div class="col-lg-6">
                <input type="text" data-ng-model="EditVacancyCtrl.vacancy.title" class="form-control" placeholder="{{'Title'|translate}}" required>
            </div>
        </div>

        <h3 data-translate>Salary :</h3>

        <div class="row">
            <div class="col-lg-6">
                <ui-select ng-model="EditVacancyCtrl.vacancy.cityId" theme="bootstrap">
                    <ui-select-match placeholder="{{'Select_Salary_Range'|translate}}">{{ EditVacancyCtrl.vacancy.salaryRangeId.name | translateDomain }}</ui-select-match>
                    <ui-select-choices repeat="salaryRange in EditVacancyCtrl.salaryRanges | filter:$select.search">
                        {{ salaryRange.name | translateDomain }}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <h3 data-translate>Vacancy_Description</h3>

        <div class="row">
            <div class="col-lg-12">
                <div data-text-angular data-ng-model="EditVacancyCtrl.vacancy.details" data-ta-toolbar="EditVacancyCtrl.taOptions"></div>
            </div>
        </div>
        <div class="missing-margin">
            <button type="submit" class="btn btn-main" data-translate>Save</button>
            <button type="button" data-ng-click="EditVacancyCtrl.deleteVacancy()" class="btn btn-main"><i class="fa fa-trash"></i> <span data-translate>Delete vacancy</span></button>
        </div>
    </form>
</div>
<div data-ng-include="'modules/common/userFooter/footer.tpl.html'"></div>
