@import "../../config";

.search-vacancies-view {
    padding-bottom: 35px;
    padding-top: 15px;

    .sticky {
        &.affix {
            position: fixed !important;
            top: 20px !important;
        }

        &.affix-bottom {
            position: absolute !important;
        }
    }

    .pagination-container {
        text-align: center;
    }

    .sidebar.mobile {
        .btn-clear-filters {
            display: none;
        }
    }

    .btn-clear-filters {
        -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.07);
        -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.07);
        box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.07);
    }

    .mising-padding {
        padding-bottom: 10px;
    }

    .search-form {
        margin-top: 15px;
    }

    .heading {
        padding-bottom: 15px;

        .title {
            font-size: 24px;
            color: #283b49;
            font-weight: bold;
        }
    }

    .img-outside-box {
        display: none;
        background-color: #fafafa;

        img {
            height: 75px;
            margin-bottom: 10px;
        }
    }

    .box-small {
        vertical-align: baseline;
        position: relative;
        width: 100%;
        margin: 10px auto;
        border: 1px solid #83b7d9;
        padding: 2px 0px;
        border-radius: 5px;
        background-color: #fff;

        .ui-select-container {
            position: relative;
            margin-bottom: 0px;
            background-color: #fff;
            color: @recrutoid-lightgrey;
            padding: 0;

            &:first-of-type {
                border-radius: 4px 0 0 4px;
                border-right: 2px solid #dadde0;
            }

            &:last-of-type {
                border-radius: 0 4px 4px 0;
                border-left: 2px solid #dadde0;
            }

            &:focus, &:hover {
                outline: none;
                box-shadow: none;
            }

            ::-webkit-input-placeholder {
                color: #aaa;
                font-weight: normal;
            }

            :-moz-placeholder {
                /* Firefox 18- */
                color: #aaa;
                font-weight: normal;
                opacity: 1;
            }

            ::-moz-placeholder {
                /* Firefox 19+ */
                color: #aaa;
                font-weight: normal;
                opacity: 1;
            }

            :-ms-input-placeholder {
                color: #aaa;
                font-weight: normal;
            }

            input {
/*                width: 100% !important;*/
                height: 44px;
                background-color: transparent;
                font-weight: normal;
                font-size: 14px;
                border: 0px none;
                position: relative;
                z-index: 9;
                padding-left: 46px;
                color: #000;

                &:focus, &:active {
                    border: none;
                    outline: none;
                    box-shadow: none;
                }
            }

            .ui-select-toggle {
                background: transparent none;
                color: #000;
                outline: none;
                border: 0px none;
                box-shadow: none;
                font-weight: normal;
                text-shadow: none;
                padding: 0 0 0 46px;
                cursor: text;
                height: 44px;
                transition: border .01s;

                .ui-select-placeholder {
                    color: #aaa;
                    position: absolute;
                    top: 30%;
                }

                .ui-select-match-text {
                    color: #000;
                    position: absolute;
                    top: 30%;
                    display: inline-block;
                    max-width: calc(~'100% - 90px');
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .btn-link {
                    position: absolute;
                    top: 13px;
                    right: 33px;
                    height: auto;
                    padding: 0px;

                    .glyphicon-remove {
                        font-size: 13px;
                    }
                }
            }

            .ui-select-match .btn-default-focus ,
            .ui-select-match.btn-default-focus {
                background-color: transparent;
                border-color: transparent;
                outline: none;
                box-shadow: none;
            }

            .caret {
                border: 0px;

                display: inline-block;
                line-height: 1;
                font: normal normal normal 14px/1 FontAwesome;
                color: @recrutoid-blue;
                height: auto;
                width: auto;
                margin-top: 0px;
                top: 33%;
                right: 20px;

                &.up {
                    content: "\f077";
                }
                &:before {
                    content: "\f078";
                }
            }

            &.suitcase {
                &:before {
                    font: normal normal normal 16px/1 FontAwesome;
                    content: '\f0b1';
                    position: absolute;
                    top: 15px;
                    left: 20px;
                    color: #c3c7c9;
                }
            }

            &.bars {
                &:before {
                    font: normal normal normal 16px/1 FontAwesome;
                    content: '\f0c9';
                    position: absolute;
                    top: 15px;
                    left: 20px;
                    color: #c3c7c9;
                }
            }

            &.marker {
                &:before {
                    font: normal normal normal 16px/1 FontAwesome;
                    content: '\f041';
                    position: absolute;
                    top: 15px;
                    left: 20px;
                    color: #c3c7c9;
                }
            }
        }
    }

    .filter-box {
        padding-top: 5px;
        padding-bottom: 5px;

        .element {
            margin-bottom: 6px;
            color: #999;
            &.active {
                color: @recrutoid-grey;
                font-weight: bold;
                border-left: solid 2px @recrutoid-red;
                padding-left: 8px;
            }
        }
    }

    .flat {
        border: none;
    }

    .new-user {
        font-size: 16px;
        padding: 3px 5px;
        border-radius: 5px;
        color: #FFFFFF;
        font-weight: bold;
        background-color: #6ee96d;
        margin-left: 10px;
    }

    .btn-light-yellow {
        background: #fffae9;
        color: #dc4533;
        margin-bottom: 12px;
        font-weight: bold;
        text-align: left;
        line-height: 26px;
    }

    .btn-light-yellow i {
        color: #dc4533;
        margin-top: 6px;
        font-size: 15px;
    }

    .btn-light-blue {
        background: #f2fefe;
        color: #3b94cc;
        margin-bottom: 12px;
        font-weight: bold;
        text-align: left;
        line-height: 26px;
    }

    .btn-light-blue i {
        color: #3b94cc;
        margin-top: 5px;
        font-size: 16px;
    }

    .sidebar {
        position: relative;
        margin-right: 10px;
        padding-right: 0px;
    }

    .vacancy-box {
        .details {
            padding-right: 70px;grunt
            .element {
                i {
                    padding-right: 4px;
                }
            }

            .btn-applied, .btn-apply {
                float: none;
                margin: 0;
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
        }

        .body {
            .title {
                padding-right: 40px;
            }
        }
    }

    #vacancy-preview-box {
        height: 557px;
        width: 280px;
        position: relative;
        top: 10px;

        &.stickTop{
            position: fixed !important;
            top: 10px !important;
            bottom: auto !important;
        }

        &.stickBottom{
            position: fixed !important;
            bottom: 10px !important;
            top: auto !important;
        }
    }

    #desktop-filters {
        width: 200px;
        margin-bottom: -10px;
        position: relative;
        top: 10px;

        &.stickTop{
            position: fixed !important;
            top: 10px !important;
            bottom: auto !important;
        }

        &.stickBottom{
            position: fixed !important;
            bottom: 10px !important;
            top: auto !important;
        }
    }

    .search-results {
        .transition(width .2s;);
        min-height: 500px;

        .alert.alert-info {
            background: none;
            border: none;
            box-shadow: none;
            text-align: center;
            font-size: 14px;
            text-shadow: none;
            color: #a7aeb4;
        }
    }
}

.search-vacancies-view.mobile {
    padding-top: 15px;

    .mobile-profile-menu {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: #d5e3ee;
        height: 100%;
        padding-top: 48px;
        overflow-y: scroll;
        z-index: 6;
    }

    .back-button {
        position: fixed;
        top: 0;
        z-index: 11;
        height: 48px;
        line-height: 48px;
        text-decoration: none;
        font-weight: normal;
        padding-left: 15px;
        color: @recrutoid-blue;
        width: 200px;
    }

    .apply-button {
        position: fixed;
        top: 7px;
        z-index: 11;
        text-decoration: none;
        font-weight: normal;
        padding-left: 15px;
        color: #25384a;
        width: 100px;
        border: 1px solid #b6cbdc;
        border-radius: 12px;

        height: auto;
        left: 50%;
        line-height: 30px;
        margin-left: -50px;

        .fa {
            color: @recrutoid-red;
        }
    }

    .dashboard-button {
        height: 40px;
        line-height: 40px;
        font-weight: 600;
        color: @recrutoid-blue;
        text-decoration: none;
        display: block;
        text-align: left;
        padding: 0 15px;
        border-radius: 4px;
        background: #f2fefe;
        margin-bottom: 10px;

        .fa {
            font-size: 17px;
            margin-right: 3px;
        }
    }


}

@media (max-width: @screen-sm-max) {
    .box-small {
        .ui-select-container {
            margin-bottom: 0px;
        }
    }
}

@media (max-width: @screen-sm-max) {
    .job-seeker-box {
        &.active {
            .preview {
                display: none;
            }
        }
    }

    .vacancy-box {
        .details {
            .btn-apply {
                display: inline-block;
            }
        }
    }
    .vacancy-preview-column {
        display: none !important;
    }
}

@media (max-width: @screen-xs-max) {
    .search-vacancies-view {

        .mobile-profile-menu {
            .profile-menu {
                margin-bottom: 30px;
                margin-top: 0px;
                background-color: transparent;

                .filters-box {
                    .panel {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .btn-light-blue i {
            margin-top: 0px;
            margin-right: 4px;
            font-size: 18px;
        }

        .box-small {
            border-radius: 5px;
            border: 1px solid #83b7d9;
            padding: 0px 5px;
            background-color: #fff;

            .ui-select-container {
                margin-bottom: 0px;
                border-width: 0px 0px 2px 0px;
                border-color: #dadde0;
                border-style: solid;

                &:first-of-type {
                    border-radius: 0px;
                    border-right: 0px none;
                }

                &:last-of-type {
                    border-radius: 0px;
                    border: 0px none;
                }

                &.suitcase,
                &.bars {
                    &:before {
                        left: 10px;
                    }
                }
                &.marker {
                    &:before {
                        left: 12px;
                    }
                }

                input,
                .ui-select-toggle {
                    padding-left: 40px;
                }
            }
        }

        .vacancy-box {
            .details {
                .element {
                    display: block;
                }
            }
        }

        .search-form {
            margin-bottom: 0px;
        }
        .sidebar.mobile {
            padding-right: 15px;
            margin-right: 0px;

            .btn-display-filters {
                margin-bottom: 0px;
                -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.07);
                -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.07);
                box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.07);
            }
            .btn-clear-filters {
                display: block;
                margin-top: 10px;
                margin-bottom: 0px;
            }
        }
    }
}


@sidebar: 200px;
@sidebarPaddingLeft: 15px;
@vacancyPreview: 280px;
@marginRight: 15px;
@distanceBetweenColumns: 10px;

@media (min-width: @screen-sm) {
    .search-vacancies-view {
        .box-small {
            .ui-select-container {
                float: left;
                width: 31.73%;
            }
        }

        .search-results {
            width: calc(~'100% - @{sidebar} - @{sidebarPaddingLeft} - @{marginRight}');
            padding-right: 10px;
        }

        .sidebar {
            width: calc(~'@{sidebar} + @{sidebarPaddingLeft}');
        }
    }
}

@media screen and (max-width: @screen-xs-max) {
    .search-vacancies-view {
        .search-form {
            margin-top: 0;
        }
    }
}

@media (min-width: @screen-md) {
    .search-vacancies-view {

        .search-results {
            width: calc(~'100% - @{sidebar} - @{sidebarPaddingLeft} - @{vacancyPreview} - @{marginRight} - @{distanceBetweenColumns}');
            padding-right: 0px;
        }

        .job-seeker-box {
            position: relative;
        }

        .vacancy-record {
            width: calc(~'100% - 10px');
        }

        .vertical-bar {
            background: #b9c6cf;
            display: block;
            height: 100%;
            position: absolute;
            right: 3px;
            width: 5px;

            &.seen {
                background: #d9c4b3;
            }
        }

        .vacancy-preview-column {
            position: relative;
            width: calc(~'@{vacancyPreview}');
            /* margin-right: @marginRight; */

        }

        .vacancy-box {
            .details {
                .btn-apply {
                    display: none;
                }
            }
        }
    }
}
.search-vacancies-view {
    .search-btn {

    }
}

