<div class="col-lg-8">
    <div class="row">
        <div class="col-lg-3">
            <input class="form-control" placeholder="{{'Search_By_Vacancy_Title'|translate}}" data-ng-model="searchVacancies.filter.title"/>
        </div>
        <div class="col-lg-3">
            <input class="form-control" list="companyNameList" placeholder="{{'Search_By_Company'|translate}}" data-ng-model="searchVacancies.filter.companyName"/>
            <datalist id="companyNameList">
                <option ng-repeat="vacancy in searchVacancies.results" value="{{ vacancy.companyName }}"></option>
            </datalist>
        </div>
        <div class="col-lg-3">
            <input class="form-control" placeholder="{{'Search_By_Email'|translate}}" data-ng-model="searchVacancies.filter.email"/>
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-default" data-ng-click="searchVacancies.clearPresets()" data-translate>Clear_All_Filters</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <ui-select class="bars" data-ng-model="searchVacancies.selectedCategory" theme="bootstrap" required>
                <ui-select-match placeholder="{{'Select_Category'|translate}}" allow-clear="true">{{ $select.selected.name | translateDomain }}</ui-select-match>
                <ui-select-choices repeat="category in searchVacancies.categories | filter:$select.search">
                    {{ category.name | translateDomain }}
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-lg-3">
            <ui-select class="bars" data-ng-model="searchVacancies.selectedCity" theme="bootstrap" required>
                <ui-select-match placeholder="{{'Select_City'|translate}}" allow-clear="true">{{ $select.selected.name | translateDomain }}</ui-select-match>
                <ui-select-choices repeat="city in searchVacancies.cities | filter:$select.search">
                    {{ city.name | translateDomain }}
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-lg-3">
            <ui-select class="bars" data-ng-model="searchVacancies.selectedSalaryRange" theme="bootstrap" required>
                <ui-select-match placeholder="{{'Select_Salary_Range'|translate}}" allow-clear="true">{{ $select.selected.name | translateDomain }}</ui-select-match>
                <ui-select-choices repeat="salaryRange in searchVacancies.salaryRanges | filter:$select.search">
                    {{ salaryRange.name | translateDomain }}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
<div class="col-lg-4 text-right">
    <div class="btn-group" role="group" aria-label="Large button group">
        <button class="btn btn-success" data-ng-click="searchVacancies.downloadAsXLS()"><i class="fa fa-download"></i> {{ 'Export_Excel' | translate  }}</button>
        <button class="btn btn-danger" data-ng-click="searchVacancies.downloadAsPDF()" ><i class="fa fa-download"></i> {{ 'Export_PDF' | translate  }}</button>
    </div>
</div>