<div data-ng-include="'modules/common/userMenu/userMenu.tpl.html'" ng-class="{'navbar-mobile-settings': showMobileFilters && media == 'mobile' && !app.navMenuActive}"></div>
<div class="search-vacancies-view" ng-class="media" ng-hide="app.navMenuActive">

    <floating-button icon="fa-sliders" ng-click="showMobileFilters = true" ng-class="{'hidden': media != 'mobile'}" ></floating-button>

    <a ng-click="showMobileFilters = false" class="back-button fromLeft visible-xs" ng-class="{'showIn': showMobileFilters && !app.navMenuActive}"><i class="fa fa-chevron-left"></i> Filters</a>
    <a ng-click="searchVacancies.applyMobileFilters()" class="apply-button fromLeft visible-xs clickable" ng-class="{'showIn': showMobileFilters}"><i class="fa fa-check"></i> Apply</a>
    <div ng-show="showMobileFilters" class="container mobile-profile-menu visible-xs">
        <div class="row">
            <div class="col-xs-12 fromRight" ng-class="{'showIn': showMobileFilters}" >
                <div class="profile-menu">
                    <div class="row search-form">
                        <div class="col-xs-12" ng-cloak ng-include="'modules/common/mainFilters/mainVacancyFilters.tpl.html'">
                        </div>
                    </div>

                    <sub-vacancy-filters mode="mobile"
                                        has-selected-filters="searchVacancies.hasSelectedFilters()"
                                        is-filter-selected="searchVacancies.isFilterSelected(filter)"
                                        is-filter-set="searchVacancies.isFilterSet(filter, value)"
                                        reset-filters="searchVacancies.resetFilters()"
                                        set-filter="searchVacancies.setFilter(filter, value)"
                                        salary-ranges="searchVacancies.salaryRanges"
                                        company-filter-data="searchVacancies.companyFilterData"
                                        location-filter-data="searchVacancies.locationFilterData"
                                        ></sub-vacancy-filters>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="container" ng-class="{'hidden': showMobileFilters}">
        <div class="row search-form">
            <div class="col-xs-12" ng-cloak ng-include="'modules/common/mainFilters/mainVacancyFilters.tpl.html'">
            </div>
        </div>

        <div class="row" id="content-columns">
            <div class="col-sm-3 visible-xs sidebar mobile" >
                <button class="btn btn-block btn-light-blue btn-display-filters" ng-click="showMobileFilters = true" >
                    <i class="fa fa-sliders"></i>
                    <span data-translate>Filters</span>
                </button>

                <button class="btn btn-block btn-light-yellow btn-clear-filters" data-ng-click="searchVacancies.resetFilters()" data-ng-if="searchVacancies.hasSelectedFilters()" >
                    <i class="fa fa-times pull-right"></i>
                    <span data-translate>Clear_filter</span>
                </button>
            </div>
            
            <div class="col-sm-3 hidden-xs mising-padding sidebar" >
                <div offset-top="10" container="content-columns">
                    <div id="desktop-filters">
                        <sub-vacancy-filters mode="desktop"
                                             has-selected-filters="searchVacancies.hasSelectedFilters()"
                                             is-filter-selected="searchVacancies.isFilterSelected(filter)"
                                             is-filter-set="searchVacancies.isFilterSet(filter, value)"
                                             reset-filters="searchVacancies.resetFilters()"
                                             set-filter="searchVacancies.setFilter(filter, value)"
                                             salary-ranges="searchVacancies.salaryRanges"
                                             company-filter-data="searchVacancies.companyFilterData"
                                             location-filter-data="searchVacancies.locationFilterData"
                        ></sub-vacancy-filters>
                    </div>
                </div>
            </div>

            <div class="col-sm-9 search-results vacancy-search-results" data-scroll-to="searchVacancies">
                <div id="search-items-container">
                    <div class="alert alert-info" data-ng-show="0 >= searchVacancies.results.length" data-translate>Nothing_Found</div>

                    <div class="pointer job-seeker-box " id="seeker-box-{{$index}}" data-ng-repeat="vacancy in searchVacancies.results"
                         data-ng-class="{'active': $index === searchVacancies.activeRow}"
                         data-ng-mouseenter="searchVacancies.setActiveRow($index, vacancy)" >

                        <div class="vertical-bar" data-ng-class="{'hidden': $index !== searchVacancies.activeRow, 'seen': vacancy.isNotVisited === false}" ></div>
                        <div class="vacancy-record" vacancy-box="vacancy" data-is-job-seeker="app.isJobSeeker()"
                             data-show-seen="true" data-show-salary="true" data-show-new="true"
                             data-clickable-box="true" data-show-company-name="true"
                             data-show-apply-button="true" data-show-create-date="true"
                             data-apply-method="searchVacancies.apply(vacancy)" ></div>

                    </div>
                </div>

                <div class="pagination-container">
                    <uib-pagination ng-class="{'hidden': media == 'mobile'}"
                                    ng-model="searchVacancies.currentPage"
                                    ng-change="searchVacancies.allowScroll = true"
                                    ng-show="searchVacancies.isPaginationNeeded()"
                                    total-items="searchVacancies.resultCount"
                                    items-per-page="searchVacancies.filter.size"
                                    max-size="5"
                                    boundary-links="true"
                                    previous-text="&#xf053;" next-text="&#xf054;" first-text="&#xf053;&#xf053;" last-text="&#xf054;&#xf054;"
                    ></uib-pagination>

                    <uib-pagination ng-class="{'hidden': media != 'mobile'}"
                                    ng-model="searchVacancies.currentPage"
                                    ng-change="searchVacancies.allowScroll = true"
                                    ng-show="searchVacancies.isPaginationNeeded()"
                                    total-items="searchVacancies.resultCount"
                                    items-per-page="searchVacancies.filter.size"
                                    max-size="1"
                                    template-url="mobile.html"
                                    previous-text="&#xf053;" next-text="&#xf054;" first-text="&#xf053;&#xf053;" last-text="&#xf054;&#xf054;"
                    ></uib-pagination>
                </div>

                <script type="text/ng-template" id="mobile.html">
                    <ul class="pagination mobile">
                        <li ng-if="::directionLinks" ng-class="{disabled: noPrevious()||ngDisabled}" class="pagination-prev"><a href ng-click="selectPage(page - 1, $event)">{{::getText('previous')}}</a></li>
                        <li ng-repeat="page in pages track by $index" ng-class="{disabled: ngDisabled&&!page.active}" class="pagination-page"><a href ng-click="selectPage(page.number, $event)">{{ page.text + ' / ' + totalPages}}</a></li>
                        <li ng-if="::directionLinks" ng-class="{disabled: noNext()||ngDisabled}" class="pagination-next"><a href ng-click="selectPage(page + 1, $event)">{{::getText('next')}}</a></li>
                    </ul>
                </script>
            </div>

            <div class="col-sm-3 vacancy-preview-column">

                <div ng-show="!!searchVacancies.activeVacancy" id="vacancy-preview-box" >
                    <!--<div class="pointer preview-box" data-ng-repeat="vacancy in searchVacancies.results"-->
                        <!--data-ng-class="{'active': $index === searchVacancies.activeRow}"-->
                        <!--data-ng-mouseenter="searchVacancies.setActiveRow($index)" >-->

                        <vacancy-preview class="preview " create-date="vacancy.createDate"
                                        redirect-method="searchVacancies.details(searchVacancies.activeVacancy)" apply-method="searchVacancies.apply(searchVacancies.activeVacancy)"
                                        vacancy="searchVacancies.activeVacancy" ></vacancy-preview>
                </div>

            </div>
        </div>
    </div>
</div>
<div data-ng-include="'modules/common/userFooter/footer.tpl.html'"></div>
