.search-vacancies-as-admin-view {

  .checkbox-middle {
    vertical-align: middle;
  }

  .search-form {
    margin-bottom: 1em;
    div {
      &:first-child {
        margin-bottom: 5px;
      }
      &.found-vacancies {
        margin-top: 10px;
      }
      .btn-group {
        min-width: 95px;
      }
      span {
        &.found-vacancies {
          font-size: 20px;
          color: #337ab7;
        }
      }
    }
    .ui-select-container {

      .ui-select-match-text {
        width: ~"calc(100% - 34px)";
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .table-responsive {
    font-size: 14px;
    > .table tbody > tr > td {
      font-size: 14px;
      > span span.label.label-primary {
        font-size: 12px;
      }
    }
  }

  .flags {
    min-width: 130px;
  }

  .create-date {
    min-width: 120px;
  }

  //.job-title {
  //  min-width: 200px;
  //}

  .company-name {
    min-width: 150px;
  }

  .footer-admin {
    margin: 20px 0;
    .move-to-middle {
      margin-top: 10px;
    }
    .total-vacancies {
      font-size: 16px;
      color: #337ab7;
    }
    .pagination {
      margin: 0;
    }
  }

  .vacancy-title {
    min-width: 150px;
  }

  .actions-wfa {
    min-width: 120px;
  }
}
