.vacancy-details-view {
  padding-top: 8px;
  padding-bottom: 25px;

  background: #e5e9ec; /* Old browsers */
  background: -moz-linear-gradient(top, #d1dee6 0%, #e5e9ec 60%, #e5e9ec 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d1dee6 0%, #e5e9ec 60%, #e5e9ec 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d1dee6 0%, #e5e9ec 60%, #e5e9ec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


  .above-vacancy {
    margin-bottom: 0px;
    z-index: 2;
    position: relative;
  }

  .vacancy-box {
    border: 0px none;
    background-color: transparent;

    &.seen {
      border: 0px none;
      background-color: transparent;
    }

    .label-seen {
      display: none;
    }

    .details {
      display: block !important;

      &.details-with-padding {
        display: none !important;
      }

      .element {
        color: @recrutoid-dark;
        .fa {
          color: #cc4544;
        }

        &.categories-view {

          span {
            color: #b1b6bc !important;
          }

          .fa {
            color: #a7aeb9 !important;
          }
        }
      }

      .details-container {
        padding-right: 0;
      }
    }

    .element {
      .fa {
        padding-right: 4px;
      }
    }

    .media-left.media-logo-side {
      padding-right: 5px;

      .logo-container {
        width: 88px;
        height: 88px;

        .logo {
          padding: 0;
          background: transparent;

          img {
            border-radius: 4px;
          }
        }
      }
    }

    .user-thumbnail {
      height: 95px;
      width: 95px;
      border-radius: 4px;
    }

    .body {
      margin-top: 0;
      .title {
        font-size: 20px;
        font-weight: 600;
        color: @recrutoid-dark;
      }
    }
  }

  .back-to-list {
    color: #258fc9;
    font-size: 13px;
    padding-left: 106px;

    &:hover {
      text-decoration: none;
      color: #0072bc;
    }
  }

  .btn.apply {
    margin-top: 4px;
    margin-left: 20px;
    background-image: none;
    background-color: transparent;
    color: #265a88;
  }

  .applied {
    display: inline-block;
    padding: 7px 12px;
    margin-top: 4px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
  }

  .fb-stats {
    position: absolute;
    left: 30px;
    bottom: 30px;
  }

  .actions {
    padding-top: 18px;
    .send-email {
      background: transparent;
      border: 2px #cccccc solid;
      padding: 3px 6px;
      color: #cfcfcf;
      &:focus {
        border-image: none;
        outline: none;
      }
    }
  }

  .panel {
    margin-bottom: 0;
    margin-top: 25px;
    border-radius: 4px;
    border-color: #d8e0e3;

    > .panel-heading {
      padding: 30px;
      border: none;
      &.red {
        background: #d54b48 none;
        border: none;
      }
    }

    .panel-body {
      padding: 15px 30px;
      padding-bottom: 30px;
      position: relative;
    }
  }

  .panel-default {
    > .panel-heading {
      > .fa {
        color: #1d88cf;
        font-size: 20px;
        margin-right: 6px;
      }
      .title {
        font-size: 24px;
        color: @recrutoid-dark;
        font-weight: 600;
      }
      .create-date {
        font-size: 12px;
        display: block;
        color: #bfc6cc;
        .fa {
          color: #bfc6cc;
        }
      }
    }
    .description {
      color: #585b5d;
    }
  }

  .panel.panel-offer-box {
    background-color: #fafafa;

    .img-outside-box {
      display: none;
      background-color: #fafafa;

      img {
        height: 75px;
        margin-bottom: 10px;
      }
    }

    .offer-box {
      margin: 0;
      padding: 0;
      background-color: #fafafa;
      border-radius: 3px;
      box-shadow: 3px;
      &.media, .media-body {
        overflow: visible;
      }

      img {
        height: 75px;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
      }

      .informations {
        padding-top: 5px;
        .no-padding-sides {
          padding-left: 0;
          padding-right: 0;
        }
        .title {
          font-size: 20px;
          color: #000000;

          .author {
            font-size: 16px;
          }

          .salary {
            padding-left: 30px;
            padding-top: 4px;
            font-size: 14px;
            color: #989898;
          }
          .statuses {
            font-size: 16px;
          }
        }
        .info {
          color: #989898;
          .element {
            float: left;
            padding-right: 40px;
          }
        }
      }
    }
  }

  .mobile-top-info {
    h3 {
      font-size: 18px;
      font-weight: 600;
    }

    .categories-view {
      .fa {
        color: #a7aeb9;
        font-size: 13px;
      }

      span {
        font-size: 12px;
        color: #b0b7c0;
      }
    }
  }

  .apply-info {
    @media (min-width: @screen-sm-min) {
      position: relative;
      top: 35px;
    }
  }

  .btn-apply {
    background: #339bdd;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 13px;
    line-height: 30px;

    &:hover {
      background: #007fcf;
      color: #fff;
    }
  }

  .btn-applied {
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    background: #44a063 !important;
  }
}

@media (max-width: @screen-xs-max) {
  .vacancy-details-view {

    .vacancy-box {
      .body {
        .title {
          display: none;
        }

        .element {
          display: block;

          .fa {
            width: 17px;
            text-align: center;
          }
        }

        .categories-view {
          display: none;
        }
      }
    }

    .panel.panel-offer-box {
      padding: 15px;
      .img-outside-box {
        display: block;
        font-size: 16px;
      }
      .offer-box {
        .img-inside-box {
          display: none;
        }

        .author {
          display: none;
        }
      }
    }

    .panel > .panel-heading {
      padding: 30px 15px;
      border: none;
    }

    .panel .panel-body {
      padding: 15px;
    }

    .fb-stats {
      position: absolute;
      left: 15px;
      bottom: 15px;
    }

    .back-to-list {
      color: #258fc9;
      font-size: 13px;
      padding-left: 0;
    }
  }
}

