<div data-ng-include="'modules/common/userMenu/userMenu.tpl.html'"></div>

<div class="vacancy-details-view" ng-hide="app.navMenuActive">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="above-vacancy clearfix">

                    <a 
                        type="button" 
                        data-ng-click="vacancyDetails.back()" 
                        class="btn btn-link back-to-list hidden-lg hidden-md"
                        >
                        <i class="fa fa-chevron-circle-left"></i>
                        <span data-translate>Return_To_The_List</span>
                    </a>

                    <div data-ng-if="!app.isEmployer() && !app.isAdmin()" class="pull-right apply-info">
                        <button type="button" class="btn btn-xs btn-apply" data-ng-click="vacancyDetails.apply()" data-ng-if="!vacancyDetails.isApplied()">
                            <span data-translate>Apply</span>
                        </button>

                        <span class="btn btn-xs btn-applied" data-ng-if="vacancyDetails.isApplied()">
                            <i class="fa fa-check"></i> <span data-translate>Applied</span>
                        </span>
                    </div>

                </div>

                <div data-ng-if="vacancyDetails.vacancy" vacancy-box="vacancyDetails.vacancy"
                        data-show-salary="true" data-show-logo="true" data-hide-creation-date="true"
                        data-show-company-name="true" data-show-categories-view="true" ></div>

                <div class="mobile-top-info visible-xs">
                    <h3>{{vacancyDetails.vacancy.title}}</h3>
                    <span class="element categories-view">
                        <i class="fa fa-bars"></i>
                        <span data-ng-repeat="category in vacancyDetails.vacancy.categories">
                            {{category.name  | translateDomain}}<span ng-show="!$last">,</span>
                        </span>
                    </span>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading white">
                        <i class="fa fa-briefcase"></i>
                        <span class="title" data-translate>Vacancy_Description</span>
                        <span class="create-date">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                            {{ vacancyDetails.vacancy.createDate | date:'dd/MM/yyyy' }}
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="description" ng-bind-html="trustAsHtml(vacancyDetails.vacancy.details)"></div>

                        <br>
                        <br>

                        <div data-ng-if="!app.isEmployer() && !app.isAdmin()">
                            <button type="button" class="btn btn-xs btn-apply pull-right" data-ng-click="vacancyDetails.apply()" data-ng-if="!vacancyDetails.isApplied()">
                                <span data-translate>Apply</span>
                            </button>

                            <span class="btn btn-xs btn-applied pull-right" data-ng-if="vacancyDetails.isApplied()">
                                <i class="fa fa-check"></i> <span data-translate>Applied</span>
                            </span>
                        </div>
                        <div class="pull-left fb-stats" data-fb-like="vacancyDetails.viewUrl"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div data-ng-include="'modules/common/userFooter/footer.tpl.html'"></div>
