<div data-ng-include="'modules/common/adminMenu/adminMenu.html'"></div>
<div class="search-vacancies-as-admin-view">
    <div class="container-fluid">
        <div class="row search-form" data-ng-include="'modules/vacancies/searchForm.html'"></div>

        <div class="text-right action-on-select-nav">
            <button class="btn btn-warning" data-ng-click="searchVacancies.doActionOnSelected('approve')"><i class="fa fa-paper-plane"></i> <span data-translate>Dispatch_Selected</span></button>
            <button class="btn btn-danger" data-ng-click="searchVacancies.doActionOnSelected('remove')"><i class="fa fa-trash"></i> <span data-translate>Delete_Selected</span></button>
        </div>
        <div class="text-right action-on-select-nav pull-right">
            <button class="btn btn-primary" data-ng-click="searchVacancies.doActionOnSelected('resend')"><i class="fa fa-envelope"></i> <span data-translate>Resend_Confirmation_Link_To_Selected</span></button>
        </div>
        <div class="text-left clearfix">
            <button class="btn btn-default" data-ng-click="showTimestamp = !showTimestamp"><i class="fa" data-ng-class="showTimestamp?'fa-calendar':'fa-calendar-o'"></i> <span data-translate>Show_Timestamp</span></button>
        </div>

        <div class="table-responsive">
            <table class="table table-hover admin-table">
                <thead>
                <tr>
                    <th data-ng-init="searchVacancies.allSelected = false" class="checkbox-middle"><input type="checkbox" data-ng-model="searchVacancies.allSelected" data-ng-change="searchVacancies.selectAll()"></th>
                    <th data-translate>#</th>
                    <th data-translate>Email</th>
                    <th data-translate>Categories</th>
                    <th class="company-name" data-translate>Company_Name</th>
                    <th class="company-name" data-translate>Salary_Range</th>
                    <th data-translate>City</th>
                    <th class="job-title" data-translate>Vacancy_Title</th>
                    <th data-ng-show="showTimestamp" class="create-date text-center" data-translate>Timestamp</th>
                    <th class="create-date text-center" data-translate>Daily_Matches</th>
                    <th class="text-right actions-wfa" data-translate>Actions</th>
                </tr>
                </thead>
                <tr data-ng-repeat="vacancy in searchVacancies.results" data-ng-show="searchVacancies.results.length !== 0" data-ng-class="{'danger': !vacancy.verified}">
                    <td class="checkbox-middle"><input type="checkbox" data-ng-model="vacancy.selected"></td>
                    <td>
                        <span data-tooltip-placement="right" data-tooltip="#{{vacancy.id | stringRange: 14 : 10}}" >{{searchVacancies.total - ((searchVacancies.currentPage-1) * searchVacancies.filter.size) - $index}}</span>
                    <td>{{ vacancy.email }}</td>
                    <td>
                            <span data--ng-repeat='category in vacancy.categories'>
                                <span class="label label-primary label-category" data-ng-class="{'wrap': (category.name | translateDomain).length > 30}">{{category.name | translateDomain}}</span>&nbsp;
                            </span>
                    </td>
                    <td><a data-ng-click="searchVacancies.setSearchTo(vacancy.companyName)">{{vacancy.companyName}}</a></td>
                    <td>{{vacancy.salaryRangeId.name | translateDomain}}</td>
                    <td>{{vacancy.cityId.name | translateDomain}}</td>
                    <td>{{vacancy.title}}</td>
                    <td data-ng-show="showTimestamp" class="text-center">
                        <div>{{vacancy.createDate  | date:'HH:mm:ss'}}</div>
                        <div>{{vacancy.createDate  | date:'yyyy-MM-dd'}}</div>
                    </td>
                    <td class="text-center" >{{ vacancy.matchingSubscriptions }}</td>
                    <td class="text-right">
                        <div class="btn-group btn-group-xs">
                            <button type="button" class="btn btn-primary" data-ng-click="searchVacancies.verify(vacancy)" data-tooltip="{{'Verify'|translate}}"
                                    data-ng-show="!vacancy.verified" tooltip-append-to-body="true">
                                <i class="fa fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-info" data-ng-click="searchVacancies.edit(vacancy)" data-tooltip="{{'Edit'|translate}}"
                                    tooltip-append-to-body="true">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-danger" data-ng-click="searchVacancies.remove(vacancy)" data-tooltip="{{'Remove'|translate}}"
                                    tooltip-append-to-body="true">
                                <i class="fa fa-trash"></i>
                            </button>
                            <button type="button" class="btn btn-warning" data-ng-click="searchVacancies.approve(vacancy)" data-tooltip="{{'Approve'|translate}}"
                                    data-ng-show="!vacancy.approved && !vacancy.banned" tooltip-append-to-body="true">
                                <i class="fa fa-paper-plane"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div data--ng-show="searchVacancies.results.length === 0">
            <h2 class="text-center" data-translate>No_Matching_Results_Found</h2>
        </div>
        <div class="footer-admin">
            <div class="pull-left move-to-middle">
                <span data-ng-if="searchVacancies.showTotal" class="total-vacancies"><sapn data-translate>Found_Vacancies</sapn> {{ searchVacancies.total}} </span>
            </div>
            <div class="pull-right">
                <uib-pagination
							ng-change="app.scrollTop()"
							ng-model="searchVacancies.currentPage"
							total-items="searchVacancies.resultCount"
                            items-per-page="searchVacancies.filter.size"
							max-size="25"
							boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
							ng-show="searchVacancies.isPaginationNeeded()"></uib-pagination>
            </div>
        </div>
    </div>
</div>
