<div class="vacancy-modal">
    <div class="modal-body">
        <form data-ng-submit="ctrl.publish()">
            <div class="row form-row" ng-if="ctrl.role !== 'employer'">
                <div class="col-sm-12 form-col">
                    <recrutoid-input icon="fa-building-o" type="text" placeholder="Company_Name" required="true" ng-model="ctrl.vacancy.companyName" max="100" error="ctrl.errors.company"></recrutoid-input>
                </div>
            </div>

            <div class="row form-row">
                <div class="col-sm-12 form-col">
                    <recrutoid-input icon="fa-briefcase" type="text" placeholder="Vacancy_Title" required="true" ng-model="ctrl.vacancy.title" max="100" error="ctrl.errors.title"></recrutoid-input>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="recrutoid-tinymce" ng-class="{'error' : ctrl.errors.description}">
                        <textarea data-ng-model="ctrl.vacancy.details" ui-tinymce="tinymceFull"  ng-change="ctrl.errors.description = null"
                                  placeholder="{{'Vacancy_description_please_do_not_forget_to_enter_requirements_responsibilities_and_conditions'|translate}}"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group"></div>
            <div class="row">
                <div class="col-sm-8" ng-show="media != 'mobile'">
                    <h3 class="h3-homepage-modal" data-translate>Do_You_Also_Want_To_Publish_This_Vacancy</h3>

                    <div class="form-group no-bottom-margin">
                        <div>
                            <label class="checkbox_website" ng-class="{'checked':ctrl.vacancy.publishOnWebsite}">
								<input style="display:none;" type="checkbox" data-ng-model="ctrl.vacancy.publishOnWebsite">
								<i class="fa fa-circle-o"></i>
								<i class="fa fa-dot-circle-o"></i>
								<span data-translate>Yes_I_Want_That</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="text-right buttons-modal">
                    <button class="btn btn-light-primary" type="submit" data-translate>Send</button>
                    <button class="btn btn-light-danger" type="button"  data-ng-click="ctrl.close()" data-translate>Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
