.vacancy-modal {

  .recrutoid-field.with-icon {
    input.form-control {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  .btn-light-primary {
    padding-left: 18px;
    padding-right: 18px;
  }

  .modal-header {
    background: #fff;

    h3 {
      margin: 0;
      font-weight: bold;
      color: #fff;
    }
  }

  .modal-body {
    background: #fff;
    padding: 10px 30px 25px;

    textarea {
      display: none;
    }

    .form-control {
      color: #555;
    }

    .btn-ok {
      background: #e2f0fb;
      color: #ffffff;
      border: none;
    }

    .btn-dismiss {
      background:#f4e0e1;
      color:@recrutoid-red;
    }

    h3.h3-homepage-modal {
      font-size: 14px;
      color: #7f848a;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    label.btn span {
      font-size: 1.5em ;
    }

    label input[type="checkbox"] ~ i.fa.fa-circle-o{
        color: #c8c8c8;    display: inline;
    }
    label input[type="checkbox"] ~ i.fa.fa-dot-circle-o{
        display: none;
    }
    label input[type="checkbox"]:checked ~ i.fa.fa-circle-o{
        display: none;
    }
    label input[type="checkbox"]:checked ~ i.fa.fa-dot-circle-o{
        color: @recrutoid-blue;    display: inline;
    }
    .buttons-modal{
      margin-top: 15px;

      .btn {
        margin-left: 6px;
      }
    }
    span.icon-before-input {
      float: left;
      width: 0;
      margin-top: 7px;
      padding-left: 6px;
      position: absolute;
      color: #aab1b9;
    }
  }

  .no-bottom-margin {
    margin-bottom: 0px;
  }

  .checkbox_website {
    cursor: pointer;
    color: #c1c5cb;
    font-weight: normal;

    &.checked, &:hover {
      color: @recrutoid-dark;
    }

    .fa {
      margin-right: 3px;
    }
  }

  .form-col {
    max-height: 50px;
    padding-bottom: 10px;

    .recrutoid-field.with-icon .fa {
      top: 13px;
    }
  }

  .recrutoid-tinymce {
    margin-top: 30px;
  }

  @media (min-width: @screen-sm) {
    .buttons-modal {
      margin-right: 16px;
    }
  }
  @media (max-width: @screen-xs-max) {
    .buttons-modal {
      text-align: center;
    }
  }
}
