<ul class="nav navbar-nav">
    <li class="visible-sm hidden-xs pull-right on-top">
        <ul class="languages mobile buttons">
            <li class="clickable" data-ng-class="{'active': 'en' == app.currentLanguage}">
                <a data-ng-click="app.changeLanguage('en')">EN</a>
            </li>
            <li class="clickable" data-ng-class="{'active': 'ru' == app.currentLanguage}">
                <a data-ng-click="app.changeLanguage('ru')">RU</a>
            </li>
        </ul>
    </li>
    <li class="user-data visible-xs visible-sm">
        <div class="user-name">
            <div class="user-avatar" style="background-image: url({{ app.currentUser.thumbnail }})"><i role="button" class="fa fa-user" ng-if="!app.currentUser.thumbnail"></i></div>
            <span class="name">{{ app.currentUser.firstName }} {{app.currentUser.lastName}}</span>
        </div>
        <ul class="mobile-options list-unstyled">
            <li>
                <a href="/user/settings/editProfile"><i class="fa fa-cogs"></i> <span data-translate>Profile_Settings</span></a>
            </li>
            <li>
                <a href="/admin/vacancies/waitingForApproval"><i class="fa fa-lock"></i> <span data-translate>Admin_Panel</span></a>
            </li>
            <li>
                <a data-ng-click="app.logout()"><i class="fa fa-sign-out"></i> <span data-translate>Log_Out</span></a>
            </li>
        </ul>
    </li>
    <li role="separator" class="divider visible-xs visible-sm"></li>
    <li class="hidden-xs hidden-sm navbar-button" data-ng-repeat="page in menuCtrl.pages" ng-if="page.slug == 'about-us'">
        <a href="/page/{{page.slug}}">{{page.title | translateDomain}}</a>
    </li>
    <li class="dropdown hidden-xs hidden-sm navbar-button" data-ng-if="menuCtrl.pages.length">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" >
			<span data-translate>More</span><span class="caret"></span>
		</a>
        <ul class="dropdown-menu">
            <li data-ng-repeat="page in menuCtrl.pages" ng-if="page.slug != 'about-us'">
                <a href="/page/{{page.slug}}">{{page.title | translateDomain}}</a>
            </li>
        </ul>
    </li>
    <li data-ng-repeat="page in menuCtrl.pages" class="hidden-md hidden-lg cms">
        <a href="/page/{{page.slug}}">{{page.title | translateDomain}}</a>
    </li>
    <li class="visible-xs">
        <br/>
        <ul class="languages mobile buttons">
            <li class="clickable" data-ng-class="{'active': 'en' == app.currentLanguage}">
                <a data-ng-click="app.changeLanguage('en')">EN</a>
            </li>
            <li class="clickable" data-ng-class="{'active': 'ru' == app.currentLanguage}">
                <a data-ng-click="app.changeLanguage('ru')">RU</a>
            </li>
        </ul>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown user-data hidden-xs hidden-sm">
        <a ng-if="app.currentUser.thumbnail" class="dropdown-toggle user-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">
            <div class="user-avatar" style="background-image: url({{ app.currentUser.thumbnail }})"></div>
            <span class="name hidden-sm">{{ app.currentUser.firstName }} {{app.currentUser.lastName}}</span> <span class="caret"></span>
        </a>
        <a ng-if="!app.currentUser.thumbnail" class="dropdown-toggle user-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">
            <div class="user-avatar"><i role="button" class="fa fa-user"></i></div>
            <span class="name hidden-sm">{{ app.currentUser.firstName }} {{app.currentUser.lastName}}</span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="/user/settings/editProfile"><i class="fa fa-cogs"></i> <span data-translate>Profile_Settings</span></a>
            </li>
            <li>
                <a href="/admin/vacancies/waitingForApproval"><i class="fa fa-lock"></i> <span data-translate>Admin_Panel</span></a>
            </li>
            <li>
                <a data-ng-click="app.logout()"><i class="fa fa-sign-out"></i> <span data-translate>Log_Out</span></a>
            </li>
        </ul>
    </li>
    <li class="hidden-xs hidden-sm">
        <ul class="languages buttons">
            <li class="clickable" data-ng-class="{'active': 'en' == app.currentLanguage}">
                <a data-ng-click="app.changeLanguage('en')">EN</a>
            </li>
            <li class="clickable" data-ng-class="{'active': 'ru' == app.currentLanguage}">
                <a data-ng-click="app.changeLanguage('ru')">RU</a>
            </li>
        </ul>
    </li>
</ul>