<ul class="nav navbar-nav">
    <li class="visible-sm pull-right on-top">
        <ul class="languages mobile buttons">
            <li class="clickable" data-ng-class="{'active': 'en' == app.currentLanguage}">
                <a data-ng-click="app.changeLanguage('en')">EN</a>
            </li>
            <li class="clickable" data-ng-class="{'active': 'ru' == app.currentLanguage}">
                <a data-ng-click="app.changeLanguage('ru')">RU</a>
            </li>
        </ul>
    </li>
    <li class="visible-sm visible-xs">
        <ul class="languages mobile">
            <li class="clickable lock" data-ng-click="app.openLoginModal()">
                <a>
                    <i class="fa fa-lock"></i>
                    {{'Sign_in'|translate}}
                </a>
            </li>
        </ul>
    </li>
    <li class="hidden-xs hidden-sm navbar-button" data-ng-repeat="page in menuCtrl.pages" ng-if="page.slug == 'about-us' || page.slug == 'instructions'">
        <a href="/page/{{page.slug}}">{{page.title | translateDomain}}</a>
    </li>
    <li class="dropdown hidden-xs hidden-sm navbar-button" data-ng-if="menuCtrl.pages.length">
		<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" >
			<span data-translate>More</span><span class="caret"></span>
		</a>
        <ul class="dropdown-menu">
            <li data-ng-repeat="page in menuCtrl.pages" ng-if="page.slug != 'about-us' && page.slug != 'instructions'">
                <a href="/page/{{page.slug}}">{{page.title | translateDomain}}</a>
            </li>
        </ul>
    </li>
    <li data-ng-repeat="page in menuCtrl.pages" class="hidden-md hidden-lg cms">
        <a href="/page/{{page.slug}}">{{page.title | translateDomain}}</a>
    </li>
    <li class="visible-xs">
        <br/>
        <ul class="languages mobile buttons">
            <li class="clickable" data-ng-class="{'active': 'en' == app.currentLanguage}">
                <a data-ng-click="app.changeLanguage('en')">EN</a>
            </li>
            <li class="clickable" data-ng-class="{'active': 'ru' == app.currentLanguage}">
                <a data-ng-click="app.changeLanguage('ru')">RU</a>
            </li>
        </ul>
    </li>
</ul>

<ul class="nav navbar-nav navbar-right">
    <li class="hidden-xs hidden-sm">
        <ul class="languages">
            <li class="clickable lock" data-ng-click="app.openLoginModal()" data-ng-if="!app.currentUser">
                <a>
                    <i class="fa fa-lock"></i>
                    Sign in
                </a>
            </li>
        </ul>
    </li>
    <li class="hidden-xs hidden-sm">
        <ul class="languages buttons">
            <li class="clickable" data-ng-class="{'active': 'en' == app.currentLanguage}">
                <a data-ng-click="app.changeLanguage('en')">EN</a>
            </li>
            <li class="clickable" data-ng-class="{'active': 'ru' == app.currentLanguage}">
                <a data-ng-click="app.changeLanguage('ru')">RU</a>
            </li>
        </ul>
    </li>
</ul>