<ul class="nav navbar-nav">
    <li class="visible-sm hidden-xs pull-right on-top">
        <ul class="languages mobile buttons">
            <li class="clickable" data-ng-class="{'active': 'en' == app.currentLanguage}">
                <a data-ng-click="app.changeLanguage('en')">EN</a>
            </li>
            <li class="clickable" data-ng-class="{'active': 'ru' == app.currentLanguage}">
                <a data-ng-click="app.changeLanguage('ru')">RU</a>
            </li>
        </ul>
    </li>
    <li class="user-data visible-xs visible-sm">
        <div class="user-name">
            <div class="user-avatar" style="background-image: url({{ app.currentUser.thumbnail }})"><i role="button" class="fa fa-user" ng-if="!app.currentUser.thumbnail"></i></div>
            <span class="name">{{ app.currentUser.firstName }}</span>
        </div>
        <ul class="mobile-options list-unstyled">
            <li>
                <a href="/users"><i class="fa fa-search"></i> <span data-translate>Find_Resumes</span></a>
            </li>
            <li>
                <a ng-hide="daysLeftToDeletion || unverified" href="/user/settings/myVacancies"><i class="fa fa-briefcase"></i> <span data-translate>Vacancies</span>
                    <span class="badge" data-ng-class="{'badge-green': menuCtrl.newApplicationsOrCvViews}">
                            {{menuCtrl.newApplicationsOrCvViews}}
                        </span>
                </a>

                <a ng-show="daysLeftToDeletion" href="/user/settings/editProfile" class="notifications" data-ng-if="null !== menuCtrl.newApplicationsOrCvViews">
                    <span ng-show="daysLeftToDeletion" class="text-danger">
                        <i class="fa fa-trash-o"></i>
                        <span class="text-danger">{{'Account_will_be_deleted_in_days_d' | translate | fmt:{days: daysLeftToDeletion} }}</span>
                    </span>
                </a>
            </li>
            <li>
                <a href="/user/settings/editProfile"><i class="fa fa-building-o"></i> <span data-translate>Profile_Settings</span></a>
            </li>
            <li>
                <a data-ng-click="app.logout()"><i class="fa fa-sign-out"></i> <span data-translate>Log_Out</span></a>
            </li>
        </ul>
    </li>
    <li role="separator" class="divider visible-xs visible-sm"></li>
    <li class="hidden-xs hidden-sm navbar-button" data-ng-repeat="page in menuCtrl.pages" ng-if="page.slug == 'about-us'">
        <a href="/page/{{page.slug}}">{{page.title | translateDomain}}</a>
    </li>
    <li class="dropdown hidden-xs hidden-sm navbar-button" data-ng-if="menuCtrl.pages.length">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" >
			<span data-translate>More</span><span class="caret"></span>
		</a>
        <ul class="dropdown-menu">
            <li data-ng-repeat="page in menuCtrl.pages" ng-if="page.slug != 'about-us'">
                <a href="/page/{{page.slug}}">{{page.title | translateDomain}}</a>
            </li>
        </ul>
    </li>
    <li class="hidden-xs hidden-sm navbar-button">
        <a ng-hide="daysLeftToDeletion || unverified" href="/user/settings/myVacancies" data-ng-if="null !== menuCtrl.newApplicationsOrCvViews">
            <span data-translate>Applications</span>:
            <span class="badge" data-ng-class="{'badge-green': menuCtrl.newApplicationsOrCvViews}">
                            {{menuCtrl.newApplicationsOrCvViews}}
                        </span>
        </a>

        <a ng-show="daysLeftToDeletion" href="/user/settings/editProfile" class="notifications" data-ng-if="null !== menuCtrl.newApplicationsOrCvViews">
            <span ng-show="daysLeftToDeletion" class="text-danger">
                <i class="fa fa-trash-o"></i>
                <span class="text-danger" data-translate>{{'Account_will_be_deleted_in_days_d' | translate | fmt:{days: daysLeftToDeletion} }}</span>
            </span>
        </a>

        <!--<a ng-show="unverified && !daysLeft" href="/user/settings/resume-views" class="notifications" data-ng-if="null !== menuCtrl.newApplicationsOrCvViews">-->
        <!--<span class="text-danger">-->
        <!--<i class="fa fa-trash-o"></i>-->
        <!--<span class="text-danger" data-translate>Unverified</span>-->
        <!--</span>-->
        <!--</a>-->
    </li>
    <li data-ng-repeat="page in menuCtrl.pages" class="hidden-md hidden-lg cms">
        <a href="/page/{{page.slug}}">{{page.title | translateDomain}}</a>
    </li>
    <li class="visible-xs">
        <br/>
        <ul class="languages mobile buttons">
            <li class="clickable" data-ng-class="{'active': 'en' == app.currentLanguage}">
                <a data-ng-click="app.changeLanguage('en')">EN</a>
            </li>
            <li class="clickable" data-ng-class="{'active': 'ru' == app.currentLanguage}">
                <a data-ng-click="app.changeLanguage('ru')">RU</a>
            </li>
        </ul>
    </li>
</ul>

<ul class="nav navbar-nav navbar-right">
    <li class="dropdown user-data hidden-xs hidden-sm">
        <a ng-if="app.currentUser.thumbnail" class="dropdown-toggle user-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">
            <div class="user-avatar" style="background-image: url({{ app.currentUser.thumbnail }})"></div>
            <span class="name hidden-sm">{{ app.currentUser.firstName }}</span> <span class="caret"></span>
        </a>
        <a ng-if="!app.currentUser.thumbnail" class="dropdown-toggle user-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">
            <div class="user-avatar"><i role="button" class="fa fa-user"></i></div>
            <span class="name hidden-sm">{{ app.currentUser.firstName }}</span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="/users"><i class="fa fa-search"></i> <span data-translate>Find_Resumes</span></a>
            </li>
            <li>
                <a href="/user/settings/myVacancies"><i class="fa fa-briefcase"></i> <span data-translate>Vacancies</span></a>
            </li>
            <li>
                <a href="/user/settings/editProfile"><i class="fa fa-building-o"></i> <span data-translate>Profile_Settings</span></a>
            </li>
            <li>
                <a data-ng-click="app.logout()"><i class="fa fa-sign-out"></i> <span data-translate>Log_Out</span></a>
            </li>
        </ul>
    </li>
    <li class="hidden-xs hidden-sm">
        <ul class="languages buttons">
            <li class="clickable" data-ng-class="{'active': 'en' == app.currentLanguage}">
                <a data-ng-click="app.changeLanguage('en')">EN</a>
            </li>
            <li class="clickable" data-ng-class="{'active': 'ru' == app.currentLanguage}">
                <a data-ng-click="app.changeLanguage('ru')">RU</a>
            </li>
        </ul>
    </li>
</ul>