<nav class="navbar navbar-custom recrutoid" data-ng-controller="UserMenuController as menuCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle opened" ng-class="{'collapsed':!app.navMenuActive}" ng-click="app.navMenuActive = !app.navMenuActive" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="menu-title">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar last"></span>
                <div ng-show="menuCtrl.newApplicationsOrCvViews || menuCtrl.newOffers" class="indicator-circle"></div>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="Brand" src="modules/home/logo-4x.png" class="img-responsive logo">
            </a>
        </div>
        <div ng-if="'employer' == app.currentUser.role" ng-include="'modules/common/userMenu/employerMenu.tpl.html'" class="navbar-collapse employer" ng-class="{'collapse':!app.navMenuActive}" id="bs-example-navbar-collapse-1"></div>
        <div ng-if="'admin' == app.currentUser.role" ng-include="'modules/common/userMenu/adminMenu.tpl.html'" class="navbar-collapse employer" ng-class="{'collapse':!app.navMenuActive}" id="bs-example-navbar-collapse-1"></div>
        <div ng-if="'normal' == app.currentUser.role" ng-include="'modules/common/userMenu/jobSeekerMenu.tpl.html'" class="navbar-collapse job-seeker" ng-class="{'collapse':!app.navMenuActive}" id="bs-example-navbar-collapse-1"></div>
        <div ng-if="'normal' != app.currentUser.role && 'employer' != app.currentUser.role && 'admin' != app.currentUser.role || !app.currentUser" ng-include="'modules/common/userMenu/anonMenu.tpl.html'" class="collapse navbar-collapse anon" ng-class="{'collapse':!app.navMenuActive}" id="bs-example-navbar-collapse-1"></div>
    </div>
</nav>

<div class="banner-0">
    <img>
</div>


<div class="banner-1">
    <img>
</div>

<div data-load-banners></div>
