@import "../../../config";

.banner-0 {
  display: none;
  background: @background;
}

.banner-0 img{
  display: block;
  margin: 0 auto;
}

.banner-1 {
  display: none;
  position: fixed;
  top: 120px;
  left: 0;
}

.nav > li > a {
  display: inline-block;

  & > img {
    width: 20px;
    margin-top: -6px;
    padding-top: 0;
  }
}

.navbar-custom.recrutoid {
  // Navbar style
  background-color: #fff;
  color: #339BDD;
  border-radius: 0;
  margin-bottom: 0;
  border: 0;
  min-height: 46px;
  max-height: 46px;
  font-family: 'Open Sans', Arial, sans-serif;
  .transition(background .2s;);
  z-index: 10;

  // Navbar logo
  .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 46px;
    .transition(opacity .2s;);
  }

  .navbar-nav {

    .dropdown.open {
      .caret {
        border-top: none;
        border-bottom: 4px dashed;
      }
    }

    .dropdown-menu {
      border-radius: 5px;

      li a:hover {
        color: @recrutoid-blue;
        background-image: none;
        background: #edf1f2;
      }
    }

    .navbar-button > a {
      color: #838a8f;
      text-decoration: none;
      cursor: pointer;

      .caret{
        color: @recrutoid-blue;
      }

      &:hover {
        color: @recrutoid-blue;
        text-decoration: none;
      }
    }

    // Navbar links and text
    > .active > a,
    > li > a,
    > p {
      text-decoration: none;
      background-color: transparent;
      padding-bottom: 0;
      margin-right: 15px;
      margin-left: 15px;
      padding-left: 0;
      padding-right: 0;
      line-height: 14px;
      letter-spacing: 0.7px;
      font-weight: normal;
      vertical-align: baseline;
    }

    > .active > a {
      border-bottom: solid 1px #FF4545;
    }

    .divider {
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
      background-color: #e5e5e5;
    }

    // Navbar language buttons and social icons
    &.navbar-right {
      > li {

        &.social {
          a {
            padding-top: 16px;
          }
        }

        > a {
          font-size: 16px;
          line-height: 16px;
          vertical-align: baseline;
          margin-right: 0;
          opacity: .3;
          color: #3A5795;
          &.user-dropdown, &.user-login, &.user-sign-up {
            opacity: 1;
            color: #339BDD;
          }
        }

      }



      > li > .dropdown-menu {
        margin-top: 50px - 34px;
      }
    }

    .user-data {
      img {
        height: 16px;
        width: auto;
      }

      .fa {
        position: relative;
        top: 1px;
        font-size: 16px;
      }

      .user-name {
        padding-left: 15px;

        .name {
          margin-left: 5px;
        }
      }

      &.visible-xs {
        .user-name {
          margin-top: 10px;
          .name {
            color: @recrutoid-dark;
            vertical-align: middle;
          }
        }

        .user-avatar {
          vertical-align: middle;
          padding-top: 1px;

          .fa {
            color: @recrutoid-dark;
          }
        }

      }

      > a {
        font-size: 15px;
        border: 1px solid transparent;
        padding: 4px 15px;
        border-radius: 20px;
        margin-top: 7px;
        margin-right: 10px;

        &:hover{
          border: 1px solid #d2e7f5;
        }

        .name {
          vertical-align: middle;
          display: inline-block;
          max-width: 270px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 14px;
          margin-left: 5px;
        }
      }

      .dropdown-menu, .mobile-options{
        > li > a {
          cursor: pointer;
          padding: 5px 15px 5px 10px;
          color: @recrutoid-dark;
        }

        > li:hover {
          .fa, a {
            color: @recrutoid-blue;
          }
        }

        .fa {
          color: @recrutoid-red;
          width: 10px;
          text-align: center;
          width: 20px;
          margin-right: 5px;
        }
      }
    }

    .dropdown-menu {
      margin-top: 2px !important;
      left: 15px;
      right: 0;
      min-width: 150px;
    }

    ul.languages {
      display: inline-block;
      list-style: none;
      margin: 8px 0 10px 10px;
      padding: 0;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      font-size: 0;

      &.buttons {
        > li {
          margin: 3px 0;
        }
      }

      > li {
        font-size: 12px;
        display: inline-block;
        padding: 3px 7px;
        margin: 0;
        font-weight: 400;
        color: @recrutoid-blue;
        text-align: center;
        min-height: 20px;

        a {
          text-decoration: none;
        }
      }

      > li.active {
        background: #e1f0fa;
        border-radius: 5px;
      }

      > li.lock {
        font-weight: 400;
        padding: 4px 14px;
        border:1px solid transparent;

        .fa {
          margin-right: 2px;
        }

        &:hover {
          border: 1px solid #d2e7f5;
          border-radius: 30px;
        }

        a {
          text-decoration: none;
          font-size: 14px;

          &:hover {
            color: @recrutoid-blue;
          }
        }
      }
    }

    ul.languages.mobile {
      li.lock {
        border: 1px solid #d2e7f5;
        border-radius: 30px;
      }

      &.buttons {
        padding-right: 20px;
        z-index: 2;
      }
    }
  }

  .notifications {
    font-size: 13px;
  }

  .text-danger{
    color: @recrutoid-red;
  }

  .user-avatar {
    width: 22px;
    height: 22px;
    background: no-repeat center center;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    text-align: center;
    padding-top: 2px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15);

  }

  .mobile-options {
    margin-top: 13px;
    > li {
      padding: 4px 0;
    }

    .fa {
      margin-left: 6px;
    }

    .notifications {
      text-decoration: none;
      .fa {
        background: @recrutoid-red;
        padding: 4px;
        width: 26px !important;
        height: 26px;
        border-radius: 20px;
        color: #fff !important;
        margin-left: 3px;
      }
    }
  }

  .indicator-circle {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #5ec83e;
    position: absolute;
    top: 3px;
    left: 49px;
  }

  .navbar-toggle:not(.collapsed) {
    .indicator-circle {
      display: none;
    }
  }
}

.on-top {
  z-index: 2;
}

@media (max-width: 1199px) {
  //body{
  //  padding: 20px !important
  //}
  .navbar-custom {
    .user-data {
      .name {
        max-width: 200px !important;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 1023px) {
  .navbar-custom.recrutoid {
    // This solve problem with collapse menu.
    z-index: 10;

    .navbar-toggle {
      background: none;
      color: #000011;
      width: 90px;
      text-align: left;
      margin: 3px;
      min-height: 40px;
      padding: 0 10px;
      display: block;

      .menu-title {
        float: left;
      }
      .icon-bar {
        margin-top: 4px;
        margin-left: auto;
        background-color: #d64a49;

        .transition(transform 0.2s ease-in-out;)
      }
    }

    .navbar-toggle:not(.collapsed) {
      .icon-bar.last {
        display: none;
      }

      .icon-bar:nth-child(2) {
        -ms-transform: rotate(-45deg); /* IE 9 */
        -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
        transform: rotate(-45deg);
        position: relative;
        top: 5px;
      }

      .icon-bar:nth-child(3) {
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        margin-top: 0;
        position: relative;
        top: 3px;
      }
    }

    .navbar-collapse {
      background-color: #FFFFFF;
      border-top: 1px solid #e5e5e5;

      position: absolute;
      left: 0;
      margin-left: 0px;
      margin-right: 0px;
      top: 0;
      width: 100%;
      margin-top: 46px;
      height: 100vh !important;
      opacity: 1;
      overflow: hidden;
      .transition(height .2s, opacity .2s;);

      &.collapse {
        display: block;
        height: 0vh !important;
        opacity: 0;
      }

      .cms a {
        color: @recrutoid-dark;
      }
    }

    .navbar-nav {
      // Removing border form active and hover elements
      > .active > a {
        border-bottom: none;
        text-decoration: underline;
        font-weight: bold;
      }

      a:hover, li:hover, > li:not(.active) > a:not(.mailLink):hover {
        border-bottom: none;
        color: #339BDD;
      }

      //> li:not(.active) > a:not(.mailLink):hover

      &.navbar-right {
        > li > a {
          color: #339BDD;
          opacity: 0.7;
        }

        > li > .dropdown-menu {
          margin-top: 0;
        }
      }
    }
  }
}
