<div ng-if="!profile.newEmail && !profile.socialOnly" class="input-right-text">
    <recrutoid-input type="email" class="hidden-xs" placeholder="E-mail" required="true" ng-model="profile.email" data-ng-change="hideInfo = true" error="errors.email"></recrutoid-input>
    <div class="form-control email-form visible-xs" >{{ profile.email }}</div>
	<span ng-show="!!profile.email && media == 'mobile'" class="form-control-info">e-mail *</span>
    <span ng-show="!hideInfo && !!profile.email && (initialProfile.email == profile.email)" class="right-text right-text-success"><i class="fa fa-check-circle"></i> {{'Email_confirmed' | translate}}</span>
</div>

<div ng-if="!!profile.newEmail && !profile.socialOnly" class="input-right-text">
    <div class="input-right-text email-unconfirmed">
        <recrutoid-input type="email" class="hidden-xs" placeholder="E-mail" required="true" ng-model="profile.newEmail" data-ng-change="hideInfo = true" error="errors.email"></recrutoid-input>
        <div class="form-control email-form visible-xs" >{{ profile.newEmail }}</div>
		<span ng-show="!!profile.newEmail && media == 'mobile'" class="form-control-info">e-mail *</span>
        <span ng-show="!hideInfo" class="right-text right-text-danger"><i class="fa fa-times"></i> {{'Email_unconfirmed' | translate}}</span>
    </div>
    <div class="email-unconfirmed-right">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        <button type="button" class="btn btn-light-primary" ng-click="resendRegistrationEmail()"><span data-translate>Sent_email</span></button>
    </div>
</div>

<div ng-if="!!profile.socialOnly" class="social-mail">
    {{profile.email}}
    <i ng-if="!!profile.socials.facebook" class="fa fa-facebook-square"></i>
    <i ng-if="!!profile.socials.linkedin" class="fa fa-linkedin-square"></i>
    <div class="form-control-info">e-mail *</div>
</div>