.publish-new-vacancy-modal {
  .modal-content {
    overflow: hidden;
  }

  .modal-dialog {
    width: 860px;

    .blue {
      color: @background;
      background: @recrutoid-blue;
      overflow: hidden;
      padding-top: 0;
      padding-bottom: 0;
    }

    .btn {
      font-weight: bold;
    }

    .btn-add {
      color: @background;
      background: @recrutoid-red;
    }

    .box-small {
      vertical-align: baseline;
      width: 100%;
      margin: 10px auto;

      .ui-select-container {
        position: relative;
        background-color: #fff;
        color: #cccccc;
        border: 2px solid #cccccc;
        padding: 0;
        float: left;
        width: 100%;
        border-radius: 4px;

        &:focus, &:hover {
          outline: none;
          box-shadow: none;
        }

        ::-webkit-input-placeholder {
          color: #aaa;
          font-weight: normal;
        }

        :-moz-placeholder {
          /* Firefox 18- */
          color: #aaa;
          font-weight: normal;
          opacity: 1;
        }

        ::-moz-placeholder {
          /* Firefox 19+ */
          color: #aaa;
          font-weight: normal;
          opacity: 1;
        }

        :-ms-input-placeholder {
          color: #aaa;
          font-weight: normal;
        }

        input {
          width: 100%;
          height: 30px;
          background-color: transparent;
          font-weight: normal;
          border-style: none;
          position: relative;
          z-index: 100;
          padding-left: 40px;
          color: #000;

          &:focus, &:active {
            border: none;
            outline: none;
            box-shadow: none;
          }
        }

        &.without-icon {
          input {
            padding-left: 15px;
          }
        }

        &.salary {
          input {
            padding-right: 50px;
            text-align: right;
          }

          .currency {
            display: block;
            position: absolute;
            right: 10px;
            top: 0;
            padding: 5px;
            z-index: 100;
            cursor: pointer;
            color: @recrutoid-blue;
          }
        }

        .ui-select-toggle {
          background: transparent none;
          color: #000;
          outline: none;
          border: none;
          box-shadow: none;
          font-weight: normal;
          text-shadow: none;
          padding: 0 0 0 40px;
          cursor: text;
          height: 30px;
          transition: border .01s;

          .ui-select-placeholder {
            color: #aaa;
            position: absolute;
            top: 18%
          }

          .ui-select-match-text {
            color: #000;
            position: absolute;
            top: 18%
          }

          .btn-link {
            position: absolute;
            top: 6px;
            right: -2px;
          }
        }

        .ui-select-match .btn-default-focus ,
        .ui-select-match.btn-default-focus {
          background-color: transparent;
          border-color: transparent;
          outline: none;
          box-shadow: none;
        }

        .caret {
          display: none;
        }

        &.bars {
          &:before {
            font: normal normal normal 20px/1 FontAwesome;
            content: '\f0c9';
            position: absolute;
            top: 6px;
            left: 15px;
          }

          .ui-select-match-text {
            span {
              display: inline-block;
              width: 186px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }

        &.marker {
          &:before {
            font: normal normal normal 20px/1 FontAwesome;
            content: '\f041';
            position: absolute;
            top: 6px;
            left: 15px;
          }
        }
      }

      div[data-text-angular] {
        .form-control {
          border: 2px solid #cccccc;
          border-radius: 4px;
          color: #000;
        }

        .placeholder-text:before {
          color: #aaa;
        }
      }
    }
  }
}
