<div class="modal-header blue">
    <h4 class="text-center">
        <i class="fa fa-briefcase"></i>
        New vacancy </h4>
</div>
<div class="modal-body publish-new-vacancy-modal">
    <form data-ng-submit="ctrl.add()">
        <div class="box-small">
            <div class="form-group ui-select-container without-icon">
                <input type="text" class="form-control" placeholder="Vacancy title" data-ng-model="ctrl.newVacancy.title">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-4">
                        <ui-select class="bars" data-ng-model="ctrl.newVacancy.categories" theme="bootstrap">
                            <ui-select-match placeholder="{{'Category'|translate}}" allow-clear="true">{{ $select.selected.name | translateDomain }}
                            </ui-select-match>
                            <ui-select-choices repeat="category in ctrl.categories | filter:$select.search">
                                {{ category.name | translateDomain }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-xs-4">
                        <ui-select class="marker" data-ng-model="ctrl.newVacancy.cityId" theme="bootstrap">
                            <ui-select-match placeholder="{{'City'|translate}}" allow-clear="true">{{ $select.selected.name | translateDomain }}
                            </ui-select-match>
                            <ui-select-choices repeat="city in ctrl.cities | filter:$select.search">
                                {{ city.name | translateDomain }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-xs-4">
                        <ui-select class="marker" data-ng-model="ctrl.newVacancy.salaryRangeId" theme="bootstrap">
                            <ui-select-match placeholder="{{'Salary_Range'|translate}}" allow-clear="true">{{ $select.selected.name | translateDomain }}
                            </ui-select-match>
                            <ui-select-choices repeat="salaryRange in ctrl.salaryRanges | filter:$select.search">
                                {{ salaryRange.name | translateDomain }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div data-text-angular data-ng-model="ctrl.newVacancy.details" data-ta-toolbar="ctrl.taOptions"
                     data-ng-paste="ctrl.cleanPastedText()"
                     placeholder="Description. Please do not forget to enter Requirements, Responsibilities and Conditions"></div>
            </div>

            <div class="form-group"></div>

            <div data-ng-if="!ctrl.editing">
                <h4 data-translate>Distribute_This_Vacancy_Via_Emails</h4>

                <div class="form-group">
                    <div>
                        <input id="checkbox_website" type="checkbox" data-ng-model="ctrl.newVacancy.publishViaEmail">
                        <label for="checkbox_website">
                            <span data-translate>Yes_I_Want_That</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-add blue-button-popup" type="submit">{{ctrl.editing ? 'Save' : 'Add'}}</button>
            <button class="btn red-button-popup" data-ng-click="ctrl.close()" type="button">Cancel</button>
        </div>
    </form>
</div>
