<div ng-click="details(seeker.id)" class="seeker-box"
     ng-class="{'seen': seeker.isVisited !== true || userSearchVisited !== true, 'hovered': seeker.hovered, 'visited': seeker.applicationVisited, 'is-new':seeker.applicationNew}"
     ng-mouseenter="seeker.hovered = true"
     ng-mouseleave="seeker.hovered = false" >
    
    <div class="media media-seeker-box" data-ng-if="actions">
		<div data-ng-if="actions.checkbox" class="action-control pseudo-checkbox" stop-propagation>
            <input id="checbox-{{seeker.id}}" type="checkbox" value="ShowCV" ng-model="seeker.checked">
            <label for="checbox-{{seeker.id}}"></label>
        </div>
        <div class="media-left media-logo-side" data-ng-if="seeker.thumbnail">
            <img class="user-thumbnail" data-ng-src="{{seeker.thumbnail}}">
        </div>
        <div class="media-body">
            <div class="content" ng-class="{'inactive' : active === false}">
                <div class="header">
                    <span class="title" data-ng-if="seeker.resume.title">
                        {{seeker.resume.title}}
                        <br />
                    </span>
                    <span class="name-and-salary-range">
                        <span class="name">{{seeker.firstName}} {{seeker.lastName}}</span>
                        <span class="space"></span>
                        <span class="desired-salary" data-ng-if="seeker.resume.desiredSalaryRange.name">
                                        {{seeker.resume.desiredSalaryRange.name | translateDomain}}
                        </span>
                    </span>
                    <div class="info">
                        <span class="element" ng-if="seeker.workExperience">
                            <i class="fa fa-star"></i>
                            {{seeker.workExperience}}
                        </span>
                        <span class="element city" data-ng-if="seeker.city">
                            <i class="fa fa-map-marker"></i>
                            {{seeker.city.name | translateDomain}}
                        </span>
                        <span class="element phone" data-ng-if="seeker.phone">
                            <i class="fa fa-phone"></i>
                            <a ng-href="tel:{{seeker.phone}}">{{seeker.phone|phone_number}}</a>
                        </span>
                        <span ng-if="degree" class="element education">
                            <i class="fa fa-graduation-cap"></i>
                            {{degree}}
                        </span>
                        <span ng-if="languages.length" class="element languages">
                            <i class="fa fa-globe"></i>
                            {{ languages }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="media-right actions-wrapper show-or-not" data-ng-if="actions" data-ng-include="'seeker-box-actions.tpl.html'"></div>

        <i class="fa fa-eye visited-icon"></i>
        <div ng-show="seeker.applicationNew" class="badge badge-new">NEW</div>
    </div>
    <div class="details details-with-padding details-with-no-bottom-padding" data-ng-include="'seeker-box-details.tpl.html'"></div>
    <div class="actions-wrapper show-or-not" data-ng-include="'seeker-box-actions.tpl.html'"></div>
    <div data-ng-include="'seeker-box-jobseeker-actions.tpl.html'"></div>
    <div class="active-sign" ng-if="active"><span ng-hide="media == 'mobile'" data-translate="">Active</span><div class="circle"></div></div>
    <div class="active-sign inactive" ng-if="active === false"><span ng-hide="media == 'mobile'" data-translate="">Not_Enough_Information_Inactive</span><div class="circle"></div></div>
</div>

<script type="text/ng-template" id="seeker-box-details.tpl.html">
    <span class="title" data-ng-if="seeker.resume.title">
                        {{seeker.resume.title}}
                        <br />
    </span>
    <span class="name-and-salary-range">
        <span class="name">{{seeker.firstName}} {{seeker.lastName}}</span>
        <span class="space"></span>
        <span class="desired-salary" data-ng-if="seeker.resume.desiredSalaryRange.name">
                        {{seeker.resume.desiredSalaryRange.name | translateDomain}}
        </span>
    </span>
    <div class="two-last-jobs">
        <div data-ng-repeat="job in twoLastJobs | orderBy: '-startDate'">
            <span class="title" data-ng-if="job.title">{{job.title}}</span>
            <span class="company" data-ng-if="job.company">{{job.company}}</span>
        </div>
    </div>
    <div class="details-info">
        <span ng-if="degree" class="element education">
            <i class="fa fa-graduation-cap"></i>
            {{degree}}
        </span>
        <span ng-if="languages.length" class="element languages">
            <i class="fa fa-globe"></i>
            {{ languages }}
        </span>
        <span class="element phone" data-ng-if="seeker.phone">
            <i class="fa fa-phone"></i>
            {{seeker.phone|phone_number}}
        </span>
        <span class="element mail hidden-xs">
            <i class="fa fa-envelope"></i>
            {{seeker.email}}
        </span>
        <span class="element city" data-ng-if="seeker.city">
            <i class="fa fa-map-marker"></i>
            {{seeker.city.name | translateDomain}}
        </span>
        <span class="element" data-ng-if="seeker.resume.expat">
            <i class="fa fa-plane"></i>
            {{'Expat' | translate}}
        </span>
        <span class="element" data-ng-if="seeker.resume.foreignDegree">
            <i class="fa fa-university"></i>
            {{'Foreign_Degree' | translate}}
        </span>
        <span class="element mail visible-xs">
            <i class="fa fa-envelope"></i>
            {{seeker.email}}
        </span>
    </div>
</script>

<script type="text/ng-template" id="seeker-box-actions.tpl.html">
    <div class="actions">
		<a data-ng-if="actions.view" data-ng-click="actions.view(seeker.id)" class="btn-circle edit action-control" stop-propagation>
			<i class="fa fa-eye"></i>
		</a>
        <a data-ng-if="actions.remove" class="btn-circle action-control remove" data-ng-click="actions.remove(seeker.id)"
             stop-propagation>
            <i class="fa fa-trash-o"></i>
        </a>
    </div>
</script>

<script type="text/ng-template" id="seeker-box-jobseeker-actions.tpl.html">
    <div data-ng-if="actions.manage" class="user-actions">
        <div ng-click="edit(); $event.stopPropagation();">
            <i class="fa fa-pencil"></i>
        </div>
        <div data-ng-if="actions.view" data-ng-click="actions.view(seeker.id)">
            <i class="fa fa-eye"></i>
        </div>
    </div>
</script>
