.seeker-box {
  margin-bottom: 10px;
  position: relative;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #d4dce1;
  padding: 10px;

  &.hovered {
    border-color: #b4bfc6;
  }
  
  &.visited {
    background: #fffae9;
    border-color: #e9d9cd;

    &.hovered {
      border-color: #dbc5ac;
    }
    .badge-new {
      display: none;
    }
    .visited-icon {
      display: block;
    }
  }

  .visited-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #e9c5a9;
    display: none;
  }

  .space {
    &:before {
      content: '';
      display: inline-block;
      height: 1px;
      width: 4px;
    }
  }

  .media-logo-side {
    padding-right: 0;

    .user-thumbnail {
      border-radius: 3px;
      max-width: 65px;
      max-height: 65px;
    }
  }
  
  .content {
    padding: 0 10px;

    .header {
      font-size: 16px;
      font-weight: bold;

      .title {
        color: @recrutoid-dark;
        font-size: 15px;
        font-weight: bold;
      }

      .name {
        font-size: 14px;
        color: #3c4b5a;
        font-weight: normal;
      }

      .desired-salary {
        white-space: nowrap;
        font-weight: 600;
        font-size: 12px;
        color: #838a8f;
      }

      .info {
        font-size: 13px;
        font-weight: normal;
        color: #838a8f;

        .element {
          display: inline-block;
          .fa {
            color: #df796d;
            margin-right: 2px;
          }
          margin-right: 15px;

          &.city {
            display: none;
          }

          &.phone {
            display: none;
          }
        }
      }
    }

    .details.show-or-not {
      display: block;
    }

    &.inactive {
      padding-right: 220px;
    }
  }

  .body {
    margin: 12px;

    .title {
      margin: 0 0 4px 0;
      font-size: 14px;
      font-weight: bold;
      color: #3c4b5a;
      line-height: 1.2;
    }

    .details.show-or-not {
      display: block;
    }

    .label-new {
        background: #d8efd1;
        border-radius: 4px;
        color: #4bb530;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        position: absolute;
        right: 11px;
        top: 10px;
        padding: 3px 5px;
    }

    .label-seen {
        color: #e3c8ad;
        font-size: 15px;
        position: absolute;
        right: 10px;
        top: 8px;
    }
  }

  .details {

    >.title {
      display: none;
      color: #25384a;
      font-size: 15px;
      font-weight: bold;
    }

    .name-and-salary-range {
      display: none;
    }

    &.show-or-not {
      display: none;
    }

    &.details-with-padding {
      padding: 10px;
    }
    
    &.details-with-no-bottom-padding {
      padding-bottom: 0;
    }

    .two-last-jobs {
      font-size: 13px;
      color: #9ea6af;

      .title {
        font-weight: 600;
      }

      .company {
        margin-left: 15px;
        color: #bfc6cc;
      }
    }
  }
  
  .details-info {
    margin-top: 5px;
    .element {
      font-size: 12px;
      color: #9ea6af;
      margin-right: 15px;
      display: inline-block;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.education {
        display: none;
      }

      &.languages {
        display: none;
      }
    }
  }

  .media-seeker-box {

    .actions-wrapper.show-or-not {
      display: table-cell;
    }
  }

  .actions-wrapper {

    &.show-or-not {
      display: none;
    }
  }

  .actions {
    box-sizing: content-box;
    padding-top: 26px;
    padding-right: 20px;
    width: 86px; //calc(~'2 * 48px - 10px');

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    .action-control {
      float: left;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &.remove {
        background: @recrutoid-red;
      }

      &.pseudo-checkbox {
        position: relative;
        width: 38px;
        color: #eaebed;

        &:hover {
          color: #c1c2c4;
        }

        label {
          display: block;
          margin: 0;
          cursor: pointer;
          font-size: 13px;
          position: absolute;
          top: 50%;
          right:5px;
          transform: translateY(-50%);
          &:before {
            position: relative;

            font: normal normal normal 20px/1 FontAwesome;
            content: "\f0c8";
          }
        }

        input[type=checkbox] {
          display: none;

          &:checked + label:before {
            font: normal normal normal 20px/1 FontAwesome;
            content: "\f14a";
            color: #3299db;
          }
        }
      }
    }
  }

  .user-actions {
    position: absolute;
    right: 10px;
    bottom: 10px;
    div {
      cursor: pointer;
      background: #e1f0fa;
      width: 30px;
      height: 30px;
      color: @recrutoid-blue;
      text-align: center;
      padding-top: 5px;
      border-radius: 30px;
      display: inline-block;
      margin-left: 5px;

      &:hover {
        background: #1d88cf;
        color: #fff;
      }
    }
  }

  .active-sign {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    color: #3cb01a;
    position: absolute;
    top: 10px;
    right: 10px;

    span {
      vertical-align: middle;
      position: relative;
      top: -1px;
    }

    .circle {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      width: 16px;
      height: 16px;
      border-radius: 16px;
      background-color: #b1dfa3;
    }

    &.inactive {
      color: @recrutoid-red;
      .circle {
        background-color: #ebb5b4;
      }
    }
  }

  .badge-new {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #3cb01a;
    font-weight: 600;
    font-size: 10px;
    background: #d8efd1;
    padding: 3px 5px;
  }
}

@media screen and (max-width: @screen-xs-max) {
  .seeker-box {
    .media-right {
      &.actions-wrapper.show-or-not {
        .actions {
          position: absolute;
          right: 5px;
          top: 5px;
        }
      }
    }

    .badge-new {
      right: 50px;
      top: 15px
    }

    .media-body .content {
      padding-right: 30px;
    }

    &.is-new {
      .media-body .content {
        padding-right: 60px;
      }
    }

    .content {
      .header {
        .title {
          display: none;
        }
        .name-and-salary-range {
          display: none;
        }

        .info {
          .element {
            display: block;
            margin-bottom: 4px;

            &.city {
              display: block;
            }

            &.phone {
              display: block;
            }

            &.education {
              display: none;
            }

            &.mail {
              display: none;
            }
            &.languages {
              display: none;
            }
          }
        }
      }
    }

    .details {
      .title {
        display: block;
      }

      .name-and-salary-range {
        display: inline-block;
        margin-bottom: 8px;

        .desired-salary {
          font-size: 12px;
          font-weight: 600;
          color: #737879;
        }
      }

      .two-last-jobs {
        .company{
          display: block;
          margin: 0;
        }
      }
    }

    .details-info {
      .element {
        &.education {
          display: inline-block;
        }
        &.mail {
          display: inline-block;
        }
        &.phone {
          display: none;
        }
        &.city {
          display: none;
        }
        &.languages {
          display: inline-block;
        }
      }
    }
  }
}

.seeker-preview-column.in {
    display: block;
}

.seeker-preview-column.out {
    display: none;
}