.recrutoid-register-window {
  .modal-dialog {
    max-width: 300px;

    .modal-content {
      border: none;
      border-radius: 0;
      border: 2px solid #fff !important;
      border-radius: 8px !important;
      
      .recrutoid-register {

        .modal-header {
          background: #fff;
          padding:30px 15px;

          h3 {
            margin: 0;
            font-weight: 600;
            color: @recrutoid-dark;
            font-size:16px;
            span, .fa {
              vertical-align: middle;
            }
            .fa-check-circle, .fa-plus-circle{
              font-size: 20px;
              margin-right: 3px;

            }
            .fa-plus-circle{
              color: @recrutoid-blue;
            }

            .fa-check-circle{
              color: @recrutoid-green;
            }

          }
        }
        
        .modal-body {
          background: rgb(250, 250, 250);

          .recrutoid-ui-select {
            .ui-select-match {
              > i.fa-caret2 {
                top: 8px !important;
              }
            }
          }

          .form-group {
            > .fa-check-circle ,
            > .fa-remove {
              position: absolute;
              top: 30%;
              right: 6px;
            }
            > .fa-check-circle {
              color: #5ec83e;
            }
            > .fa-remove {
              color: #f58073;
            }

            &.error {
              input {
                border-color: #e8c0c0 !important;
              }
            }
          }
          .login-input-info {
            &.error {
              color: @recrutoid-red !important;
            }
          }

          .showpassword {
            cursor: pointer;
            position: absolute;
            margin: 10px -20px;
            z-index:999;
            color: #9fa8b7;
          }
          .blue-eye{
            color:@recrutoid-blue;
          }
        }
      }


      .form-control{
        padding: 6px 8px;

        &.ui-select-toggle,
        &.ui-select-search {
          line-height: 18px;
          height: 32px !important;
          padding-left: 25px;
        }
      }
      .input-group-addon{
        border:none;
        background:none;
        border-radius:0px;
        i{
          color:#9fa8b7;
        }
      }
      .login-input-info{
        margin-top: -12px;
        float: left;
        width: 100%;
        font-size: 12px;
        color: #a1abb4;
      }
      .input-group{
        input{
          border:none;
          background:none;
          box-shadow:none;
          border-bottom:2px solid #dddce1;
          border-radius:0px;
          option{
            span{
              font-size:20px;
            }
          }  
        }

        input:-webkit-autofill,
        select:-webkit-autofill {
          background-color: transparent;
        }

        #user-type{
          border:none;
          background:none;
          box-shadow:none;
          border-bottom: 2px solid #dddce1;
          border-radius: 0;
          color:#999;
          padding-left: 0;
          option:focus{
            background-color:#FFF;
            outline:none;
            border:none;
            box-shadow:none;
          }
        }

      }
      #user-type:focus{
        outline: none !important;
      }

    }
    button {
      margin: 15px 3px;
    }

    .form-group.input-group {
      position: relative;
      width: 100%;

      .input-group-addon {
        position: absolute;
        z-index: 3;
        top: 0;
        height: 100%;

        .fa {
          padding-top: 3px;
        }
      }

      #register-email,
      #register-password,
      #register-password-again {
        padding-left: 25px;
        padding-right: 30px;
      }
    }

    .input-group-addon {
      width: 28px;
      text-align: center;
      padding-left: 0;
    }
  }

  .recrutoid-register.success {
    .modal-body {
      padding: 30px;
      text-align: center;
    }

    .btn {
      display: block;
      margin: 25px auto 0 auto;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  
}

@media(max-width: 360px) {
  .recrutoid-register-window {
    .modal-dialog {
      max-width: calc(~'100vw - 20px');
    }
  }
}
