<div ng-show="modalStep == 2" class="recrutoid-register success">
    <div class="modal-header">
        <h3 class="text-center">
            <i class="fa fa-check-circle"></i> <span data-translate>Create_New_Account</span>
        </h3>
    </div>
    <div class="modal-body">
        {{'Message_Your_account_has_been_created' | translate}}
        <button class="btn btn-light-primary" ng-click="registerModal.cancel()">OK</button>
    </div>
</div>
