.recrutoid-reset-password-window {
  .modal-dialog {
    max-width: 300px;

    .modal-content {
      border: none;
      border-radius: 4px;

      .recrutoid-reset-password {
        border: 1px solid #fff;
        border-radius: 8px !important;
        .modal-header {
          background: #fff;
          padding:30px 15px;
          span, .fa {
            vertical-align: middle;
          }
          h3 {
            margin: 0;
            font-weight: 600;
            color: @recrutoid-dark;
            font-size:16px;
            .fa-unlock{
              font-size: 20px;
              margin-right: 3px;
              color:@recrutoid-blue;
            }
          }
        }
        #email{
          border:none;
          background:none;
          box-shadow:none;
          border-bottom:2px solid #dddce1;
          border-radius:0px;
        }
        
        input:-webkit-autofill,
        select:-webkit-autofill {
          background-color: transparent;
        }

        .input-group-addon{
          border:none;
          background:none;
          border-radius:0px;
          i{
            color:#a1abb5 !important;
          }
        }
        .login-input-info{
          margin-top: -12px;
          float: left;
          width: 100%;
          font-size: 12px;
          color: #a1abb4;
        }
        .modal-body {
          background: rgb(250, 250, 250);

          .btn-ok {
            background: #e2f0fb;
            color: #ffffff;
            border: none;
          }
          .form-group{
            button {
              margin: 15px 3px 0;
            }
          }
          .btn-dismiss {
            background:#f4e0e1;
            color:@recrutoid-red;
          }
        }

        .form-group.input-group {
          position: relative;
          width: 100%;


          .input-group-addon {
            position: absolute;
            z-index: 3;
            top: 0;
            height: 100%;
            width: 28px;
            text-align: center;
            padding-left: 0;

            .fa {
              padding-top: 3px;
            }
          }

          #email{
            padding-left: 25px;
          }
        }
      }
    }
  }

  .form-group {
    &.error {
      input {
        border-color: #e8c0c0 !important;
      }
    }
  }
  .login-input-info {
    &.error {
      color: @recrutoid-red !important;
    }
  }
}

@media(max-width: 360px) {
  .recrutoid-reset-password-window {
    .modal-dialog {
      max-width: calc(~'100vw - 20px');
    }
  }
}
