.recrutoid-login-window {
  .modal-dialog {
    max-width: 300px;

    .modal-content {
      border: none;
      border-radius: 4px;

      .recrutoid-login {
        border: 1px solid #fff;
        border-radius: 8px !important;
        .modal-header {
          background: #fff;
          padding:40px 15px;
          
          h3 {
            margin: 0;
            font-weight: 600;
            color: @recrutoid-dark;
            font-size:16px;

            span {
              vertical-align: middle;
            }
            .fa-lock {
              vertical-align: middle;
              margin-right: 3px;
              font-size: 20px;
              color: @recrutoid-blue;
            }
          }
        }
        .showpassword {
            cursor: pointer;
            position: absolute;
            margin: 10px -20px;
            z-index:999;
            color: #9fa8b7;
        }
        #email{
          border:none;
          background:none;
          padding-left: 0;
          box-shadow:none;
          border-bottom:2px solid #dddce1;
          border-radius:0px;
        }

        input:-webkit-autofill,
        select:-webkit-autofill {
          background-color: transparent;
        }

        #password{
          border:none;
          background:none;
          box-shadow:none;
          padding-left: 0;
          border-bottom:2px solid #dddce1;
          border-radius:0px;
        }
        .input-group-addon{
          padding-left: 0;
          border:none;
          background:none;
          border-radius:0px;
          i{
            color:#9fa8b7;
          }
        }
        .blue-eye{
          color:@recrutoid-blue;
        }
        .login-input-info{
          margin-top: -12px;
          float: left;
          width: 100%;
          font-size: 12px;
          color: #a1abb4;
        }
        .login-buttons{
          margin: 40px 0px 20px;

          .btn {
            margin: 0 5px;
          }
        }
        .btn-link{
          color:#99a0a6 !important;
        }
      }

      .modal-body {
        background: #f5f5f7;
        border-bottom: 1px solid #e5e5e5;

        .btn-ok {
          background: #e44a49;
          color: #ffffff;
          border: none;
        }

        .btn-dismiss {
          background:#f4e0e1;
          color:#d4424f;
        }
        .btn-link{
          color: #304b61;
        }
      }
      .bottom-area-popup{
        padding:15px;
        .social-button{
          font-size:18px;
        }
      }

      .form-control {
        padding-bottom: 8px;
        padding-top: 8px;
      }

      .form-group.input-group {
        position: relative;
        width: 100%;

        .input-group-addon {
          width: 28px;
          text-align: center;
          position: absolute;
          z-index: 3;
          top: 0;
          height: 100%;

          .fa {
            padding-top: 3px;
          }
        }

        #email, #password {
          padding-left: 25px;
        }
      }
  }
}

  .form-group {
    &.error {
      input {
        border-color: #e8c0c0 !important;
      }
    }
  }
  .login-input-info {
    &.error {
      color: @recrutoid-red !important;
    }
  }

}

@media(max-width: 360px) {
  .recrutoid-login-window {
    .modal-dialog {
      max-width: calc(~'100vw - 20px');
    }
  }
}
