<div class="recrutoid-login">
    <div class="modal-header">
        <h3 class="text-center">
            <i class="fa fa-lock"></i> <span data-translate>Log_In</span>
        </h3>
    </div>
    <div class="modal-body">
        <form data-ng-submit="login.submit()" name="signInForm" >
			<div class="form-group input-group" ng-class="{'error' : login.errors.email}">
                <label class="input-group-addon" for="email"><i class="fa fa-envelope"></i></label>
                <input type="email" id="email" class="form-control" data-ng-model="login.credentials.email" ng-model-options="{ allowInvalid: true }" 
                       placeholder="{{'Email'|translate}}" data-ng-disabled="login.disableEmailInput" ng-change="login.errors.email = null" required="">
            </div>
            <span class="login-input-info animate-show" ng-show="login.credentials.email.length && !login.errors.email" >{{'Email'|translate}}</span>
            <span class="login-input-info error" ng-show="login.errors.email" >{{ login.errors.email | translate}}</span>


            <div class="form-group input-group" ng-class="{'error' : login.errors.password}">
                <label class="input-group-addon" for="password"><i class="fa fa-lock"></i></label>
                <input type="{{inputType}}" id="password" class="form-control" ng-model-options="{ allowInvalid: true }" 
                       placeholder="{{'Password'|translate}}" data-ng-model="login.credentials.password" ng-change="login.errors.password = null" required>
                <i class="fa fa-eye showpassword {{colorEye}}" ng-if="login.credentials.password.length > 0" ng-click="hideShowPassword()"></i>
            </div>
			<span class="login-input-info animate-show" ng-show="login.credentials.password.length && !login.errors.password" >{{'Password'|translate}}</span>
			<span class="login-input-info error" ng-show="login.errors.password" >{{ login.errors.password | translate}}</span>


            <div class="text-center form-group login-buttons">
                <button class="btn btn-light-primary" ng-class="{'disabled': signInForm.$invalid}" type="submit" data-translate>Log_In</button>
                <button class="btn btn-light-danger" type="button" data-ng-click="login.cancel()" data-translate>Cancel</button>
            </div>
            
        </form>

        <div class="row">
            <div data-ng-class="{'col-xs-6': !login.disableCreateAccountOptions, 'col-xs-12': login.disableCreateAccountOptions}">
                <a ng-click="login.cancel('resetPassword')" class="btn btn-link form-control" data-translate>
                    Forgot_Password
                </a>
            </div>
            <div class="col-xs-6" data-ng-if="!login.disableCreateAccountOptions">
                <a data-ng-click="login.cancel('createAccount')" class="btn btn-link form-control" data-translate>
                   Create_Account
                </a>
            </div>
        </div>
     </div>              

       <div data-ng-if="!login.disableSocialOptions" class="bottom-area-popup">
        <div>

            <div class="text-center">
                <button type="button" data-ng-disabled="login.oAuthInProgress" class="btn btn-link social-button" data-ng-click="login.oAuth('facebook')">
                    <i class="fa fa-facebook"></i>
                </button>
                <button type="button" data-ng-disabled="login.oAuthInProgress" class="btn btn-link social-button" data-ng-click="login.oAuth('linkedin')">
                    <i class="fa fa-linkedin"></i>
                </button>
                <i data-ng-if="login.oAuthInProgress" class="fa fa-refresh fa-spin"></i>
            </div>

            <p class="text-center text-muted" data-translate>
                For_Job_seekers_only
            </p>
        </div>
        
   </div>
     </div> 
    
</div>
