<div ng-show="modalStep == 1" class="recrutoid-register">
    <div class="modal-header">
        <h3 class="text-center">
            <i class="fa fa-plus-circle"></i> <span data-translate>Create_New_Account</span>
        </h3>
    </div>
    <div class="modal-body">
        <form data-ng-submit="registerModal.submit()" name="signInForm">
            <div class="form-group input-group" ng-class="{'error' : registerModal.errors.email}">
                <label class="input-group-addon" for="register-email"><i class="fa fa-envelope"></i></label>

				<i class="fa fa-remove" ng-if="registerModal.credentials.email.length && !registerModal.isEmailValid()" ></i>
				<i class="fa fa-check-circle" ng-if="registerModal.isEmailValid()"></i>

                <input type="email" id="register-email" class="form-control" data-ng-model="registerModal.credentials.email" ng-model-options="{ allowInvalid: true }"
                       placeholder="{{'Email'|translate}}" data-ng-disabled="registerModal.disableEmailInput" ng-change="registerModal.errors.email = null" required="">
            </div>
            <span class="login-input-info animate-show" ng-show="registerModal.credentials.email.length && !registerModal.errors.email" >{{'Email'|translate}}</span>
            <span class="login-input-info error" ng-show="registerModal.errors.email" >{{ registerModal.errors.email | translate}}</span>


            <div class="form-group input-group" ng-class="{'error' : registerModal.errors.password}">
                <label class="input-group-addon" for="register-password"><i class="fa fa-lock"></i></label>
                <input type="{{inputTypePassword}}" id="register-password" class="form-control"
                       placeholder="{{'Password'|translate}}" data-ng-model="registerModal.credentials.password" ng-change="registerModal.errors.password = null" required="">
				<i class="fa fa-eye showpassword {{colorEyePassword}}" ng-if="registerModal.credentials.password.length > 0" ng-click="hideShowPassword()"></i>
            </div>
            <span class="login-input-info animate-show" ng-show="registerModal.credentials.password.length && !registerModal.errors.password" >{{'Password'|translate}}</span>
			<span class="login-input-info error" ng-show="registerModal.errors.password" >{{ registerModal.errors.password | translate}}</span>


            <div class="form-group input-group" ng-class="{'error' : registerModal.errors.confirmPassword}">
                <label class="input-group-addon" for="register-password-again"><i class="fa fa-lock"></i></label>
                <input type="{{inputTypeConfirmPassword}}" id="register-password-again" class="form-control"
                       placeholder="{{'Repeat_Password'|translate}}" data-ng-model="registerModal.credentials.confirmPassword" ng-change="registerModal.errors.confirmPassword = null; registerModal.errors.password = null" required="">
				<i class="fa fa-eye showpassword {{colorEyeConfirmPassword}}" ng-if="registerModal.credentials.confirmPassword.length > 0" ng-click="hideShowConfirmPassword()"></i>
            </div>
            <span class="login-input-info animate-show" ng-show="registerModal.credentials.confirmPassword.length && !registerModal.errors.confirmPassword" >{{'Repeat_Password'|translate}}</span>
            <span class="login-input-info error" ng-show="registerModal.errors.confirmPassword" >{{ registerModal.errors.confirmPassword | translate}}</span>


            <div class="form-group input-group recrutoid-select with-icon" style="width:100%; float:left; " ng-class="{'hidden': registerModal.hideUserTypeInput}">
                <i class="fa" ng-class="{
                    'fa-user' : registerModal.credentials.userType.type == 'normal' || !registerModal.credentials.userType,
                    'fa-building-o' : registerModal.credentials.userType.type == 'employer',
                    }"></i>
                
                <ui-select data-ng-model="registerModal.credentials.userType" data-ng-disabled="registerModal.disableUserTypeInput"
						   ng-change="registerModal.errors.userType = null" theme="bootstrap" class="recrutoid-ui-select" required>
                    <ui-select-match placeholder="{{'Register_As'|translate}}"></i>{{ $select.selected.name | translate }}</ui-select-match>
                    <ui-select-choices repeat="role in [{type: 'normal', name: 'Applicant', icon: 'fa-user'}, {type: 'employer', name: 'Distributer', icon: 'fa-building-o'}]">
                        <i class="fa" ng-class="role.icon"></i> {{ role.name | translate }}
                    </ui-select-choices>
                </ui-select>
            </div>
            <span class="login-input-info animate-show" ng-show="registerModal.credentials.userType" ng-class="{'hidden': registerModal.hideUserTypeInput}" >{{'Register_As'|translate}}</span>
			<span class="login-input-info error" ng-show="registerModal.errors.userType" >{{ registerModal.errors.userType | translate}}</span>


			<div class="form-group input-group" ng-show="media == 'mobile'">
				<span class="login-input-info animate-show" style="float: none" >{{'Use_desktop_or_tablet_to_register_as_distributor'|translate}}</span>
			</div>
            <div class="text-center">
                <button class="btn btn-light-primary" type="submit" ng-class="{'disabled': signInForm.$invalid}" data-translate>Create</button>
                <button class="btn btn-light-danger" type="button" data-ng-click="registerModal.cancel()" data-translate>Cancel</button>
            </div>
        </form>
    </div>
</div>

<div ng-include="'modules/common/recrutoid-modals/recrutoidRegisterSuccess.tpl.html'"></div>
