<div class="recrutoid-reset-password">
    <div class="modal-header">
        <h3 class="text-center">
            <i class="fa fa-unlock"></i> <span data-translate>Restore_Your_Password</span>
        </h3>
    </div>
    <div class="modal-body">
        <form data-ng-submit="reset.submit()">
			<div class="form-group input-group" ng-class="{'error' : reset.errors.email}">
                <label class="input-group-addon" for="email"><i class="fa fa-envelope"></i></label>
                <input type="email" id="email" class="form-control" data-ng-model="reset.credentials.email"
                       placeholder="{{'Email'|translate}}" data-ng-disabled="reset.disableEmailInput" ng-change="reset.errors.email = null" required="">
            </div>
            <span class="login-input-info animate-show" ng-show="reset.credentials.email.length && !reset.errors.email" >{{'Email'|translate}}</span>
            <span class="login-input-info error" ng-show="reset.errors.email" class="animate-show">{{ reset.errors.email | translate}}</span>


            <div class="text-center form-group">
                <button class="btn btn-light-primary" type="submit" data-translate>Reset_Password</button>
                <button class="btn btn-light-danger" type="button" data-ng-click="reset.cancel()" data-translate>Cancel</button>
            </div>
        </form>
    </div>
</div>
