.recrutoid-popup-window {
  .modal-dialog {
    max-width: 340px;

    .modal-content {
      border: none !important;
      border-radius: 4px;

      .recrutoid-popup {
        .modal-header {
          background: #fff;
          padding:15px 0px;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;

          h3 {
            margin: 0;
            font-weight: bold;
            color: #2a333c;
            font-size:16px;
            padding:15px 0px;
          }
        }

        .modal-body {
          background: rgb(250, 250, 250);
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;

          .btn-ok {
            background: #e2f0fb;
            color: #1a82c9;
            border: none;
          }

          .btn-dismiss {
            background:#f4e0e1;
            color:@recrutoid-red;
          }
        }

        &.popup-success {
          .modal-header {
            background: #fff;
            padding:15px 0px;
          }

          .modal-body {
            .btn-ok {
              background: #e2f0fb;
            }

            .btn-dismiss {
              color:@recrutoid-red;
            }
          }
        }
        &.popup-warning {
          .modal-header {
            background: #fff;
            padding:15px 0px;
          }

          .modal-body {
            .btn-ok {
              background: #e2f0fb;
            }

            .btn-dismiss {
              color:@recrutoid-red;
            }
          }
        }
        &.popup-error {
          .modal-header {
            background: #fff;
            padding:15px 0px;
          }

          .modal-body {
            .btn-ok {
              background: @recrutoid-red;
            }

            .btn-dismiss {
              color: @recrutoid-red;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 360px) {
  .recrutoid-popup-window {
    .modal-dialog {
      max-width: calc(~'100vw - 20px');
    }
  }
}
