<div class="recrutoid-popup"
     data-ng-class="{'popup-success': 'success' === popup.options.type, 'popup-warning': 'warning' === popup.options.type, 'popup-error': 'error' === popup.options.type}">
    <div class="modal-header" data-ng-if="popup.options.title">
        <h3 class="text-center">
            <span>
                <i class="fa fa-exclamation-circle" style="color:#f7b431" ng-if="popup.options.type == 'warning'"></i>
                <i class="fa fa-exclamation-circle" style="color:#00ffff" ng-if="popup.options.type == 'error'"></i>
                <i class="fa fa-check-circle" style="color:#5ecf3f;" ng-if="popup.options.type == 'success'"></i>
                {{popup.options.title  | translate}}
            </span>
        </h3>
    </div>
    <div class="modal-body">
        <div class="text-center form-group" data-ng-if="!popup.options.html">
            {{popup.options.text | translate}}
        </div>
        <div class="text-center form-group" data-ng-if="popup.options.html" data-ng-bind-html="popup.options.text | translate"></div>
        <form data-ng-submit="popup.close(true)">
            <div class="text-center">
                <button class="btn btn-light-primary" type="submit">{{popup.options.confirmButtonText  | translate}}</button>
                <button class="btn btn-light-danger" type="button" data-ng-click="popup.close(false)"
                        data-ng-if="popup.options.showCancelButton" data-translate>{{popup.options.cancelButtonText || 'popup_cancel_button' | translate}}</button>
            </div>
        </form>
    </div>
</div>
