<footer class="front-office" >
    <div class="container">
        <div class="row">
            <div class="col-sm-6 footer-left-side">
                <a class="without-break" ng-href="/">Recrutoid Kazakhstan LLP </a> © 2016<br>
                <div class="social-footer">
                    <span><i class="fa fa-file-text"></i> <a href="/page/terms-of-use">Terms of use</a></span><br>
                    <span><i class="fa fa-envelope"></i> <a href="mailto:info@recrutoid.kz">info@recrutoid.kz</a></span><br>
                    <span><i class="fa fa-comment"></i> <a href="#" data-ng-click="app.openFeedbackModal()">Give feedback</a></span><br>
                    <span><i class="fa fa-skype"></i> <a href="skype:recrutoid" class="skype">recrutoid</a></span><br>
                </div>
            </div>
            <div class="col-sm-6 footer-right-side">
                <span class="contact socialLinks">
                    <a href="https://www.linkedin.com/company/recrutoid-kazakhstan"><i class="fa fa-2x fa-linkedin-square"></i></a>
                </span>
                <span class="contact socialLinks">
                    <a href="https://www.facebook.com/recrutoid"><i class="fa fa-2x fa-facebook-square"></i></a>
                </span>
                <span class="contact socialLinks">
                    <a href="http://instagram.com/recrutoidkazakhstan/"><i class="fa fa-2x fa-instagram"></i></a>
                </span>
            </div>
        </div>
    </div>
</footer>

