footer.front-office {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #1c4f6f;
  color: #c0ddf9;
  padding: 45px 0;
  font-size: 15px;
  .footer-left-side a{
    margin:5px 0px;
  }
  .social-footer{
    i{
      color: #c1dcf7;
      width:18px;
    }

    span {
      font-size: 14px;

      a {
        text-decoration: underline;

        &.skype {
          text-decoration: none;
        }
      }

      &:hover{
        a, .fa {
          color: #58aaf8;
        }
      }
    }

  }
  a {
    color: #c1dcf7;
    font-weight: bold;
    transmition:0.5s;

    &.without-break {
      white-space: nowrap;
    }
  }
  a:hover, a:visited:hover, a:active:hover {
    color: #2f82c4;
    transmition:0.5s;
  }

  .contact {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
  }

  .socialLinks {
    > a {
      color: #c0ddf9;
      font-weight: normal;
      text-decoration: none;
    }
    > a:hover {
      color: #58a9f7;
    }
  }

  .footer-right-side {
    text-align: right;
    margin-top: 4%;

    a {
      i {
        transition:0.2s;
      }
    }
    a:hover {
      i {
        color:#59a7f2;
        transition:0.7s;
      }
    }

    @media (max-width: @screen-xs-max) {
      text-align: left;
      margin-top: 30px;

      .socialLinks:first-child {
        padding-left: 0;
      }

      .socialLinks {
        padding-top: 20px;
      }
    }
  }
}