<div data-ng-include="'modules/common/userMenu/userMenu.tpl.html'"></div>
<div class="subscription-min-height"></div>
<div class="user-settings edit-subscription-view" ng-hide="app.navMenuActive">
    <div>
        <div>
            <div class="user-page">
                <div class="edit-subscription-view" data-ng-show="!EditSubscriptionCtrl.tryToResign">
                    <form ng-submit="EditSubscriptionCtrl.saveSubscriber()">
                        <div class="heading clearfix">
                            <div class="row clearfix">
                                <div class="col-xs-12">
                                    <div class="pull-left">
                                        <div class="title">
                                            <i class="fa fa-inbox"></i> <span data-translate>My_Settings</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default subscription-panel">
                            <div class="panel-body">
                                <div class="form-body">
                                    <div class="row form-row">
                                        <div class="col-md-12 form-col with-icon icon-categories categories-select recrutoid-select">
                                            <div data-ng-class="{'hide-options': EditSubscriptionCtrl.subscription.categories.length >= 3}" class="recrutoid-ui-select">
                                                <ui-select ui-select-perfect-scrollbar class="ui-select-toggle " multiple data-ng-model="EditSubscriptionCtrl.subscription.categories" theme="bootstrap">
                                                    <ui-select-match></ui-select-match>
                                                    <ui-select-choices repeat="category in EditSubscriptionCtrl.categories | filter:$select.search">
                                                        {{ category.name | translateDomain }}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="info" ng-hide="EditSubscriptionCtrl.subscription.categories.length">{{'Categories' | translate}} *</span>
                                            </div>
                                            <span ng-show="EditSubscriptionCtrl.subscription.categories.length">Category <span>{{EditSubscriptionCtrl.subscription.categories.length}}/3</span></span>
                                            <span class="all-ranges" ng-hide="EditSubscriptionCtrl.subscription.categories.length">{{'All_Categories' | translate}}</span>
                                        </div>
                                        <div class="col-md-12 form-col no-padding">
                                            <div ng-repeat="category in EditSubscriptionCtrl.subscription.categories" class="category-wrapper">
                                                <div class="category-bar">{{category.name | translateDomain}} <i ng-click="EditSubscriptionCtrl.deleteCategory($index)" class="fa fa-times"></i></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-col with-icon icon-city recrutoid-select">
                                            <ui-select ui-select-perfect-scrollbar  data-ng-model="EditSubscriptionCtrl.subscription.city" theme="bootstrap">
                                                <ui-select-match placeholder="{{'City'|translate}} *">{{ EditSubscriptionCtrl.subscription.city.name | translateDomain }}</ui-select-match>
                                                <ui-select-choices repeat="city in EditSubscriptionCtrl.cities | filter:$select.search">
                                                    {{ city.name | translateDomain }}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="info">{{'City' | translate}} *</span>
                                        </div>
                                        <div class="col-md-12 form-col with-icon icon-salary-ranges recrutoid-select">
                                            <ui-select data-ng-model="EditSubscriptionCtrl.subscription.desiredSalaryRange" theme="bootstrap">
                                                <ui-select-match placeholder="{{'Salary expectations'|translate}} *">{{ EditSubscriptionCtrl.subscription.desiredSalaryRange.name | translateDomain }}</ui-select-match>
                                                <ui-select-choices repeat="salaryRange in EditSubscriptionCtrl.salaryRanges | filter:$select.search">
                                                    {{ salaryRange.name | translateDomain }}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="info">{{'Salary_Expectations' | translate}} *</span>
                                        </div>



                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 text-left">
                                        <div class="checkboxes">
                                    <span class="checkbox">
                                        <input id="daily-sub" type="radio" name="subscription_interval" data-ng-value="'daily'" data-ng-model="EditSubscriptionCtrl.subscription.interval">
                                        <label for="daily-sub" data-translate>Daily</label>
                                    </span>
                                            <span class="checkbox">
                                        <input id="weekly-sub" type="radio" name="subscription_interval" data-ng-value="'weekly'" data-ng-model="EditSubscriptionCtrl.subscription.interval">
                                        <label for="weekly-sub" data-translate>Weekly</label>
                                    </span>
                                            <span class="checkbox">
                                        <input id="none-sub" type="radio" name="subscription_interval" data-ng-value="null" data-ng-model="EditSubscriptionCtrl.subscription.interval">
                                        <label for="none-sub" data-translate>Do_not_notify</label>
                                    </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="bottom-section">
                                    <button type="submit" ng-disabled="EditSubscriptionCtrl.isSaved()" class="btn btn-light-primary" ng-class="{'btn-light-success':EditSubscriptionCtrl.isSaved()}">
                                        <i ng-show="EditSubscriptionCtrl.isSaved()" class="fa fa-check"></i>
                                        <span ng-hide="EditSubscriptionCtrl.isSaved()" data-translate>Save</span>
                                        <span ng-show="EditSubscriptionCtrl.isSaved()" data-translate>Saved</span>
                                    </button>
                                </div>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-ng-include="'modules/common/userFooter/footer.tpl.html'"></div>

