<div ng-include="'modules/common/adminMenu/adminMenu.html'"></div>
<div class="list-subscription-view">
    <div class="container-fluid">
        <div class="row search-form">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-3">
                        <input class="form-control" placeholder="{{'Search by Email...'|translate}}" type="search" data-ng-model="ListSubscriptionCtrl.filter.email"/>
                    </div>
                    <div class="col-lg-3 col-lg-offset-3 text-right">
                        <button type="button" class="btn btn-default" data-ng-click="ListSubscriptionCtrl.clearPresets()">{{'Clear_All_Filters' | translate}}</button>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-3">
                        <ui-select class="bars" data-ng-model="ListSubscriptionCtrl.selectedCategory" theme="bootstrap" required>
                            <ui-select-match placeholder="{{'Select category...'|translate}}" allow-clear="true">{{ $select.selected.name | translateDomain }}</ui-select-match>
                            <ui-select-choices repeat="category in ListSubscriptionCtrl.categories | filter:$select.search">
                                {{ category.name | translateDomain }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-lg-3">
                        <ui-select class="bars" data-ng-model="ListSubscriptionCtrl.selectedCity" theme="bootstrap" required>
                            <ui-select-match placeholder="{{'Select city...'|translate}}" allow-clear="true">{{ $select.selected.name | translateDomain }}</ui-select-match>
                            <ui-select-choices repeat="city in ListSubscriptionCtrl.cities | filter:$select.search">
                                {{ city.name | translateDomain }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-lg-3">
                        <ui-select class="bars" data-ng-model="ListSubscriptionCtrl.selectedSalaryRange" theme="bootstrap" required>
                            <ui-select-match placeholder="{{'Select salary range...'|translate}}" allow-clear="true">{{ $select.selected.name | translateDomain }}</ui-select-match>
                            <ui-select-choices repeat="salaryRange in ListSubscriptionCtrl.salaryRanges | filter:$select.search">
                                {{ salaryRange.name | translateDomain }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <div class="btn-group" role="group" aria-label="Large button group">
                    <button class="btn btn-success" data-ng-click="ListSubscriptionCtrl.downloadAsXLS()"><i class="fa fa-download"></i> {{ 'Export_Excel' | translate  }}</button>
                    <button class="btn btn-danger" data-ng-click="ListSubscriptionCtrl.downloadAsPDF()" ><i class="fa fa-download"></i> {{ 'Export_PDF' | translate  }}</button>
                </div>
            </div>
        </div>

        <div class="text-right action-on-select-nav">
            <button class="btn btn-danger" data-ng-click="ListSubscriptionCtrl.doActionOnSelected('remove')"><i class="fa fa-trash"></i> Remove</button>
            <button class="btn btn-warning" data-ng-click="ListSubscriptionCtrl.doActionOnSelected('ban')"><i class="fa fa-ban"></i> Ban</button>
            <button class="btn btn-primary" data-ng-click="ListSubscriptionCtrl.doActionOnSelected('unban')"><i class="fa fa-leanpub"></i> Unban</button>
        </div>
        <div class="text-right pull-right action-on-select-nav">
            <button class="btn btn-primary" data-ng-click="ListSubscriptionCtrl.doActionOnSelected('resend')"><i class="fa fa-envelope"></i> <span data-translate>Resend_Confirmation_Link_To_Selected</span></button>
        </div>
        <div class="text-left clearfix">
            <button class="btn btn-default" data-ng-click="showTimestamp = !showTimestamp"><i class="fa" data-ng-class="showTimestamp?'fa-calendar':'fa-calendar-o'"></i> <span data-translate>Show_Timestamp</span></button>
        </div>

        <div class="table-responsive list-subscription-view">
            <table class="table table-hover admin-table">
                <thead>
                <tr>
                    <th data-ng-init="ListSubscriptionCtrl.allSelected = false"><input type="checkbox" data-ng-model="ListSubscriptionCtrl.allSelected" data-ng-change="ListSubscriptionCtrl.selectAll()"></th>
                    <th>#</th>
                    <th data-translate>Mail</th>
                    <th data-translate>Categories</th>
                    <th class="text-center" data-translate>City</th>
                    <th class="text-center" data-translate>Salary_Ranges</th>
                    <th data-ng-show="showTimestamp" class="text-center" data-translate>Timestamp</th>
                    <th class="text-center" data-translate>Subscription
                        <div style="margin: 0 auto;" class="input-group" data-tooltip="Interval" >
                            <select class="form-control" data-ng-model="ListSubscriptionCtrl.filter.interval"
                                    data-ng-options="value as key for (key, value) in {'Daily':'daily', 'Weekly':'weekly'}">
                                <option value="" data-translate>All</option>
                            </select>
                        </div>
                    </th>
                    <th class="text-center" data-translate>Subscribed / not subscribed
                        <div style="margin: 0 auto;" class="input-group" data-tooltip="Subscribed" >
                            <select class="form-control" data-ng-model="ListSubscriptionCtrl.filter.subscribed"
                                    data-ng-options="value as key for (key, value) in {'Subscribed':'true', 'Not Subscribed':'false'}">
                                <option value="" data-translate>All</option>
                            </select>
                        </div>
                    </th>
                    <th class="text-center" data-translate>
                        Verified
                        <div style="margin: 0 auto;" class="input-group" data-tooltip="Verified" >
                            <select class="form-control" data-ng-model="ListSubscriptionCtrl.filter.verified"
                                    data-ng-options="value as key for (key, value) in {'Verified':'true', 'Not verified':'false'}">
                                <option value="" data-translate>All</option>
                            </select>
                        </div>
                    </th>
                    <th class="text-center" data-translate>Baned
                        <div style="margin: 0 auto;" class="input-group" data-tooltip="Banned" >
                            <select class="form-control" data-ng-model="ListSubscriptionCtrl.filter.banned"
                                    data-ng-options="value as key for (key, value) in {'Banned':'true', 'Not banned':'false'}">
                                <option value="" data-translate>All</option>
                            </select>
                        </div>
                    </th>
                    <th class="text-center responsiveActions" data-translate>Actions</th>
                </tr>
                </thead>
                <tr data-ng-repeat='subscriber in ListSubscriptionCtrl.subscriberList' data-ng-class="{'danger':!subscriber.verified}" data-ng-show="ListSubscriptionCtrl.subscriberList.length !== 0">
                    <td class="checkbox-middle"><input type="checkbox" data-ng-model="subscriber.selected"></td>
                    <td><span data-tooltip-placement="right" data-tooltip="#{{subscriber.id | stringRange: 14 : 10}}" >{{ListSubscriptionCtrl.total - ((ListSubscriptionCtrl.currentPage-1) * ListSubscriptionCtrl.filter.size) - $index}}</span></td>
                    <td>{{subscriber.email}}</td>
                    <td class="category-column">
                        <span data-ng-if="subscriber.categories[0]" data-ng-repeat='category in subscriber.categories'>
                            <span class="label label-primary label-category" data-ng-class="{'wrap': (category.name | translateDomain).length > 30}">{{category.name | translateDomain}}</span>&nbsp;
                        </span>
                        <span data-ng-if="!subscriber.categories[0]">{{'All_Categories' | translate}}</span>
                    </td>
                    <td class="text-center">
                        <span data-ng-if="subscriber.city.name">{{subscriber.city.name | translateDomain}}</span>
                        <span data-ng-if="!subscriber.city.name">{{'All_Cities' | translate}}</span>
                    </td>
                    <td class="text-center">
                        <span data-ng-if="subscriber.desiredSalaryRange.name">{{subscriber.desiredSalaryRange.name | translateDomain}}</span>
                        <span data-ng-if="!subscriber.desiredSalaryRange.name">{{'All_Salary_Ranges' | translate}}</span>
                    </td>
                    <td data-ng-show="showTimestamp" class="text-center">
                        <div>{{subscriber.createDate  | date:'yyyy-MM-dd'}}</div>
                    </td>
                    <td class="text-center">{{subscriber.interval}}</td>
                    <td class="text-center">
                        <span data-ng-show="subscriber.subscribed">
                    <i class="fa fa-check"></i>
                        </span>
                        <span data-ng-show="!subscriber.subscribed">
                            <i class="fa fa-close"></i>
                        </span>

                    </td>
                    <td class="text-center">
                        <span data-ng-show="subscriber.verified">
                            <i class="fa fa-check"></i>
                        </span>
                        <span data-ng-show="!subscriber.verified">
                            <i class="fa fa-close"></i>
                        </span>
                    </td>

                    <td class="text-center">
                        <span data-ng-show="subscriber.banned">
                            <i class="fa fa-check"></i>
                        </span>
                        <span data-ng-show="!subscriber.banned">
                            <i class="fa fa-close"></i>
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group btn-group-xs">
                            <button data-ng-if="!subscriber.verified" type="button" class="btn btn-default"
                                    data-ng-click="ListSubscriptionCtrl.resendEmail(subscriber)" data-tooltip="{{'Resend email'|translate}}" >
                                <i class="fa fa-envelope-o"></i>
                            </button>
                            <button data-ng-if="!subscriber.banned" type="button" class="btn btn-warning"
                                    data-ng-click="ListSubscriptionCtrl.banned(subscriber.id)" data-tooltip="{{'Ban'|translate}}" >
                                <i class="fa fa-ban"></i>
                            </button>
                            <button data-ng-if="subscriber.banned" type="button" class="btn btn-primary"
                                    data-ng-click="ListSubscriptionCtrl.unban(subscriber.id)" data-tooltip="{{'Unban'|translate}}" >
                                <i class="fa fa-leanpub"></i>
                            </button>
                            <button data-ng-if="!subscriber.verified" data-ng-click="ListSubscriptionCtrl.manualVerifying(subscriber.id)" type="button"
                                    class="btn btn-success" data-tooltip="{{'Verified'|translate}}" >
                                <i class="fa fa-check"></i>
                            </button>
                            <button data-ng-click="ListSubscriptionCtrl.deleteUser(subscriber.id)" type="button" class="btn btn-danger" data-tooltip="{{'Delete'|translate}}" >
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
		</div>
		<div data-ng-show="ListSubscriptionCtrl.subscriberList.length === 0">
			<h2 class="text-center" data-translate>The list is empty.</h2>
		</div>
		<div class="footer-admin">
			<div class="pull-left move-to-middle">
				<span data-ng-if="ListSubscriptionCtrl.showTotal" class="total-vacancies"><span data-translate>Subscriptions found:</span> {{ ListSubscriptionCtrl.total}} </span>
			</div>
			<div class="pull-right">
				<uib-pagination ng-change="app.scrollTop()"
							class="pull-right"
							ng-model="ListSubscriptionCtrl.currentPage"
							total-items="ListSubscriptionCtrl.resultCount"
							items-per-page="ListSubscriptionCtrl.filter.size"
							max-size="25"
							boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
							ng-show="ListSubscriptionCtrl.isPaginationNeeded()"></uib-pagination>

			</div>
        </div>
    </div>
</div>
