.list-subscription-view {

  .table-responsive > .table tbody > tr > td {
    font-size: 14px;
  }

  .checkbox-middle {
    vertical-align: middle;
  }

  .label {
    margin-bottom: 5px;
    display: inline-block;
  }
  .search-form {
    margin-bottom: 1em;
    div {
      &:first-child {
        margin-bottom: 5px;
      }
      &.found-vacancies {
        margin-top: 10px;
      }
      .btn-group {
        min-width: 95px;
      }
      span {
        &.found-vacancies {
          font-size: 20px;
          color: #337ab7;
          margin-left: 10px;
        }
      }
    }
    .ui-select-container {

      .ui-select-match-text {
        width: ~"calc(100% - 34px)";
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .footer-admin {
    margin: 20px 0;
    .move-to-middle {
      margin-top: 10px;
      padding-bottom: 30px;

    }
    .total-vacancies {
      font-size: 16px;
      color: #337ab7;
    }
    .pagination {
      margin: 0 0 10px;
    }
  }
}
