.subscription-min-height {
  min-height: 650px;
}

.user-settings.edit-subscription-view {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #256a8c url('/modules/common/error-settings-bg.jpg');
  background-size: cover;

  &>div {
    display: table;
    width: 100%;
    height: 100%;

    &>div{
      display: table-cell;
      vertical-align: middle;
    }
  }
  
  .user-page {
    border: 0;
    width: 585px;
    margin: auto;
    margin-top: -150px;

    -webkit-box-shadow: 0px 15px 46px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 15px 46px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 15px 46px 0px rgba(0,0,0,0.15);

    .panel-body {
      padding: 15px 25px;
    }
  }
  
  .bottom-section {
    text-align: center;
    clear: both;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .recrutoid-select, .recrutoid-ui-select {
    max-height: 60px;

    > .info {
      color: #d0d5d9;
      font-size: 11px;
    }

    .ui-select-match-text span {
      color: #25384a;
    }
  }

  .ui-select-container {
    .caret {
      position: absolute !important;
    }

    &.open {
      .caret:before {
        content: '\f077';
      }
    }
  }
}

.edit-subscription-view {
  
  .heading {
    background: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    .nav {
      margin: 30px;
    }
  }

  &.empty {
    background: none;

    .heading {
      border-radius: 4px;
    }
  }

  .subscription-panel {

    .form-body {
      padding: 5px;
    }


  }
  
  .panel-default {
    border: 0;
    margin-bottom: 0;
  }
  
  .info {
    color: #a7aeb4;
    font-size: 13px;
    margin-bottom: 0;
  }

  .category-wrapper {
    margin-left: 1px;
    &:first-child {
      margin-top: 5px;
    }
    &:last-child {
      margin-bottom: 20px;
    }
  }

  .category-bar {
    display: inline-block;
    background: #1d88cf;
    color: white;
    margin: 3px;
    padding: 5px 10px;
    padding-right: 30px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
    position: relative;

    .fa {
      margin-left: 5px;
      cursor: pointer;

      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -6px;
    }

    &:hover {
     background: #0072bc;
    }

  }
  
  .recrutoid-select {
    .recrutoid-ui-select ,
    .ui-select-container {
      .ui-select-match > .caret {
        top: 30%;
      }
    }
  }

  .categories-select {
    .ui-select-match-item {
      display: none !important;
    }

    .ui-select-search {
      cursor: pointer;
      opacity: 0;
    }

    &>span {
      position: absolute;
      top: 15px;
      left: 28px;
      pointer-events: none;
      color: #798898;

      &>span {
        font-weight: bold;
      }

      &.all-ranges {
        color: #25384a;
      }
    }

    .ui-select-choices.ui-select-choices-content.ui-select-dropdown.dropdown-menu .ui-select-choices-row.active > span {
      background: none;
      color: @recrutoid-dark !important;
    }

    .ui-select-choices.ui-select-choices-content.ui-select-dropdown.dropdown-menu .ui-select-choices-row.active > span:hover {
      background: none;
      color: @recrutoid-blue !important;
    }
  }

  .btn.disabled, .btn[disabled], fieldset[disabled] {
    cursor: auto;
    opacity: 1;
  }

  .checkboxes {
    padding-left: 5px;
    padding-top: 20px;
  }

  .btn {
    min-width: 70px;

    &.btn-light-success {
      background: #40965d !important;
      color: #fff !important;
    }
  }

  .form-row .form-col.with-icon:before {
    color: #afb8c2;
  }
}


@media screen and (max-width: @screen-xs-max) {
  .user-settings.edit-subscription-view {
    position: static;
    padding: 30px 10px;
    background: #1f5a78;

    .user-page {
      position: static;
      margin: auto;
      width: 100%;

      .panel-body {
        padding: 10px;
        padding-bottom: 15px;
      }

      .heading {
        text-align: center;
        border: none;

        .title {
          margin-bottom: 0;
        }

        .pull-left {
          float: none !important;
        }
      }
    }
  }

  .subscription-min-height {
    display: none;
  }
}
