/* depends on subVacancyFilters */

.search-users-view {
  .filters-box {

    .panel {
      border: 1px solid #d4dce1;
    }

    .radio,
    .checkbox {
      display: inline;

      label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        padding-right: 15px;
        font-size: 13px;

        &:hover {
          color: @recrutoid-dark;
        }

        &:before {
          font: normal normal normal 18px/1 FontAwesome;
          margin-right: 10px;
          position: absolute;
          left: 0;
          bottom: 1px;
          color: #ced1d5;
          top: 0px;
        }

        &.checked::before {
          font: normal normal normal 18px/1 FontAwesome;
          color: @recrutoid-lightblue;
        }
        &.checked:hover::before {
          color: @recrutoid-blue-hover;
        }
        &.checked {
          color: @recrutoid-dark;
        }

        input[type=checkbox],
        input[type=radio] {
          display: none;
        }
      }
    }

    .radio {
      label {
        &:before {
          content: "\f10c";
        }
        
        &.checked::before {
          content: "\f192";
        }
      }
    }
    .checkbox {
      label {
        &:before {
          content: "\f0c8";
        }
        &.checked::before {
          content: "\f14a";
        }
      }
    }

    .recrutoid-select {
      padding-left: 7px;
      padding-top: 2px;
      &:hover {
        .ui-select-container .form-control {
          border-color: #dadbdd !important;
          background-color: transparent !important;
        }
      }
      
      .ui-select-container .ui-select-match > .caret::before {
        font-size: 12px;
      }
      .ui-select-bootstrap > .ui-select-match > .caret {
        z-index: 2;
        cursor: pointer;

        @media screen and (min-width: @screen-sm-min) {
          top: 3px;
        }
      }
      .ui-select-bootstrap > .ui-select-no-choice {
        display: none;
      }
      .ui-select-bootstrap > .ui-select-choices {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176) !important;
      }
      .recrutoid-ui-select .form-control,
      .ui-select-container .form-control {
        padding: 0px 20px 0px 10px;
        height: auto !important;
        border: 1px solid #dadbdd;
        border-radius: 3px;
        background-color: #f1f1f1 !important;
        line-height: 1.2;
        font-size: 13px;
      }
      .ui-select-container.open .form-control {
        background-color: transparent !important;
      }
      .ui-select-container {
        input.form-control.ui-select-search {
          line-height: 21px;
        }
      }
      .ui-select-bootstrap {
        .ui-select-match-text {
          span {
            font-size: 13px;
            padding-top: 3px;
            color: #273744;
          }
        }
      }

      .form-control::-webkit-input-placeholder { color: #273744; }
      .form-control:-moz-placeholder { color: #273744; }
      .form-control::-moz-placeholder { color: #273744; }
      .form-control:-ms-input-placeholder { color: #273744; }
    }
  }
}

.panel-company-name {
    .panel-body {
        input {
         margin: 0;
         width: 100%;
         border-width: 0;
         outline-width: 0;
         border-bottom: 2px solid #c6c7c9;
        }
        .hint {
            font-size: 12px;
            color: #c6c7c9;
        }
    }
}