
<div class="filters-box" >
    <button class="btn btn-block btn-light-yellow btn-clear-filters" 
            ng-click="resetFilters()" 
            ng-if="hasSelectedFilters()" >
        <i class="fa fa-times pull-right"></i>
        <span data-translate>Clear_filter</span>
    </button>

    <div ng-class="{'company-exclude-filters disabled': filterData.companyName}">
        <div class="panel panel-default flat">
            <div class="panel-heading white">
                <i class="fa fa-times pull-right remove-filter" 
                   ng-if="isFilterSelected({filter: 'foreignDegree'}) || isFilterSelected({filter: 'expat'})" 
                   ng-click="setFilter({filter: 'foreignDegree'}); setFilter({filter: 'expat'})"></i>
                <span data-translate>Other</span>
            </div>
            <div class="panel-body filter-box">
                <div class="element">
                    <span class="checkbox">
                        <label ng-click="setFilter({filter: 'expat', value: !filterData.expat})" ng-class="{'checked': isFilterSet({filter: 'expat', value: true})}">
                            <input type="checkbox" stop-propagation>
                            <span data-translate>Expats</span>
                        </label>
                    </span>
                </div>
                <div class="element">
                    <span class="checkbox">
                        <label ng-click="setFilter({filter: 'foreignDegree', value: !filterData.foreignDegree})" ng-class="{'checked': isFilterSet({filter: 'foreignDegree', value: true})}">
                            <input type="checkbox" stop-propagation>
                            <span data-translate>Foreign_Degree</span>
                        </label>
                    </span>
                </div>
            </div>
        </div>

        <div class="panel panel-default flat">
            <div class="panel-heading white">
                <i class="fa fa-times pull-right remove-filter" ng-if="isFilterSelected({filter: 'days'})" ng-click="setFilter({filter: 'days'})"></i>
                <span data-translate>Filter_By</span>
            </div>
            <div class="panel-body filter-box">
                <div class="element">
                    <span class="radio" >
                        <label ng-class="{'checked': !isFilterSelected({filter: 'days'})}" ng-click="setFilter({filter: 'days'})" >
                            <input type="radio" stop-propagation>
                            <span data-translate>All</span>
                        </label>
                    </span>
                </div>
                <div class="element">
                    <span class="radio" >
                        <label ng-class="{'checked': isFilterSet({filter: 'days', value: 'last'})}" ng-click="setFilter({filter: 'days', value: 'last'})" >
                            <input type="radio" stop-propagation>
                            <span data-translate>Last_Three_Days</span>
                        </label>
                    </span>
                </div>
            </div>
        </div>

        <div class="panel panel-default flat">
            <div class="panel-heading white">
                <i class="fa fa-times pull-right remove-filter" ng-if="!isWorkExperienceFilterSet({filter: null})" ng-click="setWorkExperienceFilter({filter: null})"></i>
                <span data-translate>Work_Experience</span>
            </div>
            <div class="panel-body filter-box">
                <div class="element">
                    <span class="radio">
                        <label ng-class="{'checked': isWorkExperienceFilterSet({filter: null})}" ng-click="setWorkExperienceFilter({filter: null})" >
                            <input type="radio" stop-propagation>
                            <span data-translate>All</span>
                        </label>
                    </span>
                </div>
                <div class="element">
                    <span class="radio">
                        <label ng-class="{'checked': isWorkExperienceFilterSet({filter: 0})}" ng-click="setWorkExperienceFilter({filter: 0})" >
                            <input type="radio" stop-propagation>
                            <span data-translate>up_To_One_Year</span>
                        </label>
                    </span>
                </div>
                <div class="element">
                    <span class="radio">
                        <label ng-class="{'checked': isWorkExperienceFilterSet({filter: 1})}" ng-click="setWorkExperienceFilter({filter: 1})" >
                            <input type="radio" stop-propagation>
                            <span data-translate>one_To_Three_Years</span>
                        </label>
                    </span>
                </div>
                <div class="element">
                    <span class="radio">
                        <label ng-class="{'checked': isWorkExperienceFilterSet({filter: 2})}" ng-click="setWorkExperienceFilter({filter: 2})" >
                            <input type="radio" stop-propagation>
                            <span data-translate>three_To_Six_Years</span>
                        </label>
                    </span>
                </div>
                <div class="element">
                    <span class="radio">
                        <label ng-class="{'checked': isWorkExperienceFilterSet({filter: 3})}" ng-click="setWorkExperienceFilter({filter: 3})" >
                            <input type="radio" stop-propagation>
                            <span data-translate>more_Than_Six_Years</span>
                        </label>
                    </span>
                </div>
            </div>
        </div>


        <div class="panel panel-default flat">
            <div class="panel-heading white">
                <i class="fa fa-times pull-right remove-filter" ng-if="isFilterSelected({filter: 'language'})" ng-click="rootScope.resetLanguageFilter(true)"></i>
                <span data-translate>Languages</span>
            </div>
            <div class="panel-body filter-box">
                <div class="element" data-ng-repeat="language in languagesOptions">
                    <span class="checkbox">
                        <label ng-click="toggleLanguage({filter: language.id})" ng-class="{'checked': selectedLanguages[language.id]}">
                            <input type="checkbox" stop-propagation>
                            {{ language.language }}
                        </label>
                    </span>
                    <div>
                        <div class="select-specific recrutoid-select" ng-if="selectedLanguages[language.id]">
                            <ui-select ng-model="selectedLanguages[language.id]" theme="bootstrap" ng-change="langProficiencyChanged({filter: language.id})">
                                <ui-select-match placeholder="{{ $select.selected | translate }}">{{ $select.selected | translate }}</ui-select-match>
                                <ui-select-choices repeat="proficiency in languageProficiencies">
                                    {{ proficiency | translate }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <!--<div class="recrutoid-select">-->
                    <!--<ui-select class="with-perfect-scrollbar" data-ng-model="selectedLanguages[language.id]" ng-change="langProficiencyChanged({filter: language.id})" theme="bootstrap">-->
                        <!--<ui-select-match placeholder="{{'Level'|translate}}">{{ $select.selected.name | translate }}</ui-select-match>-->
                    <!--<ui-select-choices repeat="proficiency in languageProficiencies">-->
                    <!--{{ proficiency.name | translate }}-->
                    <!--</ui-select-choices>-->
                    <!--</ui-select>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        <div class="panel panel-default flat">
            <div class="panel-heading white">
                <i class="fa fa-times pull-right remove-filter" ng-if="isFilterSelected({filter: 'education'})" ng-click="setMultipleFilter({filter: 'education'})" ></i>
                <span data-translate>Education</span>
            </div>
            <div class="panel-body filter-box">
                <div class="element" data-ng-repeat="education in educationOptions">
                    <span class="checkbox">
                        <label ng-class="{'checked': isFilterSet({filter: 'education', value: education}) }" ng-click="setMultipleFilter({filter: 'education', value: education})">
                            <input type="checkbox" stop-propagation>
                            {{ education }}
                        </label>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default flat panel-company-name">
        <div class="panel-heading white">
            <i class="fa fa-times pull-right remove-filter" 
               ng-if="isFilterSelected({filter: 'companyName'})"
               ng-click="setFilter({filter: 'companyName'})" >                   
            </i>
            <span data-translate>Company Name</span>
        </div>

        <div class="panel-body company-name-box filter-box">
            <input type="text" 
                   data-ng-model="filterData.companyName" 
                   uib-typeahead="suggestion for suggestion in 
                   rootScope.suggestionsHandler.fetchSuggestions($viewValue, '/api/autocomplete/companies?q=')"
                   theme="bootstrap"
                   typeahead-append-to-body="false"
                   typeahead-focus-first="false"
                   typeahead-focus-on-select="true"
                   typeahead-on-select="setFilter({filter: 'companyName', value: filterData.companyName})"
                   data-ng-keypress="rootScope.companyKeypress($event)"
                   />
            <div 
                class="hint"
                data-translate>
                Enter a company name
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>