<div class="upload-cv-modal">
    <form data-ng-submit="ctrl.send()" >
	<div class="modal-header">
        <h3>
            <i class="fa fa-file-text"></i> <span data-translate>Quickly_Upload_CV</span>
        </h3>
        <div class="buttons-modal pull-right">
            <button class="btn btn-light-primary" type="submit" data-translate>Upload</button>
            <button class="btn btn-light-danger" type="button"  data-ng-click="ctrl.close()" data-translate>Cancel</button>
        </div>
    </div>
        <div class="modal-body">
            <div class="white-panel">
                <div class="row form-row">
                    <div class="col-sm-12 form-col" ng-class="{'error' : ctrl.errors.categories}">
                        <recrutoid-input icon="fa-briefcase" type="text" placeholder="Resume_title" required="true" ng-model="ctrl.cv.title" max="100" error="ctrl.errors.title"></recrutoid-input>
                    </div>
                </div>
                <div class="row form-row">
                    <div  class="col-sm-12 form-col recrutoid-select with-icon icon-categories" ng-class="{'error' : ctrl.errors.category}">
                        <ui-select ui-select-perfect-scrollbar data-ng-model="ctrl.cv.category" ng-change="ctrl.errors.category = null" theme="bootstrap">
                            <ui-select-match placeholder="{{'Category'|translate}} *">{{ $select.selected.name | translateDomain }}</ui-select-match>
                            <ui-select-choices repeat="category in ctrl.categories | filter:$select.search">
                                {{ category.name | translateDomain }}
                            </ui-select-choices>
                        </ui-select>
                        <div ng-show="ctrl.errors.category" class="info">{{ctrl.errors.category|translate}}</div>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-sm-12 form-col recrutoid-select with-icon icon-city" ng-class="{'error' : ctrl.errors.city}">
                        <ui-select ui-select-perfect-scrollbar data-ng-model="ctrl.cv.city" ng-change="ctrl.errors.city = null" theme="bootstrap">
                            <ui-select-match placeholder="{{'City'|translate}} *">{{ $select.selected.name | translateDomain }}</ui-select-match>
                            <ui-select-choices repeat="city in ctrl.cities | filter:$select.search">
                                {{ city.name | translateDomain }}
                            </ui-select-choices>
                        </ui-select>
                        <div ng-show="ctrl.errors.city" class="info">{{ctrl.errors.city|translate}}</div>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-sm-12 form-col recrutoid-select with-icon icon-salary-ranges" ng-class="{'error' : ctrl.errors.desiredSalaryRange}">
                        <ui-select data-ng-model="ctrl.cv.desiredSalaryRange" ng-change="ctrl.errors.desiredSalaryRange = null" theme="bootstrap">
                            <ui-select-match placeholder="{{'Salary_Expectations'|translate}} *">{{ $select.selected.name | translateDomain }}</ui-select-match>
                            <ui-select-choices repeat="salaryRange in ctrl.salaryRanges | filter:$select.search">
                                {{ salaryRange.name | translateDomain }}
                            </ui-select-choices>
                        </ui-select>
                        <div ng-show="ctrl.errors.desiredSalaryRange" class="info">{{ctrl.errors.desiredSalaryRange|translate}}</div>
                    </div>
                </div>
            </div>

            <div class="white-panel">
                <button type="button" class="btn btn-light-primary">
                    <span data-ngf-select data-ngf-change="ctrl.uploadCv($files, $event)" ngf-accept="'application/pdf'" data-translate>Browse</span>
                </button>
                <div class="upload-info">
                    <p ng-class="{'uploaded' : ctrl.currentFileName}">
                        {{ ctrl.currentFileName?ctrl.currentFileName:'Choose file to upload' | translate }}
                    </p>
                    <span>Supported document file formats</span>
                    <span class="supported-formats">
                        <span><i class="fa fa-file-word-o"></i> doc/docx</span>
                        <span><i class="fa fa-file-pdf-o"></i> pdf</span>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 buttons-modal text-right">
                    <button class="btn btn-light-primary" type="submit" data-translate>Upload</button>
                    <button class="btn btn-light-danger" type="button"  data-ng-click="ctrl.close()" data-translate>Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>