.upload-cv-modal-window {

  .upload-cv-modal {

    .modal-header {
      background: #fff none repeat scroll 0 0;
      padding: 40px 30px;

      h3 {
        margin: 0;
        font-weight: 600;
        color: @recrutoid-dark;
        font-size:16px;
        display: inline-block;

        span {
          vertical-align: middle;
        }
        .fa {
          vertical-align: middle;
          margin-right: 3px;
          font-size: 20px;
          color: @recrutoid-blue;
        }
      }
    }

    .modal-body {
      background: #f4f5f6;

      .recrutoid-select {
        .caret {
          top: 15px;
        }
      }

      .recrutoid-field.with-icon {
        .fa {
          top: 15px;
        }
      }

      .white-panel {
        background: #fff;
        border-radius: 4px;
        border: 1px solid #d4dce1;
        padding: 20px;
        margin-bottom: 8px;

        &.main {
          padding-bottom: 40px;
        }

        .form-col {
          max-height: 50px;
        }
      }

      .upload-info {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;

        p {
          font-weight: 600;
          margin-bottom: 0;

          &.uploaded {
            color: @recrutoid-green;
          }
        }

        span {
          font-size: 13px;
          color: #999999;
          margin-right: 15px;

          &:last-child {
            margin-right: 0;
          }

          .fa {
            color: #df796d;
            margin-right: 3px;
          }
        }
      }

      .buttons-modal {
        padding: 20px 35px 15px;

        .btn-light-primary {
          margin-right: 5px;
        }
      }
    }
  }



  @media screen and (max-width: @screen-xs-max) {
    .modal-dialog {
      margin: 10px;
    }

    .modal-header {
      text-align: center;
      .btn {
        display: none;
      }
    }

    .modal-body {
      .white-panel {
        .btn-light-primary {
          display: block;
          margin: 25px auto;
          margin-top: 5px;
        }

        .supported-formats {
          display: block;
        }
      }

      .buttons-modal {
        text-align: center;
      }
    }

  }

}